Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

no-enterprise-deps:
  name: No Enterprise Dependencies
  entry: bash -c 'scripts/policy-check.sh --diff || true'
  language: system
  pass_filenames: false

validate-spec-kit:
  name: Validate Spec Kit
  entry: bash -c 'scripts/validate-spec-kit.sh || true'
  language: system
  pass_filenames: false

odoo-manifest-check:
  name: Odoo Manifest Validator
  entry: python3 scripts/validate_manifest.py
  language: system
  pass_filenames: false

feat(ssot): add schema_rules to parity matrix (required_fields + allowed values)
  ssot/parity/ee_to_oca_matrix.yaml
Due: none

feat(spec): add monorepo-endstate spec kit bundle (constitution/prd/plan/tasks)
  spec/monorepo-endstate/constitution.md
  spec/monorepo-endstate/plan.md
  spec/monorepo-endstate/prd.md
  spec/monorepo-endstate/tasks.md
Due: validate-spec-kit

feat(ci): add parity and bridges SSOT validator script
  scripts/ci/check_parity_and_bridges_ssot.py
Due: no-enterprise-deps

feat(ssot): add EE-to-OCA parity matrix skeleton (10 entries)
  ssot/parity/ee_to_oca_matrix.yaml
Due: none

feat(ssot): add schema_rules to bridge catalog (required_fields + status values)
  ssot/bridges/catalog.yaml
Due: none

feat(ssot): add IPAI bridge catalog skeleton (4 active/planned bridges)
  ssot/bridges/catalog.yaml
Due: none

feat(ci): add ssot-gates workflow (parity + bridges, runs on PR + merge_group)
  .github/workflows/ssot-gates.yml
Due: none

chore(ci): harden debugpy-contract.yml for merge queue + pin Python
  .github/workflows/debugpy-contract.yml
Due: none

docs(debug): add determinism invariants subsection to debugpy runbook
  docs/runbooks/ODOO_DEBUGPY.md
Due: none

docs(arch): add AI provider bridge contract
  docs/architecture/AI_PROVIDER_BRIDGE.md
Due: none

feat(platform): standardize Gemini provider response shape (provider + usage fields)
  platform/ai/providers/gemini.ts
Due: none

feat(platform): add Gemini AI provider module (REST API, no SDK dependency)
  platform/ai/providers/gemini.ts
Due: none

feat(ops-console): add /api/ai/gemini route (POST prompt -> text)
  apps/ops-console/app/api/ai/gemini/route.ts
Due: none

fix(ops-console): return 503 GEMINI_API_KEY_MISSING for missing key (deterministic failure)
  apps/ops-console/app/api/ai/gemini/route.ts
Due: none

chore(ssot): register GEMINI_API_KEY provider consumer + O5 acceptance criteria
  spec/monorepo-endstate/prd.md
  ssot/secrets/registry.yaml
Due: validate-spec-kit

feat(spec): add ai-bridge spec bundle (constitution/prd/plan/tasks)
  spec/ai-bridge/constitution.md
  spec/ai-bridge/plan.md
  spec/ai-bridge/prd.md
  spec/ai-bridge/tasks.md
Due: validate-spec-kit

feat(ipai): add ipai_ai_widget addon (OWL Ask AI + IPAI bridge proxy)
  addons/ipai/ipai_ai_widget/__init__.py
  addons/ipai/ipai_ai_widget/__manifest__.py
  addons/ipai/ipai_ai_widget/controllers/__init__.py
  addons/ipai/ipai_ai_widget/controllers/ai_proxy.py
  addons/ipai/ipai_ai_widget/models/__init__.py
  addons/ipai/ipai_ai_widget/models/res_config_settings.py
  addons/ipai/ipai_ai_widget/security/ir.model.access.csv
  addons/ipai/ipai_ai_widget/static/src/js/ask_ai_widget.js
  addons/ipai/ipai_ai_widget/static/src/xml/ask_ai_widget.xml
  addons/ipai/ipai_ai_widget/views/res_config_settings_views.xml
Due: no-enterprise-deps, odoo-manifest-check

chore(ssot): register ipai_ai_widget in bridges catalog + contract doc
  docs/contracts/AI_WIDGET_CONTRACT.md
  ssot/bridges/catalog.yaml
Due: none

test(ipai_expense_ocr): add unit + integration tests for OCR receipt digitization
  addons/ipai/ipai_expense_ocr/tests/__init__.py
  addons/ipai/ipai_expense_ocr/tests/test_hr_expense_digitize.py
  addons/ipai/ipai_expense_ocr/tests/test_ocr_client.py
  docs/architecture/ODOO_TEST_STRATEGY.md
  docs/runbooks/ODOO_DEBUGPY.md
Due: no-enterprise-deps

chore(ssot): AI platform contract — O5 criteria + bridge precedence + Ask AI parity
  spec/monorepo-endstate/prd.md
  ssot/bridges/catalog.yaml
  ssot/parity/ee_to_oca_matrix.yaml
Due: validate-spec-kit

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$
