Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$

docs(evidence): add policy enforcement system implementation evidence
  docs/evidence/20260212-1945/policy-enforcement/IMPLEMENTATION.md
Due: none

feat(compliance): implement BIR forms registry + integration hardening (PORT-2026-011)
  .claude/settings.local.json
  .github/workflows/bir-forms-scraper.yml
  .github/workflows/no-cli-no-docker-gate.yml
  docs/constitution/NO_CLI_NO_DOCKER.md
  docs/evidence/20260212-2000/IMPLEMENTATION_SUMMARY.md
  docs/evidence/20260212-2000/supabase-rubric/classification-matrix.md
  docs/evidence/20260212-2000/supabase-rubric/edge-functions-count.txt
  docs/integration/email/EMAIL_ROUTING_MATRIX.yaml
  docs/integration/email/TBWA_OUTLOOK_INTEGRATION.md
  docs/integration/okr/PLANE_OKR_MAPPING.md
  docs/strategy/SUPABASE_FEATURE_RUBRIC.md
  scripts/bir/scrape-bir-forms.ts
  scripts/gates/scan-forbidden-commands.sh
  scripts/plane/bootstrap-workspace.ts
  supabase/migrations/20260212000001_registry_bir_forms.sql
Due: none

feat(agents): add constitution document for NO-CLI/NO-DOCKER enforcement
  .agent/rules.md
  CLAUDE.md
  docs/evidence/20260212-2045/constitution/IMPLEMENTATION.md
  spec/agent/constitution.md
Due: validate-spec-kit

feat(strategy): add H1 2026 OKRs with full traceability integration
  docs/TRACEABILITY_INDEX.yaml
  docs/strategy/OKR-2026-H1.md
  docs/strategy/okr-2026-h1.json
Due: none

feat(bir): add O365 email notifications with daily digest and urgent alerts
  docs/pages/index.md
  docs/pages/modules.md
  mkdocs.yml
Due: none

feat(bir): add O365 email notifications with daily digest and urgent alerts
  .github/workflows/docs-build.yml
  .github/workflows/parity-gate-tier0.yml
  addons/ipai/ipai_bir_notifications/README.md
  addons/ipai/ipai_bir_notifications/__init__.py
  addons/ipai/ipai_bir_notifications/__manifest__.py
  addons/ipai/ipai_bir_notifications/data/cron_jobs.xml
  addons/ipai/ipai_bir_notifications/data/mail_templates.xml
  addons/ipai/ipai_bir_notifications/models/__init__.py
  addons/ipai/ipai_bir_notifications/models/bir_alert.py
  addons/ipai/ipai_bir_notifications/security/ir.model.access.csv
  addons/ipai/ipai_bir_notifications/views/bir_alert_views.xml
  addons/ipai/ipai_bir_notifications/views/menus.xml
  addons/ipai_finance_ppm_umbrella/data/05_raci_assignments.xml
  artifacts/finance_ppm_seed_audit.json
  ccpm/.github/workflows/ci.yml
  ccpm/.gitignore
  ccpm/bin/ccpm.js
  ccpm/package.json
  ccpm/scripts/lint.mjs
  ccpm/scripts/test.mjs
  ccpm/spec/prd.md
  ccpm/src/index.ts
  ccpm/tsconfig.json
  docs/ee-parity-gate/EE_PARITY_GATE_REPORT.md
  docs/evidence/20260212-2045/o365-integration/IMPLEMENTATION.md
  docs/pages/deployment-timeline.md
  docs/pages/ee-parity-gate.md
  docs/pages/stylesheets/primer.css
  scripts/finance_ppm_seed_audit.py
  supabase/functions/bir-urgent-alert/index.ts
Due: no-enterprise-deps, odoo-manifest-check

Merge branch 'main' into feat/odooops-browser-automation-integration
  .claude/settings.local.json
  .github/workflows/docs-pages.yml
  .gitignore
  addons/ipai/ipai_bir_plane_sync/README.md
  addons/ipai/ipai_bir_plane_sync/__init__.py
  addons/ipai/ipai_bir_plane_sync/__manifest__.py
  addons/ipai/ipai_bir_plane_sync/data/ir_config_parameter.xml
  addons/ipai/ipai_bir_plane_sync/models/__init__.py
  addons/ipai/ipai_bir_plane_sync/models/bir_filing_deadline.py
  addons/ipai/ipai_bir_plane_sync/security/ir.model.access.csv
  addons/ipai/ipai_bir_plane_sync/views/bir_filing_deadline_views.xml
  addons/ipai_ai_agent_builder/__manifest__.py
  addons/ipai_finance_ppm_umbrella/__manifest__.py
  docs/evidence/20260212-2045/plane-integration/IMPLEMENTATION.md
  scripts/plane_bir_bootstrap.sql
Due: no-enterprise-deps, odoo-manifest-check

feat(finance_ppm): add CKVC employee to Finance SSC team
  addons/ipai_finance_ppm_umbrella/data/01_employees.xml
Due: none

feat(gates): add Bugbot mandatory pre-merge AI review (Week 1 - Foundation)
  docs/evidence/20260212-1800/bugbot-foundation/IMPLEMENTATION.md
  docs/governance/BUGBOT_REVIEW.md
Due: none

docs(architecture): add Supabase prioritization framework with 5-criterion rubric
  docs/architecture/SUPABASE_PRIMITIVES.md
  docs/evidence/20260212-2045/supabase-prioritization/IMPLEMENTATION.md
Due: none

feat(parity): add deterministic matrix generation and drift detection (Week 2)
  .github/workflows/parity-drift-gate.yml
  docs/evidence/20260212-2100/parity-strengthening/IMPLEMENTATION.md
  scripts/parity/generate_ee_parity_matrix.py
  scripts/parity/validate_parity_matrix.py
Due: no-enterprise-deps

feat(policy): implement Dataverse Enterprise Console (Phase 1+2+4)
  .github/workflows/policy-violation-gate.yml
  apps/policy-gateway/.env.example
  apps/policy-gateway/README.md
  apps/policy-gateway/package.json
  apps/policy-gateway/src/audit.ts
  apps/policy-gateway/src/capabilities.ts
  apps/policy-gateway/src/enforcement.ts
  apps/policy-gateway/src/index.ts
  apps/policy-gateway/src/models.ts
  apps/policy-gateway/src/privacy.ts
  apps/policy-gateway/src/types.ts
  apps/policy-gateway/tsconfig.json
  docs/evidence/20260213-0000/dataverse-console/IMPLEMENTATION_SUMMARY.md
  scripts/gates/scan-policy-violations.sh
  supabase/migrations/20260213_001000_ops_policy_extensions.sql
Due: none

chore(verify): add Dataverse Console verification script
  scripts/verify-dataverse-console.sh
Due: none

chore(gates): add Gate Contract v2.0 design specifications
  docs/architecture/gate-contract-v2.md
  schemas/gate_report.schema.json
  specs/docs/readme-enhancement-v2.md
  specs/gates/seed-data-consistency-gate.md
Due: none
