Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

no-enterprise-deps:
  name: No Enterprise Dependencies
  entry: bash -c 'scripts/policy-check.sh --diff || true'
  language: system
  pass_filenames: false

validate-spec-kit:
  name: Validate Spec Kit
  entry: bash -c 'scripts/validate-spec-kit.sh || true'
  language: system
  pass_filenames: false

odoo-manifest-check:
  name: Odoo Manifest Validator
  entry: python3 scripts/validate_manifest.py
  language: system
  pass_filenames: false

feat(ssot): add AI mode config (ssot.ai.odoo_ai.v1)
  ssot/ai/odoo_ai.yaml
Due: none

chore(ssot): correct EE AI model from IAP to BYOM (Odoo 19 docs)
  ssot/ai/odoo_ai.yaml
  ssot/bridges/catalog.yaml
  ssot/parity/ee_to_oca_matrix.yaml
Due: none

feat(spec): add ai-copilot spec bundle (constitution/prd/plan/tasks)
  spec/ai-copilot/constitution.md
  spec/ai-copilot/plan.md
  spec/ai-copilot/prd.md
  spec/ai-copilot/tasks.md
Due: validate-spec-kit

feat(ipai): add ipai_ai_copilot addon (Gemini function calling + sidebar + tool registry)
  addons/ipai/ipai_ai_copilot/__init__.py
  addons/ipai/ipai_ai_copilot/__manifest__.py
  addons/ipai/ipai_ai_copilot/controllers/__init__.py
  addons/ipai/ipai_ai_copilot/controllers/copilot.py
  addons/ipai/ipai_ai_copilot/data/copilot_tools.xml
  addons/ipai/ipai_ai_copilot/models/__init__.py
  addons/ipai/ipai_ai_copilot/models/copilot_insight.py
  addons/ipai/ipai_ai_copilot/models/copilot_session.py
  addons/ipai/ipai_ai_copilot/models/copilot_tool.py
  addons/ipai/ipai_ai_copilot/security/ir.model.access.csv
  addons/ipai/ipai_ai_copilot/static/src/css/copilot.css
  addons/ipai/ipai_ai_copilot/static/src/js/copilot_palette.js
  addons/ipai/ipai_ai_copilot/static/src/js/copilot_service.js
  addons/ipai/ipai_ai_copilot/static/src/js/copilot_sidebar.js
  addons/ipai/ipai_ai_copilot/static/src/xml/copilot_palette.xml
  addons/ipai/ipai_ai_copilot/static/src/xml/copilot_sidebar.xml
Due: no-enterprise-deps, odoo-manifest-check

feat(platform): add gemini_tools bridge (function calling endpoint)
  apps/ops-console/app/api/ai/gemini/tools/route.ts
  platform/ai/providers/gemini_tools.ts
Due: none

chore(ssot): register ipai_ai_copilot bridge + contract doc
  docs/contracts/AI_COPILOT_CONTRACT.md
  docs/contracts/PLATFORM_CONTRACTS_INDEX.md
  ssot/bridges/catalog.yaml
Due: none

fix(ipai): complete ipai_ai_copilot Phase 4 — cron XML + manifest + Ollama refs
  addons/ipai/ipai_ai_copilot/__manifest__.py
  addons/ipai/ipai_ai_copilot/data/copilot_cron.xml
  addons/ipai/ipai_ai_copilot/data/mail_channel_ai.xml
  addons/ipai/ipai_ai_copilot/data/res_partner_bot.xml
Due: no-enterprise-deps, odoo-manifest-check

feat(ci): add no-IAP lint gate — CE-only constraint enforcement (T-7)
  .github/workflows/ssot-gates.yml
  scripts/ci/check_no_iap_imports.py
Due: no-enterprise-deps

chore(spec): mark T-7 complete in spec/ai-bridge/tasks.md
  spec/ai-bridge/tasks.md
Due: validate-spec-kit

feat(ipai_ai_widget): complete OWL widget — audit log, bearer token, record context, tests
  addons/ipai/ipai_ai_widget/controllers/ai_proxy.py
  addons/ipai/ipai_ai_widget/models/__init__.py
  addons/ipai/ipai_ai_widget/models/ai_audit_log.py
  addons/ipai/ipai_ai_widget/models/res_config_settings.py
  addons/ipai/ipai_ai_widget/security/ir.model.access.csv
  addons/ipai/ipai_ai_widget/static/src/js/ask_ai_widget.js
  addons/ipai/ipai_ai_widget/static/src/xml/ask_ai_widget.xml
  addons/ipai/ipai_ai_widget/tests/__init__.py
  addons/ipai/ipai_ai_widget/tests/test_ai_widget.py
  addons/ipai/ipai_ai_widget/views/res_config_settings_views.xml
Due: no-enterprise-deps

fix(ipai_ai_copilot): replace stale Ollama client with IPAI bridge HTTP POST
  addons/ipai/ipai_ai_copilot/models/mail_channel.py
Due: no-enterprise-deps

feat(ops-console): dynamic sidebar navigation, correlation IDs, and observability
  apps/ops-console/app/api/advisor/findings/route.ts
  apps/ops-console/app/api/advisor/runs/route.ts
  apps/ops-console/app/api/advisor/workbooks/mobile/route.ts
  apps/ops-console/app/api/ai/sql/route.ts
  apps/ops-console/app/api/observability/do/alerts/route.ts
  apps/ops-console/app/api/observability/do/droplets/route.ts
  apps/ops-console/app/api/observability/do/metrics/route.ts
  apps/ops-console/app/api/supabase-proxy/[...path]/route.ts
  apps/ops-console/app/database/page.tsx
  apps/ops-console/app/deployments/page.tsx
  apps/ops-console/app/environments/page.tsx
  apps/ops-console/app/gates/page.tsx
  apps/ops-console/app/layout.tsx
  apps/ops-console/app/metrics/page.tsx
  apps/ops-console/app/modules/page.tsx
  apps/ops-console/app/runbooks/page.tsx
  apps/ops-console/app/settings/page.tsx
  apps/ops-console/components/navigation/sidebar.tsx
  apps/ops-console/lib/http/correlation.ts
  apps/ops-console/package.json
  apps/ops-console/vercel.json
Due: none

chore(ci): scope non-odoo workflows away from spec/docs changes
  .github/workflows/mcp-jobs-executor.yml
  .github/workflows/org-structure-gate.yml
Due: none

fix(vercel): resolve builds+functions conflict in root vercel.json
  apps/ops-console/package-lock.json
  vercel.json
Due: none

feat(ops-console): integrations page, badges, and vercel.json builds→functions fix
  apps/ops-console/app/advisor/page.tsx
  apps/ops-console/app/database/page.tsx
  apps/ops-console/app/integrations/page.tsx
  apps/ops-console/app/platform/page.tsx
  apps/ops-console/app/settings/page.tsx
  apps/ops-console/components/navigation/sidebar.tsx
  apps/ops-console/components/platform/IntegrationBadges.tsx
  apps/ops-console/lib/integrations.ts
  vercel.json
Due: none

fix(ops-console): correct inverted ignoreCommand exit codes
  apps/ops-console/vercel.json
Due: none

fix(ops-console): remove unused imports + escape entities in SQLPanel
  apps/ops-console/components/platform/SQLPanel.tsx
Due: none

fix(ops-console): rename _debug → debug to register Next.js App Router route
  apps/ops-console/app/api/debug/datasources/route.ts
  apps/ops-console/components/platform/DataSourceBadge.tsx
Due: none

feat(ops-console): add Supabase Platform Kit + fix build errors
  apps/ops-console/app/api/_debug/datasources/route.ts
  apps/ops-console/app/api/ai/sql/route.ts
  apps/ops-console/app/api/supabase-proxy/[...path]/route.ts
  apps/ops-console/app/page.tsx
  apps/ops-console/components/sql-editor.tsx
  apps/ops-console/components/supabase-manager/logs.tsx
  apps/ops-console/components/supabase-manager/suggestions.tsx
  apps/ops-console/components/ui/button.tsx
  apps/ops-console/components/ui/card.tsx
  apps/ops-console/components/ui/table.tsx
  apps/ops-console/lib/management-api-schema.d.ts
  apps/ops-console/package-lock.json
  apps/ops-console/package.json
Due: none

fix(ops-console): re-apply Platform Kit fixes after reinstall + add sonner.tsx
  apps/ops-console/app/api/supabase-proxy/[...path]/route.ts
  apps/ops-console/app/layout.tsx
  apps/ops-console/components.json
  apps/ops-console/components/supabase-manager/auth.tsx
  apps/ops-console/components/ui/sonner.tsx
  apps/ops-console/package-lock.json
  apps/ops-console/package.json
Due: none

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$
