Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$

fix(landing): normalize brand naming to Pulser doctrine
  web/ipai-landing/index.html
  web/ipai-landing/src/App.tsx
Due: none

fix(landing): complete Pulser branding audit — deprecate copilot route, fix package name
  docs/audits/WEBSITE_BRANDING_ROUTE_AUDIT.md
  web/ipai-landing/package.json
  web/ipai-landing/server.ts
Due: none

docs(architecture): add five-layer Odoo + Azure benchmark doctrine
  docs/architecture/ACTIVE_PLATFORM_REFERENCE_MODEL.md
  docs/architecture/REPO_OWNERSHIP_DOCTRINE.md
Due: none

fix(landing): normalize taxonomy, CTAs, pricing, and footer labels
  web/ipai-landing/src/App.tsx
Due: none

chore(repo): add remaining prompt and SSOT artifacts
  prompts/gemini-image/README.md
  prompts/gemini-image/ads/ask-pulser/base.prompt.md
  prompts/gemini-image/ads/odoo-on-cloud/base.prompt.md
  prompts/gemini-image/brand/keynote-cover/base.prompt.md
  prompts/gemini-image/brand/og-card/base.prompt.md
  prompts/gemini-image/brand/og-card/premium-dark.variant.prompt.md
  prompts/gemini-image/catalog/index.yaml
  prompts/gemini-image/docs-diagrams/architecture-stack/base.prompt.md
  prompts/gemini-image/docs-diagrams/document-intelligence/base.prompt.md
  prompts/gemini-image/edit-workflows/brand-replacement/base.prompt.md
  prompts/gemini-image/edit-workflows/sketch-to-ui/base.prompt.md
  prompts/gemini-image/marketing/campaign-poster/base.prompt.md
  prompts/gemini-image/marketing/homepage-hero/base.prompt.md
  prompts/gemini-image/product-ui/approval-workflow/base.prompt.md
  prompts/gemini-image/product-ui/dashboard-mockup/base.prompt.md
  prompts/gemini-image/product-ui/pulser-card/base.prompt.md
  prompts/gemini-image/schema/prompt.schema.json
  ssot/architecture/services.yaml
Due: none

feat(pulser): add unified CTA action system and update server to emit structured ctas
  web/ipai-landing/server.ts
  web/ipai-landing/src/components/AskPulser.tsx
Due: none

fix(landing): add continuous marquee animation for trusted-by rail
  web/ipai-landing/src/index.css
Due: none

feat(platform): add Azure BOM services.yaml and align infra doctrine
  infra/README.md
  platform/ssot/external_dependencies.yaml
  platform/ssot/repo_ownership.yaml
  platform/ssot/services.yaml
Due: none

docs(governance): add doctrine precedence order for marketing site assistant
  docs/governance/DOCTRINE_PRECEDENCE.md
Due: none

docs(landing): rewrite README as canonical build/deploy authority
  web/ipai-landing/README.md
Due: none

docs(landing): update README — remove stale Front Door purge step, align to direct ACA deploy
  web/ipai-landing/README.md
Due: none

fix(odoo): rebrand Odoo Copilot UI to Pulser
  addons/ipai/ipai_odoo_copilot/__manifest__.py
  addons/ipai/ipai_odoo_copilot/static/src/xml/copilot_systray.xml
Due: no-enterprise-deps, odoo-manifest-check

fix(copilot): rebrand Odoo Copilot → Pulser across all user-facing surfaces
  addons/ipai/ipai_odoo_copilot/__manifest__.py
  addons/ipai/ipai_odoo_copilot/controllers/copilot_gateway.py
  addons/ipai/ipai_odoo_copilot/data/copilot_partner_data.xml
  addons/ipai/ipai_odoo_copilot/static/src/xml/copilot_systray.xml
  addons/ipai/ipai_odoo_copilot/views/copilot_audit_views.xml
  addons/ipai/ipai_odoo_copilot/views/res_config_settings_views.xml
Due: no-enterprise-deps, odoo-manifest-check

feat(governance): add naming policy, branding matrix, and CI branding gate
  docs/governance/BRANDING_STRING_MATRIX.md
  docs/governance/NAMING_POLICY.md
  scripts/ci/check_branding_policy.py
Due: no-enterprise-deps

fix(governance): update naming policy with GitHub Copilot SDK allowance and fix metadata
  docs/governance/NAMING_POLICY.md
  scripts/ci/check_branding_policy.py
  web/ipai-landing/metadata.json
Due: no-enterprise-deps

docs(brand): add Microsoft Copilot referential allowlist to naming doctrine
  docs/brand/PULSER_NAMING_DOCTRINE.md
Due: none

fix(ci): tighten branding checker with Microsoft referential allowlist
  scripts/ci/check_branding_policy.py
Due: no-enterprise-deps

fix(landing): elevate Pulser to intelligence layer, refine Company page
  web/ipai-landing/src/App.tsx
  web/ipai-landing/src/components/AskPulser.tsx
Due: none

feat(landing): add Built On technology partner logo rail
  web/ipai-landing/src/App.tsx
Due: none
