Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

no-enterprise-deps:
  name: No Enterprise Dependencies
  entry: bash -c 'scripts/policy-check.sh --diff || true'
  language: system
  pass_filenames: false

validate-spec-kit:
  name: Validate Spec Kit
  entry: bash -c 'scripts/validate-spec-kit.sh || true'
  language: system
  pass_filenames: false

odoo-manifest-check:
  name: Odoo Manifest Validator
  entry: python3 scripts/validate_manifest.py
  language: system
  pass_filenames: false

docs(spec): mark pulser-entra-agent-id T2.<name>.{1,2,3} complete
  spec/pulser-entra-agent-id/tasks.md
Due: validate-spec-kit

feat(infra,spec): IaC for 6 agent identities + AFD routes (owner trigger)
  infra/azure/deploy-agent-identities.bicep
  infra/azure/deploy-agent-routes.bicep
  infra/azure/modules/keyvault-access-policy-batch.bicep
  spec/pulser-entra-agent-id/deploy.md
  spec/pulser-entra-agent-id/tasks.md
Due: validate-spec-kit

docs(spec): escape <name> placeholders in tasks.md — GitHub HTML parser swallows bare <name> tags
  spec/pulser-entra-agent-id/tasks.md
Due: validate-spec-kit

feat: Pulser Teams surface + Entra Agent ID plan (Agent 365 GA prep) (#714)
  agents/ap-invoice-surface/README.md
  agents/ap-invoice-surface/appPackage/manifest.json
  agents/ap-invoice-surface/bot/bot.py
  agents/bank-recon-surface/README.md
  agents/bank-recon-surface/appPackage/manifest.json
  agents/bank-recon-surface/bot/bot.py
  agents/doc-intel-surface/README.md
  agents/doc-intel-surface/appPackage/manifest.json
  agents/doc-intel-surface/bot/bot.py
  agents/finance-close-surface/README.md
  agents/finance-close-surface/appPackage/manifest.json
  agents/finance-close-surface/bot/bot.py
  agents/tax-guru-surface/README.md
  agents/tax-guru-surface/appPackage/manifest.json
  agents/tax-guru-surface/bot/bot.py
  agents/teams-surface/README.md
  agents/teams-surface/appPackage/manifest.json
  agents/teams-surface/bot/app.py
  agents/teams-surface/bot/bot.py
  agents/teams-surface/bot/requirements.txt
  agents/teams-surface/infra/azure.bicep
  agents/teams-surface/teamsapp.yml
  docs/skills/m365-copilot-streaming-contract.md
  infra/azure/deploy-agent-identities.bicep
  infra/azure/deploy-agent-routes.bicep
  infra/azure/modules/bot-route.bicep
  infra/azure/modules/keyvault-access-policy-batch.bicep
  spec/pulser-entra-agent-id/constitution.md
  spec/pulser-entra-agent-id/deploy.md
  spec/pulser-entra-agent-id/plan.md
  spec/pulser-entra-agent-id/prd.md
  spec/pulser-entra-agent-id/tasks.md
Due: no-enterprise-deps, validate-spec-kit

feat(apps,infra): bot-proxy ACA app — public boundary for 6 agent bots
  apps/bot-proxy/Dockerfile
  apps/bot-proxy/README.md
  apps/bot-proxy/requirements.txt
  apps/bot-proxy/src/__init__.py
  apps/bot-proxy/src/bots.py
  apps/bot-proxy/src/gateway.py
  apps/bot-proxy/src/main.py
  infra/azure/deploy-agent-routes.bicep
  infra/azure/modules/aca-bot-proxy.bicep
  spec/pulser-entra-agent-id/deploy.md
Due: no-enterprise-deps, validate-spec-kit

fix(bot-proxy): correct ACR name — acripaiodoo (not ipaiodoodevacr)
  apps/bot-proxy/Dockerfile
  apps/bot-proxy/README.md
  apps/bot-proxy/src/main.py
  infra/azure/modules/aca-bot-proxy.bicep
  spec/pulser-entra-agent-id/deploy.md
Due: no-enterprise-deps, validate-spec-kit

fix(infra): inline OG + routes in deploy-agent-routes.bicep
  infra/azure/deploy-agent-routes.bicep
Due: none

fix(bot-proxy): drop StreamingResponse — not in Python botbuilder-core
  apps/bot-proxy/src/bots.py
Due: no-enterprise-deps

chore(bot-proxy): drop unused dataclasses.field import (F401)
  apps/bot-proxy/src/bots.py
Due: no-enterprise-deps

spec(pulser-odoo): umbrella + child-bundle + M365 channel principles
  spec/pulser-odoo/d365-benchmark-appendix.md
  spec/pulser-odoo/plan.md
  spec/pulser-odoo/prd.md
  spec/pulser-odoo/tasks.md
Due: validate-spec-kit

spec(pulser-odoo): add Umbrella + Channel-surface articles to constitution
  spec/pulser-odoo/constitution.md
Due: validate-spec-kit

feat: bot-proxy ACA app (public boundary for 6 agent bots) (#715)
  apps/bot-proxy/Dockerfile
  apps/bot-proxy/README.md
  apps/bot-proxy/requirements.txt
  apps/bot-proxy/src/__init__.py
  apps/bot-proxy/src/bots.py
  apps/bot-proxy/src/gateway.py
  apps/bot-proxy/src/main.py
  infra/azure/deploy-agent-routes.bicep
  infra/azure/modules/aca-bot-proxy.bicep
  spec/pulser-entra-agent-id/deploy.md
  spec/pulser-odoo/constitution.md
  spec/pulser-odoo/d365-benchmark-appendix.md
  spec/pulser-odoo/plan.md
  spec/pulser-odoo/prd.md
  spec/pulser-odoo/tasks.md
Due: no-enterprise-deps, validate-spec-kit

chore(platform): session 2026-04-12 — spec patches, DevOps normalization, CI workflows
  .claude/rules/odoo-xml-views.md
  .devcontainer/platform/devcontainer.json
  .devcontainer/refresh-images.yml
  .github/workflows/claude-headless-pr-review.yml
  .github/workflows/claude-headless-spec-check.yml
  .github/workflows/foundry-name-guard.yml
  .github/workflows/odoo-pr-preview.yml
  .github/workflows/spec-bundle-validate.yml
  .github/workflows/validate-plugins.yml
  .gitignore
  spec/pulser-odoo/constitution.md
  spec/pulser-odoo/plan.md
  spec/pulser-odoo/prd.md
  spec/pulser-odoo/tasks.md
Due: validate-spec-kit

doctrine(pulser): lock canonical classification in 3 places
  CLAUDE.md
  agents/system/pulser.system.md
  docs/gtm/MARKETPLACE_OFFER.md
Due: none

doctrine(pulser): lock canonical classification in 3 places (#716)
  CLAUDE.md
  agents/system/pulser.system.md
  docs/gtm/MARKETPLACE_OFFER.md
Due: none

docs(evidence): three Microsoft assessment self-scores via IPAI judge panel
  docs/evidence/20260413-0100/assessments/01-genaiops-maturity-answers.md
  docs/evidence/20260413-0100/assessments/01-genaiops-maturity-assessment.md
  docs/evidence/20260413-0100/assessments/02-azure-waf-review.md
  docs/evidence/20260413-0100/assessments/03-waf-saas-workload.md
Due: none

feat(teams): icons + packaging + 401 fix + tenant-gap finding
  .gitignore
  agents/ap-invoice-surface/appPackage/color.png
  agents/ap-invoice-surface/appPackage/outline.png
  agents/bank-recon-surface/appPackage/color.png
  agents/bank-recon-surface/appPackage/outline.png
  agents/doc-intel-surface/appPackage/color.png
  agents/doc-intel-surface/appPackage/outline.png
  agents/finance-close-surface/appPackage/color.png
  agents/finance-close-surface/appPackage/outline.png
  agents/tax-guru-surface/appPackage/color.png
  agents/tax-guru-surface/appPackage/outline.png
  agents/teams-surface/appPackage/color.png
  agents/teams-surface/appPackage/outline.png
  apps/bot-proxy/src/main.py
  docs/gtm/M365_TENANT_GAP.md
  scripts/teams/gen-teams-icons.py
  scripts/teams/package-apps.sh
Due: no-enterprise-deps

docs(databricks): local-dev guide — 3 levels, grounded in current state
  docs/databricks/LOCAL_DEV.md
Due: none

feat(governance): canonical Azure tagging standard + enforcement + audit
  docs/ai/AZURE_TAGGING.md
  infra/azure/policy/tagging-baseline.bicep
  scripts/azure/audit-tags.sh
  ssot/azure/tagging-standard.yaml
Due: none

fix(infra): release-manager default keyVaultName → kv-ipai-dev
  infra/azure/modules/release-manager-aca.bicep
Due: none

feat(teams): icons + packaging + 401 fix + tenant-gap finding (#717)
  .gitignore
  agents/ap-invoice-surface/appPackage/color.png
  agents/ap-invoice-surface/appPackage/outline.png
  agents/bank-recon-surface/appPackage/color.png
  agents/bank-recon-surface/appPackage/outline.png
  agents/doc-intel-surface/appPackage/color.png
  agents/doc-intel-surface/appPackage/outline.png
  agents/finance-close-surface/appPackage/color.png
  agents/finance-close-surface/appPackage/outline.png
  agents/tax-guru-surface/appPackage/color.png
  agents/tax-guru-surface/appPackage/outline.png
  agents/teams-surface/appPackage/color.png
  agents/teams-surface/appPackage/outline.png
  apps/bot-proxy/src/main.py
  docs/gtm/M365_TENANT_GAP.md
  scripts/teams/gen-teams-icons.py
  scripts/teams/package-apps.sh
Due: no-enterprise-deps

feat(governance): Azure tagging pack + Databricks local-dev guide (#718)
  docs/ai/AZURE_TAGGING.md
  docs/databricks/LOCAL_DEV.md
  infra/azure/policy/tagging-baseline.bicep
  scripts/azure/audit-tags.sh
  ssot/azure/tagging-standard.yaml
Due: none

docs(evidence): sponsored staging runtime substrate deployed (2026-04-13)
  docs/evidence/20260413-sponsored-staging/DEPLOYMENT_REPORT.md
Due: none

feat(website,brand): lock canonical Microsoft partner attribution
  docs/brand/microsoft-partner-copy.md
  web/ipai-landing/src/App.tsx
Due: none

deploy(staging): sponsored staging substrate + Microsoft partner brand attribution (#734)
  docs/brand/microsoft-partner-copy.md
  docs/evidence/20260413-sponsored-staging/DEPLOYMENT_REPORT.md
  web/ipai-landing/src/App.tsx
Due: none

chore(ci,deploy): fix spec-bundle-validate noise + bootstrap staging substrate
  .github/workflows/post-deploy-smoke.yml
  .github/workflows/spec-bundle-validate.yml
  docs/evidence/20260413-0400/staging-deploy/DEPLOYMENT_SUMMARY.md
  infra/azure/parameters/odoo-stg.parameters.json
Due: none

docs(runbook): activate Partner Center benefits to close M365 tenant gap
  docs/runbooks/activate-partner-center-benefits.md
Due: none

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$
