Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

no-enterprise-deps:
  name: No Enterprise Dependencies
  entry: bash -c 'scripts/policy-check.sh --diff || true'
  language: system
  pass_filenames: false

validate-spec-kit:
  name: Validate Spec Kit
  entry: bash -c 'scripts/validate-spec-kit.sh || true'
  language: system
  pass_filenames: false

odoo-manifest-check:
  name: Odoo Manifest Validator
  entry: python3 scripts/validate_manifest.py
  language: system
  pass_filenames: false

feat(oca): add hr-expense and hr modules for dependency resolution
  .gitmodules
Due: none

fix(ci): add core modules allowlist for manifest validation
  .github/workflows/ci.yml
  ci/README.md
  ci/odoo_core_addons_allowlist.txt
  scripts/validate_manifest.py
Due: no-enterprise-deps

chore(ci): refresh repo tree in spec.md
  spec.md
Due: none

ci(compose): add strict SSOT enforcement + Dev Containers gate
  .github/workflows/compose-ssot.yml
  scripts/ci/compose_ssot_check.sh
  scripts/ci/devcontainer_ssot_check.sh
Due: none

feat(dev): canonical compose.yml SSOT with Odoo 19 + Dev Containers support
  .devcontainer/devcontainer.json
  README.md
  sandbox/dev/compose.yml
  sandbox/dev/docker-compose.production.yml.deprecated
  sandbox/dev/docker-compose.yml.deprecated
  scripts/down.sh
  scripts/up.sh
Due: none

fix(compose): correct OCA addons-path to reference individual repos
  sandbox/dev/compose.yml
Due: none

feat(gates): add type-checking and vulnerability scanning (Week 3)
  .github/workflows/tier0-parity-gate.yml
  .mypy-baseline.txt
  docs/evidence/20260213-0558/gate-hardening/IMPLEMENTATION.md
  requirements-dev.txt
Due: none

feat(devcontainer): align with Spec Kit pattern + Docker socket access
  .devcontainer/backup/archive/Dockerfile.backup
  .devcontainer/backup/archive/README.md
  .devcontainer/backup/archive/devcontainer.json.backup
  .devcontainer/backup/archive/docker-compose.yml.backup
  .devcontainer/backup/archive/docker-compose.yml.backup2
  .devcontainer/devcontainer.json
  .devcontainer/scripts/post-create.sh
  .devcontainer/scripts/post-start.sh
  scripts/devcontainer_up.sh
Due: none

feat(repo): integrate github/spec-kit for spec-driven development
  .claude/commands/speckit.analyze.md
  .claude/commands/speckit.checklist.md
  .claude/commands/speckit.clarify.md
  .claude/commands/speckit.constitution.md
  .claude/commands/speckit.implement.md
  .claude/commands/speckit.plan.md
  .claude/commands/speckit.specify.md
  .claude/commands/speckit.tasks.md
  .specify/memory/.gitkeep
  .specify/scripts/.gitkeep
  .specify/templates/checklist-template.md
  .specify/templates/constitution-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
  CLAUDE.md
  docs/ai/SPEC_KIT.md
  scripts/check-spec-kit.sh
  scripts/speckit-scaffold.sh
Due: none

feat(repo): complete spec-kit integration with full upstream alignment
  .claude/commands/speckit.analyze.md
  .claude/commands/speckit.checklist.md
  .claude/commands/speckit.clarify.md
  .claude/commands/speckit.constitution.md
  .claude/commands/speckit.implement.md
  .claude/commands/speckit.plan.md
  .claude/commands/speckit.specify.md
  .claude/commands/speckit.tasks.md
  .claude/settings.json
  .claude/settings.web.json
  .github/workflows/spec-kit-enforce.yml
  .specify/README.md
  .specify/scripts/check-prerequisites.sh
  .specify/scripts/common.sh
  .specify/scripts/create-new-feature.sh
  .specify/scripts/setup-plan.sh
  spec/agent/plan.md
  spec/agent/prd.md
  spec/agent/tasks.md
Due: validate-spec-kit

feat(repo): add GitHub integrations inventory and org sync manifest
  docs/architecture/GITHUB_INTEGRATIONS_INVENTORY.md
  ops/github/integrations/authorized_apps.json
  ops/github/integrations/github_apps.json
  ops/github/integrations/install_manifest.json
  ops/github/integrations/sync_org_apps.sh
Due: none

feat(repo): add GitHub integrations inventory and org sync manifest (#340)
  docs/architecture/GITHUB_INTEGRATIONS_INVENTORY.md
  ops/github/integrations/authorized_apps.json
  ops/github/integrations/github_apps.json
  ops/github/integrations/install_manifest.json
  ops/github/integrations/sync_org_apps.sh
Due: none

feat(repo): integrate github/spec-kit for spec-driven development (#339)
  .claude/commands/speckit.analyze.md
  .claude/commands/speckit.checklist.md
  .claude/commands/speckit.clarify.md
  .claude/commands/speckit.constitution.md
  .claude/commands/speckit.implement.md
  .claude/commands/speckit.plan.md
  .claude/commands/speckit.specify.md
  .claude/commands/speckit.tasks.md
  .claude/settings.json
  .claude/settings.web.json
  .github/workflows/spec-kit-enforce.yml
  .specify/README.md
  .specify/memory/.gitkeep
  .specify/scripts/.gitkeep
  .specify/scripts/check-prerequisites.sh
  .specify/scripts/common.sh
  .specify/scripts/create-new-feature.sh
  .specify/scripts/setup-plan.sh
  .specify/templates/checklist-template.md
  .specify/templates/constitution-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
  CLAUDE.md
  docs/ai/SPEC_KIT.md
  scripts/check-spec-kit.sh
  scripts/speckit-scaffold.sh
  spec/agent/plan.md
  spec/agent/prd.md
  spec/agent/tasks.md
Due: validate-spec-kit

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$
