Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$

test(ci): add comprehensive mail & auth configuration test suite
  docs/evidence/20260307-1948/mail-auth/mail_auth_test_results.json
  scripts/ci/test_mail_and_auth.py
Due: no-enterprise-deps

docs(evidence): add intermediate mail/auth test run evidence
  docs/evidence/20260307-1946/mail-auth/mail_auth_test_results.json
  docs/evidence/20260307-1947/mail-auth/mail_auth_test_results.json
Due: none

fix(ci): add path filters to 20 PR-triggered workflows to reduce false failures
  .claude/rules/ssot-platform.md
  .github/workflows/ci-runbot.yml
  .github/workflows/compose-ssot.yml
  .github/workflows/contract-version-gate.yml
  .github/workflows/contract.yml
  .github/workflows/databricks-dab-ci.yml
  .github/workflows/docs-current-state-gate.yml
  .github/workflows/docs-drift-gate.yml
  .github/workflows/e2e-playwright.yml
  .github/workflows/llms-txt-check.yml
  .github/workflows/odoo-dbname-gate.yml
  .github/workflows/odoo-qweb-lint.yml
  .github/workflows/parity-gate-tier0.yml
  .github/workflows/parity-governance-gate.yml
  .github/workflows/parity-tier0.yml
  .github/workflows/parity.yml
  .github/workflows/platform-guardrails.yml
  .github/workflows/platform-kit-ci.yml
  .github/workflows/refactor-subagents.yml
  .github/workflows/repo-structure-gate.yml
  .github/workflows/tier0-parity-gate.yml
  .github/workflows/verify-ops-ssot.yml
  CLAUDE.md
  docs/contracts/MAIL_ARCHITECTURE_CONTRACT.md
  docs/contracts/PLATFORM_CONTRACTS_INDEX.md
  scripts/validate_custom_modules.sh
Due: none

docs(architecture): add Azure runtime state and ecosystem classification
  docs/architecture/DEPLOY_TARGET_MATRIX.md
  docs/architecture/PLATFORM_RUNTIME_STATE.md
  spec/azure-target-state/prd.md
Due: validate-spec-kit

feat(ipai_ask_ai_azure): add systray Ask AI widget backed by Azure OpenAI
  addons/ipai/ipai_ask_ai_azure/__init__.py
  addons/ipai/ipai_ask_ai_azure/__manifest__.py
  addons/ipai/ipai_ask_ai_azure/controllers/__init__.py
  addons/ipai/ipai_ask_ai_azure/controllers/main.py
  addons/ipai/ipai_ask_ai_azure/models/__init__.py
  addons/ipai/ipai_ask_ai_azure/models/ai_chat_log.py
  addons/ipai/ipai_ask_ai_azure/models/res_config_settings.py
  addons/ipai/ipai_ask_ai_azure/security/ir.model.access.csv
  addons/ipai/ipai_ask_ai_azure/static/src/js/ask_ai_systray.js
  addons/ipai/ipai_ask_ai_azure/static/src/scss/ask_ai_systray.scss
  addons/ipai/ipai_ask_ai_azure/static/src/xml/ask_ai_systray.xml
  addons/ipai/ipai_ask_ai_azure/views/res_config_settings_views.xml
Due: no-enterprise-deps, odoo-manifest-check

fix(ipai_ai_copilot,ipai_ai_widget): add Azure OpenAI fallback when bridge is unconfigured
  addons/ipai/ipai_ai_copilot/controllers/copilot.py
  addons/ipai/ipai_ai_widget/controllers/_bridge_helper.py
  addons/ipai/ipai_ai_widget/controllers/ai_proxy.py
Due: no-enterprise-deps

docs(plane): add Plane Commercial self-hosted consolidation package
  docs/plane/PLANE_COMMERCIAL_TARGET_STATE.md
  docs/plane/PLANE_PROD_AUTH_EMAIL_INTEGRATIONS.md
  docs/plane/PLANE_SEED_AND_ROADMAP_MODEL.md
Due: none

feat(ci): configure GitHub environments with declarative config and protection rules
  .github/workflows/deploy-odoo-prod.yml
  .github/workflows/deploy-stage.yml
  .github/workflows/environments-validate.yml
  ops/github/environments/environments.json
  ops/github/environments/secrets-inventory.json
  scripts/github/apply_environments.sh
Due: none

feat(azure): narrow Azure stack to minimal ERP SaaS platform
  docs/architecture/DEPLOY_TARGET_MATRIX.md
  docs/architecture/PLATFORM_ARCHITECTURE.md
  infra/azure/main.bicep
  infra/azure/modules/acr.bicep
  infra/azure/modules/containerapp.bicep
  infra/azure/modules/frontdoor.bicep
  infra/azure/modules/postgresql.bicep
  spec/azure-boards-structure/constitution.md
  spec/azure-boards-structure/plan.md
  spec/azure-boards-structure/prd.md
  spec/azure-boards-structure/tasks.md
  spec/azure-target-state/constitution.md
  spec/azure-target-state/plan.md
  spec/azure-target-state/prd.md
  spec/azure-target-state/tasks.md
  spec/odoo-copilot-azure/constitution.md
  spec/odoo-copilot-azure/plan.md
  spec/odoo-copilot-azure/prd.md
  spec/odoo-copilot-azure/tasks.md
  ssot/azure/boards-structure.yaml
  ssot/azure/service-matrix.yaml
  ssot/azure/target-state.yaml
Due: validate-spec-kit

feat(releases): add release audit capability and immutable release policy
  .github/workflows/release-audit.yml
  docs/evidence/20260307-2208/release-audit/audit_prod-20260302-0241.md
  docs/releases/PROD_RELEASE_AUDIT.md
  docs/releases/RELEASE_POLICY.md
  scripts/release/audit_prod_release.sh
Due: none

docs(architecture): add Azure subscription runtime state evidence
  docs/architecture/DEPLOY_TARGET_MATRIX.md
  docs/architecture/PLATFORM_RUNTIME_STATE.md
  spec/azure-target-state/prd.md
Due: validate-spec-kit

fix(ci): remove duplicate push trigger keys in Docker build workflows
  .github/workflows/docker-build-n8n.yml
  .github/workflows/docker-build-odoo.yml
Due: none

fix(ci): convert triple-quoted f-strings to line-by-line in workflow YAML
  .github/workflows/ai-test-generation.yml
  .github/workflows/ee-parity-automation.yml
Due: none

docs(architecture): add org repo SSOT map — canonical ownership boundaries
  docs/architecture/ORG_REPO_SSOT_MAP.md
Due: none

docs(agents): add agent expertise framework, curriculum, labs, and review checklist
  docs/agents/AGENT_CURRICULUM.md
  docs/agents/AGENT_EXPERTISE_FRAMEWORK.md
  docs/agents/AGENT_LABS.md
  docs/agents/AGENT_REVIEW_CHECKLIST.md
Due: none

docs: add environment framing, agent expertise framework, and release audit surface
  .github/workflows/release-audit.yml
  docs/agents/AGENT_CERTIFICATION_PATHS.md
  docs/agents/AGENT_EXPERTISE_FRAMEWORK.md
  docs/agents/AGENT_ROLE_MATRIX.md
  docs/releases/PROD_RELEASE_AUDIT.md
  docs/releases/RELEASE_POLICY.md
  docs/runtime/CURRENT_ENVIRONMENT.md
  scripts/release/audit_prod_release.sh
  spec/agent-expertise-framework/constitution.md
  spec/agent-expertise-framework/plan.md
  spec/agent-expertise-framework/prd.md
  spec/agent-expertise-framework/tasks.md
Due: validate-spec-kit

docs(org): add governance docs, marketplace scaffold, and CI prompt
  .claude/prompts/ci-cd-streamline-org.md
  docs/org/ARCHIVE_POLICY.md
  docs/org/ORG_ROADMAP_2026.md
  docs/org/ORG_TARGET_STATE.md
  docs/org/PROJECT_OPERATING_MODEL.md
  docs/org/RELEASE_ARTIFACT_POLICY.md
  docs/org/REPO_INVENTORY.md
  marketplace/docs/MARKETPLACE_CONTROL_PLANE.md
  marketplace/offers/odooops-control-plane/co-sell/solution.yaml
  marketplace/offers/odooops-control-plane/legal/privacy.md
  marketplace/offers/odooops-control-plane/legal/terms.md
  marketplace/offers/odooops-control-plane/listing/description.md
  marketplace/offers/odooops-control-plane/listing/search-keywords.yaml
  marketplace/offers/odooops-control-plane/listing/summary.md
  marketplace/offers/odooops-control-plane/offer.yaml
  marketplace/offers/odooops-control-plane/plans/enterprise/plan.yaml
  marketplace/offers/odooops-control-plane/plans/free/plan.yaml
  marketplace/offers/odooops-control-plane/plans/professional/plan.yaml
  marketplace/offers/odooops-control-plane/release/changelog.md
  marketplace/offers/odooops-control-plane/release/publish-history.yaml
  marketplace/offers/odooops-control-plane/technical/saas/apis.yaml
  marketplace/offers/odooops-control-plane/technical/saas/landing-page.md
  marketplace/policies/MARKETPLACE_GOVERNANCE.md
  marketplace/schemas/offer.schema.yaml
  marketplace/schemas/plan.schema.yaml
Due: none

feat(integration): production integration backbone with correlation tracing
  .github/actions/emit-ops-event/action.yml
  .github/workflows/deploy-odoo-prod.yml
  .github/workflows/deploy-production.yml
  .github/workflows/integration-backbone-gate.yml
  addons/ipai/ipai_enterprise_bridge/models/hr_expense_integration.py
  addons/ipai/ipai_enterprise_bridge/models/project_task_integration.py
  addons/ipai/ipai_enterprise_bridge/utils/ipai_webhook.py
  apps/slack-agent/server/lib/taskbus.ts
  apps/slack-agent/server/routes/api/slack/interactive.post.ts
  docs/contracts/AUDIT_EVENTS_CONTRACT.md
  docs/contracts/PLATFORM_CONTRACTS_INDEX.md
  docs/contracts/TASK_QUEUE_CONTRACT.md
  scripts/ci/validate_integration_schema.py
  scripts/integration/test_correlation_flow.sh
  scripts/integration/verify_integration_backbone.sh
  ssot/integrations/event_routes.yaml
  supabase/functions/approval-worker/index.ts
  supabase/functions/event-fanout/index.ts
  supabase/functions/odoo-webhook/index.ts
  supabase/functions/ops-ingest/index.ts
  supabase/migrations/20260308000001_integration_backbone_events.sql
Due: no-enterprise-deps

fix(finance-ppm): migrate create() to @api.model_create_multi
  addons/ipai/ipai_finance_ppm/models/project_task_integration.py
Due: no-enterprise-deps

feat(deploy): add curated addons manifest + validation script
  config/addons.manifest.yaml
  docker/Dockerfile.unified
  scripts/odoo/validate_addons_manifest.py
Due: no-enterprise-deps

chore(ci): harden addons manifest guard + deprecation clarity
  .github/workflows/addons-manifest-guard.yml
  docs/contracts/ADDONS_MANIFEST_CONTRACT.md
Due: none

chore(ci): add addons manifest CI gate + contract doc (C-27)
  .github/workflows/addons-manifest-guard.yml
  docs/contracts/ADDONS_MANIFEST_CONTRACT.md
  docs/contracts/PLATFORM_CONTRACTS_INDEX.md
Due: none

docs(repo): honest baseline correction — fix inflated claims
  CLAUDE.md
  docs/evidence/20260308/documentation-audit/AUDIT_RESULTS.md
  docs/releases/GO_LIVE_MANIFEST.md
  docs/releases/WHAT_SHIPPED.json
  docs/releases/WHAT_SHIPPED.md
Due: none

fix(repo): remediate DNS SSOT drift and stale n8n finance doc references
  automations/n8n/README_FINANCE_CLOSING.md
  docs/architecture/runtime_identifiers.json
  infra/cloudflare/envs/prod/subdomains.auto.tfvars
  infra/dns/dns-validation-spec.json
  infra/dns/subdomain-registry.yaml
Due: none
