Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

no-enterprise-deps:
  name: No Enterprise Dependencies
  entry: bash -c 'scripts/policy-check.sh --diff || true'
  language: system
  pass_filenames: false

validate-spec-kit:
  name: Validate Spec Kit
  entry: bash -c 'scripts/validate-spec-kit.sh || true'
  language: system
  pass_filenames: false

odoo-manifest-check:
  name: Odoo Manifest Validator
  entry: python3 scripts/validate_manifest.py
  language: system
  pass_filenames: false

Add Azure AI Foundry plugin MCP config
  docs/evidence/20260410-1525/azure-ai-foundry-plugin-scaffold/README.md
  docs/evidence/20260410-1525/azure-ai-foundry-plugin-scaffold/git-diff.patch
  docs/evidence/20260410-1525/azure-ai-foundry-plugin-scaffold/marketplace.pretty.json
  docs/evidence/20260410-1525/azure-ai-foundry-plugin-scaffold/mcp.pretty.json
  docs/evidence/20260410-1525/azure-ai-foundry-plugin-scaffold/plugin.json.pretty.json
  plugins/azure-ai-foundry/.mcp.json
  plugins/azure-ai-foundry/assets/.gitkeep
Due: none

Add Chrome DevTools MCP plugin scaffold
  .agents/plugins/marketplace.json
  docs/evidence/20260410-1541/chrome-devtools-mcp-plugin/README.md
  docs/evidence/20260410-1541/chrome-devtools-mcp-plugin/git-diff.patch
  docs/evidence/20260410-1541/chrome-devtools-mcp-plugin/marketplace.pretty.json
  docs/evidence/20260410-1541/chrome-devtools-mcp-plugin/mcp.pretty.json
  docs/evidence/20260410-1541/chrome-devtools-mcp-plugin/plugin.json.pretty.json
  docs/evidence/20260410-1541/chrome-devtools-mcp-plugin/tree.txt
  plugins/chrome-devtools-mcp/.codex-plugin/plugin.json
  plugins/chrome-devtools-mcp/.mcp.json
  plugins/chrome-devtools-mcp/assets/.gitkeep
Due: none

docs(evidence): add pulser odoo benchmark research
  docs/evidence/20260410-1543/pulser-odoo-benchmark/README.md
Due: none

Add Chrome DevTools MCP plugin scaffold (#711)
  .agents/plugins/marketplace.json
  docs/evidence/20260410-1541/chrome-devtools-mcp-plugin/README.md
  docs/evidence/20260410-1541/chrome-devtools-mcp-plugin/git-diff.patch
  docs/evidence/20260410-1541/chrome-devtools-mcp-plugin/marketplace.pretty.json
  docs/evidence/20260410-1541/chrome-devtools-mcp-plugin/mcp.pretty.json
  docs/evidence/20260410-1541/chrome-devtools-mcp-plugin/plugin.json.pretty.json
  docs/evidence/20260410-1541/chrome-devtools-mcp-plugin/tree.txt
  docs/evidence/20260410-1543/pulser-odoo-benchmark/README.md
  plugins/chrome-devtools-mcp/.codex-plugin/plugin.json
  plugins/chrome-devtools-mcp/.mcp.json
  plugins/chrome-devtools-mcp/assets/.gitkeep
Due: none

Add Azure AI Foundry plugin MCP config (#712)
  docs/evidence/20260410-1525/azure-ai-foundry-plugin-scaffold/README.md
  docs/evidence/20260410-1525/azure-ai-foundry-plugin-scaffold/git-diff.patch
  docs/evidence/20260410-1525/azure-ai-foundry-plugin-scaffold/marketplace.pretty.json
  docs/evidence/20260410-1525/azure-ai-foundry-plugin-scaffold/mcp.pretty.json
  docs/evidence/20260410-1525/azure-ai-foundry-plugin-scaffold/plugin.json.pretty.json
  plugins/azure-ai-foundry/.mcp.json
  plugins/azure-ai-foundry/assets/.gitkeep
Due: none

fix(copilot): add file upload to systray chat panel (the actual one)
  addons/ipai/ipai_odoo_copilot/static/src/js/copilot_systray.js
  addons/ipai/ipai_odoo_copilot/static/src/xml/copilot_systray.xml
Due: none

fix(copilot): preserve attachment context in chat message bubble
  addons/ipai/ipai_odoo_copilot/static/src/js/copilot_systray.js
Due: none

fix(copilot): wire attachment_ref through chat controller to model
  addons/ipai/ipai_odoo_copilot/controllers/copilot_gateway.py
Due: no-enterprise-deps

fix(copilot): attachment-aware system prompt + explicit file context
  addons/ipai/ipai_odoo_copilot/controllers/copilot_gateway.py
Due: no-enterprise-deps

fix(copilot): read text file content client-side + eliminate PDF disclaimers
  addons/ipai/ipai_odoo_copilot/controllers/copilot_gateway.py
  addons/ipai/ipai_odoo_copilot/static/src/js/copilot_systray.js
Due: no-enterprise-deps

fix(deploy): remove hardcoded DB credentials from prod odoo.conf
  config/prod/odoo.conf
Due: none

feat(copilot): add azure-identity dep for Entra Managed Identity auth
  addons/ipai/ipai_odoo_copilot/requirements.txt
Due: none

spec(pulser-odoo): apply agentic Pulser best-of-session canonical patch bundle
  spec/pulser-odoo/constitution.md
  spec/pulser-odoo/plan.md
  spec/pulser-odoo/prd.md
  spec/pulser-odoo/tasks.md
Due: validate-spec-kit

spec(pulser-odoo): refine Foundry stack, repo baseline, and capability-family governance
  spec/pulser-odoo/constitution.md
  spec/pulser-odoo/plan.md
  spec/pulser-odoo/prd.md
Due: validate-spec-kit

spec(pulser-odoo): add M365 sandbox posture and commercial readiness baseline
  spec/pulser-odoo/prd.md
  spec/pulser-odoo/tasks.md
Due: validate-spec-kit

infra(dns): mark www and apex as BROKEN - DNS not cut over from DO to AFD
  infra/ssot/domains/insightpulseai.com.yaml
Due: none

security(iam): Azure subscription RBAC remediation ticket and gate
  docs/governance/AZURE_IAM_REMEDIATION.md
  spec/pulser-odoo/tasks.md
  ssot/governance/azure-rbac-remediation.yaml
Due: validate-spec-kit

spec(pulser-odoo): Notion 3.0 benchmark + IAM RG matrix
  docs/governance/AZURE_IAM_REMEDIATION.md
  spec/pulser-odoo/plan.md
  spec/pulser-odoo/prd.md
  spec/pulser-odoo/tasks.md
Due: validate-spec-kit

spec(pulser-odoo): CAF lifecycle + Git/PR delivery governance invariants
  spec/pulser-odoo/constitution.md
  spec/pulser-odoo/prd.md
  spec/pulser-odoo/tasks.md
Due: validate-spec-kit

spec(pulser-odoo): platform governance and MB-500 finance-ops platform benchmarks
  spec/pulser-odoo/constitution.md
  spec/pulser-odoo/plan.md
  spec/pulser-odoo/prd.md
  spec/pulser-odoo/tasks.md
Due: validate-spec-kit

spec(pulser-odoo): Agent SDK and channel strategy alignment
  spec/pulser-odoo/plan.md
  spec/pulser-odoo/prd.md
  spec/pulser-odoo/tasks.md
Due: validate-spec-kit

spec(pulser-odoo): Layered Architecture (Core + 3 Shells) and Office benchmarks
  spec/pulser-odoo/constitution.md
  spec/pulser-odoo/plan.md
  spec/pulser-odoo/prd.md
  spec/pulser-odoo/tasks.md
Due: validate-spec-kit

spec(pulser-odoo): end-to-end business architecture and scenario alignment
  spec/pulser-odoo/plan.md
  spec/pulser-odoo/prd.md
  spec/pulser-odoo/tasks.md
Due: validate-spec-kit

spec(pulser-odoo): expense intelligence and reconciliation benchmarks
  spec/pulser-odoo/plan.md
  spec/pulser-odoo/prd.md
  spec/pulser-odoo/tasks.md
Due: validate-spec-kit

spec(pulser-odoo): patch Spec Kit bundle from normalized BOM
  docs/evidence/20260411-1237/sdk-alignment/plan.md
  docs/evidence/20260411-1237/sdk-alignment/prd.md
  docs/evidence/20260411-1237/sdk-alignment/tasks.md
  docs/evidence/20260411-1241/layered-arch/constitution.md
  docs/evidence/20260411-1241/layered-arch/plan.md
  docs/evidence/20260411-1241/layered-arch/prd.md
  docs/evidence/20260411-1241/layered-arch/tasks.md
  docs/evidence/20260411-1251/e2e-scenarios/plan.md
  docs/evidence/20260411-1251/e2e-scenarios/prd.md
  docs/evidence/20260411-1251/e2e-scenarios/tasks.md
  docs/evidence/20260411-1259/expense-intelligence/plan.md
  docs/evidence/20260411-1259/expense-intelligence/prd.md
  docs/evidence/20260411-1259/expense-intelligence/tasks.md
  docs/evidence/20260411-1321/normalized-bom/constitution.md
  docs/evidence/20260411-1321/normalized-bom/plan.md
  docs/evidence/20260411-1321/normalized-bom/prd.md
  docs/evidence/20260411-1321/normalized-bom/tasks.md
Due: none

chore(infra): restore website and normalize spec kit architecture
  docs/architecture/BUSINESS_SCENARIOS_MAP.md
  docs/architecture/CHANNEL_SHELLS.md
  docs/architecture/DEPLOYMENT_STAMPS.md
  docs/architecture/FINANCE_RBAC_MODEL.md
  docs/architecture/OFFICE_STUDIO_CONNECTIVITY.md
  docs/architecture/SAAS_CONTROL_PLANE.md
  docs/governance/FINANCE_OPS_CAPABILITY_MATRIX.md
  docs/governance/IDENTITY_BASELINE.md
  docs/governance/TENANT_ONBOARDING_PROTOCOL.md
  docs/implementation/CUTOVER_CONTROLS.md
  docs/implementation/GO_LIVE_FACTORY.md
  docs/implementation/MIGRATION_PROTOCOL.md
  docs/implementation/STABILIZATION_GUIDE.md
  infra/azure/front-door-routes.yaml
  infra/azure/identity/rbac-governance.bicep
  infra/azure/modules/aca-odoo-services.bicep
  infra/azure/modules/stamp.bicep
  infra/dns/README.md
  infra/dns/subdomain-registry.yaml
  scripts/deploy/promote-stamp.sh
  scripts/governance/remediate-azure-iam.sh
  spec/pulser-odoo/constitution.md
  spec/pulser-odoo/plan.md
  spec/pulser-odoo/prd.md
  spec/pulser-odoo/tasks.md
Due: validate-spec-kit

docs: local pre-deploy validation report (PASS)
  docs/evidence/local-predeploy-validation.md
Due: none

feat: platform restoration scripts and pre-deploy validation report (PASS)
  scripts/restoration/fix_erp_assets.sh
  scripts/restoration/restore_all_direct.sh
  scripts/restoration/restore_erp.sh
  scripts/restoration/restore_w9.sh
  scripts/restoration/restore_website.sh
Due: none

feat: automated platform restoration workflow and script polish
  .github/workflows/platform-restoration.yml
  scripts/restoration/restore_erp.sh
  scripts/restoration/restore_w9.sh
  scripts/restoration/restore_website.sh
Due: none

feat: canonical odoo erp deployment workflow and script refinement
  .github/workflows/deploy-erp-canonical.yml
  scripts/restoration/fix_erp_assets.sh
Due: none

feat(devex): codespaces pre-build workflow + ipai-control-tower manifest
  .github/workflows/devcontainer-ci.yml
  vscode-ipai-control-tower/README.md
  vscode-ipai-control-tower/package.json
  vscode-ipai-control-tower/scripts/install.sh
  vscode-ipai-control-tower/tsconfig.json
Due: none

sec(auth,ado): fix unsigned JWT decode + ADO PAT/KV hardening
  apps/odoo-connector/package.json
  apps/odoo-connector/src/auth/entra-oauth.ts
  apps/odoo-connector/src/index.ts
  docs/security/revoke-pat-runbook.md
  scripts/azure/migrate-variable-groups.sh
Due: none

chore(sec): plug id-ipai-dev principalId into runbook + KV migration
  docs/security/revoke-pat-runbook.md
  scripts/azure/migrate-variable-groups.sh
Due: none

feat(agents,infra,docs,spec): pulser teams surface + entra agent id plan
  agents/teams-surface/README.md
  agents/teams-surface/appPackage/manifest.json
  agents/teams-surface/bot/app.py
  agents/teams-surface/bot/bot.py
  agents/teams-surface/bot/requirements.txt
  agents/teams-surface/infra/azure.bicep
  agents/teams-surface/teamsapp.yml
  docs/skills/m365-copilot-streaming-contract.md
  infra/azure/modules/bot-route.bicep
  spec/pulser-entra-agent-id/constitution.md
  spec/pulser-entra-agent-id/plan.md
  spec/pulser-entra-agent-id/prd.md
  spec/pulser-entra-agent-id/tasks.md
Due: no-enterprise-deps, validate-spec-kit

feat(agents): phase 2 — 5 additional custom engine agent surfaces
  agents/ap-invoice-surface/README.md
  agents/ap-invoice-surface/appPackage/manifest.json
  agents/ap-invoice-surface/bot/bot.py
  agents/bank-recon-surface/README.md
  agents/bank-recon-surface/appPackage/manifest.json
  agents/bank-recon-surface/bot/bot.py
  agents/doc-intel-surface/README.md
  agents/doc-intel-surface/appPackage/manifest.json
  agents/doc-intel-surface/bot/bot.py
  agents/finance-close-surface/README.md
  agents/finance-close-surface/appPackage/manifest.json
  agents/finance-close-surface/bot/bot.py
  agents/tax-guru-surface/README.md
  agents/tax-guru-surface/appPackage/manifest.json
  agents/tax-guru-surface/bot/bot.py
Due: no-enterprise-deps

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$
