Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

no-enterprise-deps:
  name: No Enterprise Dependencies
  entry: bash -c 'scripts/policy-check.sh --diff || true'
  language: system
  pass_filenames: false

validate-spec-kit:
  name: Validate Spec Kit
  entry: bash -c 'scripts/validate-spec-kit.sh || true'
  language: system
  pass_filenames: false

odoo-manifest-check:
  name: Odoo Manifest Validator
  entry: python3 scripts/validate_manifest.py
  language: system
  pass_filenames: false

feat(agent-library): add PH tax overlay + Concur mapping + domain-specific agent prompts (finance/erp/platform/mobile)
  agent-library/prompts/erp/concur-to-odoo-mapper.md
  agent-library/prompts/finance/ph-close-tax-pack.md
  agent-library/prompts/mobile/supabase-flutter-starter.md
  agent-library/prompts/platform/odoo-sh-constraints-guard.md
  spec/ipai-enterprise-workbench/constitution.md
  spec/ipai-enterprise-workbench/prd.md
  spec/ipai-enterprise-workbench/tasks.md
  spec/ipai-odoo-saas-platform/constitution.md
  spec/ipai-odoo-saas-platform/plan.md
  spec/ipai-odoo-saas-platform/prd.md
  spec/ipai-odoo-saas-platform/tasks.md
  spec/ipai-saas-platform-kit/prd.md
  spec/mappings/concur_to_odoo19_ce_oca_ipai.yaml
  spec/odoo19-ee-surface-parity/constitution.md
  spec/odoo19-ee-surface-parity/plan.md
  spec/odoo19-ee-surface-parity/prd.md
  spec/odoo19-ee-surface-parity/tasks.md
  spec/taxonomy/philippines_tax.yaml
  spec/vercel-enterprise-plus/constitution.md
  spec/vercel-enterprise-plus/plan.md
  spec/vercel-enterprise-plus/prd.md
  spec/vercel-enterprise-plus/tasks.md
Due: validate-spec-kit

feat(finops): add enhanced PH tax overlay with competency boards + Concur mapping with OCA/ai + audit prompt
  agent-library/prompts/erp/oca-ai-repo-auditor.md
  spec/mappings/concur_to_odoo19ce_oca.yaml
  spec/taxonomy/philippines_tax.yaml
Due: validate-spec-kit

feat(agent-lib): add consulting delivery capability taxonomy + service-line agent prompts (Odoo/App/Web/UI-UX)
  agent-library/README.md
  agent-library/_shared/agent_prompt_template.md
  agent-library/app/fullstack_engineer.md
  agent-library/odoo/odoo_backend_engineer.md
  agent-library/odoo/odoo_implementation_lead.md
  agent-library/odoo/odoo_solution_architect.md
  agent-library/uiux/ui_designer.md
  agent-library/web/backend_architect.md
  spec/agents/agent_capability_matrix.yaml
  spec/taxonomy/capabilities_consulting_delivery.yaml
Due: validate-spec-kit

feat(agent-router): deterministic CLI router for capability→agent prompt relay with JSON schemas and tests
  tools/agent-router/README.md
  tools/agent-router/package.json
  tools/agent-router/schemas/request.schema.json
  tools/agent-router/schemas/response.schema.json
  tools/agent-router/src/cli.ts
  tools/agent-router/src/config.ts
  tools/agent-router/src/io.ts
  tools/agent-router/src/relay.ts
  tools/agent-router/src/router.ts
  tools/agent-router/src/types.ts
  tools/agent-router/test/router.test.ts
  tools/agent-router/tsconfig.json
Due: none

feat(agent-pack): add complete agent library prompt pack with router + 10 agents + 4 YAML schemas + evidence bundle schema
  agent-library-pack/README.md
  agent-library-pack/prompts/agents/app_mobile_engineer.md
  agent-library-pack/prompts/agents/app_strategy_consulting.md
  agent-library-pack/prompts/agents/doc_portal_uiux_auditor_19_steps.md
  agent-library-pack/prompts/agents/evidence_architect.md
  agent-library-pack/prompts/agents/finance_close_specialist.md
  agent-library-pack/prompts/agents/odoo_consultation.md
  agent-library-pack/prompts/agents/odoo_customization.md
  agent-library-pack/prompts/agents/odoo_implementation.md
  agent-library-pack/prompts/agents/product_feature_uiux_auditor_22_steps.md
  agent-library-pack/prompts/agents/uiux_designer.md
  agent-library-pack/prompts/agents/web_fullstack_engineer.md
  agent-library-pack/prompts/router/router.md
  agent-library-pack/router/agent_router.yaml
  agent-library-pack/router/router.ts
  agent-library-pack/schemas/evidence/form_evidence_bundle.schema.json
  agent-library-pack/schemas/mapping/concur_to_odoo19_ce_oca_ipai.yaml
  agent-library-pack/schemas/taxonomy/accounting_competency_framework.yaml
  agent-library-pack/schemas/taxonomy/core_taxonomy.yaml
  agent-library-pack/schemas/taxonomy/philippines_tax.yaml
  agent-library-pack/scripts/verify.sh
Due: none

feat(taxonomy): add EE-parity UI surfaces taxonomy with tier-based prioritization and scoring model
  spec/taxonomy/ee_parity_ui_surfaces.yaml
Due: validate-spec-kit

feat(parity): add UI EE parity minimum taxonomy + schema
  schemas/parity/ui_ee_parity_taxonomy.schema.json
  spec/parity/UI_EE_PARITY_TAXONOMY.yaml
Due: validate-spec-kit

feat(policy): add IPAI custom modules allowlist with CI enforcement
  scripts/policy/check_custom_modules.py
  spec/policy/allow_custom_modules_override.yaml
  spec/policy/ipai_custom_modules_policy.yaml
Due: no-enterprise-deps, validate-spec-kit

ci(ipai): enforce allowlisted ipai_* modules with CI gate
  .github/workflows/ipai-custom-modules-guard.yml
  Makefile
  scripts/ci/validate_ipai_custom_modules.py
  spec/allow_custom_modules.yaml
  spec/ipai_custom_modules_allowlist.yaml
Due: no-enterprise-deps, validate-spec-kit

docs(mobile): add Flutter mobile app specification with Odoo integration
  spec/mobile/ipai_mobile_app_spec.md
Due: validate-spec-kit

infra(nginx): add reverse proxy configs for n8n and MCP with HTTPS
  infra/nginx/README.md
  infra/nginx/deploy-nginx-configs.sh
  infra/nginx/mcp.insightpulseai.com.conf
  infra/nginx/n8n.insightpulseai.com.conf
  infra/nginx/setup-https.sh
Due: none

infra(nginx): add Certbot installation script
  infra/nginx/install-certbot.sh
Due: none

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$
