Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

no-enterprise-deps:
  name: No Enterprise Dependencies
  entry: bash -c 'scripts/policy-check.sh --diff || true'
  language: system
  pass_filenames: false

validate-spec-kit:
  name: Validate Spec Kit
  entry: bash -c 'scripts/validate-spec-kit.sh || true'
  language: system
  pass_filenames: false

odoo-manifest-check:
  name: Odoo Manifest Validator
  entry: python3 scripts/validate_manifest.py
  language: system
  pass_filenames: false

fix(bom): reconcile Action Group + Managed Certificate; record verified count
  ssot/azure/bom.yaml
Due: none

docs(architecture): expand upstream landing matrix to canonical 10-repo version
  docs/architecture/upstream-landing-matrix.md
Due: none

fix(ssot): correct Azure Sponsorship subscription ID + mark tagging-standard.yaml deprecated
  ssot/azure/tagging-standard.yaml
Due: none

docs(adoption): gtzheng/Awesome-Agentic-System-Design as clone-reference
  docs/architecture/repo-adoption-register.md
  ssot/governance/upstream-adoption-register.yaml
Due: none

docs(architecture): canonical upstream landing matrix
  docs/architecture/upstream-landing-matrix.md
Due: none

feat(finance): complete ipai_finance_gl — views, tests, docs, seed data
  addons/ipai/ipai_finance_gl/data/d365_parity_data.xml
  addons/ipai/ipai_finance_gl/docs/MODULE_INTROSPECTION.md
  addons/ipai/ipai_finance_gl/docs/TECHNICAL_GUIDE.md
  addons/ipai/ipai_finance_gl/tests/__init__.py
  addons/ipai/ipai_finance_gl/tests/test_parity_category.py
  addons/ipai/ipai_finance_gl/tests/test_parity_record.py
  addons/ipai/ipai_finance_gl/tests/test_seed_data.py
  addons/ipai/ipai_finance_gl/views/d365_parity_views.xml
  addons/ipai/ipai_finance_gl/views/menu.xml
Due: no-enterprise-deps

feat(finance): scaffold ipai_finance_gl module skeleton (Wave-01 #523)
  addons/ipai/ipai_finance_gl/README.md
  addons/ipai/ipai_finance_gl/__init__.py
  addons/ipai/ipai_finance_gl/__manifest__.py
  addons/ipai/ipai_finance_gl/models/__init__.py
  addons/ipai/ipai_finance_gl/models/parity_category.py
  addons/ipai/ipai_finance_gl/models/parity_record.py
  addons/ipai/ipai_finance_gl/security/ipai_finance_gl_security.xml
  addons/ipai/ipai_finance_gl/security/ir.model.access.csv
  addons/ipai/ipai_finance_gl/tests/__init__.py
Due: no-enterprise-deps, odoo-manifest-check

feat(agents): productize Reconciliation Agent v0 — Wave-01 #524
  agents/skills/recon_agent/README.md
  agents/skills/recon_agent/SKILL.md
  agents/tests/test_payment_reconcile_workflow.py
  docs/architecture/reference-adaptations/finance-recon-agent-v0.md
Due: no-enterprise-deps

doctrine(r1-bundle): adoption registers + landing matrix + spec-kit pin + bom/sub fixes (#740)
  .specify/EXTENSION_EVALUATION.md
  .specify/trial-results/ci-guard-2026-04-14.md
  agent-platform/README.md
  docs/architecture/repo-adoption-register.md
  docs/architecture/upstream-landing-matrix.md
  ssot/azure/bom.yaml
  ssot/azure/tagging-standard.yaml
  ssot/governance/upstream-adoption-register.yaml
Due: none

feat(wave-01): ipai_finance_gl + Reconciliation Agent v0 (#523, #524) (#742)
  addons/ipai/ipai_finance_gl/README.md
  addons/ipai/ipai_finance_gl/__init__.py
  addons/ipai/ipai_finance_gl/__manifest__.py
  addons/ipai/ipai_finance_gl/data/d365_parity_data.xml
  addons/ipai/ipai_finance_gl/docs/MODULE_INTROSPECTION.md
  addons/ipai/ipai_finance_gl/docs/TECHNICAL_GUIDE.md
  addons/ipai/ipai_finance_gl/models/__init__.py
  addons/ipai/ipai_finance_gl/models/parity_category.py
  addons/ipai/ipai_finance_gl/models/parity_record.py
  addons/ipai/ipai_finance_gl/security/ipai_finance_gl_security.xml
  addons/ipai/ipai_finance_gl/security/ir.model.access.csv
  addons/ipai/ipai_finance_gl/tests/__init__.py
  addons/ipai/ipai_finance_gl/tests/test_parity_category.py
  addons/ipai/ipai_finance_gl/tests/test_parity_record.py
  addons/ipai/ipai_finance_gl/tests/test_seed_data.py
  addons/ipai/ipai_finance_gl/views/d365_parity_views.xml
  addons/ipai/ipai_finance_gl/views/menu.xml
  agents/skills/recon_agent/README.md
  agents/skills/recon_agent/SKILL.md
  agents/tests/test_payment_reconcile_workflow.py
  docs/architecture/reference-adaptations/finance-recon-agent-v0.md
Due: no-enterprise-deps, odoo-manifest-check

docs(delivery): Wave-01 Acceleration Plan — GA Dec 15 → Sep 15 (~90d saved)
  docs/delivery/acceleration-plan-20260414.md
Due: none

docs(delivery): Wave-01 Acceleration Plan REVISED — L2+L3 only; dates UNCHANGED
  docs/delivery/acceleration-plan-20260414.md
Due: none

docs(delivery): Wave-01 Acceleration Plan REVISED — L2+L3 only; dates UNCHANGED (#744)
  docs/delivery/acceleration-plan-20260414.md
Due: none

infra(c1): managed-identity.bicep → AVM v0.5.0 wrapper
  infra/modules/security/managed-identity.bicep
Due: none

infra(c1): managed-identity.bicep → AVM v0.5.0 wrapper (#745)
  infra/modules/security/managed-identity.bicep
Due: none

infra(bom): R3 production-readiness trajectory + AVM Bicep quickstart snippets
  docs/architecture/quickstart-bicep-snippets.md
  ssot/azure/bom.yaml
Due: none

docs(doctrine): GitHub Agentic Workflows security + Coding Agent + Safe Outputs
  CLAUDE.md
Due: none

delete(ci): remove all GitHub Actions workflows + reinforce Azure Pipelines sole authority
  .github/workflows/claude-headless-pr-review.yml
  .github/workflows/claude-headless-spec-check.yml
  .github/workflows/deploy-erp-canonical.yml
  .github/workflows/deploy-m365-bot-proxy.yml
  .github/workflows/devcontainer-ci.yml
  .github/workflows/foundry-name-guard.yml
  .github/workflows/odoo-pr-preview.yml
  .github/workflows/platform-restoration.yml
  .github/workflows/post-deploy-smoke.yml
  .github/workflows/spec-bundle-validate.yml
  .github/workflows/validate-plugins.yml
  CLAUDE.md
Due: none

docs(doctrine): GitHub Agentic Workflows security + Coding Agent + Safe Outputs (#747)
  .github/workflows/claude-headless-pr-review.yml
  .github/workflows/claude-headless-spec-check.yml
  .github/workflows/deploy-erp-canonical.yml
  .github/workflows/deploy-m365-bot-proxy.yml
  .github/workflows/devcontainer-ci.yml
  .github/workflows/foundry-name-guard.yml
  .github/workflows/odoo-pr-preview.yml
  .github/workflows/platform-restoration.yml
  .github/workflows/post-deploy-smoke.yml
  .github/workflows/spec-bundle-validate.yml
  .github/workflows/validate-plugins.yml
  CLAUDE.md
Due: none

chore(ci): remove orphaned GitHub Actions composite action
  .github/actions/emit-ops-event/action.yml
Due: none

chore(ci): remove orphaned GitHub Actions composite action (#748)
  .github/actions/emit-ops-event/action.yml
Due: none

infra(r3): deploy gap closers — Action Group + AI Search + Purview
  azure-pipelines/deploy-r3-gap-closers.yml
  infra/azure/modules/action-group.bicep
  infra/azure/modules/ai-search.bicep
  infra/azure/modules/purview.bicep
Due: none

chore(identity): enforce no-custom doctrine for self-hosted Odoo ↔ Entra
  docs/audit/component-audit-20260414.md
  ssot/identity/odoo-azure-oauth.yaml
Due: none

refactor(identity): sunset ipai_auth_oidc — complete the no-custom cutover
  addons/ipai/ipai_auth_oidc/__init__.py
  addons/ipai/ipai_auth_oidc/__manifest__.py
  addons/ipai/ipai_auth_oidc/data/auth_provider_data.xml
  scripts/odoo/seed_auth_providers.py
  ssot/contracts/prisma-consulting-integration.yaml
  ssot/identity/schema_sync_map.yaml
  ssot/integrations/_index.yaml
  ssot/integrations/entra_oidc.yaml
  ssot/odoo/integration_adoption.yaml
  ssot/odoo/module_install_manifest.yaml
Due: no-enterprise-deps, odoo-manifest-check

chore(identity): enforce no-custom doctrine for self-hosted Odoo ↔ Entra (#761)
  addons/ipai/ipai_auth_oidc/__init__.py
  addons/ipai/ipai_auth_oidc/__manifest__.py
  addons/ipai/ipai_auth_oidc/data/auth_provider_data.xml
  azure-pipelines/deploy-r3-gap-closers.yml
  docs/audit/component-audit-20260414.md
  infra/azure/modules/action-group.bicep
  infra/azure/modules/ai-search.bicep
  infra/azure/modules/purview.bicep
  scripts/odoo/seed_auth_providers.py
  ssot/contracts/prisma-consulting-integration.yaml
  ssot/identity/odoo-azure-oauth.yaml
  ssot/identity/schema_sync_map.yaml
  ssot/integrations/_index.yaml
  ssot/integrations/entra_oidc.yaml
  ssot/odoo/integration_adoption.yaml
  ssot/odoo/module_install_manifest.yaml
Due: no-enterprise-deps, odoo-manifest-check

infra(r3): provisioning burst T4+T6+T7+VNet — 24→48 resources (+24)
  infra/azure/modules/managed-identities-baseline.bicep
  infra/azure/modules/observability-baseline.bicep
  infra/azure/modules/private-dns-zones-baseline.bicep
  infra/azure/modules/vnet-baseline.bicep
Due: none

infra(r3): T5 PEs + storage expansion + backup vault — 48→56 resources
  infra/azure/modules/backup-vault.bicep
  infra/azure/modules/private-endpoints-baseline.bicep
  infra/azure/modules/storage-expansion.bicep
Due: none

infra(r3): provisioning burst — 24→48 resources (T4+T6+T7+VNet) (#762)
  infra/azure/modules/backup-vault.bicep
  infra/azure/modules/managed-identities-baseline.bicep
  infra/azure/modules/observability-baseline.bicep
  infra/azure/modules/private-dns-zones-baseline.bicep
  infra/azure/modules/private-endpoints-baseline.bicep
  infra/azure/modules/storage-expansion.bicep
  infra/azure/modules/vnet-baseline.bicep
Due: none

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$
