Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$

feat(odooops): wire Phase 4 UI pages to backend RPCs
  docs/evidence/20260212-1630/phase4-ui-wiring/IMPLEMENTATION.md
  docs/evidence/20260212-1630/ssot-validation/VALIDATION_REPORT.md
  docs/evidence/20260212-1630/ssot-validation/validate_ssot_excel.py
  templates/odooops-console/src/app/app/projects/[projectId]/backups/page.tsx
  templates/odooops-console/src/app/app/projects/[projectId]/branches/page.tsx
  templates/odooops-console/src/app/app/projects/[projectId]/builds/[buildId]/editor/page.tsx
  templates/odooops-console/src/app/app/projects/[projectId]/builds/[buildId]/layout.tsx
  templates/odooops-console/src/app/app/projects/[projectId]/builds/[buildId]/monitor/page.tsx
  templates/odooops-console/src/app/app/projects/[projectId]/builds/[buildId]/shell/page.tsx
  templates/odooops-console/src/app/app/projects/[projectId]/builds/page.tsx
  templates/odooops-console/src/app/app/projects/[projectId]/layout.tsx
  templates/odooops-console/src/app/app/projects/[projectId]/monitor/page.tsx
  templates/odooops-console/src/app/app/projects/[projectId]/settings/page.tsx
  templates/odooops-console/src/app/app/projects/[projectId]/upgrade/page.tsx
Due: no-enterprise-deps

feat(ops): implement EE→CE+OCA parity matrix generator
  docs/evidence/20260212-1830/parity-matrix-generator/IMPLEMENTATION.md
  scripts/parity/generate_ee_parity_matrix.py
  supabase/migrations/20260212_001500_ops_ee_parity_map.sql
Due: no-enterprise-deps

feat(hr): add ipai_hr_expense_liquidation module
  addons/ipai/ipai_hr_expense_liquidation/__init__.py
  addons/ipai/ipai_hr_expense_liquidation/__manifest__.py
  addons/ipai/ipai_hr_expense_liquidation/data/sequence.xml
  addons/ipai/ipai_hr_expense_liquidation/models/__init__.py
  addons/ipai/ipai_hr_expense_liquidation/models/hr_expense_liquidation.py
  addons/ipai/ipai_hr_expense_liquidation/models/hr_expense_liquidation_line.py
  addons/ipai/ipai_hr_expense_liquidation/report/expense_liquidation_report.xml
  addons/ipai/ipai_hr_expense_liquidation/security/ir.model.access.csv
  addons/ipai/ipai_hr_expense_liquidation/security/security.xml
  addons/ipai/ipai_hr_expense_liquidation/views/expense_liquidation_views.xml
  addons/ipai/ipai_hr_expense_liquidation/views/menu.xml
  docs/evidence/20260212-1830/expense-liquidation-module/IMPLEMENTATION.md
  docs/evidence/20260212-1830/expense-liquidation-module/STATUS.txt
Due: no-enterprise-deps, odoo-manifest-check

docs(evidence): add implementation evidence for Phase 4 tasks
  docs/evidence/20260212-1830/phase4-ops-ui-rpcs/DEPLOY_CHECKLIST.md
  docs/evidence/20260212-1830/phase4-ops-ui-rpcs/SHIPPED.md
Due: none

chore(ci): add tier-0 parity gate, seed audit, docs-build CI
  .github/workflows/docs-build.yml
  .github/workflows/docs-pages.yml
  .github/workflows/parity-gate-tier0.yml
  artifacts/finance_ppm_seed_audit.json
  docs/ee-parity-gate/EE_PARITY_GATE_REPORT.md
  scripts/finance_ppm_seed_audit.py
Due: no-enterprise-deps

chore(repo): gitignore MkDocs site/ build output
  .gitignore
Due: none

Ship Odoo 19 CE: EE Parity Gate PASS + Finance PPM + AI Agents (#336)
  .github/workflows/docs-build.yml
  .github/workflows/docs-pages.yml
  .github/workflows/parity-gate-tier0.yml
  .gitignore
  addons/ipai_ai_agent_builder/__manifest__.py
  addons/ipai_finance_ppm_umbrella/__manifest__.py
  addons/ipai_finance_ppm_umbrella/data/01_employees.xml
  addons/ipai_finance_ppm_umbrella/data/05_raci_assignments.xml
  artifacts/finance_ppm_seed_audit.json
  docs/ee-parity-gate/EE_PARITY_GATE_REPORT.md
  docs/pages/deployment-timeline.md
  docs/pages/ee-parity-gate.md
  docs/pages/index.md
  docs/pages/modules.md
  docs/pages/stylesheets/primer.css
  mkdocs.yml
  scripts/finance_ppm_seed_audit.py
Due: no-enterprise-deps, odoo-manifest-check

feat(governance): implement Odoo.sh-grade parity gating framework
  .github/workflows/tier0-parity-gate.yml
  README.md
  docs/DEPRECATED_DOCS.md
  docs/architecture/DOCS_INFORMATION_ARCHITECTURE.md
  docs/evidence/20260212-1630/repo-refactor-odoosh-grade/IMPLEMENTATION.md
  docs/governance/ODOOSH_GRADE_PARITY_GATING.md
  mkdocs.yml
  scripts/gates/run_parity_gates.sh
  scripts/generate_seed_audit_artifact.py
Due: no-enterprise-deps

spec(reverse): add Cursor Sovereign Spec Kit bundle
  docs/evidence/20260212-1632/cursor-sovereign-spec/SPEC_CREATION.md
  spec/reverse-cursor-sovereign/constitution.md
  spec/reverse-cursor-sovereign/plan.md
  spec/reverse-cursor-sovereign/prd.md
  spec/reverse-cursor-sovereign/tasks.md
Due: validate-spec-kit

docs(email): deprecate Mailgun docs; add Zoho Mail canonical guide (Phase 1)
  README.md
  docs/DEPRECATED_DOCS.md
  docs/deprecated/mailgun/MAILGUN_INTEGRATION.md
  docs/deprecated/mailgun/Mailgun_DNS.md
  docs/deprecated/mailgun/core/INBOUND_EMAIL_ROUTES.md
  docs/deprecated/mailgun/core/ODOO_SMTP_SETUP.md
  docs/deprecated/mailgun/core/TBWA_MAILGUN_CANONICAL.md
  docs/deprecated/mailgun/core/WEBHOOKS_AND_EVENTS.md
  docs/evidence/20260212-1844/mailgun-cleanup/verification.md
  docs/guides/email/EMAIL_SETUP_ZOHO.md
Due: none

docs(evidence): add restructuring implementation evidence
  docs/evidence/20260212-1900/README.md
  docs/evidence/20260212-1900/restructuring-summary.md
Due: none

feat(agents): implement policy enforcement system with capability validation
  .github/workflows/capabilities-validate.yml
  .github/workflows/policy-no-cli.yml
  agents/capabilities/manifest.json
  agents/policies/NO_CLI_NO_DOCKER.md
  scripts/validate_capabilities.sh
Due: none

docs(evidence): add policy enforcement system implementation evidence
  docs/evidence/20260212-1945/policy-enforcement/IMPLEMENTATION.md
Due: none
