Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

no-enterprise-deps:
  name: No Enterprise Dependencies
  entry: bash -c 'scripts/policy-check.sh --diff || true'
  language: system
  pass_filenames: false

validate-spec-kit:
  name: Validate Spec Kit
  entry: bash -c 'scripts/validate-spec-kit.sh || true'
  language: system
  pass_filenames: false

odoo-manifest-check:
  name: Odoo Manifest Validator
  entry: python3 scripts/validate_manifest.py
  language: system
  pass_filenames: false

fix(web): resolve CSS syntax errors in globals.css
  apps/web/src/app/globals.css
Due: none

docs(settings): add AI Agents and OCR Digitization settings reference
  docs/ai/ODOO_SETTINGS_AI_AGENTS.md
  docs/ai/ODOO_SETTINGS_CHEATSHEET.md
  docs/ai/ODOO_SETTINGS_OCR_DIGITIZATION.md
Due: none

fix(docs): update domain from .net to .com for all services
  .claude/settings.local.json
  apps/web/src/app/globals.css
  apps/web/src/app/page.tsx
  apps/web/tailwind.config.js
  docs/ai/ODOO_SETTINGS_CHEATSHEET.md
  docs/ai/ODOO_SETTINGS_OCR_DIGITIZATION.md
  packages/ipai-design-tokens/tokens.css
Due: none

chore(infra): remove Affine, add MCP and Superset to Quick Reference
  CLAUDE.md
Due: none

docs(infra): add Infrastructure SSOT - runtime registry + DNS verification
  .github/workflows/dns-drift-detect.yml
  CLAUDE.md
  docs/architecture/PROD_RUNTIME_SNAPSHOT.md
  docs/architecture/runtime_identifiers.json
  scripts/verify-dns-baseline.sh
  scripts/verify-service-health.sh
Due: none

chore(repo): reduce CLAUDE.md size (203→154 lines)
  CLAUDE.md
Due: none

feat(saas): Phase 1+2 SaaS foundation - auth + billing
  supabase/migrations/20260210140000_saas_auth_foundation.sql
  supabase/migrations/20260210140100_saas_rls_policies.sql
  supabase/migrations/20260210140200_saas_cms_org_migration.sql
  supabase/migrations/20260210150000_saas_billing_schema.sql
  supabase/migrations/20260210150100_saas_billing_rls.sql
Due: none

feat(ai-platform): phase6 canonical agent library (10 agents + 3 flows)
  addons/ipai/ipai_ai_platform/models/__init__.py
  addons/ipai/ipai_ai_platform/models/agent_library.py
  docs/evidence/20260210-1147/phase6-agent-library/EVIDENCE.md
  packages/ipai-ai-sdk-python/ipai_ai_sdk/__init__.py
  packages/ipai-ai-sdk-python/ipai_ai_sdk/agent_library.py
  packages/ipai-ai-sdk/src/agentLibrary.ts
  packages/ipai-ai-sdk/src/index.ts
  supabase/migrations/20260210_03_agent_library_seed.sql
Due: no-enterprise-deps

feat(phase5): AI Platform Integration - Odoo backend + TypeScript/Python SDKs
  addons/ipai/ipai_ai_platform/README.md
  addons/ipai/ipai_ai_platform/__init__.py
  addons/ipai/ipai_ai_platform/__manifest__.py
  addons/ipai/ipai_ai_platform/data/config_parameters.xml
  addons/ipai/ipai_ai_platform/models/__init__.py
  addons/ipai/ipai_ai_platform/models/ai_client.py
  addons/ipai/ipai_ai_platform/security/ir.model.access.csv
  docs/platform/ai.md
  packages/ipai-ai-sdk-python/README.md
  packages/ipai-ai-sdk-python/ipai_ai_sdk/__init__.py
  packages/ipai-ai-sdk-python/ipai_ai_sdk/client.py
  packages/ipai-ai-sdk-python/ipai_ai_sdk/types.py
  packages/ipai-ai-sdk-python/pyproject.toml
  packages/ipai-ai-sdk-python/setup.py
  packages/ipai-ai-sdk/README.md
  packages/ipai-ai-sdk/package.json
  packages/ipai-ai-sdk/src/client.ts
  packages/ipai-ai-sdk/src/errors.ts
  packages/ipai-ai-sdk/src/index.ts
  packages/ipai-ai-sdk/src/types.ts
  packages/ipai-ai-sdk/tsconfig.json
  scripts/verify_phase5.sh
Due: no-enterprise-deps, odoo-manifest-check

feat(lib): implement Local Intelligence Brain - filesystem metadata & FTS5 search
  .gitignore
  docs/ai/LIB_IMPLEMENTATION.md
  mcp/servers/lib-mcp-server/README.md
  mcp/servers/lib-mcp-server/requirements.txt
  mcp/servers/lib-mcp-server/src/__init__.py
  mcp/servers/lib-mcp-server/src/config.py
  mcp/servers/lib-mcp-server/src/server.py
  mcp/servers/lib-mcp-server/src/tools.py
  scripts/lib/lib_db.py
  scripts/lib/lib_init.sh
  scripts/lib/lib_scan.py
Due: no-enterprise-deps

chore(phase6): replace brittle bash heredoc verification generator
  docs/evidence/20260210-1147/phase6-agent-library/VERIFICATION_SUMMARY.md
  docs/security/DEPENDABOT_STATUS.md
  scripts/write_phase6_verification_summary.py
Due: no-enterprise-deps

chore(devcontainer): unify on compose-based dev env with Python 3.11
  .devcontainer/Dockerfile
  .devcontainer/backup/devcontainer.json.backup
  .devcontainer/backup/docker-compose.yml.backup
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/scripts/post-create.sh
  .devcontainer/scripts/post-start.sh
  scripts/codespaces/bootstrap.sh
Due: none

fix(devcontainer): remove wkhtmltopdf (not available in Debian Trixie)
  .devcontainer/Dockerfile
Due: none

chore(devcontainer): remove obsolete compose version key
  .devcontainer/docker-compose.yml
Due: none

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$
