Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

no-enterprise-deps:
  name: No Enterprise Dependencies
  entry: bash -c 'scripts/policy-check.sh --diff || true'
  language: system
  pass_filenames: false

validate-spec-kit:
  name: Validate Spec Kit
  entry: bash -c 'scripts/validate-spec-kit.sh || true'
  language: system
  pass_filenames: false

odoo-manifest-check:
  name: Odoo Manifest Validator
  entry: python3 scripts/validate_manifest.py
  language: system
  pass_filenames: false

chore(deploy): fix stale odoo_prod comment in prod config, chmod +x debug script
  config/prod/odoo.conf
  scripts/odoo/debug_frontend_minimal_assets.sh
Due: none

feat(integrations): add schema-backed SSOT and CI gate for integration architecture
  .claude/prompts/odoo-n8n-supabase-consolidation.md
  .github/workflows/integrations-ssot-check.yml
  docs/evidence/integrations/README.md
  scripts/validate_integrations_ssot.py
  ssot/integrations/_index.yaml
  ssot/integrations/odoo-n8n-supabase.schema.json
  ssot/integrations/odoo-n8n-supabase.yaml
Due: no-enterprise-deps

docs(finance): add unified finance system spec bundle, canonical doc, and SSOT artifact
  docs/modules/FINANCE_UNIFIED_SYSTEM.md
  spec/finance-unified/constitution.md
  spec/finance-unified/plan.md
  spec/finance-unified/prd.md
  spec/finance-unified/tasks.md
  ssot/finance/unified-system.yaml
Due: validate-spec-kit

feat(project): add ipai_project_seed data-only addon
  addons/ipai/ipai_project_seed/__init__.py
  addons/ipai/ipai_project_seed/__manifest__.py
  addons/ipai/ipai_project_seed/data/project_milestone_seed.xml
  addons/ipai/ipai_project_seed/data/project_seed.xml
  addons/ipai/ipai_project_seed/data/project_stage_seed.xml
  addons/ipai/ipai_project_seed/data/project_task_seed.xml
  addons/ipai/ipai_project_seed/security/ir.model.access.csv
Due: no-enterprise-deps, odoo-manifest-check

docs(integrations): add SAP Joule + Concur + Odoo on Azure spec bundle and contract
  docs/contracts/SAP_JOULE_CONCUR_ODOO_AZURE_CONTRACT.md
  spec/sap-joule-concur-odoo-azure/constitution.md
  spec/sap-joule-concur-odoo-azure/plan.md
  spec/sap-joule-concur-odoo-azure/prd.md
  spec/sap-joule-concur-odoo-azure/tasks.md
  ssot/integrations/sap-joule-concur-odoo-azure.yaml
Due: validate-spec-kit

docs(integrations): add capability test prompt for SAP Joule + Concur + Odoo spec
  spec/sap-joule-concur-odoo-azure/capability-test-prompt.md
Due: validate-spec-kit

docs(spec): add ADLS ETL + Reverse ETL architecture spec bundle
  docs/architecture/ADLS_ETL_REVERSE_ETL_ARCHITECTURE.md
  docs/contracts/DATA_AUTHORITY_CONTRACT.md
  docs/contracts/REVERSE_ETL_GUARDRAILS.md
  spec/adls-etl-reverse-etl/constitution.md
  spec/adls-etl-reverse-etl/plan.md
  spec/adls-etl-reverse-etl/prd.md
  spec/adls-etl-reverse-etl/tasks.md
  ssot/integrations/adls-etl-reverse-etl.yaml
Due: validate-spec-kit

docs(arch): add unified target architecture and end state
  docs/architecture/UNIFIED_TARGET_ARCHITECTURE.md
Due: none

feat(copilot): complete ipai_odoo_copilot Azure-native install validation
  addons/ipai/ipai_odoo_copilot/data/ir_cron.xml
  addons/ipai/ipai_odoo_copilot/models/foundry_service.py
  addons/ipai/ipai_odoo_copilot/views/res_config_settings_views.xml
  docs/contracts/COPILOT_RUNTIME_CONTRACT.md
  docs/contracts/PLATFORM_CONTRACTS_INDEX.md
  docs/evidence/20260313-1912/copilot-install/evidence.txt
  docs/evidence/20260313-1912/copilot-install/install_test_db.log
  docs/evidence/20260313-1912/copilot-install/validation.log
Due: no-enterprise-deps

feat(plane): add unified docs/execution architecture spec bundle
  docs/architecture/PLANE_UNIFIED_DOCS_TARGET_STATE.md
  docs/migration/PLANE_DOCS_CONSOLIDATION_MAP.md
  spec/plane-unified-docs/constitution.md
  spec/plane-unified-docs/plan.md
  spec/plane-unified-docs/prd.md
  spec/plane-unified-docs/tasks.md
  ssot/docs/plane-docs-canonical-map.yaml
Due: validate-spec-kit

feat(plane): unified docs/execution architecture spec bundle (#583)
  addons/ipai/ipai_odoo_copilot/data/ir_cron.xml
  addons/ipai/ipai_odoo_copilot/models/foundry_service.py
  addons/ipai/ipai_odoo_copilot/views/res_config_settings_views.xml
  docs/architecture/PLANE_UNIFIED_DOCS_TARGET_STATE.md
  docs/architecture/UNIFIED_TARGET_ARCHITECTURE.md
  docs/contracts/COPILOT_RUNTIME_CONTRACT.md
  docs/contracts/PLATFORM_CONTRACTS_INDEX.md
  docs/evidence/20260313-1912/copilot-install/evidence.txt
  docs/evidence/20260313-1912/copilot-install/install_test_db.log
  docs/evidence/20260313-1912/copilot-install/validation.log
  docs/migration/PLANE_DOCS_CONSOLIDATION_MAP.md
  spec/plane-unified-docs/constitution.md
  spec/plane-unified-docs/plan.md
  spec/plane-unified-docs/prd.md
  spec/plane-unified-docs/tasks.md
  ssot/docs/plane-docs-canonical-map.yaml
Due: no-enterprise-deps, validate-spec-kit

feat(agents): add agent skills knowledge base and OCA governance artifacts
  config/addons.manifest.yaml
  docs/agents/AGENT_RULES_CANONICAL_MAP.md
  docs/agents/ODOO_CLOUD_DEVOPS_AGENT_SKILLS.md
  docs/kb/agent-skills/ipai-module-conventions/SKILL.md
  docs/kb/agent-skills/oca-module-porting/SKILL.md
  docs/kb/agent-skills/odoo-api-integration/SKILL.md
  docs/kb/agent-skills/odoo-frontend/SKILL.md
  docs/kb/agent-skills/odoo-module-development/SKILL.md
  docs/kb/agent-skills/odoo-orm-patterns/SKILL.md
  docs/kb/agent-skills/odoo-testing/SKILL.md
  docs/kb/agent-skills/odoo-views-and-actions/SKILL.md
  ssot/agents/rules-manifest.yaml
Due: none

feat(architecture): add unified API gateway design — spec kit, contracts, SSOT
  docs/architecture/UNIFIED_API_GATEWAY_TARGET_STATE.md
  docs/contracts/API_AUTHORITY_BOUNDARIES.md
  docs/contracts/API_DNS_AND_INGRESS_CONTRACT.md
  docs/contracts/API_ROUTE_OWNERSHIP.md
  docs/contracts/API_SECURITY_AND_IDENTITY.md
  spec/unified-api-gateway/constitution.md
  spec/unified-api-gateway/plan.md
  spec/unified-api-gateway/prd.md
  spec/unified-api-gateway/tasks.md
  ssot/api/unified-api-gateway.yaml
Due: validate-spec-kit

docs(spec): add docs platform spec bundle with Fluent 2 + Odoo docs benchmark
  design/components/fluent-docs-component-map.md
  design/tokens/fluent-docs-tokens.json
  docs/architecture/DOCS_PLATFORM_TARGET_STATE.md
  docs/architecture/ODOO_DOCS_BUILD_BENCHMARK.md
  docs/contracts/DOCS_AUTHORITY_BOUNDARIES.md
  docs/design/FLUENT2_DOCS_UI_SYSTEM.md
  docs/migration/DOCS_PLATFORM_MIGRATION_PLAN.md
  spec/docs-platform/constitution.md
  spec/docs-platform/plan.md
  spec/docs-platform/prd.md
  spec/docs-platform/tasks.md
  ssot/docs/docs-content-build-manifest.yaml
  ssot/docs/docs-platform-canonical-map.yaml
Due: validate-spec-kit

feat(enterprise-bridge): add CE Settings entries for Foundry and Document Digitization
  addons/ipai/ipai_enterprise_bridge/__manifest__.py
  addons/ipai/ipai_enterprise_bridge/models/__init__.py
  addons/ipai/ipai_enterprise_bridge/models/doc_digitization_config.py
  addons/ipai/ipai_enterprise_bridge/models/foundry_provider_config.py
  addons/ipai/ipai_enterprise_bridge/models/res_config_settings.py
  addons/ipai/ipai_enterprise_bridge/models/settings_actions.py
  addons/ipai/ipai_enterprise_bridge/security/ir.model.access.csv
  addons/ipai/ipai_enterprise_bridge/views/doc_digitization_config_views.xml
  addons/ipai/ipai_enterprise_bridge/views/foundry_provider_config_views.xml
  addons/ipai/ipai_enterprise_bridge/views/res_config_settings_views.xml
Due: no-enterprise-deps, odoo-manifest-check

test(enterprise-bridge): add unit tests for Foundry, Doc Digitization, and settings actions
  addons/ipai/ipai_enterprise_bridge/tests/__init__.py
  addons/ipai/ipai_enterprise_bridge/tests/test_foundry_config.py
Due: no-enterprise-deps

feat(platform): CI normalization, Azure migration, and platform SSOT (#573)
  .github/workflows/ci-odoo.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy-azure.yml
  .github/workflows/repo-boundary-check.yml
  archive/root/docs/contracts/ERP_SURFACE_OWNERSHIP_CONTRACT.md
  archive/root/docs/contracts/PLATFORM_CONTRACTS_INDEX.md
  docs/architecture/PLATFORM_TARGET_STATE.md
  docs/reports/WORKFLOW_NORMALIZATION_REPORT.md
Due: none

chore(ssot): lock Azure-native target state and add Tableau connector contract (#575)
  infra/ssot/azure/target-state.yaml
  lakehouse/contracts/bi/tableau.yaml
Due: none

chore(deploy): enforce Vercel/DO decommission — remove all Vercel artifacts, mark DO decommissioned (#577)
  archive/templates/odooops-console/vercel.json
  archive/templates/saas-landing/vercel.json
  infra/ssot/providers/digitalocean/provider.yaml
  infra/ssot/providers/vercel/sandbox.yaml
  tests/contracts/test_decommissioned_platforms.py
  web/ai-control-plane/vercel.json
  web/apps/ops-console/vercel.json
  web/apps/workspace/vercel.json
  web/billing-site/vercel.json
  web/odoo-frontend-shell/vercel.json
  web/platform-kit/.github/workflows/vercel-preview.yml
  web/platform-kit/.github/workflows/vercel-production.yml
  web/platform-kit/vercel.json
  web/router/vercel.json
  web/web-legacy-backup/vercel.json
  web/web/vercel.json
Due: no-enterprise-deps

docs(finance): unified finance system spec bundle (#578)
  docs/modules/FINANCE_UNIFIED_SYSTEM.md
  spec/finance-unified/constitution.md
  spec/finance-unified/plan.md
  spec/finance-unified/prd.md
  spec/finance-unified/tasks.md
  ssot/finance/unified-system.yaml
Due: validate-spec-kit

docs(spec): add ADLS ETL + Reverse ETL architecture spec bundle (#581)
  docs/architecture/ADLS_ETL_REVERSE_ETL_ARCHITECTURE.md
  docs/contracts/DATA_AUTHORITY_CONTRACT.md
  docs/contracts/REVERSE_ETL_GUARDRAILS.md
  spec/adls-etl-reverse-etl/constitution.md
  spec/adls-etl-reverse-etl/plan.md
  spec/adls-etl-reverse-etl/prd.md
  spec/adls-etl-reverse-etl/tasks.md
  ssot/integrations/adls-etl-reverse-etl.yaml
Due: validate-spec-kit

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$
