Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$

docs(arch): Supabase ETL contract (C-14) + Phone OTP auth policy
  docs/architecture/SSOT_BOUNDARIES.md
  docs/contracts/PLATFORM_CONTRACTS_INDEX.md
  docs/contracts/SUPABASE_ETL_CONTRACT.md
Due: none

feat(settings): Odoo settings-as-code + OAuth provider SSOT + Twilio phone auth
  config/odoo/auth_providers.yaml
  config/odoo/settings.yaml
  docs/contracts/ODOO_SETTINGS_CONTRACT.md
  docs/contracts/PLATFORM_CONTRACTS_INDEX.md
  scripts/odoo/apply_auth_providers.py
  scripts/odoo/apply_settings.py
  spec/odoo-settings-as-code/constitution.md
  spec/odoo-settings-as-code/plan.md
  spec/odoo-settings-as-code/prd.md
  spec/odoo-settings-as-code/tasks.md
  supabase/config.toml
Due: no-enterprise-deps, validate-spec-kit

fix(auth): use auth_endpoint (not auth_link) for Odoo 19 auth.oauth.provider
  scripts/odoo/apply_auth_providers.py
Due: no-enterprise-deps

docs(oca): review OCA module wave plan + create installer script
  config/oca/module_allowlist.yml
  docs/oca/OCA_WAVE_REVIEW_2026-02-21.md
  docs/oca/install_manifest.yaml
  scripts/oca_install.sh
Due: none

fix(oca): correct account_tax_balance repo — OCA/account-financial-reporting
  docs/oca/OCA_WAVE_REVIEW_2026-02-21.md
  docs/oca/install_manifest.yaml
  scripts/oca_install.sh
Due: none

docs(oca): add full dependency audit from __manifest__.py verification
  docs/oca/OCA_WAVE_REVIEW_2026-02-21.md
Due: none

feat: Add OCA module installer script and wave plan documentation (#384)
  config/oca/module_allowlist.yml
  docs/oca/OCA_WAVE_REVIEW_2026-02-21.md
  docs/oca/install_manifest.yaml
  scripts/oca_install.sh
Due: none

fix(oca): add missing addons paths + upgrade_analysis py deps
  config/dev/odoo.conf
  requirements-oca.txt
Due: none

docs(diagrams): add Odoo ops architecture and OCA governance flow diagrams
  docs/diagrams/azure/oca-governance-flow.drawio
  docs/diagrams/azure/odoo-ops-architecture.drawio
Due: none

docs(diagrams): standardize drawio XML to fix extension errors
  docs/diagrams/azure/oca-governance-flow.drawio
  docs/diagrams/azure/odoo-ops-architecture.drawio
Due: none

docs(diagrams): integrate Anthropics Skills framework and MCP layer
  docs/diagrams/azure/oca-governance-flow.drawio
  docs/diagrams/azure/odoo-ops-architecture.drawio
Due: none

docs(diagrams): upgrade aesthetics to professional standards and finalize Anthropics integration
  docs/diagrams/azure/oca-governance-flow.drawio
  docs/diagrams/azure/odoo-ops-architecture.drawio
Due: none

docs(diagrams): add interactive links and tooltips for 'Live Documentation'
  docs/diagrams/azure/oca-governance-flow.drawio
  docs/diagrams/azure/odoo-ops-architecture.drawio
Due: none

fix(web): Odoo 19 discuss topbar inherit + store Record API compat
  addons/ipai/ipai_mail_compat/__init__.py
  addons/ipai/ipai_mail_compat/__manifest__.py
  addons/ipai/ipai_mail_compat/static/src/js/record_compat.js
  addons/ipai/ipai_mail_compat/static/src/xml/discuss_compat.xml
Due: no-enterprise-deps, odoo-manifest-check

docs(architecture): clarify repo layout vs upstream odoo/odoo + EE parity policy
  README.md
  docs/architecture/EE_PARITY_POLICY.md
  docs/architecture/REPO_LAYOUT.md
Due: none

chore(ipai): harden ipai_mail_compat as temporary migration shim + policy exception
  addons/ipai/ipai_mail_compat/README.md
  addons/ipai/ipai_mail_compat/__manifest__.py
  docs/architecture/EE_PARITY_POLICY.md
Due: no-enterprise-deps, odoo-manifest-check

docs(repo): clarify OCA hydration + deprecate stale 18.0 lockfile
  .gitignore
  README.md
  addons/oca/.gitkeep
  docs/architecture/OCA_HYDRATION.md
  docs/architecture/legacy/oca.lock.18.0.json
  oca.lock.json
Due: none

feat(oca): add idempotent hydration script + entrypoint hook
  config/entrypoint.d/05-hydrate-oca.sh
  docs/architecture/OCA_HYDRATION.md
  scripts/hydrate_oca.sh
Due: none

fix(odooops-console): fix Vercel build + add monorepo ignoreCommand
  templates/odooops-console/package-lock.json
  templates/odooops-console/package.json
  templates/odooops-console/src/components/SupabaseManagerDialog.tsx
  templates/odooops-console/vercel.json
Due: none

fix(odooops-console): fix remaining build failures + unblock src/lib/ from gitignore
  .gitignore
  templates/odooops-console/next.config.ts
  templates/odooops-console/src/lib/rpc/branches.ts
  templates/odooops-console/src/lib/types/branches.ts
Due: none

fix(deploy): remove invalid `projects` property from root vercel.json
  vercel.json
Due: none

ci(deploy): add Vercel deploy workflow for OdooOps Console
  .github/workflows/deploy-vercel-odooops.yml
Due: none

docs(agent): rewrite constitution to reflect full CLI capabilities
  CLAUDE.md
  docs/agent_instructions/SSOT.md
  spec/agent/constitution.md
Due: validate-spec-kit

feat(ops): wire live data hooks and auditable runtime hooks for OdooOps console
  apps/ops-console/components/platform/BuildPanel.tsx
  apps/ops-console/components/platform/DashboardPanel.tsx
  apps/ops-console/components/platform/EnvironmentPanel.tsx
  apps/ops-console/components/platform/HuddlePanels.tsx
  apps/ops-console/components/platform/MainConsole.tsx
  apps/ops-console/components/platform/SQLPanel.tsx
  apps/ops-console/components/platform/SyncPanel.tsx
  apps/ops-console/components/platform/Visuals.tsx
  apps/ops-console/hooks/use-ops-deployments.ts
  apps/ops-console/hooks/use-ops-environments.ts
  apps/ops-console/hooks/use-ops-run-events.ts
  apps/ops-console/hooks/use-ops-run-mutation.ts
  apps/ops-console/hooks/use-ops-runs.ts
  apps/ops-console/hooks/use-ops-sync-checkpoints.ts
  apps/ops-console/hooks/use-ops-sync-dlq.ts
  apps/ops-console/lib/mock-data.ts
  apps/ops-console/lib/supabase.ts
  apps/ops-console/package-lock.json
  apps/ops-console/package.json
  scripts/supabase_migrate.py
  scripts/supabase_sync_migrate.py
  spec/odoo-sh-platform-kit/checklist.md
Due: no-enterprise-deps, validate-spec-kit

feat(agents): implement Agentic Automation Specialist Spec Kit and reference n8n workflow
  agents/personas/automation_specialist.md
  agents/registry/agents.yaml
  infra/n8n/workflows/platform/ipai_platform__reference_tool__v1.json
  skills/n8n_workflow_builder.md
  spec/agentic-automation-specialist/constitution.md
  spec/agentic-automation-specialist/plan.md
  spec/agentic-automation-specialist/prd.md
  spec/agentic-automation-specialist/tasks.md
Due: validate-spec-kit

docs(ci): ERP SaaS parity SSOT (CE/OCA/Port/Bridge) + gates
  .github/workflows/parity-targets-gate.yml
  docs/architecture/EE_PARITY_MATRIX.md
  odoo/ssot/oca_installed_allowlist.yaml
  odoo/ssot/parity_targets.yaml
  scripts/odoo/validate_parity_targets.py
Due: no-enterprise-deps

fix(mail): add ipai_mail_tracking_compat for Odoo 19 JS breakage
  addons/ipai/ipai_mail_tracking_compat/__init__.py
  addons/ipai/ipai_mail_tracking_compat/__manifest__.py
  addons/ipai/ipai_mail_tracking_compat/static/src/core/discuss/discuss_sidebar_mailboxes.xml
  addons/ipai/ipai_mail_tracking_compat/static/src/services/store_service_patch.esm.js
Due: no-enterprise-deps, odoo-manifest-check

fix(mail): harden OCA mail_tracking compat → ipai_web_mail_compat
  addons/ipai/ipai_mail_tracking_compat/__manifest__.py
  addons/ipai/ipai_mail_tracking_compat/static/src/services/store_service_patch.esm.js
  addons/ipai/ipai_web_mail_compat/UPSTREAM.md
  addons/ipai/ipai_web_mail_compat/__init__.py
  addons/ipai/ipai_web_mail_compat/__manifest__.py
  addons/ipai/ipai_web_mail_compat/hooks.py
  addons/ipai/ipai_web_mail_compat/static/src/compat_probe.esm.js
  addons/ipai/ipai_web_mail_compat/static/src/core/discuss/discuss_sidebar_mailboxes.xml
  addons/ipai/ipai_web_mail_compat/static/src/services/store_service_patch.esm.js
Due: no-enterprise-deps, odoo-manifest-check

feat(agents): implement Agentic Automation Specialist and Live Data Source Validation
  agents/registry/agents.json
  agents/registry/agents.meta.json
  apps/ops-console/app/api/_debug/datasources/route.ts
  apps/ops-console/app/layout.tsx
  apps/ops-console/components/platform/BuildPanel.tsx
  apps/ops-console/components/platform/DashboardPanel.tsx
  apps/ops-console/components/platform/DataSourceBadge.tsx
  apps/ops-console/components/platform/EnvironmentPanel.tsx
  apps/ops-console/components/platform/HuddlePanels.tsx
  apps/ops-console/components/platform/SQLPanel.tsx
  apps/ops-console/components/platform/SyncPanel.tsx
  apps/ops-console/lib/datasource/guard.ts
  apps/ops-console/lib/datasource/runtime.ts
  apps/ops-console/lib/http/fetcher.ts
  apps/ops-console/lib/mocks/data.ts
  apps/ops-console/lib/mocks/index.ts
  apps/ops-console/lib/supabase.ts
  apps/ops-console/lib/visuals.ts
  apps/ops-console/tests/datasource-live.spec.ts
  spec/odoo-sh-platform-kit/checklist.md
Due: validate-spec-kit

docs(ops): update production checklist with audit and validation results
  spec/odoo-sh-platform-kit/checklist.md
Due: validate-spec-kit

test(mail): CI-verifiable probe + asset verifier for ipai_web_mail_compat
  addons/ipai/ipai_web_mail_compat/UPSTREAM.md
  addons/ipai/ipai_web_mail_compat/__manifest__.py
  addons/ipai/ipai_web_mail_compat/models/__init__.py
  addons/ipai/ipai_web_mail_compat/models/compat_probe.py
  addons/ipai/ipai_web_mail_compat/tests/__init__.py
  addons/ipai/ipai_web_mail_compat/tests/test_mail_compat_smoke.py
  scripts/git_safety_preflight.sh
  scripts/verify_ipai_web_mail_compat.py
Due: no-enterprise-deps, odoo-manifest-check
