Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

no-enterprise-deps:
  name: No Enterprise Dependencies
  entry: bash -c 'scripts/policy-check.sh --diff || true'
  language: system
  pass_filenames: false

validate-spec-kit:
  name: Validate Spec Kit
  entry: bash -c 'scripts/validate-spec-kit.sh || true'
  language: system
  pass_filenames: false

odoo-manifest-check:
  name: Odoo Manifest Validator
  entry: python3 scripts/validate_manifest.py
  language: system
  pass_filenames: false

docs(spec): add deployment ladder and SAP Joule benchmark scorecard
  spec/copilot-target-state/plan.md
Due: validate-spec-kit

docs(spec): add Marketplace-readiness gap matrix to copilot tasks
  spec/copilot-target-state/tasks.md
Due: validate-spec-kit

chore(ssot): add Azure Boards-ready Marketplace readiness gap matrix CSV
  ssot/azure/marketplace_readiness_gap_matrix.csv
Due: none

fix(ssot): normalize Area Path backslashes in Marketplace gap matrix CSV
  ssot/azure/marketplace_readiness_gap_matrix.csv
Due: none

docs(delivery): add production go-live runbook — CP-1/3/6/7/8 gate sequence
  docs/delivery/GO_LIVE_RUNBOOK.md
Due: none

docs(spec): add confirmed milestones and private deployment gap checklist
  spec/copilot-target-state/tasks.md
Due: validate-spec-kit

docs(spec): refine private deployment checklist — phased A/B/C with RBAC rebind
  spec/copilot-target-state/tasks.md
Due: validate-spec-kit

docs(delivery): update go-live runbook with verified gate status
  docs/delivery/GO_LIVE_RUNBOOK.md
  docs/delivery/evidence/poc-pack/cp1-identity-mfa-assessment.md
Due: none

docs(evidence): CP-8 go-live evidence pack — CP-1/3/6/7 artifacts
  docs/delivery/evidence/poc-pack/20260320-1257/cp1-identity-mfa-assessment.md
  docs/delivery/evidence/poc-pack/20260320-1257/cp3-prod-headers.txt
  docs/delivery/evidence/poc-pack/20260320-1257/cp6-ipai-odoo-dev-cron.json
  docs/delivery/evidence/poc-pack/20260320-1257/cp6-ipai-odoo-dev-web.json
  docs/delivery/evidence/poc-pack/20260320-1257/cp6-ipai-odoo-dev-worker.json
  docs/delivery/evidence/poc-pack/20260320-1257/cp6-kv-odoo-admin-passwd.json
  docs/delivery/evidence/poc-pack/20260320-1257/cp7-smoke-test.txt
Due: none

docs(delivery): update go-live runbook — CP-7 PASS (10/10), CP-8 evidence committed
  docs/delivery/GO_LIVE_RUNBOOK.md
Due: none

docs(architecture): add canonical target state + 16-RG resource group model
  README.md
  docs/architecture/INSIGHTPULSEAI_ODOO_ON_AZURE_TARGET_STATE.md
  docs/architecture/ODOO_ON_AZURE_PLANNING_GUIDE.md
  ssot/repo/ownership-boundaries.yaml
Due: none

fix(deploy): CP-6 DB tenancy — list_db=False enforced via ACA command override
  docs/delivery/evidence/poc-pack/README.md
Due: none

feat(infra): add runtime schema mirror toolkit + RG normalization matrix
  odoo/odoo/odoo/.gitignore
  odoo/odoo/odoo/docs/data-model/README.md
  odoo/odoo/odoo/docs/data-model/runtime/README.md
  odoo/odoo/odoo/infra/ssot/azure/rg-normalization-matrix.yaml
  odoo/odoo/odoo/odoo-schema-mirror/.env.example
  odoo/odoo/odoo/scripts/dev/run_schema_mirror_local.sh
  odoo/odoo/odoo/scripts/dev/schema_drift_report.py
  odoo/odoo/odoo/scripts/validate_runtime_schema_mirror.sh
Due: no-enterprise-deps

refactor(docs): consolidate CLAUDE.md hierarchy — slim innermost, dedupe rules, fix contradictions
  .claude/rules/ssot-platform.md
  docs/architecture/CLAUDE_ALIGNMENT_REPAIR.md
  odoo/.claude/rules/odoo-runtime.md
  odoo/.claude/rules/odoo-security.md
  odoo/.claude/rules/platform-architecture.md
  odoo/.claude/rules/repo-topology.md
  odoo/.claude/rules/security-baseline.md
  odoo/.claude/rules/ssot-platform.md
  odoo/CLAUDE.md
  odoo/odoo/.claude/rules/odoo-runtime.md
  odoo/odoo/.claude/rules/odoo-security.md
  odoo/odoo/.claude/rules/platform-architecture.md
  odoo/odoo/.claude/rules/repo-topology.md
  odoo/odoo/.claude/rules/security-baseline.md
  odoo/odoo/.claude/rules/ssot-platform.md
  odoo/odoo/CLAUDE.md
  odoo/odoo/odoo/.claude/rules/ssot-platform.md
  odoo/odoo/odoo/CLAUDE.md
  odoo/odoo/odoo/odoo/.claude/rules/ssot-platform.md
  scripts/validate_claude_alignment.sh
Due: none

docs(architecture): add SAP adapter-only doctrine + approved Microsoft samples
  CLAUDE.md
  docs/architecture/APPROVED_MICROSOFT_SAMPLES.md
  spec/agent-platform/constitution.md
  spec/agent-platform/plan.md
  spec/agent-platform/prd.md
  spec/agent-platform/tasks.md
Due: validate-spec-kit

docs(spec): update finance agent doctrine and implementation roadmap
  spec/agent-platform/constitution.md
  spec/agent-platform/prd.md
  spec/agent-platform/tasks.md
Due: validate-spec-kit

feat(databricks): implement AI copilot SQL layer as Power BI Copilot alternative
  docs/contracts/PLATFORM_CONTRACTS_INDEX.md
  docs/contracts/POWERBI_COPILOT_CAPABILITY_CONTRACT.md
  infra/databricks/databricks.yml
  infra/databricks/notebooks/platinum/ai_copilot_views.py
  infra/databricks/resources/endpoints/azure_openai.yml
  infra/databricks/resources/jobs/ai_copilot_platinum.yml
Due: no-enterprise-deps

fix(docker): remove libpq-dev — conflicts with Odoo 19 PG18 base image
  odoo/odoo/odoo/Dockerfile
Due: none

feat(databricks): add Declarative Automation Bundles foundation
  .github/workflows/databricks-bundles-ci.yml
  databricks/README.md
  databricks/bundles/foundation_python/databricks.yml
  databricks/bundles/foundation_python/fixtures/.gitkeep
  databricks/bundles/foundation_python/pyproject.toml
  databricks/bundles/foundation_python/resources/jobs/.gitkeep
  databricks/bundles/foundation_python/resources/pipelines/.gitkeep
  databricks/bundles/foundation_python/src/ipai_data_intelligence/__init__.py
  databricks/bundles/foundation_python/tests/.gitkeep
  databricks/bundles/lakeflow_ingestion/databricks.yml
  databricks/bundles/lakeflow_ingestion/pyproject.toml
  databricks/bundles/lakeflow_ingestion/resources/jobs/.gitkeep
  databricks/bundles/lakeflow_ingestion/resources/pipelines/.gitkeep
  databricks/bundles/lakeflow_ingestion/src/lakeflow_ingestion_etl/__init__.py
  databricks/bundles/patterns/KNOWLEDGE_BASE_CROSSWALK.md
  databricks/bundles/patterns/README.md
  databricks/bundles/sql_warehouse/databricks.yml
  databricks/bundles/sql_warehouse/resources/dashboards/.gitkeep
  databricks/bundles/sql_warehouse/resources/jobs/.gitkeep
  databricks/bundles/sql_warehouse/src/sql/marts/.gitkeep
  databricks/bundles/sql_warehouse/src/sql/schemas/.gitkeep
  databricks/bundles/sql_warehouse/src/sql/serving/.gitkeep
  docs/architecture/DATABRICKS_BUNDLES_BASELINE.md
  spec/databricks-bundles-foundation/constitution.md
  spec/databricks-bundles-foundation/plan.md
  spec/databricks-bundles-foundation/prd.md
  spec/databricks-bundles-foundation/tasks.md
Due: no-enterprise-deps, validate-spec-kit

fix(docker): add --ignore-installed for OCA deps — typing-extensions conflict
  odoo/odoo/odoo/Dockerfile
Due: none

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$
