Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$

feat(agents): wire BIR Compliance Pack into agent framework + capability matrix
  infra/ssot/agents/agent_capability_matrix.yaml
  spec/odoo-copilot-agent-framework/plan.md
  spec/odoo-copilot-agent-framework/prd.md
  spec/odoo-copilot-agent-framework/tasks.md
Due: validate-spec-kit

docs(copilot): finalize target-state with authoritative ownership matrix
  infra/ssot/agents/agent_capability_matrix.yaml
  spec/copilot-target-state/constitution.md
  spec/copilot-target-state/plan.md
  spec/copilot-target-state/prd.md
  spec/copilot-target-state/tasks.md
Due: validate-spec-kit

docs(specs): add AFC parity sections to copilot framework and Tax Pulse specs
  infra/ssot/agents/tax_pulse_tool_contracts.yaml
  spec/odoo-copilot-agent-framework/plan.md
  spec/odoo-copilot-agent-framework/prd.md
  spec/tax-pulse-sub-agent/plan.md
  spec/tax-pulse-sub-agent/prd.md
  spec/tax-pulse-sub-agent/tasks.md
Due: validate-spec-kit

fix(finance-ppm): fix P0 crashes and populate empty views
  addons/ipai/ipai_finance_close_seed/__init__.py
  addons/ipai/ipai_finance_close_seed/__manifest__.py
  addons/ipai/ipai_finance_close_seed/data/01_stages.xml
  addons/ipai/ipai_finance_close_seed/data/02_tags.xml
  addons/ipai/ipai_finance_close_seed/data/03_partners_employees.xml
  addons/ipai/ipai_finance_close_seed/data/04_projects.xml
  addons/ipai/ipai_finance_close_seed/data/05_milestones.xml
  addons/ipai/ipai_finance_close_seed/data/06_tasks_month_end.xml
  addons/ipai/ipai_finance_close_seed/data/07_tasks_bir_tax.xml
  addons/ipai/ipai_finance_close_seed/data/tasks_bir.csv
  addons/ipai/ipai_finance_close_seed/data/tasks_bir.xml
  addons/ipai/ipai_finance_close_seed/data/tasks_month_end.csv
  addons/ipai/ipai_finance_close_seed/data/tasks_month_end.xml
  addons/ipai/ipai_finance_ppm/__init__.py
  addons/ipai/ipai_finance_ppm/__manifest__.py
  addons/ipai/ipai_finance_ppm/controllers/__init__.py
  addons/ipai/ipai_finance_ppm/controllers/main.py
  addons/ipai/ipai_finance_ppm/data/ir_cron_ppm_sync.xml
  addons/ipai/ipai_finance_ppm/models/__init__.py
  addons/ipai/ipai_finance_ppm/models/analytic_account.py
  addons/ipai/ipai_finance_ppm/models/project_project.py
  addons/ipai/ipai_finance_ppm/models/project_task_integration.py
  addons/ipai/ipai_finance_ppm/security/ir.model.access.csv
  addons/ipai/ipai_finance_ppm/static/src/html/okr_dashboard.html
  addons/ipai/ipai_finance_ppm/static/src/js/okr_dashboard_action.js
  addons/ipai/ipai_finance_ppm/views/account_analytic_account_views.xml
  addons/ipai/ipai_finance_ppm/views/ipai_finance_ppm_menus.xml
  addons/ipai/ipai_finance_ppm/views/okr_dashboard_action.xml
  addons/ipai/ipai_finance_ppm/views/ppm_import_wizard_views.xml
  addons/ipai/ipai_finance_ppm/views/project_project_views.xml
  addons/ipai/ipai_finance_ppm/wizards/__init__.py
  addons/ipai/ipai_finance_ppm/wizards/ppm_import_wizard.py
Due: no-enterprise-deps, odoo-manifest-check

feat(agents): add Odoo services EE parity skill + fix YAML syntax
  agents/AGENT_CAPABILITY_INVENTORY.yaml
  agents/registry/skills-index.json
  agents/skills/odoo-services-ee-parity/SKILL.md
  agents/workflows/coding-agent-from-issue.yaml
  agents/workflows/sre-to-issue-to-agent.yaml
Due: none

feat(agents): add agent orchestration & task bus skill
  agents/registry/skills-index.json
  agents/skills/agent-orchestration-taskbus/SKILL.md
Due: none

feat(agents): add Azure Foundry + agent orchestration skills
  agents/registry/skills-index.json
  agents/skills/platform/azure-foundry/SKILL.md
Due: none

feat(lakehouse): BIR Gold views + AI/BI Dashboard + finance CDC config
  infra/supabase-etl/odoo-finance.toml
  odoo/infra/databricks/dashboards/finance_bir_dashboard.sql
  odoo/infra/databricks/sql/gold_finance_bir.sql
Due: none

feat(lakehouse): convert finance Gold views to DLT pipeline
  odoo/infra/databricks/dashboards/finance_bir_dashboard.sql
  odoo/infra/databricks/databricks.yml
  odoo/infra/databricks/dlt/finance_bir_pipeline.sql
  odoo/infra/databricks/resources/pipelines/dlt_finance_bir.yml
Due: none

feat(lakehouse): add Databricks + Tableau BI connection skill
  agents/registry/skills-index.json
  agents/skills/platform/databricks-tableau-connect/SKILL.md
Due: none

fix(lakehouse): swap Supabase ETL CDC for Databricks JDBC extract
  infra/supabase-etl/odoo-finance.toml
  odoo/infra/databricks/databricks.yml
  odoo/infra/databricks/dlt/finance_bir_pipeline.sql
  odoo/infra/databricks/notebooks/bronze/jdbc_odoo_extract.py
  odoo/infra/databricks/resources/jobs/odoo_jdbc_extract.yml
Due: no-enterprise-deps

feat(ssot): add Odoo Copilot benchmark v2 with Microsoft Foundry + finance entity contracts
  ssot/governance/leaderboard_data_model.yaml
  ssot/odoo/odoo_copilot_benchmark_v2.yaml
  ssot/odoo/odoo_copilot_finance_tools.yaml
  ssot/odoo/odoo_expense_entities.yaml
  ssot/odoo/odoo_finance_entities.yaml
Due: none

feat(ssot): add Odoo 19 finance/expense entity and copilot tool contracts
  ssot/ai/tools.yaml
  ssot/odoo/odoo_copilot_finance_tools.yaml
  ssot/odoo/odoo_expense_entities.yaml
  ssot/odoo/odoo_finance_entities.yaml
Due: none

feat(ssot): add Databricks agent skills and integration patterns
  ssot/ai/agent_skills_databricks.yaml
  ssot/integrations/databricks_odoo_patterns.yaml
Due: none

feat(ai): add Azure Document Intelligence agent skills and knowledge base
  .claude/skills/azure-document-intelligence/SKILL.md
  .claude/skills/azure-document-intelligence/references/models_reference.yaml
  agents/skills/azure-document-intelligence.skill.json
  agents/skills/azure-document-intelligence/SKILL.md
  infra/ssot/agents/skills.yaml
  ssot/ai/tools.yaml
  ssot/odoo/document_intelligence_entities.yaml
Due: none

Scaffold agent-factory in ops-platform with release governance SSOT
  ops-platform/apps/agent-factory/app/.gitkeep
  ops-platform/apps/agent-factory/components/.gitkeep
  ops-platform/apps/agent-factory/spec/constitution.yaml
  ops-platform/packages/agent-factory-clients/.gitkeep
  ops-platform/packages/agent-factory-core/.gitkeep
  ops-platform/packages/agent-factory-schemas/.gitkeep
  ops-platform/ssot/catalog/offer-registry.yaml
  ops-platform/ssot/factory/agent-factory-registry.yaml
  ops-platform/ssot/publish/.gitkeep
  ops-platform/ssot/publish/publish-rules.yaml
  ops-platform/ssot/releases/release-90day-plan.yaml
Due: none

✨ feat(agents): add 30 platform skills, knowledge base, and SDLC workflows
  agents/knowledge-base/industry-reports/state-of-ai-agents-2026-databricks.md
  agents/skills/azure-foundry/agent-evaluators/SKILL.md
  agents/skills/azure-foundry/agent-identity/SKILL.md
  agents/skills/azure-foundry/agent-service/SKILL.md
  agents/skills/azure-foundry/ai-app-templates/SKILL.md
  agents/skills/azure-foundry/cloud-evaluation/SKILL.md
  agents/skills/azure-foundry/control-plane/SKILL.md
  agents/skills/azure-foundry/document-intelligence/SKILL.md
  agents/skills/azure-foundry/enterprise-agent-tutorial/SKILL.md
  agents/skills/azure-foundry/foundry-iq/SKILL.md
  agents/skills/azure-foundry/foundry-models/SKILL.md
  agents/skills/azure-foundry/hosted-agents/SKILL.md
  agents/skills/azure-foundry/observability/SKILL.md
  agents/skills/azure-foundry/sdk-quickstart/SKILL.md
  agents/skills/azure-foundry/tool-catalog/SKILL.md
  agents/skills/azure-foundry/workflow-agents/SKILL.md
  agents/skills/devops/vscode-devcontainers/SKILL.md
  agents/skills/industries/sap-concur-parity/SKILL.md
  agents/skills/inference/landing-ai-ade/SKILL.md
  agents/skills/integration/github-integrations/SKILL.md
  agents/skills/integration/n8n-odoo-supabase-etl/SKILL.md
  agents/skills/odoo/bir-eservices/SKILL.md
  agents/skills/odoo/odoo19-accounting-map/SKILL.md
  agents/skills/odoo/odoo19-expenses/SKILL.md
  agents/skills/odoo/taxpulse-ph-pack/SKILL.md
  agents/skills/platform/databricks-apps-lakebase/SKILL.md
  agents/skills/platform/databricks-lakeflow/SKILL.md
  agents/skills/platform/databricks-sql-warehousing/SKILL.md
Due: none

🏗️ feat(agents): add 21 org-level governance policies and Foundry baseline
  agents/foundry/agents/agents__runtime__odoo_close_assistant__v1.manifest.yaml
  agents/foundry/agents/agents__runtime__odoo_copilot__v1.manifest.yaml
  agents/foundry/agents/agents__runtime__odoo_doc_review_agent__v1.manifest.yaml
  agents/foundry/agents/agents__runtime__odoo_finance_assistant__v1.manifest.yaml
  agents/foundry/policies/ado/agents__tools__azure_devops_mcp__v1.manifest.yaml
  agents/foundry/policies/ado/ops_platform__ado__operating_model__v1.policy.yaml
  agents/foundry/policies/agents__factory__template_resolution__v1.policy.yaml
  agents/foundry/policies/agents__policy__agent_publish_rules__v1.policy.yaml
  agents/foundry/policies/agents__policy__finance_tool_allowlist__v1.policy.yaml
  agents/foundry/policies/agents__policy__model_routing__v1.policy.yaml
  agents/foundry/policies/agents__policy__tool_allowlist__v1.policy.yaml
  agents/foundry/policies/ops_platform__contracts__connection_registry__v1.registry.yaml
  agents/foundry/policies/ops_platform__database__naming__v1.policy.yaml
  agents/foundry/policies/ops_platform__database__topology__v1.policy.yaml
  agents/foundry/policies/org__azure__service_selection_policy__v1.policy.yaml
  agents/foundry/policies/org__foundry__artifact_naming_convention__v1.policy.yaml
  agents/foundry/policies/org__foundry__model_alias_convention__v1.policy.yaml
  agents/foundry/policies/org__foundry__model_selection_policy__v1.policy.yaml
  agents/foundry/policies/org__foundry__runtime_strategy__v1.policy.yaml
  agents/foundry/policies/org__platform__enterprise_benchmark__v1.registry.yaml
  agents/foundry/policies/org__platform__external_authorities__v1.registry.yaml
  agents/foundry/policies/org__platform__identity_tenancy__v1.policy.yaml
  agents/foundry/policies/packaging/ops_platform__catalog__offer_registry__v1.registry.yaml
  agents/foundry/policies/packaging/templates__packaging__channel_matrix__v1.registry.yaml
  agents/foundry/schemas/agents__publish__foundry_deployment_profile_schema__v1.schema.yaml
Due: none

🔧 chore(agents): update skills registry and index with 30 new entries
  agents/AGENT_SKILLS_REGISTRY.yaml
  agents/registry/skills-index.json
Due: none

🏗️ feat(agents): add agent factory scaffold — release ladder, OpenAI patterns, resolution pipeline
  agents/foundry/policies/factory/ops_platform__factory__project_schema__v1.schema.yaml
  agents/foundry/policies/factory/ops_platform__factory__release_ladder__v1.policy.yaml
  agents/foundry/policies/factory/ops_platform__factory__resolution_rules__v1.policy.yaml
  agents/foundry/policies/factory/ops_platform__factory__skill_pack_schema__v1.schema.yaml
  agents/foundry/policies/openai/ops_platform__openai__pattern_catalog__v1.registry.yaml
  agents/foundry/policies/openai/ops_platform__openai__project_model__v1.policy.yaml
  agents/foundry/policies/openai/ops_platform__openai__skill_model__v1.policy.yaml
  agents/foundry/policies/openai/ops_platform__openai__starter_app_matrix__v1.registry.yaml
Due: none

feat(odoo): add unified production seed plan and validation
  docs/operations/PRODUCTION_SEED_PLAN.md
  scripts/odoo/init_production_db.sh
  scripts/odoo/validate_seed_state.py
  ssot/migration/production_seed_plan.yaml
  ssot/migration/seed_canonical_map.yaml
Due: no-enterprise-deps

✨ feat(agents): add PH payment gateways skill — DragonPay, GCash, Stripe, PayPal, Security Bank
  agents/skills/integration/ph-payment-gateways/SKILL.md
Due: none

feat(odoo): deploy OdooSH equivalent operational layer on Azure
  .github/workflows/odoo-module-install.yml
  .github/workflows/pr-preview.yml
  infra/mailpit/docker-compose.mailpit.yml
  scripts/odoo/refresh_staging.sh
  scripts/odoo/sanitize_staging.sql
Due: none

docs(odoo): add OdooSH → Azure parity matrix (88% coverage)
  docs/operations/ODOOSH_AZURE_PARITY_MATRIX.md
Due: none

fix(odoo): close OdooSH parity gaps — 88% → 100%
  scripts/odoo/sanitize_staging.sql
Due: none

feat(odoo): add OdooSH Azure equivalent spec bundle
  spec/odoo-sh-azure-equivalent/constitution.md
  spec/odoo-sh-azure-equivalent/plan.md
  spec/odoo-sh-azure-equivalent/prd.md
  spec/odoo-sh-azure-equivalent/tasks.md
Due: validate-spec-kit

feat(ssot): add OKR alignment layer replacing Viva Goals
  ops-platform/ssot/catalog/viva-goals-replacement.yaml
  ops-platform/ssot/releases/okr-alignment.yaml
  ops-platform/ssot/releases/okr-release-crosswalk.yaml
Due: none

📝 docs(agents): add Anthropic Engineering agent patterns index
  agents/knowledge-base/anthropic-engineering/agent-patterns-index.md
Due: none

📝 docs(agents): expand Anthropic patterns with Claude Code docs, cookbooks, SWE-bench
  agents/knowledge-base/anthropic-engineering/agent-patterns-index.md
Due: none

✨ feat(agents): add AI-first Odoo Studio equivalent skill
  agents/skills/odoo/ai-studio-equivalent/SKILL.md
Due: none

feat(odoo): add copilot chat widget to ipai_odoo_copilot
  addons/ipai/ipai_odoo_copilot/__manifest__.py
  addons/ipai/ipai_odoo_copilot/static/src/js/copilot_systray.js
  addons/ipai/ipai_odoo_copilot/static/src/scss/copilot_systray.scss
  addons/ipai/ipai_odoo_copilot/static/src/xml/copilot_systray.xml
Due: no-enterprise-deps, odoo-manifest-check

📝 docs(agents): benchmark copilot against Notion 3.0 behavior layer
  agents/foundry/agents/agents__runtime__odoo_copilot__v1.manifest.yaml
Due: none

📝 docs(agents): add reverse PRDs — Fluxrail (better Fivetran) + Operaq (better Peliqan)
  agents/foundry/specs/unified-operational-data-cloud/prd.md
  agents/foundry/specs/zero-friction-data-movement/prd.md
Due: none

✨ feat(agents): add self-hosted data stack skill — Supabase ETL + CMS + n8n + Azure
  agents/skills/platform/self-hosted-data-stack/SKILL.md
Due: none

fix(odoo): fix install errors in copilot and expense liquidation modules
  addons/ipai/ipai_hr_expense_liquidation/__manifest__.py
  addons/ipai/ipai_odoo_copilot/security/ir.model.access.csv
Due: no-enterprise-deps, odoo-manifest-check

📝 docs(agents): add CAF-aligned cloud adoption strategy with OKR model
  agents/foundry/specs/azure-strategy/CLOUD_ADOPTION_STRATEGY.md
Due: none

📝 docs(agents): add repo renames, .NET policy, agent-platform structure to strategy
  agents/foundry/specs/azure-strategy/CLOUD_ADOPTION_STRATEGY.md
Due: none

📝 docs(agents): add canonical source mapping per repo to strategy
  agents/foundry/specs/azure-strategy/CLOUD_ADOPTION_STRATEGY.md
Due: none
