Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$

feat(copilot): add ipai_odoo_copilot spec kit + governance patches
  docs/governance/DEV_TOOLING_TARGET_STATE.md
  docs/governance/TEST_STRATEGY_TARGET_STATE.md
  spec/ipai-odoo-copilot/constitution.md
  spec/ipai-odoo-copilot/plan.md
  spec/ipai-odoo-copilot/prd.md
  spec/ipai-odoo-copilot/tasks.md
Due: validate-spec-kit

feat(spec): add Strategy Control Plane — reverse Viva Goals successor
  spec/strategy-control-plane/constitution.md
  spec/strategy-control-plane/plan.md
  spec/strategy-control-plane/prd.md
  spec/strategy-control-plane/tasks.md
Due: validate-spec-kit

feat(spec): rename Strategy Control Plane → Diva Goals — AI-native agentic SDLC control plane
  docs/architecture/DIVA_GOALS_TARGET_STATE.md
  spec/diva-goals/constitution.md
  spec/diva-goals/plan.md
  spec/diva-goals/prd.md
  spec/diva-goals/tasks.md
  spec/strategy-control-plane/constitution.md
  spec/strategy-control-plane/plan.md
  spec/strategy-control-plane/prd.md
  spec/strategy-control-plane/tasks.md
  ssot/platform/diva_goals.yaml
Due: validate-spec-kit

feat(diva-goals): add capability axis + Agent Framework architecture
  docs/architecture/DIVA_GOALS_TARGET_STATE.md
  spec/diva-goals/constitution.md
  spec/diva-goals/plan.md
  spec/diva-goals/prd.md
  spec/diva-goals/tasks.md
  ssot/platform/diva_goals.yaml
Due: validate-spec-kit

feat(diva-goals): Phase 1.5 — contracts, KB segments, CI gates, authority map
  .github/workflows/diva-kb-check.yml
  .github/workflows/diva-skills-check.yml
  .github/workflows/diva-spec-check.yml
  .github/workflows/diva-workflows-check.yml
  agents/knowledge/kb_agent_capability.yaml
  agents/knowledge/kb_execution.yaml
  agents/knowledge/kb_governance.yaml
  agents/knowledge/kb_odoo_tax_runtime.yaml
  agents/knowledge/kb_people_capability.yaml
  agents/knowledge/kb_strategy.yaml
  agents/knowledge/kb_tax_evidence.yaml
  agents/knowledge/kb_tax_policy_ph.yaml
  docs/architecture/ADO_GITHUB_AUTHORITY_MAP_2026.md
  platform/contracts/diva_goals/agent_run_ref.schema.json
  platform/contracts/diva_goals/approval_event.schema.json
  platform/contracts/diva_goals/evidence_ref.schema.json
  platform/contracts/diva_goals/review_snapshot.schema.json
  ssot/governance/ado_github_authority_map.yaml
Due: none

feat(diva-goals): Phase 2 — web app shell + Odoo bridge stubs
  addons/ipai/ipai_odoo_copilot/models/__init__.py
  addons/ipai/ipai_odoo_copilot/models/ipai_copilot_action_queue.py
  addons/ipai/ipai_odoo_copilot/services/__init__.py
  addons/ipai/ipai_odoo_copilot/services/diva_bridge.py
  addons/ipai/ipai_odoo_copilot/services/odoo_context_builder.py
  web/apps/diva-goals/app/layout.tsx
  web/apps/diva-goals/app/page.tsx
  web/apps/diva-goals/app/reviews/[goalId]/page.tsx
  web/apps/diva-goals/app/reviews/page.tsx
  web/apps/diva-goals/package.json
  web/packages/ui/src/patterns/AppShell.tsx
  web/packages/ui/src/patterns/ApprovalDrawer.tsx
  web/packages/ui/src/patterns/CopilotPanel.tsx
  web/packages/ui/src/patterns/ReviewLayout.tsx
Due: no-enterprise-deps

docs(identity): add Entra ID target state — P1 minimum, CA after upgrade, MI-first
  docs/architecture/ENTRA_TARGET_STATE_2026.md
  ssot/identity/entra_target_state.yaml
Due: none

chore(repo): update tooling config and CI workflows
  .claude/settings.json
  .github/workflows/agent-deployments-hardening.yml
  .github/workflows/agent-factory-release-gates.yml
  .github/workflows/deploy-ipai-landing.yml
  .github/workflows/deploy-saas-landing.yml
  .github/workflows/docs-contract.yml
  .github/workflows/eval-engine-hardening.yml
  .github/workflows/task-router-hardening.yml
  .mcp.json
  .vscode/settings.json
  CLAUDE.md
  README.md
Due: none

feat(addons): update copilot, finance PPM, bank recon, and tax modules
  addons/ipai/ipai_bank_recon/__init__.py
  addons/ipai/ipai_bank_recon/__manifest__.py
  addons/ipai/ipai_bank_recon/data/reconciliation_rules.xml
  addons/ipai/ipai_bank_recon/models/__init__.py
  addons/ipai/ipai_bank_recon/models/bank_statement_line.py
  addons/ipai/ipai_bank_recon/models/reconciliation_agent.py
  addons/ipai/ipai_bank_recon/security/ir.model.access.csv
  addons/ipai/ipai_bank_recon/tests/test_recon_logic_pure.py
  addons/ipai/ipai_bank_recon/tests/test_recon_red_team.py
  addons/ipai/ipai_bank_recon/tests/test_recon_red_team_logic.py
  addons/ipai/ipai_bank_recon/tests/test_recon_runtime.py
  addons/ipai/ipai_bank_recon/tests/test_recon_staging_smoke.py
  addons/ipai/ipai_bank_recon/tests/test_recon_staging_smoke_logic.py
  addons/ipai/ipai_bank_recon/views/bank_statement_line_views.xml
  addons/ipai/ipai_bir_tax_compliance/tests/fixtures/tax_pulse_acceptance_fixtures.json
  addons/ipai/ipai_bir_tax_compliance/tests/test_tax_pulse_acceptance.py
  addons/ipai/ipai_document_intelligence/models/ocr_client.py
  addons/ipai/ipai_finance_ppm/__manifest__.py
  addons/ipai/ipai_finance_ppm/controllers/main.py
  addons/ipai/ipai_finance_ppm/tests/__init__.py
  addons/ipai/ipai_finance_ppm/tests/test_ppm_smoke.py
  addons/ipai/ipai_finance_ppm/views/account_analytic_account_views.xml
  addons/ipai/ipai_finance_ppm/views/ipai_finance_ppm_menus.xml
  addons/ipai/ipai_finance_ppm/views/okr_dashboard_action.xml
  addons/ipai/ipai_finance_ppm/wizards/ppm_import_wizard.py
  addons/ipai/ipai_odoo_copilot/__init__.py
  addons/ipai/ipai_odoo_copilot/__manifest__.py
  addons/ipai/ipai_odoo_copilot/controllers/copilot_gateway.py
  addons/ipai/ipai_odoo_copilot/models/__init__.py
  addons/ipai/ipai_odoo_copilot/models/copilot_conversation.py
  addons/ipai/ipai_odoo_copilot/models/copilot_message.py
  addons/ipai/ipai_odoo_copilot/security/copilot_groups.xml
  addons/ipai/ipai_odoo_copilot/security/ir.model.access.csv
  addons/ipai/ipai_odoo_copilot/static/src/js/copilot_service.js
  addons/ipai/ipai_odoo_copilot/static/src/xml/copilot_systray.xml
Due: no-enterprise-deps, odoo-manifest-check

docs(architecture): converge repo to canonical target state
  .github/workflows/ssot-yaml-lint.yml
  docs/architecture/A2A_INTEROP.md
  docs/architecture/AGENTOPS_DOCTRINE.md
  docs/architecture/AI_RUNTIME_AUTHORITY.md
  docs/architecture/ASSISTANT_SURFACES.md
  docs/architecture/DOMAIN_INTELLIGENCE_SHELLS.md
  docs/architecture/GO_LIVE_MATRIX.md
  docs/architecture/REPO_BOUNDARIES.md
  docs/architecture/RETRIEVAL_AND_MEMORY_POLICY.md
  docs/architecture/TENANCY_MODEL.md
  spec/w9-studio-copilot/constitution.md
  spec/w9-studio-copilot/plan.md
  spec/w9-studio-copilot/prd.md
  spec/w9-studio-copilot/tasks.md
  ssot/agents/assistant_surfaces.yaml
  ssot/agents/diva_copilot.yaml
  ssot/architecture/tenancy_model.yaml
  ssot/governance/agentops_policy.yaml
  ssot/governance/copilot_release_stages.yaml
  ssot/repo/ownership-boundaries.yaml
Due: validate-spec-kit

docs(repo): rewrite README as concise front door, add LICENSE and CONTRIBUTING
  CONTRIBUTING.md
  LICENSE
  README.md
Due: none

docs(repo): rewrite README as concise front door, add LICENSE and CONTRIBUTING (#631)
  CONTRIBUTING.md
  LICENSE
  README.md
Due: none

docs(architecture): apply full A2A interop doctrine across surfaces
  docs/architecture/A2A_INTEROP.md
  docs/architecture/ASSISTANT_SURFACES.md
  ssot/agents/assistant_surfaces.yaml
Due: none

fix(landing): wire all routes, links, CTAs, and add mobile navigation
  web/ipai-landing/package.json
  web/ipai-landing/scripts/smoke-test-routes.ts
  web/ipai-landing/src/App.tsx
Due: none

fix(infra): resolve P0 enterprise benchmark blockers
  docs/runbooks/DR_BACKUP_RESTORE.md
  infra/azure/modules/app-insights.bicep
  infra/azure/modules/log-analytics.bicep
  infra/azure/modules/postgres-flexible.bicep
  infra/azure/modules/vnet.bicep
  infra/ssot/security/access_model.yaml
Due: none

fix(infra): resolve P0 enterprise benchmark blockers (#637)
  docs/runbooks/DR_BACKUP_RESTORE.md
  infra/azure/modules/app-insights.bicep
  infra/azure/modules/log-analytics.bicep
  infra/azure/modules/postgres-flexible.bicep
  infra/azure/modules/vnet.bicep
  infra/ssot/security/access_model.yaml
  web/ipai-landing/package.json
  web/ipai-landing/scripts/smoke-test-routes.ts
  web/ipai-landing/src/App.tsx
Due: none

feat(skills): add 9 Azure/Odoo benchmark gap-closure skills with Microsoft Learn MCP
  .codex/config.toml
  .github/skills/README.md
  .github/skills/aca-private-networking/SKILL.md
  .github/skills/aca-private-networking/examples.md
  .github/skills/azure-observability-baseline/SKILL.md
  .github/skills/azure-observability-baseline/examples.md
  .github/skills/azure-pg-ha-dr/SKILL.md
  .github/skills/azure-pg-ha-dr/examples.md
  .github/skills/azure-policy-guardrails/SKILL.md
  .github/skills/azure-policy-guardrails/examples.md
  .github/skills/entra-mfa-ca-hardening/SKILL.md
  .github/skills/entra-mfa-ca-hardening/examples.md
  .github/skills/odoo-copilot-evals/SKILL.md
  .github/skills/odoo-copilot-evals/examples.md
  .github/skills/odoo-image-supply-chain/SKILL.md
  .github/skills/odoo-image-supply-chain/examples.md
  .github/skills/odoo-release-promotion/SKILL.md
  .github/skills/odoo-release-promotion/examples.md
  .github/skills/service-matrix-truth/SKILL.md
  .github/skills/service-matrix-truth/examples.md
Due: none

feat(skills): Azure/Odoo benchmark gap-closure skill pack (#638)
  .codex/config.toml
  .github/skills/README.md
  .github/skills/aca-private-networking/SKILL.md
  .github/skills/aca-private-networking/examples.md
  .github/skills/azure-observability-baseline/SKILL.md
  .github/skills/azure-observability-baseline/examples.md
  .github/skills/azure-pg-ha-dr/SKILL.md
  .github/skills/azure-pg-ha-dr/examples.md
  .github/skills/azure-policy-guardrails/SKILL.md
  .github/skills/azure-policy-guardrails/examples.md
  .github/skills/entra-mfa-ca-hardening/SKILL.md
  .github/skills/entra-mfa-ca-hardening/examples.md
  .github/skills/odoo-copilot-evals/SKILL.md
  .github/skills/odoo-copilot-evals/examples.md
  .github/skills/odoo-image-supply-chain/SKILL.md
  .github/skills/odoo-image-supply-chain/examples.md
  .github/skills/odoo-release-promotion/SKILL.md
  .github/skills/odoo-release-promotion/examples.md
  .github/skills/service-matrix-truth/SKILL.md
  .github/skills/service-matrix-truth/examples.md
Due: none

Apply full A2A interop doctrine (#632)
  docs/architecture/A2A_INTEROP.md
  docs/architecture/ASSISTANT_SURFACES.md
  ssot/agents/assistant_surfaces.yaml
Due: none
