Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

no-enterprise-deps:
  name: No Enterprise Dependencies
  entry: bash -c 'scripts/policy-check.sh --diff || true'
  language: system
  pass_filenames: false

validate-spec-kit:
  name: Validate Spec Kit
  entry: bash -c 'scripts/validate-spec-kit.sh || true'
  language: system
  pass_filenames: false

odoo-manifest-check:
  name: Odoo Manifest Validator
  entry: python3 scripts/validate_manifest.py
  language: system
  pass_filenames: false

fix(landing): restore Works With stack marquee with color logos
  web/ipai-landing/src/App.tsx
Due: none

fix(landing): move color logo marquee after Shared cross-industry pillars
  web/ipai-landing/src/App.tsx
Due: none

feat(landing): add OG card and Twitter meta tags
  web/ipai-landing/index.html
Due: none

feat(landing): add LLM optimization, SEO, and agent discovery
  web/ipai-landing/index.html
  web/ipai-landing/public/.well-known/agent.json
  web/ipai-landing/public/llms.txt
  web/ipai-landing/public/robots.txt
  web/ipai-landing/public/sitemap.xml
Due: none

test(pulser): add 34-scenario test suite for landing assistant
  web/ipai-landing/tests/pulser-assistant.test.ts
Due: none

feat(pulser): wire Foundry Agent Service with mock fallback
  web/ipai-landing/server.ts
Due: none

fix(pulser): correct Foundry API version to 2024-10-01-preview
  web/ipai-landing/server.ts
Due: none

docs(architecture): add Entra governance baseline as P0 control-plane
  docs/architecture/ENTRA_GOVERNANCE_BASELINE.md
Due: none

feat(ssot): add Entra app registration SSOT — Odoo as Azure-native workload
  ssot/entra/app_registrations.azure_native.yaml
Due: none

feat(ssot): add Foundry Python SDK surface SSOT with package governance
  ssot/foundry/python_sdk_surfaces.yaml
Due: none

feat(odoo): wire Foundry Agent Service and Document Intelligence to Pulser
  addons/ipai/ipai_odoo_copilot/models/__init__.py
  addons/ipai/ipai_odoo_copilot/models/doc_intelligence_service.py
  addons/ipai/ipai_odoo_copilot/models/foundry_service.py
Due: no-enterprise-deps

fix(landing): deduplicate Book Demo CTA, wire all to real calendar
  web/ipai-landing/src/App.tsx
Due: none

fix(landing): replace dead Google Calendar link with #contact page
  web/ipai-landing/public/llms.txt
  web/ipai-landing/server.ts
  web/ipai-landing/src/App.tsx
  web/ipai-landing/src/components/AskPulser.tsx
Due: none

feat(landing): wire Zoho Bookings and Zoho Mail across all CTAs
  web/ipai-landing/public/llms.txt
  web/ipai-landing/server.ts
  web/ipai-landing/src/App.tsx
  web/ipai-landing/src/components/AskPulser.tsx
Due: none

fix(pulser): remove solid teal dot from widget header
  web/ipai-landing/src/components/AskPulser.tsx
Due: none

feat(odoo): add ipai_web_branding with dark/cyan login page
  addons/ipai/ipai_web_branding/static/src/scss/login.scss
Due: none

fix(ci): hoist Databricks env to workflow scope, remove duplicated job-level env blocks
  .github/workflows/databricks-bundles-ci.yml
Due: none

fix(docker): explicit glob patterns in .dockerignore for subdirectory inclusion
  .dockerignore
Due: none

fix(copilot): remove phantom imports for non-existent model files
  addons/ipai/ipai_odoo_copilot/models/__init__.py
Due: no-enterprise-deps

fix(addons): remove 14 phantom imports across enterprise_bridge and copilot
  addons/ipai/ipai_enterprise_bridge/models/__init__.py
  addons/ipai/ipai_enterprise_bridge/tests/__init__.py
  addons/ipai/ipai_odoo_copilot/tests/__init__.py
Due: no-enterprise-deps

fix(copilot): resolve schema warnings and add phantom-import lint
  addons/ipai/ipai_odoo_copilot/__manifest__.py
  addons/ipai/ipai_odoo_copilot/migrations/19.0.1.1.1/pre-migrate.py
  scripts/ci/check_phantom_imports.py
Due: no-enterprise-deps, odoo-manifest-check

test(addons): add phantom-import guardrail for addon __init__.py files
  tests/test_no_phantom_addon_imports.py
Due: no-enterprise-deps

docs(foundry): encode Foundry lifecycle contract and platform framing
  docs/architecture/COPILOT_AGENT_GAP_ANALYSIS.md
  spec/agent-platform/plan.md
  ssot/foundry/runtime_inventory.yaml
Due: validate-spec-kit

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$
