Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

no-enterprise-deps:
  name: No Enterprise Dependencies
  entry: bash -c 'scripts/policy-check.sh --diff || true'
  language: system
  pass_filenames: false

validate-spec-kit:
  name: Validate Spec Kit
  entry: bash -c 'scripts/validate-spec-kit.sh || true'
  language: system
  pass_filenames: false

odoo-manifest-check:
  name: Odoo Manifest Validator
  entry: python3 scripts/validate_manifest.py
  language: system
  pass_filenames: false

feat(saas-platform): Phase 1 foundation - Spec bundle + billing migrations
  spec/ipai-saas-platform-kit/README.md
  spec/ipai-saas-platform-kit/constitution.md
  spec/ipai-saas-platform-kit/plan.md
  spec/ipai-saas-platform-kit/prd.md
  spec/ipai-saas-platform-kit/tasks.md
  supabase/migrations/20260212000000_billing_usage_tracking.sql
Due: validate-spec-kit

docs(saas-platform): Add comprehensive implementation status tracker
  spec/ipai-saas-platform-kit/IMPLEMENTATION_STATUS.md
Due: validate-spec-kit

feat(parity): lock Tier-0 acceptance probes (repo-verifiable, config-driven)
  config/parity/PARITY_GOALS.yaml
  config/parity/TIER0_PROBES.yaml
  docs/parity/EE_SURFACE_CATALOG.yaml
  scripts/parity/parity_check.py
Due: no-enterprise-deps

docs(parity): add Tier-0 locked probes verification report
  docs/evidence/20260211-tier0-locked/VERIFICATION.md
Due: none

docs(git): branch cleanup summary - removed 15 stale branches
  docs/evidence/20260211-branch-cleanup/CLEANUP_SUMMARY.md
Due: none

feat(parity): lock Tier-0 acceptance gate; publish goal-based reports and CI gate
  .github/workflows/parity-tier0.yml
  config/parity/PARITY_GOALS.yaml
  config/parity/TIER0_PROBES.yaml
  docs/evidence/migration-evidence-20260211/migration_report.md
  docs/evidence/migration-evidence-20260211/upgrade_rehearsal_logs.json
  docs/evidence/upgrade-evidence-20260211/upgrade_report.json
  docs/parity/ee_to_oca_map.yml
  scripts/parity/evaluate_goals.py
  scripts/parity/goals.yaml
  scripts/parity/parity_check.py
  spec/ipai-saas-platform-kit/prd.md
Due: no-enterprise-deps, validate-spec-kit

feat(integrations): port odoo-proxy and plane-sync from odoo-kit; update .env.example
  supabase/functions/_shared/supabase-client.ts
  supabase/functions/odoo-proxy/index.ts
  supabase/functions/plane-sync/index.ts
Due: none

docs(competency): add accounting month-end close + tax compliance boards with PH locale overlay
  docs/competency/accounting/COMPETENCY_BOARD.md
  docs/competency/accounting/locales/ph/philippines_tax.yaml
  docs/competency/accounting/month_end_close.yaml
  docs/competency/accounting/role_matrix.csv
  docs/competency/accounting/tax_compliance.yaml
  scripts/competency/validate_and_render.py
Due: no-enterprise-deps

feat(parity): add SAP Concur surface catalog + Odoo 19 parity mapping with PH tax overlay
  catalogs/locales/philippines_tax.yaml
  catalogs/sap_concur_surface_catalog.yaml
  docs/parity/mappings/concur_to_odoo19.yaml
Due: none

feat(parity): add catalog infrastructure + enhanced PH tax overlay + Concur→Odoo19CE mapping with Odoo.sh constraints
  config/parity/PARITY_GOALS.yaml
  config/parity/TIER0_PROBES.yaml
  config/parity/locales/philippines_tax.yaml
  config/parity/mappings/concur_to_odoo19ce.yaml
  scripts/crawl_site.sh
  scripts/html_catalog.py
Due: no-enterprise-deps

feat(agent-library): add prompt pack v1 with crawl/catalog/distill + schemas + CI validation
  .github/workflows/agent-library-validate.yml
  agent-library/Makefile
  agent-library/README.md
  agent-library/ci/requirements.txt
  agent-library/schemas/capability_atoms.schema.json
  agent-library/schemas/ux_patterns.schema.json
  agent-library/scripts/distill.py
  agent-library/scripts/run_catalog.py
  agent-library/scripts/run_crawl.py
  agent-library/scripts/validate_outputs.py
  agent-library/templates/sources.yaml
Due: no-enterprise-deps

feat(agent-library): add locale overlay + product mapping schemas with enhanced validator
  agent-library/schemas/locale_overlay.schema.json
  agent-library/schemas/product_mapping.schema.json
  agent-library/scripts/validate_outputs.py
Due: no-enterprise-deps

feat(agent-library): add PH tax overlay + Concur mapping + domain-specific agent prompts (finance/erp/platform/mobile)
  agent-library/prompts/erp/concur-to-odoo-mapper.md
  agent-library/prompts/finance/ph-close-tax-pack.md
  agent-library/prompts/mobile/supabase-flutter-starter.md
  agent-library/prompts/platform/odoo-sh-constraints-guard.md
  spec/ipai-enterprise-workbench/constitution.md
  spec/ipai-enterprise-workbench/prd.md
  spec/ipai-enterprise-workbench/tasks.md
  spec/ipai-odoo-saas-platform/constitution.md
  spec/ipai-odoo-saas-platform/plan.md
  spec/ipai-odoo-saas-platform/prd.md
  spec/ipai-odoo-saas-platform/tasks.md
  spec/ipai-saas-platform-kit/prd.md
  spec/mappings/concur_to_odoo19_ce_oca_ipai.yaml
  spec/odoo19-ee-surface-parity/constitution.md
  spec/odoo19-ee-surface-parity/plan.md
  spec/odoo19-ee-surface-parity/prd.md
  spec/odoo19-ee-surface-parity/tasks.md
  spec/taxonomy/philippines_tax.yaml
  spec/vercel-enterprise-plus/constitution.md
  spec/vercel-enterprise-plus/plan.md
  spec/vercel-enterprise-plus/prd.md
  spec/vercel-enterprise-plus/tasks.md
Due: validate-spec-kit

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$
