Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

no-enterprise-deps:
  name: No Enterprise Dependencies
  entry: bash -c 'scripts/policy-check.sh --diff || true'
  language: system
  pass_filenames: false

validate-spec-kit:
  name: Validate Spec Kit
  entry: bash -c 'scripts/validate-spec-kit.sh || true'
  language: system
  pass_filenames: false

odoo-manifest-check:
  name: Odoo Manifest Validator
  entry: python3 scripts/validate_manifest.py
  language: system
  pass_filenames: false

feat(spec): add 5-plane architecture decomposition to odoo-erp-saas spec
  spec/odoo-erp-saas/constitution.md
  spec/odoo-erp-saas/prd.md
Due: validate-spec-kit

docs(readme): add repo status, metadata, SSOT boundary, and decomposition policy
  README.md
Due: none

feat(plane): ChatGPT-Plane MCP integration with write tools
  mcp/servers/plane/index.ts
  spec/chatgpt-ops-assistant/tasks.md
  ssot/integrations/plane_mcp.yaml
  supabase/functions/ops-assistant/index.ts
  supabase/functions/ops-assistant/lib/plane-api.ts
Due: validate-spec-kit

feat(docker): replace edge-standard with canonical ipai-odoo-runtime image
  .github/workflows/build-unified-image.yml
  .github/workflows/cd-docr-deploy.yml
  .github/workflows/docker-build-odoo.yml
  Dockerfile
  config/prod/odoo.conf
  config/stage/odoo.conf
  docker/Dockerfile.unified
  docker/compose/prod.yml
  docker/compose/stage.yml
Due: none

docs(architecture): define canonical ipai-odoo-runtime image contract
  README.md
  docs/architecture/ADDONS_STRUCTURE_BOUNDARY.md
  docs/architecture/CANONICAL_RUNTIME_IMAGE.md
  spec/odoo-erp-saas/prd.md
Due: validate-spec-kit

docs(azure-ssot): add Azure SSOT artifacts, CI validator, and ERP positioning lock
  .github/workflows/azure-ssot-consistency.yml
  CI_CD_AUTOMATION_SUMMARY.md
  CLAUDE.md
  agents/AGENT_SKILLS_REGISTRY.yaml
  agents/capabilities/CAPABILITY_MATRIX.yaml
  agents/knowledge/KNOWLEDGE_BASE_INDEX.yaml
  docs/api/openapi.ipai_ai_platform.yaml
  docs/deployment/README.md
  docs/diagrams/mappings/azure_to_do_supabase_odoo.yaml
  docs/governance/ERP_POSITIONING.md
  mcp/servers/odoo-erp.yaml
  mcp/servers/odoo-lab.yaml
  scripts/ci/check_azure_ssot.py
  spec/azure-target-state/prd.md
  spec/odoo-copilot-azure/prd.md
  ssot/azure/dns-migration-plan.yaml
  ssot/azure/service-matrix.yaml
  ssot/azure/target-state.yaml
Due: no-enterprise-deps, validate-spec-kit

feat(spec): add Odoo Copilot Marketplace PRD
  spec/odoo-copilot-marketplace/prd.md
Due: validate-spec-kit

docs(architecture): add module decision rubric
  docs/architecture/MODULE_DECISION_RUBRIC.md
Due: none

fix(spec): add missing spec bundle files for odoo-copilot-marketplace
  spec/odoo-copilot-marketplace/constitution.md
  spec/odoo-copilot-marketplace/plan.md
  spec/odoo-copilot-marketplace/tasks.md
Due: validate-spec-kit

fix(spec): complete all 8 incomplete spec bundles to pass validation gate
  spec/ai-bridge/constitution.md
  spec/ai-bridge/tasks.md
  spec/ee-oca-parity/plan.md
  spec/ee-oca-parity/tasks.md
  spec/finance-ppm/tasks.md
  spec/github-integrations/plan.md
  spec/github-integrations/tasks.md
  spec/infra-well-architected/plan.md
  spec/infra-well-architected/tasks.md
  spec/odoo-supabase-deployment/plan.md
  spec/odoo-supabase-deployment/tasks.md
  spec/openclaw-contract-review/plan.md
  spec/openclaw-contract-review/prd.md
  spec/openclaw-contract-review/tasks.md
  spec/schema-appreciation/constitution.md
  spec/skill-intake-anthropic/plan.md
  spec/skill-intake-anthropic/tasks.md
Due: validate-spec-kit

feat(oca): add CRM repo + upgrade must-have install script
  oca-aggregate.yml
  scripts/odoo_install_oca_must_have.sh
Due: none

feat(deploy): add Azure Container Apps IaC and fix deploy workflow
  .github/workflows/odoo-azure-deploy.yml
  docs/operations/AZURE_TROUBLESHOOTING_INDEX.md
  infra/azure/modules/acr.bicep
  infra/azure/modules/container-apps.bicep
  infra/azure/modules/postgres-flexible.bicep
  infra/azure/odoo-runtime.bicep
  infra/azure/parameters/odoo-dev.parameters.json
  infra/azure/parameters/odoo-prod.parameters.json
Due: none

docs(wave2): add entity map, finance control specs, integration architecture, and canonical seed data
  config/finance/README.md
  config/finance/WORKBOOK_V2_CHANGELOG.md
  config/finance/bir_filing_tasks_v2.csv
  config/finance/finance_odoo_import.csv
  config/finance/month_end_tasks_v2.csv
  config/finance/supabase_logframe_finance.csv
  docs/architecture/CANONICAL_ENTITY_MAP.md
  docs/architecture/CANONICAL_ENTITY_MAP.yaml
  docs/architecture/INTEGRATION_BOUNDARY_MODEL.md
  docs/architecture/SUPABASE_CONTROL_PLANE.md
  scripts/finance/export_seed_workbook.py
  spec/integration-control-plane/constitution.md
  spec/integration-control-plane/plan.md
  spec/integration-control-plane/prd.md
  spec/integration-control-plane/tasks.md
  spec/odoo-ap-invoice-control/constitution.md
  spec/odoo-ap-invoice-control/plan.md
  spec/odoo-ap-invoice-control/prd.md
  spec/odoo-ap-invoice-control/tasks.md
  spec/odoo-approval-inbox/constitution.md
  spec/odoo-approval-inbox/plan.md
  spec/odoo-approval-inbox/prd.md
  spec/odoo-approval-inbox/tasks.md
  spec/odoo-bir-filing-control/constitution.md
  spec/odoo-bir-filing-control/plan.md
  spec/odoo-bir-filing-control/prd.md
  spec/odoo-bir-filing-control/tasks.md
  spec/odoo-tne-control/constitution.md
  spec/odoo-tne-control/plan.md
  spec/odoo-tne-control/prd.md
  spec/odoo-tne-control/tasks.md
Due: no-enterprise-deps, validate-spec-kit

docs(copilot): add Odoo Copilot on Azure spec bundle (Foundry + Agent Framework + MCP)
  spec/odoo-copilot-azure/constitution.md
  spec/odoo-copilot-azure/plan.md
  spec/odoo-copilot-azure/prd.md
  spec/odoo-copilot-azure/tasks.md
Due: validate-spec-kit

docs(control-room): add Control Room Platform spec, governance, and CI validators
  .github/workflows/control-room-governance.yml
  agents/PRIORITIZED_ROADMAP.md
  docs/architecture/CONTROL_ROOM_RUNTIME_STATE.md
  docs/governance/ENTERPRISE_KPI_MODEL.md
  docs/governance/ENTERPRISE_OPERATING_MODEL.md
  docs/governance/ENTERPRISE_STACK_INDEX.md
  docs/governance/REPOSITORY_TAXONOMY.md
  docs/governance/repository_taxonomy.schema.json
  docs/governance/repository_taxonomy.yaml
  docs/portfolio/specs/ipai-copilot/constitution.md
  docs/portfolio/specs/ipai-copilot/plan.md
  docs/portfolio/specs/ipai-copilot/prd.md
  docs/portfolio/specs/ipai-copilot/tasks.md
  platform/data/contracts/control_room_events.yaml
  platform/data/contracts/control_room_kpis.yaml
  scripts/ci/check_control_room_spec.py
  scripts/ci/check_kpi_contracts.py
  scripts/ci/check_repository_taxonomy.py
  spec/control-room-platform/constitution.md
  spec/control-room-platform/plan.md
  spec/control-room-platform/prd.md
  spec/control-room-platform/tasks.md
Due: no-enterprise-deps, validate-spec-kit

docs(azure-ssot): add Azure SSOT artifacts, CI validator, and ERP positioning lock
  .github/workflows/azure-ssot-consistency.yml
  CLAUDE.md
  agents/AGENT_SKILLS_REGISTRY.yaml
  agents/capabilities/CAPABILITY_MATRIX.yaml
  agents/knowledge/KNOWLEDGE_BASE_INDEX.yaml
  agents/mcp/servers/odoo-erp.yaml
  agents/mcp/servers/odoo-lab.yaml
  docs/api/openapi.ipai_ai_platform.yaml
  docs/deployment/README.md
  docs/diagrams/mappings/azure_to_do_supabase_odoo.yaml
  docs/governance/ERP_POSITIONING.md
  docs/guides/infrastructure/CI_CD_AUTOMATION_SUMMARY.md
  scripts/ci/check_azure_ssot.py
  spec/azure-target-state/prd.md
  spec/odoo-copilot-azure/prd.md
  ssot/azure/dns-migration-plan.yaml
  ssot/azure/service-matrix.yaml
  ssot/azure/target-state.yaml
Due: no-enterprise-deps, validate-spec-kit

feat(azure): phase-gated SSOT-aligned bootstrap scaffolding
  .claude/agents/azure-startup-advisor.md
  docs/ai/azure_startup_knowledge.md
  docs/architecture/AZURE_STARTUP_EVIDENCE.md
  infra/azure/azure.yaml
  infra/azure/platform/main.bicep
Due: none

docs(research): add draw.io deep research report with SAP Signavio comparison
  docs/research/DRAWIO_DEEP_RESEARCH.md
Due: none

docs(research): add BPMN 2.0 limitations, Visio export removal, BPM alternatives
  docs/research/DRAWIO_DEEP_RESEARCH.md
Due: none

docs(research): add MCP server, Cloud Fortified, Zero Egress, Seibert Group details
  docs/research/DRAWIO_DEEP_RESEARCH.md
Due: none

docs(research): add Azure Architecture Center & Assessments deep index
  docs/research/AZURE_ARCHITECTURE_CENTER_INDEX.md
Due: none

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$
