Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

no-enterprise-deps:
  name: No Enterprise Dependencies
  entry: bash -c 'scripts/policy-check.sh --diff || true'
  language: system
  pass_filenames: false

validate-spec-kit:
  name: Validate Spec Kit
  entry: bash -c 'scripts/validate-spec-kit.sh || true'
  language: system
  pass_filenames: false

odoo-manifest-check:
  name: Odoo Manifest Validator
  entry: python3 scripts/validate_manifest.py
  language: system
  pass_filenames: false

feat(governance): repo mirroring, skills intake, meta-module taxonomy
  .github/workflows/sync-anthropic-skills.yml
  agents/skills/_templates/anthropic_port/SKILL_PORT.md
  agents/skills/_templates/anthropic_port/inputs.schema.json
  agents/skills/_templates/anthropic_port/metadata.yaml
  agents/skills/_templates/anthropic_port/outputs.schema.json
  docs/agents/SKILLS_SOURCES.md
  docs/architecture/ODOO19_REPO_MIRRORING.md
  scripts/ci/check_parity_boundaries.sh
  scripts/skills/index_anthropic_skills.py
  scripts/vendor/sync_anthropic_skills.sh
  spec/ee-oca-parity/constitution.md
  spec/skill-intake-anthropic/constitution.md
  spec/skill-intake-anthropic/prd.md
  third_party/anthropic_skills/README.md
Due: no-enterprise-deps, validate-spec-kit

chore(devcontainer): unify workspace and odoo runtime root
  .claude/superclaude_bridge.yaml
  .env.production
  .github/workflows/aiux-ship-gate.yml
  .github/workflows/root-allowlist-guard.yml
  .gitignore
  config/aiux_ship_manifest.yml
  config/devserver.config.json
  docs/architecture/REPO_HYGIENE_ROOT_CLEANUP.md
  docs/architecture/ROOT_ALLOWLIST.md
  docs/architecture/branch_protection.json
  figma/figma-make-dev.yaml
  figma/figma.config.json
  reports/repo_hygiene/root_file_moves_2026-02-17.json
  scripts/design-sync.sh
Due: none

feat(skills): extract 19 Odoo 19 developer skills from official documentation
  skills/odoo/ODOO19_SKILLS_INDEX.md
  skills/odoo/odoo19-actions/SKILL.md
  skills/odoo/odoo19-assets/SKILL.md
  skills/odoo/odoo19-cli/SKILL.md
  skills/odoo/odoo19-coding-guidelines/SKILL.md
  skills/odoo/odoo19-data-files/SKILL.md
  skills/odoo/odoo19-external-api/SKILL.md
  skills/odoo/odoo19-frontend/SKILL.md
  skills/odoo/odoo19-git-guidelines/SKILL.md
  skills/odoo/odoo19-http-controllers/SKILL.md
  skills/odoo/odoo19-mixins/SKILL.md
  skills/odoo/odoo19-module/SKILL.md
  skills/odoo/odoo19-orm/SKILL.md
  skills/odoo/odoo19-owl-components/SKILL.md
  skills/odoo/odoo19-performance/SKILL.md
  skills/odoo/odoo19-qweb/SKILL.md
  skills/odoo/odoo19-reports/SKILL.md
  skills/odoo/odoo19-security/SKILL.md
  skills/odoo/odoo19-testing/SKILL.md
  skills/odoo/odoo19-upgrade/SKILL.md
Due: none

chore(repo): ignore cloned odoo-docs directory
  .gitignore
Due: none

feat(skills): add Odoo 19.0 functional module skills (WIP - batch 1)
  skills/odoo19/accounting/SKILL.md
  skills/odoo19/appointments/SKILL.md
  skills/odoo19/appraisals/SKILL.md
  skills/odoo19/attendances/SKILL.md
  skills/odoo19/calendar/SKILL.md
  skills/odoo19/companies/SKILL.md
  skills/odoo19/crm/SKILL.md
  skills/odoo19/discuss/SKILL.md
  skills/odoo19/documents/SKILL.md
  skills/odoo19/email_communication/SKILL.md
  skills/odoo19/email_marketing/SKILL.md
  skills/odoo19/employees/SKILL.md
  skills/odoo19/esg/SKILL.md
  skills/odoo19/events/SKILL.md
  skills/odoo19/expenses/SKILL.md
  skills/odoo19/fiscal_localizations/SKILL.md
  skills/odoo19/integrations/SKILL.md
  skills/odoo19/inventory/SKILL.md
  skills/odoo19/iot/SKILL.md
  skills/odoo19/marketing_automation/SKILL.md
  skills/odoo19/payment_providers/SKILL.md
  skills/odoo19/payroll/SKILL.md
  skills/odoo19/point_of_sale/SKILL.md
  skills/odoo19/recruitment/SKILL.md
  skills/odoo19/sales/SKILL.md
  skills/odoo19/sign/SKILL.md
  skills/odoo19/sms_marketing/SKILL.md
  skills/odoo19/spreadsheet/SKILL.md
  skills/odoo19/studio/SKILL.md
  skills/odoo19/users/SKILL.md
  skills/odoo19/website/SKILL.md
Due: none

feat(skills): add more Odoo 19.0 functional module skills (WIP - batch 2)
  skills/odoo19/apps_modules/SKILL.md
  skills/odoo19/developer_mode/SKILL.md
  skills/odoo19/ecommerce/SKILL.md
  skills/odoo19/manufacturing/SKILL.md
  skills/odoo19/social_marketing/SKILL.md
  skills/odoo19/subscriptions/SKILL.md
  skills/odoo19/time_off/SKILL.md
  skills/odoo19/voip/SKILL.md
  skills/odoo19/whatsapp/SKILL.md
Due: none

feat(skills): add Odoo 19.0 module skills (WIP - batch 3)
  skills/odoo19/activities/SKILL.md
  skills/odoo19/administration/SKILL.md
  skills/odoo19/ai/SKILL.md
  skills/odoo19/barcode/SKILL.md
  skills/odoo19/contacts/SKILL.md
  skills/odoo19/dashboards/SKILL.md
  skills/odoo19/elearning/SKILL.md
  skills/odoo19/fleet/SKILL.md
  skills/odoo19/frontdesk/SKILL.md
  skills/odoo19/lunch/SKILL.md
  skills/odoo19/project/SKILL.md
  skills/odoo19/purchase/SKILL.md
  skills/odoo19/rental/SKILL.md
  skills/odoo19/surveys/SKILL.md
Due: none

feat(skills): add Odoo 19.0 module skills (WIP - batch 4)
  skills/odoo19/data_cleaning/SKILL.md
  skills/odoo19/export_import_data/SKILL.md
  skills/odoo19/forum/SKILL.md
  skills/odoo19/helpdesk/SKILL.md
Due: none

feat(skills): add Odoo 19.0 module skills (WIP - batch 5)
  skills/odoo19/planning/SKILL.md
  skills/odoo19/quality/SKILL.md
  skills/odoo19/referrals/SKILL.md
  skills/odoo19/reporting/SKILL.md
  skills/odoo19/search/SKILL.md
  skills/odoo19/to_do/SKILL.md
Due: none

feat(skills): add Odoo 19.0 module skills (WIP - batch 6)
  skills/odoo19/html_editor/SKILL.md
  skills/odoo19/keyboard_shortcuts/SKILL.md
  skills/odoo19/livechat/SKILL.md
  skills/odoo19/plm/SKILL.md
  skills/odoo19/timesheets/SKILL.md
Due: none

feat(skills): add Odoo 19.0 module skills (WIP - batch 7)
  skills/odoo19/blog/SKILL.md
  skills/odoo19/field_service/SKILL.md
  skills/odoo19/in_app_purchase/SKILL.md
  skills/odoo19/maintenance/SKILL.md
  skills/odoo19/repairs/SKILL.md
  skills/odoo19/stages/SKILL.md
Due: none

feat(skills): complete Odoo 19.0 functional module skills extraction
  skills/odoo19/INDEX.md
Due: none

feat(ai): wire Odoo Ask AI to ProviderRouter + close Ollama gaps
  .env.example
  addons/ipai/ipai_ai_agents_ui/controllers/main.py
  addons/ipai/ipai_ai_platform/models/ai_client.py
  infra/__init__.py
  infra/ai/__init__.py
  scripts/ci/check_llm_routing.sh
Due: no-enterprise-deps

chore(repo): tighten root hygiene guardrails
  .github/workflows/root-allowlist-guard.yml
  CONTRIBUTING.md
  scripts/ci/check_root_moves_backcompat.sh
Due: none

chore(devcontainer): mount workspace at /workspaces/odoo
  .devcontainer/WORKSPACE_ROOT.md
  .devcontainer/docker-compose.devcontainer.yml
Due: none

chore(devcontainer): enforce workspace root invariant
  .devcontainer/scripts/post-start.sh
  .devcontainer/scripts/verify-workspace-root.sh
  .github/workflows/devcontainer-invariants.yml
Due: none

chore(ci): add P0 severity threshold to automation sweep
  .github/workflows/automation-sweep.yml
  scripts/automations/sweep_repo.py
  spec/ops-automation-sweep/prd.md
Due: no-enterprise-deps, validate-spec-kit

chore(ci): add addons path invariants doc and CI check
  .github/workflows/canonical-gate.yml
  docs/architecture/ADDONS_PATH_INVARIANTS.md
  scripts/ci/check_addons_path_invariants.sh
Due: none

chore(oca): add ipai_* namespace policy and parity boundary check
  scripts/ci/check_parity_boundaries.sh
  spec/odoo-ee-parity-seed/constitution.md
Due: validate-spec-kit

chore(repo): root cleanup (move loose files into canonical folders) (#371)
  .claude/superclaude_bridge.yaml
  .devcontainer/WORKSPACE_ROOT.md
  .devcontainer/docker-compose.devcontainer.yml
  .devcontainer/scripts/post-start.sh
  .devcontainer/scripts/verify-workspace-root.sh
  .env.example
  .env.production
  .github/workflows/aiux-ship-gate.yml
  .github/workflows/devcontainer-invariants.yml
  .github/workflows/root-allowlist-guard.yml
  CONTRIBUTING.md
  addons/ipai/ipai_ai_agents_ui/controllers/main.py
  addons/ipai/ipai_ai_platform/models/ai_client.py
  config/aiux_ship_manifest.yml
  config/devserver.config.json
  docs/architecture/REPO_HYGIENE_ROOT_CLEANUP.md
  docs/architecture/ROOT_ALLOWLIST.md
  docs/architecture/branch_protection.json
  infra/__init__.py
  infra/ai/__init__.py
  reports/repo_hygiene/root_file_moves_2026-02-17.json
  scripts/ci/check_llm_routing.sh
  scripts/ci/check_root_moves_backcompat.sh
  scripts/design-sync.sh
Due: no-enterprise-deps

feat(sandbox): add Supabase booking backend for W9 Studio
  sandbox/dev/.artifacts/rotor-kinetic/.env.local.example
  sandbox/dev/.artifacts/rotor-kinetic/package.json
  sandbox/dev/.artifacts/rotor-kinetic/src/lib/bookings.ts
  sandbox/dev/.artifacts/rotor-kinetic/src/lib/supabase.ts
  sandbox/dev/.artifacts/rotor-kinetic/supabase/migrations/20260218_create_bookings.sql
Due: none

chore(ci): baseline parity boundary warnings + stronger invariant diagnostics
  docs/architecture/ADDONS_PATH_INVARIANTS.md
  scripts/ci/check_addons_path_invariants.sh
  scripts/ci/check_parity_boundaries.sh
  scripts/ci/parity_boundaries.baseline.txt
Due: none

docs(spec): define Supabase SSOT + Odoo SOR architectural boundaries
  docs/supabase/patterns/auth-rls-function-access.md
  docs/supabase/patterns/edge-functions-ci-deploy.md
  docs/supabase/patterns/edge-functions-worker.md
  docs/supabase/patterns/storage-multipart-upload.md
  docs/supabase/patterns/webhook-ingest-verify.md
  spec/odoo-ee-parity-seed/constitution.md
  spec/odoo-ee-parity-seed/plan.md
  spec/odoo-ee-parity-seed/spec.md
Due: validate-spec-kit

docs(architecture): codify addons structure boundary (OCA parity, ipai bridges)
  docs/architecture/ADDONS_STRUCTURE_BOUNDARY.md
  scripts/ci/baselines/parity_boundaries_baseline.json
  scripts/ci/check_parity_boundaries.sh
  spec/odoo-ee-parity-seed/constitution.md
Due: validate-spec-kit

chore(ci): enforce SSOT/SOR boundaries (shadow ledger gate + ownership template)
  .github/workflows/canonical-gate.yml
  config/ci/shadow_ledger_baseline.txt
  scripts/ci/check_shadow_ledger.sh
  spec/odoo-ee-parity-seed/plan.md
  spec/odoo-ee-parity-seed/prd.md
  templates/supabase-integration/OWNERSHIP_DECLARATION.md
Due: validate-spec-kit

chore(ci): block sandbox artifacts + add parity baseline burndown tasks
  .github/workflows/parity-governance-gate.yml
  .gitignore
  sandbox/dev/.artifacts/antigravity-design/DESIGN_SYSTEM.md
  sandbox/dev/.artifacts/antigravity-design/SUMMARY.md
  sandbox/dev/.artifacts/antigravity-design/antigravity-decompressed.html
  sandbox/dev/.artifacts/antigravity-design/antigravity.google/index.html.gz
  sandbox/dev/.artifacts/antigravity-design/antigravity.html
  sandbox/dev/.artifacts/antigravity-design/main-preview.js
  sandbox/dev/.artifacts/antigravity-design/styles-decompressed.css
  sandbox/dev/.artifacts/antigravity-design/styles.css
  sandbox/dev/.artifacts/rotor-kinetic/src/components/ui/BookingSection.jsx
  scripts/ci/check_no_artifacts_tracked.sh
  scripts/ci/next_parity_violations.sh
  spec/odoo-ee-parity-seed/tasks.md
Due: validate-spec-kit

docs(supabase): clarify SDK vs Platform Kit and canonical host app
  docs/supabase/SDK_VS_PLATFORM_KIT.md
  spec/odoo-ee-parity-seed/plan.md
Due: validate-spec-kit

spec(odoo-sh): add Spec Kit bundle for Odoo.sh-equivalent platform
  spec/odoo-sh/constitution.md
  spec/odoo-sh/plan.md
  spec/odoo-sh/prd.md
  spec/odoo-sh/tasks.md
Due: validate-spec-kit

spec(odoo-sh): tighten tasks to canonical paths + DoD format
  spec/odoo-sh/plan.md
  spec/odoo-sh/tasks.md
Due: validate-spec-kit

chore(spec): enhance PR template with spec path drift checks
  .github/pull_request_template.md
Due: none

docs(supabase): normalize W9 booking integration guide + ignore workspace artifacts
  .gitignore
  docs/supabase/W9_STUDIO_BOOKING_INTEGRATION.md
  web/docs/evidence/20260220-0645+0800/w9-studio-supabase/IMPLEMENTATION_SUMMARY.md
  web/docs/evidence/20260220-0645+0800/w9-studio-supabase/POLICY_COMPLIANCE_SUMMARY.md
  web/docs/evidence/20260220-0645+0800/w9-studio-supabase/logs/file-verification.log
  web/docs/evidence/20260220-0645+0800/w9-studio-supabase/logs/git-status.log
  web/docs/evidence/20260220-0645+0800/w9-studio-supabase/logs/implementation.log
  web/docs/evidence/20260220-0645+0800/w9-studio-supabase/logs/policy-compliance-patch.log
Due: none

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$
