Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

no-enterprise-deps:
  name: No Enterprise Dependencies
  entry: bash -c 'scripts/policy-check.sh --diff || true'
  language: system
  pass_filenames: false

validate-spec-kit:
  name: Validate Spec Kit
  entry: bash -c 'scripts/validate-spec-kit.sh || true'
  language: system
  pass_filenames: false

odoo-manifest-check:
  name: Odoo Manifest Validator
  entry: python3 scripts/validate_manifest.py
  language: system
  pass_filenames: false

fix(odoo): mount OCA repos referenced by addons_path + add CI guardrail (#395)
  .github/workflows/ci.yml
  addons/ipai/ipai_account_settings_compat/__manifest__.py
  addons/ipai/ipai_mail_bridge_zoho/models/mail_mail.py
  infra/stack/compose.stack.yml
  scripts/validate_addons_path.py
Due: no-enterprise-deps, odoo-manifest-check

feat(mail): add Mailgun text e2e harness (e2e_mailgun_text.py + run wrapper) (#398)
  scripts/mail/e2e_mailgun_text.py
  scripts/mail/run_e2e_mailgun_text.sh
Due: no-enterprise-deps

chore(deps): batch dependency updates — pytest/httpx/requests/jsonschema/pytest-cov (#397)
  ocr-adapter/requirements.txt
  requirements.txt
Due: none

feat(mail): add Odoo user invite e2e test (auth_signup.set_password_email)
  scripts/mail/e2e_odoo_invite.py
Due: no-enterprise-deps

feat(company): add ipai_company_scope_omc — deterministic OMC user scoping
  addons/ipai/ipai_company_scope_omc/__init__.py
  addons/ipai/ipai_company_scope_omc/__manifest__.py
  addons/ipai/ipai_company_scope_omc/data/company_marker.xml
  addons/ipai/ipai_company_scope_omc/models/__init__.py
  addons/ipai/ipai_company_scope_omc/models/res_company.py
  addons/ipai/ipai_company_scope_omc/models/res_users.py
  addons/ipai/ipai_company_scope_omc/security/ir.model.access.csv
  addons/ipai/ipai_company_scope_omc/security/security.xml
  docs/runbooks/BRANCH_HYGIENE.md
  scripts/company/__init__.py
  scripts/company/mark_tbwa_smp_company.py
  scripts/company/verify_omc_scope.py
Due: no-enterprise-deps, odoo-manifest-check

fix(company): make TBWA company resolution deterministic (name-agnostic)
  addons/ipai/ipai_company_scope_omc/data/company_marker.xml
  addons/ipai/ipai_company_scope_omc/models/res_company.py
  addons/ipai/ipai_company_scope_omc/models/res_users.py
  scripts/company/mark_tbwa_smp_company.py
  scripts/company/verify_omc_scope.py
Due: no-enterprise-deps

fix(company_scope_omc): fail-closed resolver, enforcement gating, unit tests
  addons/ipai/ipai_company_scope_omc/models/res_company.py
  addons/ipai/ipai_company_scope_omc/models/res_users.py
  addons/ipai/ipai_company_scope_omc/tests/__init__.py
  addons/ipai/ipai_company_scope_omc/tests/test_omc_user_enforcement.py
  addons/ipai/ipai_company_scope_omc/tests/test_tbwa_company_resolver.py
Due: no-enterprise-deps

fix(deploy): remove 7 empty/missing OCA entries from addons_path
  deploy/odoo.conf
Due: none

chore(skills): add Odoo19 skills coverage SSOT + validator
  .github/workflows/skill-coverage-gate.yml
  scripts/skills/validate_odoo19_skills_coverage.py
  ssot/odoo/odoo19_app_skills_map.yaml
Due: no-enterprise-deps

chore(skills): add administration to odoo19 skills coverage SSOT
  ssot/odoo/odoo19_app_skills_map.yaml
Due: none

chore(skills): add documentation skill to Odoo 19 SSOT and stub
  skills/odoo19/documentation/README.md
  ssot/odoo/odoo19_app_skills_map.yaml
Due: none

chore(skills): add vercel-agent-skills to coverage mapping and scaffold stubs
  skills/vercel-agent-skills/base/README.md
  skills/vercel-agent-skills/browser/README.md
  skills/vercel-agent-skills/desktop/README.md
  skills/vercel-agent-skills/mcp/README.md
  skills/vercel-agent-skills/office/README.md
  skills/vercel-agent-skills/os/README.md
  ssot/odoo/odoo19_app_skills_map.yaml
Due: none

chore(skills): add supabase-agent-skills to coverage mapping and scaffold stubs
  skills/supabase-agent-skills/vitest/README.md
  ssot/odoo/odoo19_app_skills_map.yaml
Due: none

chore(infra): commit Cloudflare zone SSOT + add auth.insightpulseai.com A record
  docs/architecture/runtime_identifiers.json
  infra/cloudflare/insightpulseai.com.records.yaml
  infra/dns/dns-validation-spec.json
Due: none

chore(infra): harden DNS SSOT + add drift gate CI
  .github/workflows/cloudflare-dns-drift.yml
  docs/architecture/runtime_identifiers.json
  infra/cloudflare/insightpulseai.com.records.yaml
  infra/dns/dns-validation-spec.json
  scripts/ci/verify_cloudflare_dns_drift.py
Due: no-enterprise-deps

chore(skills): move SSOT to ssot/skills/ + structured coverage output
  .github/workflows/skill-coverage-gate.yml
  scripts/skills/validate_odoo19_skills_coverage.py
  ssot/skills/odoo19_docs_coverage.yaml
Due: no-enterprise-deps

docs(runbooks): add SKILLS_COVERAGE.md — SSOT path, validator, CI gate
  docs/runbooks/SKILLS_COVERAGE.md
Due: none

chore(claude): restore non-blocking secrets policy + approved stores
  CLAUDE.md
Due: none

chore(ssot): add secret identifier registry + unblock gitignore
  .gitignore
  ssot/secrets/registry.yaml
Due: none

docs(runbooks): add SECRETS_SSOT runbook
  docs/runbooks/SECRETS_SSOT.md
Due: none

docs(runbooks): add Odoo 19 go-live checklist — accounting/inventory/ops
  docs/runbooks/ODOO19_GO_LIVE_CHECKLIST.md
Due: none

docs(runbooks): add BRANCH_HYGIENE runbook — PR creation gate
  docs/runbooks/BRANCH_HYGIENE.md
Due: none

docs(runbooks): clarify PR gate for tracked vs untracked changes
  docs/runbooks/BRANCH_HYGIENE.md
Due: none

ci(preflight): assert clean working tree after generation steps
  .github/workflows/ci.yml
Due: none

chore(ci): fix pre-existing root allowlist violations + README sync
  .insightpulse/repo-root-allowlist.json
  README.md
Due: none

chore(infra): rehome DNS SSOT to infra/cloudflare/zones/ + applier dual-format support
  docs/architecture/CANONICAL_URLS.md
  infra/cloudflare/README.md
  infra/cloudflare/scripts/apply_dns_from_yaml.py
  infra/cloudflare/zones/insightpulseai.com/records.yaml
Due: no-enterprise-deps

feat(ci): Cloudflare authority gate + apply-on-merge workflows
  .github/workflows/cloudflare-authority-gate.yml
  .github/workflows/cloudflare-dns-apply.yml
  scripts/cloudflare/verify_authoritative.py
Due: no-enterprise-deps

feat(ci): top-level directory boundary gate (allowlist enforcement)
  .github/workflows/repo-top-level-guard.yml
  docs/architecture/MONOREPO_CONTRACT.md
  scripts/repo/enforce_top_level_allowlist.py
  ssot/repo/top_level_allowlist.yaml
Due: no-enterprise-deps

docs(runbooks): add SECRETS_SSOT with Cloudflare token split section
  docs/runbooks/SECRETS_SSOT.md
Due: none

feat(expense): extract OCR utils module — ocr_client.py
  addons/ipai/ipai_expense_ocr/scripts/ocr_extract.py
  addons/ipai/ipai_expense_ocr/utils/__init__.py
  addons/ipai/ipai_expense_ocr/utils/ocr_client.py
Due: no-enterprise-deps

feat(expense): add action_digitize_receipt to hr.expense + form button
  addons/ipai/ipai_expense_ocr/__manifest__.py
  addons/ipai/ipai_expense_ocr/models/__init__.py
  addons/ipai/ipai_expense_ocr/models/hr_expense_mixin.py
  addons/ipai/ipai_expense_ocr/views/hr_expense_views.xml
Due: no-enterprise-deps, odoo-manifest-check

docs(spec): add odoo-receipt-digitization spec bundle + Supabase ETL config
  infra/supabase-etl/odoo-expense.toml
  spec/odoo-receipt-digitization/plan.md
  spec/odoo-receipt-digitization/prd.md
  spec/odoo-receipt-digitization/tasks.md
Due: validate-spec-kit

fix(infra): make supabase-etl expense CDC iceberg-only
  infra/supabase-etl/odoo-expense.toml
  spec/odoo-receipt-digitization/plan.md
  spec/odoo-receipt-digitization/tasks.md
Due: validate-spec-kit

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$
