Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$

feat(oca): add SSOT-driven OCA installer replacing hardcoded install scripts
  .github/workflows/oca-install-plan-check.yml
  docs/architecture/OCA_INSTALLER_SSOT_FLOW.md
  scripts/odoo/install-oca-modules.sh
  scripts/odoo/install_oca_from_ssot.py
  scripts/odoo/render_oca_install_plan.py
  tests/test_install_oca_from_ssot.py
Due: no-enterprise-deps

feat(seed): generate Finance PPM seed CSVs — 36 tags, 2 projects, 69 tasks
  data/finance_seed/01_project.tags.csv
  data/finance_seed/02_project.project.csv
  data/finance_seed/03_project.task.month_end.csv
  data/finance_seed/04_project.task.bir_tax.csv
Due: none

feat(seed): consolidate Supabase expense categories + approval rules into Odoo CSVs
  data/finance_seed/05_expense_categories.csv
  data/finance_seed/06_approval_thresholds.csv
  data/finance_seed/README.md
  data/finance_seed/import_all.py
Due: no-enterprise-deps

fix(seed): retarget audit script to data/finance_seed, deprecate archive + Supabase seed
  archive/addons/omc_finance_ppm/DEPRECATED.md
  scripts/finance_ppm_seed_audit.py
  supabase/seeds/002_finance_seed.sql
Due: no-enterprise-deps

feat(erp-saas): add company/branch entity model aligned to Odoo 19 semantics
  spec/odoo-erp-saas/plan.md
  spec/odoo-erp-saas/prd.md
  spec/odoo-erp-saas/tasks.md
  supabase/migrations/20260308_erp_entity_model.sql
Due: validate-spec-kit

fix(erp-saas): reconcile entity model with existing core + saas schemas
  spec/odoo-erp-saas/plan.md
  spec/odoo-erp-saas/prd.md
  spec/odoo-erp-saas/tasks.md
  supabase/migrations/20260308_erp_entity_model.sql
Due: validate-spec-kit

docs(arch): update architecture diagrams with high-fidelity Azure patterns
  docs/diagrams/azure/oca-governance-flow.drawio
  docs/diagrams/azure/odoo-ops-architecture.drawio
Due: none

chore(azure): sync SSOT and architecture diagram with live portal state
  docs/diagrams/azure/odoo-ops-architecture.drawio
  ssot/azure/resources.yaml
Due: none

infra(azure): codify provider registration and enable cloudshell
  infra/azure/scripts/register-providers.sh
Due: none

chore(ci): delete 6 obsolete/duplicate workflows (362→356)
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-stage.yml
  .github/workflows/domain-lint.yml
  .github/workflows/no-deprecated-repo-refs.yml
  .github/workflows/odoo-import-artifacts.yml
  .github/workflows/terraform-cloudflare-dns.yml
Due: none

docs(governance): add canonical doc placement matrix and placement audit
  docs/architecture/DOC_PLACEMENT_MATRIX.md
  docs/architecture/PLACEMENT_AUDIT.yaml
  docs/architecture/doc-placement-matrix.yaml
Due: none

docs(claude): update CLAUDE.md with verified 2026-03-08 audit
  CLAUDE.md
Due: none

docs(claude): fix remaining audit discrepancies in CLAUDE.md
  CLAUDE.md
Due: none

feat(auth): add platform auth architecture and spec bundle
  docs/architecture/AUTH_ARCHITECTURE.md
  docs/contracts/PLATFORM_CONTRACTS_INDEX.md
  spec/platform-auth/constitution.md
  spec/platform-auth/plan.md
  spec/platform-auth/prd.md
  spec/platform-auth/tasks.md
Due: validate-spec-kit

chore(ci): expand allowedTools for full CLI parity in web sessions
  .claude/settings.json
Due: none

fix(dns): add Mailgun DKIM #2 (pic._domainkey.mg) to Cloudflare SSOT
  infra/cloudflare/zones/insightpulseai.com/records.yaml
  infra/dns/mailgun_mg_insightpulseai_com.yaml
  infra/dns/subdomain-registry.yaml
Due: none

chore(ci): remove 19 org-level workflows that belong in .github repo
  .github/workflows/add-to-project.yml
  .github/workflows/branch-hygiene.yml
  .github/workflows/branch-protection-audit.yml
  .github/workflows/claude-code.yml
  .github/workflows/claude-pr-review.yml
  .github/workflows/drive-sync-verify.yml
  .github/workflows/drive-sync.yml
  .github/workflows/github-governance.yml
  .github/workflows/github-org-policy-guard.yml
  .github/workflows/no-codeowners.yml
  .github/workflows/notify-superset.yml
  .github/workflows/org-policy-baseline.yml
  .github/workflows/org-structure-gate.yml
  .github/workflows/project-automation.yml
  .github/workflows/security-alerts-snapshot.yml
  .github/workflows/sync-anthropic-skills.yml
  .github/workflows/sync-github-project-templates.yml
  .github/workflows/vendor-backlog-sync.yml
  .github/workflows/wiki-sync.yml
Due: none

feat(agent-skills): add 17 agent skill definitions and ipai_agent_skills module
  addons/ipai/ipai_agent_skills/__init__.py
  addons/ipai/ipai_agent_skills/__manifest__.py
  addons/ipai/ipai_agent_skills/data/skill_categories.xml
  addons/ipai/ipai_agent_skills/models/__init__.py
  addons/ipai/ipai_agent_skills/models/skill_definition.py
  addons/ipai/ipai_agent_skills/models/skill_execution.py
  addons/ipai/ipai_agent_skills/security/ir.model.access.csv
  addons/ipai/ipai_agent_skills/tests/__init__.py
  addons/ipai/ipai_agent_skills/tests/test_skill_definition.py
  addons/ipai/ipai_agent_skills/views/skill_definition_views.xml
  addons/ipai/ipai_agent_skills/views/skill_execution_views.xml
  skills/app-development/skill.yaml
  skills/app-maintenance/skill.yaml
  skills/app-marketing-launch/skill.yaml
  skills/app-strategy/skill.yaml
  skills/custom-app-development/skill.yaml
  skills/custom-web-design/skill.yaml
  skills/ecommerce-solutions/skill.yaml
  skills/mobile-app-design/skill.yaml
  skills/odoo-consultation/skill.yaml
  skills/odoo-customization/skill.yaml
  skills/odoo-deployment/skill.yaml
  skills/odoo-implementation/skill.yaml
  skills/odoo-support-training/skill.yaml
  skills/ui-ux-design/skill.yaml
  skills/web-development/skill.yaml
  skills/website-backend/skill.yaml
  skills/website-maintenance/skill.yaml
  spec/odoo-app-agent-skills/constitution.md
  spec/odoo-app-agent-skills/plan.md
  spec/odoo-app-agent-skills/prd.md
  spec/odoo-app-agent-skills/tasks.md
Due: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

feat(audit): add full module inventory script for prod XML-RPC audit
  scripts/inventory_modules.py
Due: no-enterprise-deps

feat(audit): add filesystem module scanner + first inventory scan
  docs/audits/module_inventory/inventory_scan_20260309_1058.csv
  docs/audits/module_inventory/inventory_scan_20260309_1058.json
  docs/audits/module_inventory/inventory_scan_20260309_1058.md
  docs/audits/module_inventory/latest_scan.json
  scripts/scan_module_inventory.py
Due: no-enterprise-deps

docs(audit): add reconciled prod+filesystem module inventory
  docs/audits/module_inventory/inventory_reconciled_20260309.md
Due: none
