Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

no-enterprise-deps:
  name: No Enterprise Dependencies
  entry: bash -c 'scripts/policy-check.sh --diff || true'
  language: system
  pass_filenames: false

validate-spec-kit:
  name: Validate Spec Kit
  entry: bash -c 'scripts/validate-spec-kit.sh || true'
  language: system
  pass_filenames: false

odoo-manifest-check:
  name: Odoo Manifest Validator
  entry: python3 scripts/validate_manifest.py
  language: system
  pass_filenames: false

chore: synchronize master roadmap and scaffold R2R declarative agent
  agents/pulser-surface/appPackage/declarativeAgent_r2r.json
  agents/pulser-surface/appPackage/manifest.json
  spec/pulser-odoo/tasks.md
Due: validate-spec-kit

chore: execute global KB refresh and finalize GTM evidence
  docs/evidence/20260418-0109/kb-refresh/report.yaml
Due: none

feat: establish media ops architecture and repository map
  addons/ipai/ipai_media_ops/__manifest__.py
  agents/skills/media-ops/SKILL.md
  spec/microsoft-marketplace-gtm/prd.md
  spec/microsoft-marketplace-gtm/tasks.md
Due: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

feat: implement advanced entra governance and inference tier strategy
  platform/ssot/ai/inference-tier-strategy.yaml
  spec/pulser-odoo/tasks.md
  ssot/identity/entra-governance-policy.yaml
Due: validate-spec-kit

feat: finalize M365 app package with dual agents and branding automation
  agents/pulser-surface/appPackage/manifest_bak.json
  scripts/m365/build_app_package.sh
Due: none

feat: finalize marketplace plans and pricing ingestion payload
  docs/gtm/demo_storyboard.md
  docs/gtm/marketplace_offer_draft.json
  platform/ssot/gtm/marketplace_plans.yaml
Due: none

docs: harmonize marketplace listing with commercial plan SSOT
  docs/gtm/marketplace_listing_draft.md
Due: none

security: remediate hardcoded google oauth secret and update seeding logic
  scripts/odoo/seed_auth_providers.py
Due: no-enterprise-deps

chore: enforce GTM Constitution Rule 2.4 (Foundry Specialists Registry)
  .foundry/agent-metadata.yaml
  spec/microsoft-marketplace-gtm/constitution.md
Due: validate-spec-kit

docs: remediate stale TaxPulse reference in AP Agent PRD
  spec/ap-invoice-agent/prd.md
Due: validate-spec-kit

feat: migrate pulser assistant to modular SKILL.md architecture
  .claude/agents/upstream/adr-generator.agent.md
  .claude/agents/upstream/agent-governance-reviewer.agent.md
  .claude/agents/upstream/azure-iac-exporter.agent.md
  .claude/agents/upstream/azure-iac-generator.agent.md
  .claude/agents/upstream/azure-logic-apps-expert.agent.md
  .claude/agents/upstream/azure-policy-analyzer.agent.md
  .claude/agents/upstream/azure-principal-architect.agent.md
  .claude/agents/upstream/azure-saas-architect.agent.md
  .claude/agents/upstream/azure-verified-modules-bicep.agent.md
  .claude/agents/upstream/azure-verified-modules-terraform.agent.md
  .claude/agents/upstream/context-architect.agent.md
  .claude/agents/upstream/declarative-agents-architect.agent.md
  .claude/agents/upstream/defender-scout-kql.agent.md
  .claude/agents/upstream/expert-react-frontend-engineer.agent.md
  .claude/agents/upstream/kusto-assistant.agent.md
  .claude/agents/upstream/mcp-m365-agent-expert.agent.md
  agents/pulser-surface/appPackage/declarativeAgent.json
  agents/pulser-surface/appPackage/declarativeAgent_r2r.json
  agents/skills/pulser-p2p/SKILL.md
  agents/skills/pulser-r2r/SKILL.md
  agents/skills/reference/odoo-bridge.md
Due: none

ci: integrate marketplace and media modules into odoo deployment pipeline
  azure-pipelines-odoo-deploy.yml
Due: none

docs: publish final GTM Ignition evidence pack
  docs/evidence/20260418-0128/gtm-ignition/gtm_readiness.pretty.json
  docs/evidence/20260418-0128/gtm-ignition/verification.md
Due: none

infra: align SSOTs and pipelines with verified Azure resources
  .claude/agents/upstream/README.md
  .foundry/agent-metadata.yaml
  azure-pipelines-odoo-deploy.yml
  docs/gtm/marketplace_offer_draft.json
Due: none

docs: generate Pulser for Odoo GTM One-Pager for Co-sell enablement
  docs/gtm/one_pager.md
Due: none

feat: complete operational readiness - infra alignment, modular skill packs, and KB synchronization
  agents/skills/marketplace-fulfillment/SKILL.md
  scripts/agent_platform/refresh_microsoft_learn_kb.py
  ssot/agent-platform/learn_mcp_topic_map.yaml
  ssot/agent-platform/skills_manifest.yaml
Due: no-enterprise-deps

gtm: synchronize partner center integration and demo storyboard with verified Azure state
  docs/gtm/demo_storyboard.md
  ssot/integrations/partner_center_api.yaml
Due: none

identity: synchronize Entra ID app registrations with GTM specialized agents and marketplace fulfillment
  ssot/entra/app_registrations.azure_native.yaml
Due: none

gtm: crystallized branding and agent ID cross-references across plans, manifests, and configs
  addons/ipai/ipai_marketplace_fulfillment/__manifest__.py
  config/prod/odoo.conf
  platform/ssot/gtm/marketplace_plans.yaml
Due: no-enterprise-deps, odoo-manifest-check

docs: formal engineering sign-off on Azure Skills research - Ignition Complete
  .claude/agents/upstream/agency/agentic-identity-trust.md
  .claude/agents/upstream/agency/agents-orchestrator.md
  .claude/agents/upstream/agency/automation-governance-architect.md
  .claude/agents/upstream/agency/compliance-auditor.md
  .claude/agents/upstream/agency/finance-bookkeeper-controller.md
  .claude/agents/upstream/agency/finance-fpa-analyst.md
  .claude/agents/upstream/agency/finance-tax-strategist.md
  .claude/agents/upstream/agency/mcp-builder.md
  .claude/agents/upstream/agency/testing-evidence-collector.md
  .claude/agents/upstream/agency/testing-reality-checker.md
  docs/research/azure-skills-alignment.md
Due: none

ops: aligned stabilization guide with marketplace hypercare and fulfillment monitoring
  docs/gtm/partner_center_checklist.md
  docs/implementation/STABILIZATION_GUIDE.md
Due: none

docs(agents): import 10 agency-agents gap-fillers from msitarzewski/agency-agents
  .claude/agents/upstream/agency/README.md
Due: none

spec: formally mark Ignition and ISV Success backlogs as complete
  docs/release/MVP_SHIP_CHECKLIST.md
  spec/microsoft-marketplace-gtm/tasks.md
  spec/pulser-odoo/tasks.md
  tests/e2e/test_document_intelligence_e2e.py
Due: no-enterprise-deps, validate-spec-kit

spec(finops-hub): scaffold Azure FinOps Hub cost observability bundle
  spec/finops-hub/constitution.md
  spec/finops-hub/plan.md
  spec/finops-hub/prd.md
  spec/finops-hub/tasks.md
Due: validate-spec-kit

spec(marketplace+m365): reconcile Wave 1 tasks to reality, scaffold Wave 2 M365 declarative agent bundle
  spec/m365-declarative-agent/constitution.md
  spec/m365-declarative-agent/plan.md
  spec/m365-declarative-agent/prd.md
  spec/m365-declarative-agent/tasks.md
  spec/microsoft-marketplace-gtm/tasks.md
Due: validate-spec-kit

docs(platform): canonical operating model — Boards/GitHub/MCP/Odoo plane separation
  docs/architecture/plane-separation.md
  docs/templates/ado-copilot-work-item.md
  docs/templates/basic-vs-scrum-decision.md
  docs/templates/repo-to-boards-contract.md
Due: none

docs(architecture): OPRG scenario → plane mapping table
  docs/architecture/oprg-plane-mapping.md
Due: none

docs(boards): ipai-platform configuration — teams, area paths, iterations, WIP
  docs/templates/ipai-platform-boards-config.md
Due: none

docs(governance): unified IPAI governance model — strategy → code → report overlay
  docs/architecture/ipai-governance-model.md
Due: none

docs(architecture): Foundry adoption matrix — per-repo Microsoft reference mapping
  docs/architecture/foundry-adoption-matrix.md
Due: none

docs(ops): BIR document decision matrix — client billing vs tax ID vs internal forms
  docs/operations/bir-document-decision-matrix.md
Due: none

docs(ops): identity governance matrix — mail + Azure/Entra/ADO consolidated
  docs/operations/identity-governance-matrix.md
Due: none

feat(ipai_odoo_copilot): quickstart prototype — Foundry wiring + dual SSO
  addons/ipai/ipai_odoo_copilot/__manifest__.py
  addons/ipai/ipai_odoo_copilot/data/ir_config_parameter.xml
  addons/ipai/ipai_odoo_copilot/data/oauth_providers.xml
  scripts/odoo/quickstart_sso_and_foundry.sh
Due: no-enterprise-deps, odoo-manifest-check

feat(odoo-quickstart): --client-json flag auto-extracts Google OAuth creds
  scripts/odoo/quickstart_sso_and_foundry.sh
Due: none

feat(dx+governance): developer experience fixes, cloud governance SSOT, and marketplace research
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  docs/GETTING_STARTED.md
  docs/architecture/azure-resource-inventory.md
  docs/architecture/subscription-hardening-checklist.md
  docs/gtm/marketplace_research_brief.md
  docs/setup/CREDENTIAL_GUIDE.md
  docs/wiki/Home.md
  scripts/ci_local.sh
  scripts/repo_health.sh
  scripts/spec_validate.sh
  ssot/azure/cloud-plane-map.yaml
  ssot/governance/azure-odoosh-equivalent.yaml
  ssot/governance/mcp-allowlist.yaml
Due: none

feat(skills+mcp): add 4 PrismaLab scientific skills and update Genie MCP config
  .claude/skills/prismalab-evidence-extraction/SKILL.md
  .claude/skills/prismalab-meta-analysis/SKILL.md
  .claude/skills/prismalab-prisma-compliance/SKILL.md
  .claude/skills/prismalab-systematic-review/SKILL.md
  .mcp.json
Due: none

fix(ipai_odoo_copilot): add flow=id_token_code to OAuth providers
  addons/ipai/ipai_odoo_copilot/data/oauth_providers.xml
Due: none

feat(skills): add marketplace SaaS publishing and SaaS Accelerator skills
  .claude/skills/marketplace-saas-accelerator/SKILL.md
  .claude/skills/marketplace-saas-publish/SKILL.md
Due: none

feat(skills): add SC-300 identity and access administrator skill
  .claude/skills/azure-identity-admin/SKILL.md
Due: none

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$
