Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

no-enterprise-deps:
  name: No Enterprise Dependencies
  entry: bash -c 'scripts/policy-check.sh --diff || true'
  language: system
  pass_filenames: false

validate-spec-kit:
  name: Validate Spec Kit
  entry: bash -c 'scripts/validate-spec-kit.sh || true'
  language: system
  pass_filenames: false

odoo-manifest-check:
  name: Odoo Manifest Validator
  entry: python3 scripts/validate_manifest.py
  language: system
  pass_filenames: false

docs(repo): enhance checkout instructions with repo URLs and real example (#379)
  CONTRIBUTING.md
Due: none

Chore/remove all submodules (#380)
  .gitmodules
  config/oca/module_allowlist.yml
  oca.lock.json
  scripts/automations/deploy_n8n_all.py
Due: no-enterprise-deps

fix(repo): unblock PR #377 — permissions, CodeQL logging, OCA state SSOT
  .github/workflows/finance-team-directory-gate.yml
  .github/workflows/policy-parity-map.yml
  config/oca/port_queue.yml
  docs/architecture/ADDONS_STRUCTURE_BOUNDARY.md
  scripts/bulk_import_tasks_odoo19.py
Due: no-enterprise-deps

feat(n8n): complete Telegram OCR workflow with Gemini 2.5 Flash + Supabase logging
  automations/n8n/workflows/claude-ai-mcp/11_telegram_ocr_gemini_complete.json
  automations/n8n/workflows/claude-ai-mcp/TELEGRAM_OCR_IMPLEMENTATION.md
  supabase/migrations/20260221000000_ocr_events.sql
Due: none

docs(n8n): convert Telegram OCR deployment to API-first workflow
  automations/n8n/scripts/import_and_activate_workflow.sh
  automations/n8n/workflows/claude-ai-mcp/TELEGRAM_OCR_IMPLEMENTATION.md
Due: none

fix(merge): resolve PR #377 conflicts + CodeQL + permissions
  .github/workflows/finance-team-directory-gate.yml
  .github/workflows/policy-parity-map.yml
  scripts/bulk_import_tasks_odoo19.py
Due: no-enterprise-deps

fix(n8n): correct credential API limitation and add optional automation
  automations/n8n/scripts/import_and_activate_workflow.sh
  automations/n8n/workflows/claude-ai-mcp/TELEGRAM_OCR_IMPLEMENTATION.md
Due: none

docs(ssot): extend platform SSOT map across full stack
  .claude/rules/ssot-platform.md
  .github/workflows/ssot-surface-guard.yml
  docs/architecture/PLATFORM_REPO_TREE.md
  docs/contracts/PLATFORM_CONTRACTS_INDEX.md
Due: none

feat(ci): Odoo semantic lint — Python↔XML↔manifest static analyzer
  .github/workflows/odoo-semantic-lint.yml
  docs/architecture/ODOO_SEMANTIC_LINT.md
  scripts/odoo/baselines/odoo_semantic_lint_baseline.json
  scripts/odoo/odoo_semantic_lint.py
Due: no-enterprise-deps

fix(security): redact real names from docstring in bulk_import_tasks_odoo19.py
  scripts/bulk_import_tasks_odoo19.py
Due: no-enterprise-deps

fix(deploy): handle missing optional fields in Odoo 19 CE task/project creation
  scripts/bulk_import_tasks_odoo19.py
  scripts/seed_finance_ppm_stages_odoo19.py
Due: no-enterprise-deps

fix(scripts): remap planned_hours → allocated_hours for Odoo 19
  scripts/bulk_import_tasks_odoo19.py
Due: no-enterprise-deps

fix(data): correct Loterte → Lorente across all seed/data files
  addons/ipai/ipai_finance_close_seed/data/03_partners_employees.xml
  addons/ipai/ipai_finance_workflow/data/finance_team.xml
  addons/ipai_month_end_closing/data/project_task_closing.xml
  data/archive/finance_ppm/tbwa_smp/20260216/artifacts_data/ipai_finance_ppm_directory.csv
  data/bir_december_2025_seed.xml
  data/employee_directory.json
  data/finance_seed/update_tasks_after_import.py
  data/seed/finance_ppm/tbwa_smp/team_directory.csv
  scripts/finance/validate_team_directory.py
  scripts/generate_seed_xml.py
  seed_export/tasks.csv
  seed_export/users.csv
Due: no-enterprise-deps

feat(finance-ppm): add OKR Dashboard embedded as Odoo client action
  addons/ipai/ipai_finance_ppm/__init__.py
  addons/ipai/ipai_finance_ppm/__manifest__.py
  addons/ipai/ipai_finance_ppm/controllers/__init__.py
  addons/ipai/ipai_finance_ppm/controllers/main.py
  addons/ipai/ipai_finance_ppm/static/src/html/okr_dashboard.html
  addons/ipai/ipai_finance_ppm/static/src/js/okr_dashboard_action.js
  addons/ipai/ipai_finance_ppm/views/okr_dashboard_action.xml
Due: no-enterprise-deps, odoo-manifest-check

fix(finance-ppm): remove numbercall (dropped in Odoo 19) from ir.cron XML
  addons/ipai/ipai_finance_ppm/data/ir_cron_ppm_sync.xml
Due: none

chore(deps): add Plane and Shelf.nu as platform submodules
  .gitmodules
Due: none

feat(integrations): add Plane + Shelf.nu connector modules and platform infra
  addons/ipai/ipai_plane_connector/__init__.py
  addons/ipai/ipai_plane_connector/__manifest__.py
  addons/ipai/ipai_plane_connector/data/ir_config_parameter.xml
  addons/ipai/ipai_plane_connector/models/__init__.py
  addons/ipai/ipai_plane_connector/models/plane_sync_log.py
  addons/ipai/ipai_plane_connector/models/project_task.py
  addons/ipai/ipai_plane_connector/security/ir.model.access.csv
  addons/ipai/ipai_plane_connector/views/plane_sync_log_views.xml
  addons/ipai/ipai_plane_connector/views/project_task_views.xml
  addons/ipai/ipai_shelf_connector/__init__.py
  addons/ipai/ipai_shelf_connector/__manifest__.py
  addons/ipai/ipai_shelf_connector/data/ir_config_parameter.xml
  addons/ipai/ipai_shelf_connector/models/__init__.py
  addons/ipai/ipai_shelf_connector/models/maintenance_equipment.py
  addons/ipai/ipai_shelf_connector/models/shelf_sync_log.py
  addons/ipai/ipai_shelf_connector/security/ir.model.access.csv
  addons/ipai/ipai_shelf_connector/views/maintenance_equipment_views.xml
  addons/ipai/ipai_shelf_connector/views/shelf_sync_log_views.xml
  platform/db/supabase_integration_events.pgsql
  platform/docker-compose.platform.yml
Due: no-enterprise-deps, odoo-manifest-check

chore(deps): add python-jose + email-validator to OCA requirements
  requirements-oca.txt
Due: none

fix(dns): sync Zoho Mail DNS SSOT to canonical values
  infra/dns/zoho_mail_dns.yaml
Due: none

feat(mail): ipai_mail_bridge_zoho — HTTPS bridge for Zoho via Supabase EF
  addons/ipai/ipai_mail_bridge_zoho/__init__.py
  addons/ipai/ipai_mail_bridge_zoho/__manifest__.py
  addons/ipai/ipai_mail_bridge_zoho/models/__init__.py
  addons/ipai/ipai_mail_bridge_zoho/models/mail_mail.py
  addons/ipai/ipai_zoho_mail/data/mail_server.xml
Due: no-enterprise-deps, odoo-manifest-check

fix(mail): harden zoho mail bridge secrets + correct smoke tests
  addons/ipai/ipai_mail_bridge_zoho/models/mail_mail.py
  addons/ipai/ipai_zoho_mail/data/mail_server.xml
  supabase/functions/zoho-mail-bridge/index.ts
Due: no-enterprise-deps

fix(mail): zoho-mail-bridge — strict allowlist, normalized errors, minimal health
  supabase/functions/zoho-mail-bridge/index.ts
Due: none

fix(supabase): config.toml major_version 16 → 15 for CLI compat
  supabase/config.toml
Due: none

fix(mail): correct ZOHO_MAIL_BRIDGE_SECRET doc — dedicated secret, not anon key
  addons/ipai/ipai_mail_bridge_zoho/__manifest__.py
Due: no-enterprise-deps, odoo-manifest-check

docs(ssot): extend platform SSOT boundaries across stack
  .claude/rules/ssot-platform.md
  .github/workflows/ssot-surface-guard.yml
  docs/architecture/PLATFORM_REPO_TREE.md
  docs/architecture/SSOT_BOUNDARIES.md
  docs/contracts/PLATFORM_CONTRACTS_INDEX.md
Due: none

docs(auth): Supabase Auth SMTP contract — Zoho handles identity emails
  docs/architecture/SSOT_BOUNDARIES.md
  docs/contracts/PLATFORM_CONTRACTS_INDEX.md
  docs/contracts/SUPABASE_AUTH_SMTP_CONTRACT.md
  docs/runbooks/RB_SUPABASE_AUTH_SMTP_VERIFY.md
Due: none

feat(vault): secret registry + SSOT contract for integration secrets
  docs/contracts/PLATFORM_CONTRACTS_INDEX.md
  docs/contracts/SUPABASE_VAULT_CONTRACT.md
  supabase/migrations/20260221000001_vault_secret_registry.sql
Due: none

docs(edge): Edge Functions contract + canonical bridge template
  docs/contracts/PLATFORM_CONTRACTS_INDEX.md
  docs/contracts/SUPABASE_EDGE_FUNCTIONS_CONTRACT.md
  supabase/functions/_template-bridge/README.md
  supabase/functions/_template-bridge/index.ts
Due: none

feat(cron): pg_cron SSOT + Zoho token prewarm job
  docs/contracts/PLATFORM_CONTRACTS_INDEX.md
  docs/contracts/SUPABASE_CRON_CONTRACT.md
  supabase/migrations/20260221000002_cron_token_prewarm.sql
Due: none

feat(hygiene): nightly repo hygiene automation (Supabase Cron, 17:10 UTC)
  automations/repo_hygiene/jobs/nightly.yml
  docs/contracts/PLATFORM_CONTRACTS_INDEX.md
  docs/contracts/SUPABASE_CRON_REPO_HYGIENE.md
  supabase/functions/repo-hygiene-runner/README.md
  supabase/functions/repo-hygiene-runner/index.ts
  supabase/migrations/20260221000003_ops_repo_hygiene.sql
  supabase/migrations/20260221000004_schedule_repo_hygiene_nightly.sql
Due: none

chore(cron): make repo hygiene schedule fully migration-driven
  docs/contracts/SUPABASE_CRON_CONTRACT.md
  docs/contracts/SUPABASE_CRON_REPO_HYGIENE.md
  odoo19/config/odoo.conf
  supabase/migrations/20260221000002_cron_token_prewarm.sql
  supabase/migrations/20260221000004_schedule_repo_hygiene_nightly.sql
Due: none

feat(ai): ipai_ai_copilot — Discuss bot backed by OCA Ollama (Path A)
  addons/ipai/ipai_ai_copilot/__init__.py
  addons/ipai/ipai_ai_copilot/__manifest__.py
  addons/ipai/ipai_ai_copilot/data/mail_channel_ai.xml
  addons/ipai/ipai_ai_copilot/data/res_partner_bot.xml
  addons/ipai/ipai_ai_copilot/models/__init__.py
  addons/ipai/ipai_ai_copilot/models/mail_channel.py
Due: no-enterprise-deps, odoo-manifest-check

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$
