Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

no-enterprise-deps:
  name: No Enterprise Dependencies
  entry: bash -c 'scripts/policy-check.sh --diff || true'
  language: system
  pass_filenames: false

validate-spec-kit:
  name: Validate Spec Kit
  entry: bash -c 'scripts/validate-spec-kit.sh || true'
  language: system
  pass_filenames: false

odoo-manifest-check:
  name: Odoo Manifest Validator
  entry: python3 scripts/validate_manifest.py
  language: system
  pass_filenames: false

feat(integrations): GitHub App ingress + n8n/Plane fan-out (single-app model)
  .github/workflows/github-apps-ssot-guard.yml
  infra/github/apps/ipai-integrations/manifest.json
  scripts/ci/check_github_apps_ssot.py
  ssot/integrations/github_apps.yaml
  supabase/functions/ops-github-webhook-ingest/index.ts
Due: no-enterprise-deps

chore(integrations): finalize GitHub App provisioning — DB indexes, credential export, active gate
  scripts/ci/check_github_apps_ssot.py
  scripts/github/create-app-from-manifest.sh
  supabase/migrations/20260302000066_ops_github_deliveries_indexes.sql
Due: no-enterprise-deps

chore(integrations): dry-run mode + CI trigger paths for provisioning script
  .github/workflows/github-apps-ssot-guard.yml
  scripts/github/create-app-from-manifest.sh
Due: none

docs(ops): Supabase ↔ Vercel integration health runbook
  docs/runbooks/SUPABASE_VERCEL_INTEGRATION_HEALTH.md
Due: none

feat(ops-console): settings parity (deploy/domains/secrets/supabase) + Autonoma Slack SSOT
  apps/ops-console/app/api/supabase/health/route.ts
  apps/ops-console/app/api/vercel/deployments/route.ts
  apps/ops-console/app/tools/settings/page.tsx
  docs/runbooks/AUTONOMA_SLACK.md
  ssot/qa/autonoma_slack.yaml
  ssot/secrets/registry.yaml
Due: none

feat(ops,dns): settings parity page + cdn CNAME + SPF fix
  .github/workflows/settings-snapshot.yml
  apps/ops-console/app/api/settings/integrations/route.ts
  apps/ops-console/app/api/settings/parity/route.ts
  apps/ops-console/app/api/settings/ssot/route.ts
  apps/ops-console/app/api/settings/storage/route.ts
  apps/ops-console/app/tools/settings/page.tsx
  apps/ops-console/app/tools/settings/settings-client.tsx
  infra/cloudflare/zones/insightpulseai.com/records.yaml
  infra/dns/subdomain-registry.yaml
  scripts/ci/generate_settings_snapshot.py
Due: no-enterprise-deps

chore(ops): remove unused settings-client.tsx + expand snapshot workflow paths
  .github/workflows/settings-snapshot.yml
  apps/ops-console/app/tools/settings/settings-client.tsx
Due: none

chore(security): GitHub auth surface governance — App-first policy + PAT guard
  .github/workflows/github-auth-surface-guard.yml
  .github/workflows/vercel-integrations-diff.yml
  ssot/secrets/registry.yaml
Due: none

feat(ops-console): Sign in with Vercel auth gate
  apps/ops-console/app/api/auth/logout/route.ts
  apps/ops-console/app/api/auth/vercel/callback/route.ts
  apps/ops-console/app/api/auth/vercel/route.ts
  apps/ops-console/app/login/page.tsx
  apps/ops-console/app/tools/settings/page.tsx
  apps/ops-console/lib/session.ts
  apps/ops-console/middleware.ts
Due: none

feat(mail): enable Mailgun SMTP for prod via SSOT + idempotent Odoo seed
  addons/ipai/ipai_mailgun_smtp/__manifest__.py
  addons/ipai/ipai_mailgun_smtp/data/ir_mail_server.xml
  addons/ipai/ipai_mailgun_smtp/hooks.py
  ssot/agents/prod_policy.yaml
  ssot/maintenance/schedules.yaml
  ssot/odoo/mail.yaml
  ssot/providers/ai/selection.yaml
  ssot/secrets/registry.yaml
Due: no-enterprise-deps, odoo-manifest-check

fix(devcontainer): switch dockerContext from colima-odoo to colima
  .devcontainer/devcontainer.json
Due: none

docs(devcontainer): add Colima context policy to prevent regression
  docs/dev/devcontainers/COLIMA_POLICY.md
Due: none

fix(devcontainer): use default colima docker context (#463)
  .devcontainer/devcontainer.json
  docs/dev/devcontainers/COLIMA_POLICY.md
Due: none

fix(ci): resolve email policy violations and self-scan false positives
  .github/workflows/email-policy-check.yml
  .github/workflows/health-check.yml
  .github/workflows/wiki-sync.yml
  scripts/infra/load_cloudflare_env.sh
  scripts/mail/run_e2e_mailgun_text.sh
Due: none

feat(mail): enable Mailgun SMTP for prod via SSOT + idempotent Odoo seed (#461)
  addons/ipai/ipai_mailgun_smtp/__manifest__.py
  addons/ipai/ipai_mailgun_smtp/data/ir_mail_server.xml
  addons/ipai/ipai_mailgun_smtp/hooks.py
  ssot/agents/prod_policy.yaml
  ssot/maintenance/schedules.yaml
  ssot/odoo/mail.yaml
  ssot/providers/ai/selection.yaml
  ssot/secrets/registry.yaml
Due: no-enterprise-deps, odoo-manifest-check

fix(mail): disable Zoho outgoing server in prod via hook + convergence check
  addons/ipai/ipai_mailgun_smtp/hooks.py
  config/prod/odoo.conf
  ssot/odoo/mail.yaml
Due: no-enterprise-deps

style(mail): remove unnecessary UTF-8 encoding declaration in hooks.py
  addons/ipai/ipai_mailgun_smtp/hooks.py
Due: no-enterprise-deps

fix(mail): disable Zoho outgoing server in prod via hook + convergence check (#462)
  addons/ipai/ipai_mailgun_smtp/hooks.py
  config/prod/odoo.conf
  ssot/odoo/mail.yaml
Due: no-enterprise-deps

fix(ops-console): add server-only to package-lock.json
  apps/ops-console/package-lock.json
Due: none

fix(ci): exclude policy/docs files from domain-lint .net scan
  .github/workflows/domain-lint.yml
Due: none

feat(ops,dns): Settings parity page + CDN CNAME + SPF fix (#460)
  .github/workflows/domain-lint.yml
  .github/workflows/github-auth-surface-guard.yml
  .github/workflows/settings-snapshot.yml
  .github/workflows/vercel-integrations-diff.yml
  apps/ops-console/app/api/auth/logout/route.ts
  apps/ops-console/app/api/auth/vercel/callback/route.ts
  apps/ops-console/app/api/auth/vercel/route.ts
  apps/ops-console/app/api/settings/integrations/route.ts
  apps/ops-console/app/api/settings/parity/route.ts
  apps/ops-console/app/api/settings/ssot/route.ts
  apps/ops-console/app/api/settings/storage/route.ts
  apps/ops-console/app/login/page.tsx
  apps/ops-console/app/tools/settings/page.tsx
  apps/ops-console/lib/session.ts
  apps/ops-console/middleware.ts
  apps/ops-console/package-lock.json
  infra/cloudflare/zones/insightpulseai.com/records.yaml
  infra/dns/subdomain-registry.yaml
  scripts/ci/generate_settings_snapshot.py
  ssot/secrets/registry.yaml
Due: no-enterprise-deps

fix(devcontainer): standardize on Docker Desktop (desktop-linux) context
  .devcontainer/devcontainer.json
  .github/workflows/docker-context-check.yml
  CONTRIBUTING.md
  scripts/dev/docker_doctor.sh
Due: none

feat(agents): MAF parity P0 — tool registry, interface schema, migrations, CI validator
  .github/workflows/agent-skills-gate.yml
  docs/contracts/C-AGENT-WORKFLOWS-01.md
  docs/contracts/C-TOOLS-PERMISSIONS-01.md
  docs/contracts/PLATFORM_CONTRACTS_INDEX.md
  scripts/ci/validate_skills_registry.py
  ssot/agents/interface_schema.yaml
  ssot/agents/skills.yaml
  ssot/tools/registry.yaml
  supabase/migrations/20260302002000_ops_runs_phase_checkpoint.sql
  supabase/migrations/20260302002001_ops_run_events_tracing.sql
  tests/fixtures/skills/bad_tool_ref.yaml
Due: no-enterprise-deps

fix(devcontainer): add DOCKER_CONTEXT_OVERRIDE + daemonless CI regression tests
  .devcontainer/devcontainer.json
  .github/workflows/docker-context-check.yml
  CONTRIBUTING.md
  scripts/dev/docker_doctor.sh
Due: none

fix(devcontainer): standardize on Docker Desktop + DOCKER_CONTEXT_OVERRIDE + daemonless CI
  .devcontainer/devcontainer.json
  .github/workflows/agent-skills-gate.yml
  .github/workflows/docker-context-check.yml
  CONTRIBUTING.md
  docs/contracts/C-AGENT-WORKFLOWS-01.md
  docs/contracts/C-TOOLS-PERMISSIONS-01.md
  docs/contracts/PLATFORM_CONTRACTS_INDEX.md
  scripts/ci/validate_skills_registry.py
  scripts/dev/docker_doctor.sh
  ssot/agents/interface_schema.yaml
  ssot/agents/skills.yaml
  ssot/tools/registry.yaml
  supabase/migrations/20260302002000_ops_runs_phase_checkpoint.sql
  supabase/migrations/20260302002001_ops_run_events_tracing.sql
  tests/fixtures/skills/bad_tool_ref.yaml
Due: no-enterprise-deps

docs(repo): add Docker Reference links to runtime sanity check section
  CONTRIBUTING.md
Due: none

docs(devex): add VS Code prerequisites + Copilot agents (FixBot, Reviewer) + prompt templates
  .github/agents/FixBot.agent.md
  .github/agents/Reviewer.agent.md
  .github/copilot-instructions.md
  CONTRIBUTING.md
  prompts/fixbot_end_to_end.prompt.md
  prompts/review_only.prompt.md
  scripts/dev/vscode_doctor.sh
Due: none

fix(dns): confirm email.mg CNAME + remove phantom DKIM2 placeholder
  docs/architecture/runtime_identifiers.json
  infra/dns/dns-validation-spec.json
  infra/dns/subdomain-registry.yaml
Due: none

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$
