Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

no-enterprise-deps:
  name: No Enterprise Dependencies
  entry: bash -c 'scripts/policy-check.sh --diff || true'
  language: system
  pass_filenames: false

validate-spec-kit:
  name: Validate Spec Kit
  entry: bash -c 'scripts/validate-spec-kit.sh || true'
  language: system
  pass_filenames: false

odoo-manifest-check:
  name: Odoo Manifest Validator
  entry: python3 scripts/validate_manifest.py
  language: system
  pass_filenames: false

chore(secrets): Vercel integration confirms 3 more working + 3 new entries
  ssot/secrets/inventory.yaml
  ssot/secrets/registry.yaml
Due: none

fix(secrets): rotate supabase_access_token + set SUPABASE_ORG_ID
  ssot/secrets/inventory.yaml
Due: none

docs(vercel): add curated Vercel docs index + SSOT catalog
  docs/dev/github/INDEX.md
  docs/dev/vercel/INDEX.md
  docs/dev/vscode/INDEX.md
  ssot/docs/vercel_docs.yaml
Due: none

docs(vercel): enrich AI Gateway entry with live doc details
  docs/dev/vercel/INDEX.md
  ssot/docs/vercel_docs.yaml
Due: none

docs(vercel): note AI Gateway active keys + n8n integration status
  docs/dev/vercel/INDEX.md
  ssot/docs/vercel_docs.yaml
Due: none

chore(secrets): update vercel inventory — token missing, AI gateway working
  ssot/secrets/inventory.yaml
Due: none

docs(odoo): add ERP SaaS parity SSOT + P0 OCA allowlist
  docs/dev/odoo/PARITY_MAP_ODOOSH.md
  spec/erp-saas-parity/plan.md
  spec/erp-saas-parity/prd.md
  spec/erp-saas-parity/tasks.md
  ssot/odoo/oca_repos.yaml
  ssot/odoo/parity/erp_saas.yaml
  ssot/odoo/parity/oca_p0_allowlist.yaml
Due: validate-spec-kit

feat(parity): install 5 IPAI P0 modules on production (383→388)
  spec/erp-saas-parity/tasks.md
  ssot/odoo/parity/erp_saas.yaml
  ssot/odoo/parity/oca_p0_allowlist.yaml
  web/docs/evidence/20260302-1930+0800/ipai-p0-install/logs/install_results.txt
Due: validate-spec-kit

fix(ipai): resolve 4 module blockers for Odoo 19 CE install
  addons/ipai/ipai_enterprise_bridge/__manifest__.py
  addons/ipai/ipai_finance_close_seed/data/04_projects.xml
  addons/ipai/ipai_helpdesk/security/helpdesk_security.xml
  addons/ipai/ipai_zoho_mail/__manifest__.py
Due: no-enterprise-deps, odoo-manifest-check

feat(ipai): add 3 stub modules for Phase 0 dependency unblocking
  addons/ipai/ipai_ai_core/__init__.py
  addons/ipai/ipai_ai_core/__manifest__.py
  addons/ipai/ipai_ai_core/models/__init__.py
  addons/ipai/ipai_ai_core/models/ai_citation.py
  addons/ipai/ipai_ai_core/models/ai_message.py
  addons/ipai/ipai_ai_core/models/ai_provider.py
  addons/ipai/ipai_ai_core/models/ai_thread.py
  addons/ipai/ipai_ai_core/security/ir.model.access.csv
  addons/ipai/ipai_ai_core/tests/__init__.py
  addons/ipai/ipai_ai_core/tests/test_ai_core.py
  addons/ipai/ipai_ai_core/views/ai_provider_views.xml
  addons/ipai/ipai_bir_tax_compliance/__init__.py
  addons/ipai/ipai_bir_tax_compliance/__manifest__.py
  addons/ipai/ipai_bir_tax_compliance/data/bir_tax_tables_2023.xml
  addons/ipai/ipai_bir_tax_compliance/models/__init__.py
  addons/ipai/ipai_bir_tax_compliance/models/bir_contribution_line.py
  addons/ipai/ipai_bir_tax_compliance/models/bir_contribution_table.py
  addons/ipai/ipai_bir_tax_compliance/models/bir_tax_bracket.py
  addons/ipai/ipai_bir_tax_compliance/models/bir_tax_table.py
  addons/ipai/ipai_bir_tax_compliance/security/ir.model.access.csv
  addons/ipai/ipai_bir_tax_compliance/tests/__init__.py
  addons/ipai/ipai_bir_tax_compliance/tests/test_bir_tax.py
  addons/ipai/ipai_bir_tax_compliance/views/bir_tax_views.xml
  addons/ipai/ipai_workspace_core/__init__.py
  addons/ipai/ipai_workspace_core/__manifest__.py
  addons/ipai/ipai_workspace_core/models/__init__.py
  addons/ipai/ipai_workspace_core/models/workspace.py
  addons/ipai/ipai_workspace_core/models/workspace_member.py
  addons/ipai/ipai_workspace_core/models/workspace_page.py
  addons/ipai/ipai_workspace_core/security/ir.model.access.csv
  addons/ipai/ipai_workspace_core/tests/__init__.py
  addons/ipai/ipai_workspace_core/tests/test_workspace.py
  addons/ipai/ipai_workspace_core/views/workspace_views.xml
Due: no-enterprise-deps, odoo-manifest-check

fix(ipai_ai_core): fix search view validation for Odoo 19
  addons/ipai/ipai_ai_core/views/ai_provider_views.xml
Due: none

fix(ipai_workspace_core): fix search view validation for Odoo 19
  addons/ipai/ipai_workspace_core/views/workspace_views.xml
Due: none

fix(ipai_ai_copilot): replace rpc service with module import (Odoo 19)
  addons/ipai/ipai_ai_copilot/static/src/js/copilot_service.js
Due: none

fix(ipai_ai_copilot): use JS operators in OWL 2 QWeb templates
  addons/ipai/ipai_ai_copilot/static/src/xml/copilot_sidebar.xml
Due: none

ssot(ai): Odoo 19 AI mapping + copilot parity priorities + Claude Code extension layer
  contracts/tools/TOOL_SPEC_TEMPLATE.md
  docs/agents/CLAUDE_CODE_EXTENSION_LAYER.md
  docs/agents/CLAUDE_CODE_PLUGINS_POLICY.md
  eval/action_eval.yaml
  eval/knowledge_copilot_eval.yaml
  spec/ai-copilot/prd.md
  spec/ai-copilot/tasks.md
  ssot/ai/copilot_parity_priorities.yaml
  ssot/ai/odoo_ai_mapping.yaml
  ssot/knowledge/corpus_registry.yaml
Due: validate-spec-kit

spec(ssot): Gemini-first OCA/ai integration model for copilot parity
  eval/action_eval.yaml
  eval/knowledge_copilot_eval.yaml
  spec/ai-copilot/prd.md
  spec/ai-copilot/tasks.md
  ssot/ai/oca_ai_integration.yaml
  ssot/ai/provider_policy.yaml
Due: validate-spec-kit

spec(ssot): Concur-like cash advance domain model + spec bundle + extension decision tree
  spec/ai-copilot/constitution.md
  spec/expense-cash-advance/constitution.md
  spec/expense-cash-advance/plan.md
  spec/expense-cash-advance/prd.md
  spec/expense-cash-advance/tasks.md
  ssot/architecture/extension_decision_tree.yaml
  ssot/finance/expense_cash_advance.yaml
Due: validate-spec-kit

ssot(parity): EE→OCA proof matrix (evidence-based, no universal claim)
  docs/parity/EE_TO_OCA_PROOF.md
  ssot/parity/ee_to_oca_proof_matrix.yaml
Due: none

ops: release contract + deploy-proof artifacts
  .github/workflows/cd-production.yml
  .github/workflows/ship-on-deploy.yml
  scripts/build_release_manifest.py
  ssot/runtime/release_contract.yaml
  ssot/runtime/releases/.gitkeep
Due: no-enterprise-deps

ci(ops): release workflow contract gate
  .github/workflows/release-workflow-contract.yml
  scripts/check_release_workflow_contract.py
Due: no-enterprise-deps

fix(ops): always emit gates_report.json alongside release manifest
  .github/workflows/cd-production.yml
  .github/workflows/ship-on-deploy.yml
  scripts/build_release_manifest.py
Due: no-enterprise-deps

fix(ci): promote gates_report.json to required check, ignore sandbox/
  .gitignore
  scripts/check_release_workflow_contract.py
Due: no-enterprise-deps

feat(capabilities): start P0 knowledge copilot + governed tools
  eval/action_eval.yaml
  eval/knowledge_copilot_eval.yaml
  spec/ai-copilot/tasks.md
  ssot/agent/feature_ledger.yaml
  ssot/knowledge/corpus_registry.yaml
Due: validate-spec-kit

chore: ignore sandbox + fix tool spec extension (.yaml → .md)
  .gitignore
  spec/ai-copilot/tasks.md
  ssot/agent/feature_ledger.yaml
Due: validate-spec-kit

ops: release contract + deploy-proof artifacts (#496)
  .github/workflows/cd-production.yml
  .github/workflows/ship-on-deploy.yml
  scripts/build_release_manifest.py
  ssot/runtime/release_contract.yaml
  ssot/runtime/releases/.gitkeep
Due: no-enterprise-deps

ci(ops): release workflow contract gate (#497)
  .github/workflows/release-workflow-contract.yml
  .gitignore
  scripts/check_release_workflow_contract.py
Due: no-enterprise-deps

feat(capabilities): start P0 knowledge copilot + governed tools (#498)
  .gitignore
  eval/action_eval.yaml
  eval/knowledge_copilot_eval.yaml
  spec/ai-copilot/tasks.md
  ssot/agent/feature_ledger.yaml
  ssot/knowledge/corpus_registry.yaml
Due: validate-spec-kit

chore: ignore sandbox + fix tool spec extension (.yaml → .md)
  spec/ai-copilot/tasks.md
  ssot/agent/feature_ledger.yaml
Due: validate-spec-kit

feat(p0): governed tool specs + corpus indexer + ledger gates
  contracts/tools/create_record.md
  contracts/tools/navigate_to.md
  contracts/tools/search_records.md
  contracts/tools/send_chatter_message.md
  contracts/tools/trigger_workflow.md
  docs/contracts/PLATFORM_CONTRACTS_INDEX.md
  docs/evidence/action_eval/audit_envelope_sample.json
  scripts/index_corpus_registry.py
  ssot/agent/feature_ledger.yaml
  ssot/knowledge/corpus_registry.yaml
Due: no-enterprise-deps

feat(capabilities): start P0 knowledge copilot + governed tools
  spec/ai-copilot/tasks.md
  ssot/agent/feature_ledger.yaml
Due: validate-spec-kit

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$
