Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$

fix(copilot): remove stale asset refs + fix rpc service crash
  addons/ipai/ipai_odoo_copilot/__manifest__.py
  addons/ipai/ipai_odoo_copilot/static/src/js/copilot_systray.js
Due: no-enterprise-deps, odoo-manifest-check

fix(docker): remove non-existent module COPY lines
  platform/runtime/docker/docker/Dockerfile.odoo-copilot
Due: none

feat(copilot): add Pulser wave logo icon + chat widget SCSS
  addons/ipai/ipai_odoo_copilot/__init__.py
  addons/ipai/ipai_odoo_copilot/__manifest__.py
  addons/ipai/ipai_odoo_copilot/data/copilot_partner_data.xml
  addons/ipai/ipai_odoo_copilot/data/ir_config_parameter.xml
  addons/ipai/ipai_odoo_copilot/models/copilot_conversation.py
  addons/ipai/ipai_odoo_copilot/models/copilot_message.py
  addons/ipai/ipai_odoo_copilot/models/ipai_copilot_action_queue.py
  addons/ipai/ipai_odoo_copilot/models/tool_executor.py
  addons/ipai/ipai_odoo_copilot/security/copilot_groups.xml
  addons/ipai/ipai_odoo_copilot/services/diva_bridge.py
  addons/ipai/ipai_odoo_copilot/services/odoo_context_builder.py
  addons/ipai/ipai_odoo_copilot/static/src/css/copilot.css
  addons/ipai/ipai_odoo_copilot/static/src/img/pulser_icon.png
  addons/ipai/ipai_odoo_copilot/static/src/js/copilot_service.js
  addons/ipai/ipai_odoo_copilot/static/src/scss/copilot.scss
  addons/ipai/ipai_odoo_copilot/static/src/xml/copilot_systray.xml
  addons/ipai/ipai_odoo_copilot/tests/test_copilot_conversation.py
  addons/ipai/ipai_odoo_copilot/tests/test_copilot_gateway.py
  addons/ipai/ipai_odoo_copilot/tests/test_copilot_message.py
  addons/ipai/ipai_odoo_copilot/views/copilot_assets.xml
  addons/ipai/ipai_odoo_copilot/views/copilot_audit_views.xml
  addons/ipai/ipai_odoo_copilot/views/res_config_settings_views.xml
Due: no-enterprise-deps, odoo-manifest-check

fix(docker): remove non-existent modules AGAIN + add guard comment
  platform/runtime/docker/docker/Dockerfile.odoo-copilot
Due: none

feat(agents): add credential framework + role matrix SSOT
  ssot/agents/credential_framework.yaml
  ssot/agents/role_matrix.yaml
Due: none

feat(evals): add Odoo Copilot eval dataset + runner
  agents/evals/odoo-copilot/eval_dataset.jsonl
  agents/evals/odoo-copilot/eval_runner.py
Due: no-enterprise-deps

feat(agents): scaffold Foundry hosted agent for Odoo Copilot
  agents/foundry/ipai-odoo-copilot-azure/CHANGELOG.md
  agents/foundry/ipai-odoo-copilot-azure/env-contract.md
  agents/foundry/ipai-odoo-copilot-azure/launch-checklist.md
  agents/foundry/ipai-odoo-copilot-azure/publish-policy.md
  agents/foundry/odoo-copilot/agent_config.yaml
  agents/foundry/odoo-copilot/create_agent.py
  agents/foundry/odoo-copilot/tool_executor.py
Due: no-enterprise-deps

feat(tracing): add Application Insights to Odoo MCP connector
  apps/odoo-connector/package.json
  apps/odoo-connector/src/index.ts
  apps/odoo-connector/src/tracing.ts
Due: none

feat(ssot): add curated OCA baseline for CE 19
  ssot/odoo/oca-baseline.yaml
Due: none

feat(docker): add 27 OCA baseline modules to Dockerfile sparse checkout
  platform/runtime/docker/docker/Dockerfile.odoo-copilot
Due: none

docs: platform audit, Pulser taxonomy, data architecture, knowledge base
  .mcp.json
  docs/agents/PULSER_LIFECYCLE_AND_PROMOTION.md
  docs/agents/PULSER_TAXONOMY.md
  docs/architecture/DATABRICKS_FABRIC_ROLE_SPLIT.md
  docs/architecture/FABRIC_FINANCE_PPM_TARGET_STATE.md
  docs/architecture/ORG_BENCHMARK_ALIGNMENT.md
  docs/architecture/POWER_BI_ON_GOLD.md
  docs/audits/data-platform/20260328/E2E_STATUS.json
  docs/audits/data-platform/20260328/FINDINGS.md
  docs/audits/data-platform/20260328/FIX_PLAN.md
  docs/audits/data-platform/20260328/TEST_MATRIX.md
  docs/audits/data-platform/20260328/TOPOLOGY.md
  docs/audits/integration-auth/20260327-1230/GAP_CLOSURE_PASS_1.md
  docs/audits/integration-auth/20260327-1230/RUNTIME_VERIFICATION_PLAN.md
  docs/audits/integration-auth/20260327-1230/SUMMARY.md
  docs/audits/integration-auth/20260327-1230/auth-matrix.md
  docs/audits/integration-auth/20260327-1230/findings.md
  docs/audits/integration-auth/20260327-1230/inventory.md
  docs/audits/integration-auth/20260327-1230/remediation-plan.md
  docs/audits/integration-auth/20260327-1230/target-state.md
  docs/skills/meta-marketing-api-integration.md
  infra/ssot/root_boundary_inventory.yaml
  ssot/contracts/prisma-consulting-integration.yaml
  web/apps/gmail-odoo-addon/.clasp.json
Due: none

feat(ci): add Odoo DB binding smoke test
  scripts/ci/smoke_odoo_db_binding.sh
Due: none

feat(copilot): Foundry-backed skill router with activity timeline
  addons/ipai/ipai_odoo_copilot/__manifest__.py
  addons/ipai/ipai_odoo_copilot/controllers/main.py
  addons/ipai/ipai_odoo_copilot/models/__init__.py
  addons/ipai/ipai_odoo_copilot/models/copilot_audit.py
  addons/ipai/ipai_odoo_copilot/models/foundry_service.py
  addons/ipai/ipai_odoo_copilot/models/res_config_settings.py
  addons/ipai/ipai_odoo_copilot/models/skill_router.py
  addons/ipai/ipai_odoo_copilot/models/tool_executor.py
  addons/ipai/ipai_odoo_copilot/static/src/components/activity_timeline/activity_timeline.js
  addons/ipai/ipai_odoo_copilot/static/src/components/activity_timeline/activity_timeline.scss
  addons/ipai/ipai_odoo_copilot/static/src/components/activity_timeline/activity_timeline.xml
  addons/ipai/ipai_odoo_copilot/static/src/components/chat_panel/chat_panel.js
  addons/ipai/ipai_odoo_copilot/static/src/components/chat_panel/chat_panel.xml
  addons/ipai/ipai_odoo_copilot/tests/__init__.py
  addons/ipai/ipai_odoo_copilot/tests/test_skill_router.py
  packages/copilot-activity/activityHelpers.ts
  packages/copilot-activity/activityTypes.ts
Due: no-enterprise-deps, odoo-manifest-check

feat(web): add activity timeline to Pulser widget, add PrismaLab to products
  web/ipai-landing/server.ts
  web/ipai-landing/src/App.tsx
  web/ipai-landing/src/components/AskPulser.tsx
Due: none

feat(web): add health to hero caption, Health & Research to solutions nav
  web/ipai-landing/src/App.tsx
Due: none

fix(web): correct hero caption to "financial, and health services"
  web/ipai-landing/src/App.tsx
Due: none

feat(web): scale company page to full-screen hero with matched typography
  web/ipai-landing/src/App.tsx
Due: none

fix(ci): rewrite landing pipeline to self-contained ACR+ACA deploy
  web/ipai-landing/azure-pipelines.yml
Due: none

feat(ci): production-complete CI/CD — 17 files, zero placeholders
  azure-pipelines/databricks-deploy.yml
  azure-pipelines/odoo-deploy.yml
  azure-pipelines/templates/jobs/build-container.yml
  azure-pipelines/templates/jobs/databricks-bundle-promote.yml
  azure-pipelines/templates/jobs/databricks-bundle-validate.yml
  azure-pipelines/templates/jobs/deploy-containerapp.yml
  azure-pipelines/templates/jobs/foundry-eval.yml
  azure-pipelines/templates/jobs/publish-evidence.yml
  azure-pipelines/templates/jobs/smoke-http.yml
  azure-pipelines/templates/jobs/validate-bicep.yml
  azure-pipelines/web-landing-deploy.yml
  docs/architecture/DELIVERY_READINESS.md
  docs/evidence/README.md
  docs/evidence/releases/.gitkeep
  ssot/release/release_contract.yaml
  tests/smoke/databricks/test_warehouse.sh
  tests/smoke/odoo/test_erp.sh
  tests/smoke/web/test_landing.sh
Due: none

fix(ci): surgical CI/CD fix — shared template spine, kill dead pool, rehome agent-platform
  agent-platform/azure-pipelines-pr.yml
  agent-platform/azure-pipelines.yml
  agents/ci/evals-validation.yml
  azure-pipelines/odoo-container-deploy.yml
  azure-pipelines/templates/extends/base-ci.yml
  azure-pipelines/templates/extends/base-deploy.yml
  azure-pipelines/templates/jobs/deploy-bicep.yml
  docs/architecture/CI_CD_RUNTIME_TOPOLOGY.md
  docs/architecture/SAP_BENCHMARK_PATTERN_ADAPTATION.md
  infra/ci/azure-pipelines.yml
  platform/ci/foundry-runtime-ci.yml
  platform/ci/foundry-runtime-pr.yml
  web/ipai-landing/azure-pipelines.upgrade.yml
  web/ipai-landing/azure-pipelines.yml
Due: none

fix(ci): fix GitHub Actions deploy workflows — correct ACR, OIDC vars, smoke + evidence
  .github/workflows/deploy-ipai-landing.yml
  .github/workflows/deploy-saas-landing.yml
Due: none
