Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

no-enterprise-deps:
  name: No Enterprise Dependencies
  entry: bash -c 'scripts/policy-check.sh --diff || true'
  language: system
  pass_filenames: false

validate-spec-kit:
  name: Validate Spec Kit
  entry: bash -c 'scripts/validate-spec-kit.sh || true'
  language: system
  pass_filenames: false

odoo-manifest-check:
  name: Odoo Manifest Validator
  entry: python3 scripts/validate_manifest.py
  language: system
  pass_filenames: false

docs(portfolio): MB-500 competency portfolio — D365 F&O skills mapped to IPAI
  docs/portfolio/mb500-competency-portfolio.md
Due: none

docs: master index — no orphaned docs
  docs/INDEX.md
Due: none

docs(architecture): baseline → target state — 44 resources, 19 gaps, ~5 days to target
  docs/INDEX.md
  docs/architecture/baseline-to-target-state.md
Due: none

docs(readme): update status, environments, assistant surfaces to current state
  README.md
Due: none

spec(templates): 4 spec-kit templates — feature, bugfix, infra-change, vertical-package
  spec/_templates/bugfix/spec.md
  spec/_templates/bugfix/tasks.md
  spec/_templates/feature/constitution.md
  spec/_templates/feature/plan.md
  spec/_templates/feature/spec.md
  spec/_templates/feature/tasks.md
  spec/_templates/infra-change/constitution.md
  spec/_templates/infra-change/plan.md
  spec/_templates/infra-change/tasks.md
  spec/_templates/vertical-package/constitution.md
  spec/_templates/vertical-package/demo-script.md
  spec/_templates/vertical-package/marketplace-listing.md
  spec/_templates/vertical-package/plan.md
  spec/_templates/vertical-package/spec.md
  spec/_templates/vertical-package/tasks.md
Due: validate-spec-kit

docs(strategy): add D365 Finance + Project Ops + BC capabilities to demo matrix
  docs/strategy/capability-matrix-v1.md
Due: none

docs(strategy): add Odoo 19 + Notion 3.0 + SAP + AvaTax capabilities to matrix
  docs/strategy/capability-matrix-v1.md
Due: none

ssot(azure): 100% BOM spec coverage — all 44 resources referenced
  ssot/azure/resource-normalization-checklist.yaml
Due: none

feat(gtm): sync ISV Success resources and PRD constraints
  docs/evidence/20260418-0102/isv-success/external_benefits_registry.yaml
  spec/microsoft-marketplace-gtm/prd.md
Due: validate-spec-kit

chore(integrations): scaffold partner center api contract constraints
  ssot/integrations/partner_center_api.yaml
Due: none

docs(gtm): map Pulser platform to official MS Cloud Solution Areas
  spec/microsoft-marketplace-gtm/prd.md
Due: validate-spec-kit

feat(platform): ISV Success alignment, marketplace strategy, certification skills, financial targets
  .claude/rules/infrastructure.md
  .claude/skills/SKILL.md
  .claude/skills/azure-ai-engineer/SKILL.md
  .claude/skills/azure-ai-fundamentals/SKILL.md
  .claude/skills/azure-data-scientist/SKILL.md
  .claude/skills/copilot-instructions-azure-skills.md
  docs/INDEX.md
  docs/marketplace/gtm-strategy.md
  docs/marketplace/partner-center-listing-pulser-odoo-finance.md
  docs/marketplace/solutions-partner-scoring.md
  docs/strategy/capabilities-roadmap.md
  infra/azure/marketplace/README.md
  infra/azure/marketplace/createUiDefinition.json
  ssot/delivery/sprint-isv-alignment.yaml
  ssot/governance/vmokrapi-spatres.yaml
Due: none

docs(ssot): index GitHub org — 17 repos mapped, 10 duplicates identified, W9 source missing
  ssot/repo/github-org-inventory.yaml
Due: none

docs: prepare local dev environment for Azure AI Foundry
  docs/research/foundry-onboarding-guide.md
  requirements-ai.txt
  scripts/verify_foundry_env.sh
Due: none

feat: align pulser assistant with azure skills and foundry patterns
  .agents/skills/pulser-assistant/SKILL.md
  .agents/skills/pulser-assistant/references/sdk-usage.md
  .foundry/agent-metadata.yaml
  addons/ipai/ipai_pulser_assistant/__manifest__.py
  addons/ipai/ipai_pulser_assistant/data/pulser_assistant_data.xml
Due: no-enterprise-deps, odoo-manifest-check

feat: sync studio w9 ssot and knowledge base with april 2026 data
  agents/knowledge/KNOWLEDGE_BASE_INDEX.yaml
  agents/knowledge/w9_studio_specs.md
  ssot/google-workspace/w9studio-tenant.yaml
  ssot/tenants/w9studio/identity.yaml
  ssot/tenants/w9studio/rates.yaml
Due: none

feat: ignite gmail mail plugin for w9 studio tenant
  addons/ipai/ipai_google_workspace/__manifest__.py
  addons/ipai/ipai_google_workspace/data/google_workspace_params.xml
  agents/knowledge/KNOWLEDGE_BASE_INDEX.yaml
  bir-tax-info.md
  docs/architecture/tax/BIR_KNOWLEDGE_MAP.md
  docs/gtm/demo_storyboard.md
  docs/research/azure-skills-alignment.md
  spec/microsoft-marketplace-gtm/constitution.md
  spec/microsoft-marketplace-gtm/prd.md
  ssot/integrations/google_w9_studio.yaml
Due: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

docs: finalize microsoft marketplace listing and demo storyboard alignment
  docs/gtm/demo_storyboard.md
  docs/gtm/marketplace_listing_draft.md
  spec/microsoft-marketplace-gtm/tasks.md
Due: validate-spec-kit

feat: adopt google genai sdk and establish intelligence orchestration for gemini 3
  .agents/skills/pulser-assistant/SKILL.md
  platform/ssot/intelligence/models.yaml
  requirements-ai.txt
  scripts/ai/gemini_3_smoke_test.py
Due: no-enterprise-deps

feat: implement microsoft marketplace saas fulfillment bridge in odoo
  addons/ipai/ipai_marketplace_fulfillment/__manifest__.py
  addons/ipai/ipai_marketplace_fulfillment/controllers/main.py
  addons/ipai/ipai_marketplace_fulfillment/data/marketplace_data.xml
  addons/ipai/ipai_marketplace_fulfillment/models/marketplace_subscription.py
  addons/ipai/ipai_marketplace_fulfillment/security/ir.model.access.csv
  platform/ssot/integrations/microsoft-marketplace.yaml
  scripts/test/mock_marketplace_webhook.sh
Due: no-enterprise-deps, odoo-manifest-check

feat: implement microsoft marketplace onboarding landing page and sso handoff
  addons/ipai/ipai_marketplace_fulfillment/__manifest__.py
  addons/ipai/ipai_marketplace_fulfillment/controllers/main.py
  addons/ipai/ipai_marketplace_fulfillment/views/marketplace_templates.xml
  platform/ssot/integrations/microsoft-marketplace.yaml
Due: no-enterprise-deps, odoo-manifest-check

docs: finalize isv success benefit claim documentation and polish marketplace gtm collateral
  docs/evidence/20260418-0102/isv-success/external_benefits_registry.yaml
  docs/gtm/marketplace_listing_draft.md
  spec/microsoft-marketplace-gtm/tasks.md
Due: validate-spec-kit

docs: draft microsoft co-sell one-pager and sync marketplace offer messaging
  docs/gtm/MARKETPLACE_OFFER.md
  docs/gtm/microsoft_cosell_one_pager.md
  spec/microsoft-marketplace-gtm/tasks.md
Due: validate-spec-kit

docs: finalize pulser for ph demo script and ui mockups
  docs/gtm/demo_script_detailed.md
  spec/microsoft-marketplace-gtm/tasks.md
Due: validate-spec-kit

feat: establish managed identity governance for azure sponsorship benefit
  docs/evidence/20260418-0102/isv-success/external_benefits_registry.yaml
  infra/azure/marketplace/deploy-sponsorship-rbac.bicep
  platform/ssot/identity/entra_rbac_roles.yaml
Due: none

feat: scaffold m365 declarative agent for project-to-profit cockpit
  agents/pulser-surface/appPackage/ai-plugin.json
  agents/pulser-surface/appPackage/declarativeAgent.json
  agents/pulser-surface/appPackage/manifest.json
  spec/pulser-odoo/tasks.md
Due: validate-spec-kit

chore(repo): gitignore competitive intel binaries (pptx/pdf — local only)
  .gitignore
Due: none

feat: finalize marketplace onboarding flow and gmail/gws ignition
  addons/ipai/ipai_marketplace_fulfillment/views/marketplace_templates.xml
  scripts/gws/configure_google_oauth.sh
  spec/microsoft-marketplace-gtm/tasks.md
Due: validate-spec-kit

feat: implement finance rbac matrix and approval bands A-E
  platform/ssot/finance/approval_bands.yaml
  platform/ssot/identity/entra_rbac_roles.yaml
  scripts/odoo/configure_approval_bands.py
  spec/pulser-odoo/tasks.md
Due: no-enterprise-deps, validate-spec-kit

chore: finalize GTM readiness and KB consolidation for marketplace launch
  spec/microsoft-marketplace-gtm/tasks.md
  ssot/integrations/partner_center_api.yaml
Due: validate-spec-kit

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$
