Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$

feat(schema): universal ops.runs unification — consolidate agent + maintenance runs (#452)
  supabase/migrations/20260302000020_universal_ops_runs.sql
Due: none

feat(workbench): WorkbenchX foundation — spec bundle + provider slots + spec-kit governance (#446)
  .github/workflows/spec-kit-drift.yml
  apps/ops-console/app/api/ai/stream/route.ts
  docs/policies/spec-kit.md
  docs/runbooks/spec-kit-refresh.md
  spec/cloudera-ai-workbench-reverse/constitution.md
  spec/cloudera-ai-workbench-reverse/plan.md
  spec/cloudera-ai-workbench-reverse/prd.md
  spec/cloudera-ai-workbench-reverse/tasks.md
  ssot/providers/ai/provider.yaml
  ssot/providers/vercel/sandbox.yaml
  ssot/tooling/spec-kit.yaml
  supabase/migrations/20260301000080_ops_sandbox_runs.sql
Due: validate-spec-kit

feat(ops): ops.artifacts registry — migration + ops-console scaffold pages
  apps/ops-console/components/navigation/sidebar.tsx
  spec/odooops-console/plan.md
  supabase/migrations/20260301000070_ops_artifacts.sql
  supabase/migrations/20260301000071_ops_artifacts_hardening.sql
Due: validate-spec-kit

chore(ci): add main direct push guard — block commits without PR
  .github/workflows/main-direct-push-guard.yml
Due: none

ci(ios): iOS preview builds pipeline (split from #442)
  .github/workflows/ios-appstore.yml
  .github/workflows/ios-preview-builds.yml
Due: none

chore(ci): add main direct push guard — block commits without PR (#455)
  .github/workflows/main-direct-push-guard.yml
Due: none

feat(ops): ops.artifacts registry — migration + ops-console scaffold pages (#453)
  apps/ops-console/components/navigation/sidebar.tsx
  spec/odooops-console/plan.md
  supabase/migrations/20260301000070_ops_artifacts.sql
  supabase/migrations/20260301000071_ops_artifacts_hardening.sql
Due: validate-spec-kit

feat(ssot): Odoo Enterprise parity matrix + CI gate
  .github/workflows/odoo-ee-parity-gate.yml
  docs/ai/EE_PARITY_SSOT.md
  scripts/ci/check_odoo_enterprise_parity.py
  ssot/parity/odoo_enterprise.yaml
Due: no-enterprise-deps

feat(ssot): Odoo Enterprise parity matrix + CI gate (#456)
  .github/workflows/odoo-ee-parity-gate.yml
  docs/ai/EE_PARITY_SSOT.md
  scripts/ci/check_odoo_enterprise_parity.py
  ssot/parity/odoo_enterprise.yaml
Due: no-enterprise-deps

feat(ppm): PPM Clarity — Notion replacement (portfolio + search) (#ppm)
  apps/ops-console/app/api/ppm/initiatives/route.ts
  apps/ops-console/app/api/ppm/rollups/route.ts
  apps/ops-console/app/api/search/route.ts
  apps/ops-console/app/tools/ppm/page.tsx
  apps/ops-console/app/tools/search/page.tsx
  spec/ppm-clarity/constitution.md
  spec/ppm-clarity/plan.md
  spec/ppm-clarity/prd.md
  spec/ppm-clarity/tasks.md
  ssot/ppm/portfolio.yaml
  ssot/search/sources.yaml
  supabase/functions/ops-ppm-rollup/index.ts
  supabase/functions/ops-search-query/index.ts
  supabase/migrations/20260302000030_ops_ppm_initiatives.sql
Due: validate-spec-kit

chore(ppm): harden security + make deploy steps explicit
  .github/workflows/ppm-portfolio-sync.yml
  apps/ops-console/app/api/ppm/initiatives/route.ts
  apps/ops-console/app/api/ppm/rollups/route.ts
  apps/ops-console/app/api/search/route.ts
  apps/ops-console/app/tools/ppm/page.tsx
  apps/ops-console/app/tools/search/page.tsx
  spec/ppm-clarity/plan.md
  spec/ppm-clarity/tasks.md
  supabase/functions/ops-ppm-rollup/index.ts
  supabase/functions/ops-search-query/index.ts
  supabase/migrations/20260302000030_ops_ppm_initiatives.sql
Due: validate-spec-kit

fix(vercel): robust ignore-build base + pin node/pnpm + workflow permissions
  .github/workflows/ppm-portfolio-sync.yml
  apps/ops-console/app/tools/search/page.tsx
  apps/ops-console/package.json
  apps/ops-console/vercel.json
  package.json
  scripts/vercel/should-build-ops-console.sh
Due: none

chore(ci): guard Apple signing steps + register iOS secrets in SSOT
  .github/workflows/ios-appstore.yml
  .github/workflows/ios-preview-builds.yml
  ssot/secrets/registry.yaml
Due: none

fix(ci): spec-kit-drift — continue-on-error for specify init compatibility
  .github/workflows/spec-kit-drift.yml
Due: none

feat(agents): deer-flow patterns adoption — skills registry + memory + errors + benchmarks
  .github/workflows/benchmark-runner.yml
  .github/workflows/skills-registry-gate.yml
  .github/workflows/skills-sync.yml
  docs/runbooks/failures/AGENT.BENCHMARK_SCORE_BELOW_THRESHOLD.md
  docs/runbooks/failures/AGENT.MEMORY_WRITE_FAILED.md
  docs/runbooks/failures/AGENT.PATCH_DIFF_TOO_LARGE.md
  docs/runbooks/failures/AGENT.PLAN_EMPTY.md
  docs/runbooks/failures/AGENT.PR_OPEN_FAILED.md
  docs/runbooks/failures/AGENT.SKILL_NOT_FOUND.md
  docs/runbooks/failures/AGENT.STATE_MACHINE_SKIP.md
  docs/runbooks/failures/AGENT.VERIFY_CI_FAIL.md
  docs/runbooks/failures/AUTH.INVALID_JWT.md
  docs/runbooks/failures/CI.PPM_PORTFOLIO_SYNC_FAILED.md
  docs/runbooks/failures/CI.SKILLS_REGISTRY_INVALID.md
  docs/runbooks/failures/SCHEMA.MIGRATION_FAILED.md
  scripts/ci/validate_skills_registry.py
  spec/deerflow-patterns-adoption/constitution.md
  spec/deerflow-patterns-adoption/plan.md
  spec/deerflow-patterns-adoption/prd.md
  spec/deerflow-patterns-adoption/tasks.md
  ssot/agents/benchmark.yaml
  ssot/agents/skills.yaml
  ssot/errors/failure_modes.yaml
  supabase/functions/ops-memory-read/index.ts
  supabase/functions/ops-memory-write/index.ts
  supabase/migrations/20260302000040_deerflow_patterns.sql
Due: no-enterprise-deps, validate-spec-kit

docs(ci): iOS preview builds runbook — extension noise + secret provisioning guide
  docs/runbooks/RB_IOS_PREVIEW_BUILDS_CI.md
Due: none

feat(platform): GitHub Integrations SSOT — App manifest + secrets registry + webhook ingest
  docs/runbooks/GITHUB_APP_PROVISIONING.md
  spec/github-integrations/constitution.md
  spec/github-integrations/prd.md
  ssot/github/app-manifest.yaml
  ssot/secrets/registry.yaml
  supabase/functions/ops-github-webhook-ingest/index.ts
Due: validate-spec-kit

chore(ops): vercel domain claim + env wiring + supabase colima scripts
  infra/dns/subdomain-registry.yaml
  scripts/supabase/local_down.sh
  scripts/supabase/local_up.sh
  scripts/vercel/claim_domain.sh
  scripts/vercel/set_ops_console_env.sh
Due: none

feat(ci): harden GitHub App webhook ingest — migration, idempotency, CI gate
  .github/workflows/github-app-manifest-gate.yml
  docs/runbooks/GITHUB_APP_PROVISIONING.md
  scripts/ci/check_github_app_manifest.py
  ssot/errors/failure_modes.yaml
  supabase/functions/ops-github-webhook-ingest/index.ts
  supabase/migrations/20260302000050_ops_webhook_events_github_cols.sql
Due: no-enterprise-deps

chore(ssot): pulser-hub App — record app_id, client_id, .com URLs + drift notes
  ssot/github/app-manifest.yaml
Due: none

feat(integrations): self-hosted GitHub Apps for n8n + Plane bridge (SSOT-driven)
  .github/workflows/github-apps-ssot-guard.yml
  infra/github/apps/ipai-n8n/manifest.json
  infra/github/apps/ipai-plane-bridge/manifest.json
  ssot/github/apps.yaml
  ssot/secrets/registry.yaml
  supabase/functions/ops-github-webhook-ingest/index.ts
Due: none

fix(github-app): client_id-first JWT issuer + shared mintAppJWT helper
  docs/runbooks/GITHUB_APP_PROVISIONING.md
  supabase/functions/github-app-auth/index.ts
  supabase/functions/github-app-auth/jwt_issuer_test.ts
Due: none
