Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$

chore(ssot): prod readiness gate — email + OCR + invariants + canonical URLs
  .github/workflows/canonical-urls-gate.yml
  .github/workflows/prod-settings-ssot-gate.yml
  infra/dns/canonical_urls.yaml
  infra/dns/subdomain-registry.yaml
  scripts/ci/check_canonical_urls.py
  scripts/ci/check_prod_settings_ssot.py
  spec/ipai-llm-supabase-bridge/tasks.md
  ssot/runtime/prod_settings.yaml
  ssot/secrets/registry.yaml
Due: no-enterprise-deps, validate-spec-kit

chore(ssot): add prod settings readiness gate (email+ocr+invariants)
  .github/workflows/prod-settings-ssot-gate.yml
  .github/workflows/ssot-gates.yml
  docs/architecture/PLATFORM_REPO_TREE.md
  scripts/ci/check_prod_settings_ssot.py
  spec/ipai-llm-supabase-bridge/tasks.md
  ssot/runtime/prod_settings.yaml
Due: no-enterprise-deps, validate-spec-kit

chore(ssot): clarify settings catalog authority + gate behavior
  ssot/odoo/settings_catalog.yaml
Due: none

chore(ci): make canonical_urls.yaml authoritative; block new URLs in Markdown
  docs/architecture/CANONICAL_URLS.md
  infra/dns/canonical_urls.yaml
  scripts/ci/check_canonical_urls.py
Due: no-enterprise-deps

chore(ops): OCR nginx vhost + DEPLOYED SSOT; auth invite SoR policy
  infra/dns/canonical_urls.yaml
  infra/dns/subdomain-registry.yaml
  infra/nginx/ocr.insightpulseai.com.conf
  ssot/ai/odoo_ai.yaml
  ssot/bridges/catalog.yaml
  ssot/runtime/prod_settings.yaml
Due: none

chore(ssot): codify MFA policy (supabase TOTP, disable odoo TOTP)
  ssot/runtime/prod_settings.yaml
Due: none

chore(ci): enforce supabase MFA runtime when SSOT requires it
  .github/workflows/prod-mfa-runtime-gate.yml
  scripts/ci/check_prod_mfa_ssot.py
  ssot/secrets/registry.yaml
Due: no-enterprise-deps

chore(ssot): add Stripe secrets + wrapper readiness
  scripts/ci/check_prod_settings_ssot.py
  ssot/runtime/prod_settings.yaml
  ssot/secrets/registry.yaml
  supabase/migrations/20260228000001_stripe_wrapper.sql
Due: no-enterprise-deps

chore(ssot): stripe prod settings + secret registry + gate enforcement
  scripts/ci/check_prod_settings_ssot.py
  ssot/runtime/prod_settings.yaml
  ssot/secrets/registry.yaml
  supabase/migrations/20260228000001_stripe_wrapper.sql
Due: no-enterprise-deps

chore(ssot): add Stripe webhook contract to prod_settings
  scripts/ci/check_prod_settings_ssot.py
  ssot/runtime/prod_settings.yaml
Due: no-enterprise-deps

feat(ci): OCA-19 deterministic readiness gate + addons_path cleanup
  .github/workflows/oca-19-readiness-report.yml
  .github/workflows/oca-must-have-gate.yml
  config/dev/odoo.conf
  config/prod/odoo.conf
  config/stage/odoo.conf
  docs/runbooks/OCA_PORTING.md
  scripts/ci/scan_oca_repos.py
  ssot/odoo/oca_repos.yaml
Due: no-enterprise-deps

chore(ssot): add Prismaconsulting integration register + harden gh metadata fields
  docs/architecture/PLATFORM_REPO_TREE.md
  scripts/scan_repos.sh
  ssot/integrations/prismaconsulting.yaml
Due: none

feat(agents): introduce Agent Skills Framework with contract-first skill validation
  .github/workflows/agent-skills-gate.yml
  agents/skills/_template/examples/README.md
  agents/skills/_template/prompt.md
  agents/skills/_template/skill.yaml
  agents/skills/_template/tests/README.md
  agents/skills/ocr.bridge.configure/examples/health-check-fail.json
  agents/skills/ocr.bridge.configure/examples/paddleocr-prod.json
  agents/skills/ocr.bridge.configure/prompt.md
  agents/skills/ocr.bridge.configure/skill.yaml
  agents/skills/odoo.mail.configure/examples/missing-secret.json
  agents/skills/odoo.mail.configure/examples/zoho-dev.json
  agents/skills/odoo.mail.configure/examples/zoho-prod.json
  agents/skills/odoo.mail.configure/prompt.md
  agents/skills/odoo.mail.configure/skill.yaml
  agents/skills/schema/skill.schema.json
  docs/architecture/PLATFORM_REPO_TREE.md
  scripts/ci/check_agent_skills.py
  web/docs/evidence/20260228-0057+0800/agent-skills-framework/logs/check_agent_skills.log
  web/docs/evidence/20260228-0057+0800/agent-skills-framework/logs/check_prod_settings.log
Due: no-enterprise-deps

chore(ci): enforce zoho mail provider default + settings-as-code
  .github/workflows/provider-defaults-gate.yml
  addons/ipai/ipai_enterprise_bridge/models/res_config_settings.py
  config/odoo/settings.yaml
  scripts/ci/check_deprecated_provider_defaults.py
  scripts/ci/check_prod_mail_live.py
Due: no-enterprise-deps

chore(ssot): gate Stripe wrapper activation on Vault provisioning
  .github/workflows/stripe-wrapper-gate.yml
  scripts/ci/check_stripe_wrapper_activation.py
  ssot/runtime/prod_settings.yaml
  ssot/runtime/vault_provisioning.yaml
  supabase/migrations/20260228000001_stripe_wrapper.sql
Due: no-enterprise-deps

feat(payments): stripe-webhook Edge Function + ops.stripe_events migration
  supabase/functions/stripe-webhook/index.ts
  supabase/migrations/20260228000002_ops_stripe_events.sql
Due: none

fix(payments): use .schema("ops").rpc() for ingest_stripe_event + disable JWT for stripe-webhook
  supabase/config.toml
  supabase/functions/stripe-webhook/index.ts
Due: none

docs(supabase): correct stripe wrapper Vault key_id semantics
  supabase/migrations/20260228000001_stripe_wrapper.sql
Due: none

chore(ops): publish OCR via nginx + align health path SSOT
  infra/dns/subdomain-registry.yaml
  infra/nginx/ocr.insightpulseai.com.conf
  ssot/runtime/prod_settings.yaml
Due: none

chore(ops): activate HTTPS for ocr.insightpulseai.com + full vhost
  infra/nginx/ocr.insightpulseai.com.conf
Due: none
