Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

no-enterprise-deps:
  name: No Enterprise Dependencies
  entry: bash -c 'scripts/policy-check.sh --diff || true'
  language: system
  pass_filenames: false

validate-spec-kit:
  name: Validate Spec Kit
  entry: bash -c 'scripts/validate-spec-kit.sh || true'
  language: system
  pass_filenames: false

odoo-manifest-check:
  name: Odoo Manifest Validator
  entry: python3 scripts/validate_manifest.py
  language: system
  pass_filenames: false

spec(platform-master-index): cross-cutting task index for full platform stack
  spec/platform-master-index/constitution.md
  spec/platform-master-index/evidence-map.md
  spec/platform-master-index/plan.md
  spec/platform-master-index/prd.md
  spec/platform-master-index/tasks.md
Due: validate-spec-kit

spec(plane-api): add spec bundle for unified Plane API integration
  spec/plane-api-integration/constitution.md
  spec/plane-api-integration/plan.md
  spec/plane-api-integration/prd.md
  spec/plane-api-integration/tasks.md
Due: validate-spec-kit

spec(plane-api,github-app): harden Plane spec + add GitHub App spec bundle
  spec/github-app-integration/constitution.md
  spec/github-app-integration/plan.md
  spec/github-app-integration/prd.md
  spec/github-app-integration/tasks.md
  spec/plane-api-integration/constitution.md
  spec/plane-api-integration/plan.md
  spec/plane-api-integration/prd.md
  spec/plane-api-integration/tasks.md
Due: validate-spec-kit

feat(ops-console): catalog-driven integrations page + CRON_SECRET SSOT
  apps/ops-console/app/integrations/integrations-client.tsx
  apps/ops-console/app/integrations/page.tsx
  apps/ops-console/lib/integrations.ts
  scripts/vercel/env_sync.ts
  ssot/secrets/registry.yaml
  supabase/migrations/20260301000040_ops_integrations_catalog.sql
Due: none

feat(integrations): implement Plane connector, GitHub App, Slack pulser
  addons/ipai/ipai_bir_plane_sync/__manifest__.py
  addons/ipai/ipai_bir_plane_sync/models/bir_filing_deadline.py
  addons/ipai/ipai_plane_connector/__init__.py
  addons/ipai/ipai_plane_connector/__manifest__.py
  addons/ipai/ipai_plane_connector/data/ir_config_parameter.xml
  addons/ipai/ipai_plane_connector/data/ir_cron.xml
  addons/ipai/ipai_plane_connector/models/__init__.py
  addons/ipai/ipai_plane_connector/models/plane_connector.py
  addons/ipai/ipai_plane_connector/models/plane_webhook_delivery.py
  addons/ipai/ipai_plane_connector/security/ir.model.access.csv
  addons/ipai/ipai_plane_connector/tests/__init__.py
  addons/ipai/ipai_plane_connector/tests/test_plane_client.py
  addons/ipai/ipai_plane_connector/tests/test_plane_webhook.py
  addons/ipai/ipai_plane_connector/utils/__init__.py
  addons/ipai/ipai_plane_connector/utils/plane_client.py
  addons/ipai/ipai_plane_connector/utils/plane_webhook.py
  docs/contracts/GITHUB_APP_CONTRACT.md
  docs/contracts/PLATFORM_CONTRACTS_INDEX.md
  docs/contracts/SLACK_PULSER_CONTRACT.md
  spec/slack-pulser-integration/constitution.md
  spec/slack-pulser-integration/plan.md
  spec/slack-pulser-integration/prd.md
  spec/slack-pulser-integration/tasks.md
  ssot/integrations/github/github_app_ipai.yaml
  ssot/integrations/slack/pulser.yaml
  ssot/mappings/github_installations.yaml
  ssot/secrets/registry.yaml
  supabase/functions/github-app-actions/index.ts
  supabase/functions/github-app-token/index.ts
  supabase/functions/github-app-webhook/index.ts
  supabase/migrations/20260301000001_github_app_integration.sql
  supabase/migrations/20260301000002_slack_envelopes.sql
Due: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

docs(contracts): add detailed C-18/C-19/C-20 sections to contracts index
  docs/contracts/PLATFORM_CONTRACTS_INDEX.md
Due: none

fix(ops-console): commit logs page — resolves /logs 404 in production
  .gitignore
  apps/ops-console/app/logs/page.tsx
Due: none

feat(ops-console): DigitalOcean provider + Odoo.sh parity spec bundle
  docs/contracts/C-DO-01-digitalocean-api.md
  docs/contracts/C-MAIL-01-mail-catcher.md
  docs/contracts/C-ODOOS-01-parity.md
  docs/contracts/PLATFORM_CONTRACTS_INDEX.md
  spec/odooops-console/constitution.md
  spec/odooops-console/plan.md
  spec/odooops-console/prd.md
  spec/odooops-console/tasks.md
  ssot/integrations/mailgun.yaml
  ssot/providers/digitalocean/provider.yaml
  ssot/secrets/registry.yaml
  supabase/migrations/20260301000050_ops_digitalocean.sql
Due: validate-spec-kit

feat(ops-console): implement ops-do-ingest Edge Function — DO inventory ingestion
  supabase/functions/ops-do-ingest/deno.json
  supabase/functions/ops-do-ingest/index.ts
Due: none

feat(ops-console): DO platform page + ops.capabilities migration
  apps/ops-console/app/platform/digitalocean/loading.tsx
  apps/ops-console/app/platform/digitalocean/page.tsx
  supabase/migrations/20260301000060_ops_capabilities.sql
Due: none

feat(ops-console): ops.mail_events migration + ops-mailgun-ingest Edge Function
  supabase/functions/ops-mailgun-ingest/deno.json
  supabase/functions/ops-mailgun-ingest/index.ts
  supabase/migrations/20260301000055_ops_mail_events.sql
Due: none

feat(mobile-ios): OfflineQueue CoreData store + 4 tests + Swift CI workflow
  .github/workflows/odoo-mobile-ios-swift-tests.yml
  apps/odoo-mobile-ios/Sources/Features/Offline/OfflineQueue.swift
  apps/odoo-mobile-ios/Tests/OdooClientMocks.swift
  apps/odoo-mobile-ios/Tests/OfflineQueueTests.swift
  web/docs/evidence/20260301-1150+0800/odoo-mobile-ios/REPORT.md
  web/docs/evidence/20260301-1150+0800/odoo-mobile-ios/logs/swift_test_full.log
Due: none

feat(ops-console): event-driven work items spec + SSOT sources + webhook contracts (C-21/C-22)
  docs/contracts/C-GH-02-workitems-webhooks.md
  docs/contracts/C-PLANE-02-workitems-webhooks.md
  docs/contracts/PLATFORM_CONTRACTS_INDEX.md
  spec/odooops-console/plan.md
  spec/odooops-console/tasks.md
  ssot/secrets/registry.yaml
  ssot/sources/github/work_items.yaml
  ssot/sources/plane/work_items.yaml
Due: validate-spec-kit

feat(ops-console): work items webhook receivers + delivery ledgers + processor Edge Function
  apps/ops-console/app/api/webhooks/github/route.ts
  apps/ops-console/app/api/webhooks/plane/route.ts
  supabase/functions/ops-workitems-processor/deno.json
  supabase/functions/ops-workitems-processor/index.ts
  supabase/migrations/20260301000065_ops_workitems_webhooks.sql
Due: none

test(ops-console): webhook fixtures + Playwright API tests (Plane + GitHub)
  apps/ops-console/tests/api/webhooks.spec.ts
  apps/ops-console/tests/fixtures/webhooks/github/headers.json
  apps/ops-console/tests/fixtures/webhooks/github/issues_closed.json
  apps/ops-console/tests/fixtures/webhooks/github/issues_opened.json
  apps/ops-console/tests/fixtures/webhooks/plane/headers.json
  apps/ops-console/tests/fixtures/webhooks/plane/issue_created.json
  apps/ops-console/tests/fixtures/webhooks/plane/issue_updated.json
  apps/ops-console/tests/helpers/webhook-sig.ts
Due: none

fix(ssot): quote YAML values that contain special characters
  ssot/integrations/microsoft_agent_framework.yaml
  ssot/integrations/plane_slack_intake.yaml
Due: none

fix(ops-console): exclude tests/ from tsc + add playwright.config + register webhook routes
  apps/ops-console/playwright.config.ts
  apps/ops-console/tsconfig.json
  apps/ops-console/vercel.json
Due: none

chore(dns): add console.insightpulseai.com CNAME entry (lifecycle=planned)
  infra/dns/subdomain-registry.yaml
Due: none

feat(mobile-ios): OdooRPCTransport injection + CI hardening + 36/36 tests
  .github/workflows/odoo-mobile-ios-swift-tests.yml
  apps/odoo-mobile-ios/Sources/Features/Biometric/BiometricGate.swift
  apps/odoo-mobile-ios/Sources/Shared/OdooClient.swift
  apps/odoo-mobile-ios/Tests/BiometricGateTests.swift
  apps/odoo-mobile-ios/Tests/BiometricMocks.swift
  apps/odoo-mobile-ios/Tests/OdooClientTransportTests.swift
  apps/odoo-mobile-ios/Tests/OdooTransportMocks.swift
  apps/odoo-mobile-ios/docs/TESTING.md
  scripts/mobile/verify_xcode.sh
Due: none

feat(pulser): implement Pulser slash commands + Odoo intent connector MVP
  addons/ipai/ipai_pulser_connector/__init__.py
  addons/ipai/ipai_pulser_connector/__manifest__.py
  addons/ipai/ipai_pulser_connector/data/ir_cron.xml
  addons/ipai/ipai_pulser_connector/models/__init__.py
  addons/ipai/ipai_pulser_connector/models/pulser_handlers.py
  addons/ipai/ipai_pulser_connector/models/pulser_intent.py
  addons/ipai/ipai_pulser_connector/security/ir.model.access.csv
  addons/ipai/ipai_pulser_connector/tests/__init__.py
  addons/ipai/ipai_pulser_connector/tests/test_pulser_envelope.py
  addons/ipai/ipai_pulser_connector/tests/test_pulser_handlers.py
  apps/slack-agent/server/lib/taskbus.ts
  docs/contracts/C-PULSER-ODOO-01.md
  spec/odooops-console/plan.md
  spec/odooops-console/prd.md
  spec/odooops-console/tasks.md
  ssot/secrets/registry.yaml
  supabase/functions/pulser-intent-runner/index.ts
  supabase/functions/pulser-slack-handler/index.ts
  supabase/migrations/20260301000070_ops_taskbus_intents.sql
Due: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

fix(ci): stop Syntax Check false positives (node_modules/worktrees/jsonc)
  .github/workflows/all-green-gates.yml
  .github/workflows/ci-platform-gates.yml
Due: none

docs(slack): codify Plane + Pulser as separate Slack apps with SSOT boundary
  docs/contracts/C-SLACK-PLANE-01.md
  spec/odooops-console/plan.md
  ssot/integrations/slack/apps.yaml
  ssot/secrets/registry.yaml
Due: validate-spec-kit

feat(ops-console): add Vercel/GitHub deploy semantics, FixBot, convergence + maintenance
  spec/odooops-console/plan.md
  spec/odooops-console/prd.md
  spec/odooops-console/tasks.md
  ssot/agents/fixbot_policy.yaml
  ssot/maintenance/convergence.yaml
  ssot/maintenance/schedules.yaml
  ssot/providers/digitalocean/gradient_adk.yaml
  ssot/secrets/registry.yaml
  ssot/sources/digitalocean/gradient_models.yaml
  supabase/functions/ops-convergence-scan/index.ts
  supabase/functions/ops-fixbot-dispatch/index.ts
  supabase/migrations/20260301000070_ops_convergence_maintenance.sql
Due: validate-spec-kit

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$
