Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

no-enterprise-deps:
  name: No Enterprise Dependencies
  entry: bash -c 'scripts/policy-check.sh --diff || true'
  language: system
  pass_filenames: false

validate-spec-kit:
  name: Validate Spec Kit
  entry: bash -c 'scripts/validate-spec-kit.sh || true'
  language: system
  pass_filenames: false

odoo-manifest-check:
  name: Odoo Manifest Validator
  entry: python3 scripts/validate_manifest.py
  language: system
  pass_filenames: false

docs(evidence): add troubleshooting guide for n8n/mcp subdomains
  docs/evidence/20260216-1546/subdomain-routing-fix/TROUBLESHOOTING.md
Due: none

docs(spec): enforce CE→OCA→Delta→Bridge parity order; separate module replacements from platform bridges
  .github/workflows/policy-parity-map.yml
  README.md
  addons/ipai/ipai_enterprise_bridge/__manifest__.py
  docs/finance_ppm_technical_guide.md
  platform/bridges/ai-journal-posting/README.md
  platform/bridges/ai-journal-posting/env.example
  platform/bridges/bir-form-generation/README.md
  platform/bridges/bir-form-generation/env.example
  platform/bridges/compliance-dashboard/README.md
  platform/bridges/compliance-dashboard/env.example
  platform/bridges/efiling-automation/README.md
  platform/bridges/efiling-automation/env.example
  platform/bridges/recurrent-alerts/README.md
  platform/bridges/recurrent-alerts/env.example
  scripts/install_oca_gantt_bridge.sh
  scripts/policy/validate_parity_map.py
  spec/finance-ppm/constitution.md
  spec/finance-ppm/decisions/0001-finance-ppm-controls.md
  spec/finance-ppm/decisions/0002-bir-tax-compliance.md
  spec/finance-ppm/decisions/0003-enterprise-bridge-stubs.md
  spec/finance-ppm/decisions/0004-finance-workflow.md
  spec/finance-ppm/decisions/0005-platform-bridges.md
  spec/finance-ppm/decisions/0006-critical-path-unavailable.md
  spec/finance-ppm/parity_map.yaml
  spec/finance-ppm/prd.md
Due: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

docs: add canonical email alias policy and n8n admin setup guide
  docs/EMAIL_ALIAS_GUIDE.md
  docs/evidence/20260216-1546/n8n-admin-setup/ACCOUNT_CREATION.md
Due: none

fix(colima-desktop): SSOT compliance + evidence-backed claims
  docs/evidence/20260216-1958/colima-desktop-production/MOVED.md
  web/docs/evidence/20260216-1958+0800/colima-desktop-production/IMPLEMENTATION_STATUS.md
  web/docs/evidence/20260216-1958+0800/colima-desktop-production/REPO_SSOT.md
Due: none

fix(colima-desktop): resolve TypeScript build errors (UI main process)
  tools/colima-desktop/apps/colima-desktop-ui/src/main/index.ts
  tools/colima-desktop/apps/colima-desktop-ui/src/main/ipc-handlers.ts
  tools/colima-desktop/apps/colima-desktop-ui/src/main/preload.ts
  tools/colima-desktop/apps/colima-desktop-ui/tsconfig.main.json
Due: none

feat(identity): add email policy SSOT with CI enforcement
  .github/workflows/email-policy-check.yml
  infra/identity/admin-email-policy.yaml
  infra/identity/email-migration-checklist.md
Due: none

docs(colima-desktop): add security audit policy + vulnerability analysis
  tools/colima-desktop/AUDIT_POLICY.md
Due: none

docs(colima-desktop): prerequisites resolution tracker + next actions
  tools/colima-desktop/BLOCKERS_RESOLVED.md
Due: none

feat(agents): implement SSOT-backed mirroring for agent instructions
  AGENTS.md
  GEMINI.md
  docs/agent_instructions/README.md
  docs/agent_instructions/SSOT.md
  scripts/agents/check_agent_instruction_drift.py
  scripts/agents/sync_agent_instructions.py
Due: no-enterprise-deps

chore(repo): rename odoo-ce to odoo across all references
  sandbox/dev/scripts/configure-n8n-smtp.sh
  sandbox/dev/scripts/dev/check-sync.sh
  sandbox/dev/scripts/dev/sync-env.sh
  sandbox/dev/scripts/finish-n8n-setup.sh
  sandbox/dev/upgrade-to-odoo19.sh
Due: none

refactor(agents): harden SSOT mirroring with determinism + CI enforcement
  .github/workflows/agent-instructions-drift.yml
  docs/agent_instructions/README.md
  scripts/agents/check_agent_instruction_drift.py
  scripts/agents/sync_agent_instructions.py
Due: no-enterprise-deps

chore(repo): complete SSOT migration for colima-desktop
  apps/colima-desktop-ui/README_MOVED.md
  pnpm-workspace.yaml
  spec/colima-desktop/MOVED.md
  tools/colima-desktop/MOVED.md
  web/docs/evidence/20260216-1958+0800/colima-desktop-production/IMPLEMENTATION_STATUS.md
  web/docs/evidence/20260216-1958+0800/colima-desktop-production/REPO_SSOT.md
Due: validate-spec-kit

fix(agents): precision fixes for non-contradictory evidence-backed outputs
  .github/workflows/agent-instructions-drift.yml
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  docs/agent_instructions/README.md
  docs/agent_instructions/SSOT.md
Due: none

fix(security): resolve 68 vulnerabilities via pnpm overrides
  package.json
  pnpm-lock.yaml
  web/apps/colima-desktop/AUDIT_POLICY.md
  web/docs/evidence/20260216-1958+0800/colima-desktop-production/IMPLEMENTATION_STATUS.md
Due: none

docs(infra): add canonical URL inventory + fix stale domain references
  README.md
  agents/loops/clarity_ppm_reverse.yaml
  agents/odoo_reverse_mapper.yaml
  docs/architecture/CANONICAL_URLS.md
  docs/templates/ipai-ops-stack/caddy/Caddyfile
  ipai-platform/.env.example
  ipai-platform/nginx/conf.d/sites/odoo-prod.conf
  ipai-platform/odoo/odoo.conf
  ipai-platform/scripts/setup-tls.sh
  reports/url_inventory.json
  scripts/audit/env.example
  specs/003-ai-enrichment/DEPLOYMENT.md
  specs/003-ai-enrichment/odoo_automation_action.py
  specs/INSTALL_SEQUENCE.md
  specs/README.md
  supabase/migrations/202512201001_EXTERNAL_INTEGRATIONS.sql
  supabase/migrations/20251227_database_webhooks.sql
  supabase/migrations/20260124000001_ops_ssot_base.sql
  workflows/SHADOW_ENTERPRISE_STACK.md
  workflows/WEBHOOK_DEPLOYMENT_GUIDE.md
  workflows/n8n_bir_deadline_webhook.json
  workflows/n8n_ocr_expense_webhook.json
  workflows/n8n_scout_sync_webhook.json
Due: no-enterprise-deps

fix(agents): canonicalize evidence root to web/docs/evidence/
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  docs/agent_instructions/README.md
  docs/agent_instructions/SSOT.md
  docs/evidence/MOVED.md
  scripts/claude/structured_output.sh
  web/docs/evidence/20260216-1754+0800/n8n-setup/ADMIN_SETUP_REFERENCE.md
  web/docs/evidence/20260216-1754+0800/n8n-setup/AI_INTEGRATION_REFERENCE.md
  web/docs/evidence/20260216-1754+0800/n8n-setup/IMPLEMENTATION_SUMMARY.md
  web/docs/evidence/20260216-1754+0800/n8n-setup/ODOO_INTEGRATION_REFERENCE.md
  web/docs/evidence/20260217-1928+0800/ssot-evidence-canonical/logs/drift-check.log
  web/docs/evidence/20260217-1928+0800/ssot-evidence-canonical/logs/sync.log
Due: none

docs(spec): add Spec Kit bundle for insightpulseai.com + CI gates
  .github/workflows/domain-lint.yml
  README.md
  docs/architecture/CANONICAL_URLS.md
  scripts/verify-service-health.sh
  spec/insightpulseai-com/constitution.md
  spec/insightpulseai-com/plan.md
  spec/insightpulseai-com/prd.md
  spec/insightpulseai-com/tasks.md
Due: validate-spec-kit

Establish canonical .com domain SSOT and enforce via CI gates (#368)
  .github/workflows/domain-lint.yml
  README.md
  agents/loops/clarity_ppm_reverse.yaml
  agents/odoo_reverse_mapper.yaml
  docs/architecture/CANONICAL_URLS.md
  docs/templates/ipai-ops-stack/caddy/Caddyfile
  ipai-platform/.env.example
  ipai-platform/nginx/conf.d/sites/odoo-prod.conf
  ipai-platform/odoo/odoo.conf
  ipai-platform/scripts/setup-tls.sh
  reports/url_inventory.json
  scripts/audit/env.example
  scripts/verify-service-health.sh
  spec/insightpulseai-com/constitution.md
  spec/insightpulseai-com/plan.md
  spec/insightpulseai-com/prd.md
  spec/insightpulseai-com/tasks.md
  specs/003-ai-enrichment/DEPLOYMENT.md
  specs/003-ai-enrichment/odoo_automation_action.py
  specs/INSTALL_SEQUENCE.md
  specs/README.md
  supabase/migrations/202512201001_EXTERNAL_INTEGRATIONS.sql
  supabase/migrations/20251227_database_webhooks.sql
  supabase/migrations/20260124000001_ops_ssot_base.sql
  workflows/SHADOW_ENTERPRISE_STACK.md
  workflows/WEBHOOK_DEPLOYMENT_GUIDE.md
  workflows/n8n_bir_deadline_webhook.json
  workflows/n8n_ocr_expense_webhook.json
  workflows/n8n_scout_sync_webhook.json
Due: no-enterprise-deps, validate-spec-kit

docs(research): OpenClaw use-case recon + repo gap analysis
  docs/research/openclaw/OPPORTUNITIES.md
  docs/research/openclaw/REPO_GAP_ANALYSIS.md
  docs/research/openclaw/USE_CASES.md
  spec/openclaw-contract-review/constitution.md
Due: validate-spec-kit

docs(colima-desktop): complete prerequisite status + DMG packaging evidence
  web/apps/colima-desktop/BLOCKERS_RESOLVED.md
  web/docs/evidence/20260216-1958+0800/colima-desktop-production/IMPLEMENTATION_STATUS.md
Due: none

docs(research): OpenClaw use-case recon + repo gap analysis (#369)
  docs/research/openclaw/OPPORTUNITIES.md
  docs/research/openclaw/REPO_GAP_ANALYSIS.md
  docs/research/openclaw/USE_CASES.md
  spec/openclaw-contract-review/constitution.md
Due: validate-spec-kit

feat(colima-desktop): Phase 2-4 — signing config, Homebrew formula, docs, CI release workflow
  .github/workflows/colima-desktop-release.yml
  web/apps/colima-desktop/Formula/colima-desktop.rb
  web/apps/colima-desktop/apps/colima-desktop-ui/.gitignore
  web/apps/colima-desktop/apps/colima-desktop-ui/CHANGELOG.md
  web/apps/colima-desktop/apps/colima-desktop-ui/build/entitlements.mac.plist
  web/apps/colima-desktop/apps/colima-desktop-ui/build/notarize.js
  web/apps/colima-desktop/apps/colima-desktop-ui/docs/INSTALL.md
  web/apps/colima-desktop/apps/colima-desktop-ui/docs/QUICKSTART.md
  web/apps/colima-desktop/apps/colima-desktop-ui/docs/TROUBLESHOOTING.md
  web/apps/colima-desktop/apps/colima-desktop-ui/electron-builder.yml
  web/apps/colima-desktop/apps/colima-desktop-ui/package.json
  web/apps/colima-desktop/scripts/update-formula.sh
Due: none

fix(agents): unblock evidence log artifacts from gitignore
  .gitignore
  web/docs/.gitignore
  web/docs/evidence/20260217-1928+0800/ssot-evidence-canonical/logs/commit.log
Due: none

fix(colima-desktop): tighten build/ gitignore + harden CI signing gates
  .github/workflows/colima-desktop-release.yml
  web/apps/colima-desktop/apps/colima-desktop-ui/.gitignore
Due: none

chore(agents): tighten evidence log allow-list to timestamped bundles
  .gitignore
  web/docs/.gitignore
Due: none

chore(docker): add ipai-nginx to compose SSOT
  docker-compose.yml
Due: none

chore(docker): make nginx network attachment explicit
  docker-compose.yml
Due: none

fix(ci): make PR #370 Actions green — 5-class failure fixes
  .github/workflows/cd-production.yml
  .github/workflows/domain-lint.yml
  figma/figma-make-dev.yaml
  figma/figma.config.json
  sandbox/dev/plane/DEPLOY.md
  scripts/ci/devcontainer_ssot_check.sh
  scripts/verify-dns-baseline.sh
Due: none

chore(devcontainer): unify workspace and odoo runtime root
  .devcontainer/docker-compose.devcontainer.yml
Due: none

feat(repo): add repo structure diff script and generated reports
  docs/architecture/REPO_STRUCTURE_DIFF.md
  reports/repo_structure_diff.json
  scripts/repo_structure_diff.py
Due: no-enterprise-deps

feat(parity): prove 100% EE-to-OCA parity — every EE module has a replacement
  docs/evidence/20260217-1747/parity/ee_oca_parity_proof.md
  reports/ee_oca_parity_proof.json
  scripts/ee_oca_parity_proof.py
Due: no-enterprise-deps

feat(parity): add parity constitution, CI gate, and evidence tiers
  docs/evidence/20260217-1747/parity/ee_oca_parity_proof.md
  docs/evidence/20260217-1803/parity/ee_oca_parity_proof.md
  reports/ee_oca_parity_proof.json
  scripts/ci/check_parity_boundaries.sh
  scripts/ee_oca_parity_proof.py
  spec/ee-oca-parity/constitution.md
  spec/ee-oca-parity/prd.md
Due: no-enterprise-deps, validate-spec-kit

chore(repo): root cleanup — move loose files into canonical folders
  .claude/superclaude_bridge.yaml
  .devcontainer/WORKSPACE_ROOT.md
  .devcontainer/docker-compose.devcontainer.yml
  .env.production
  .github/workflows/aiux-ship-gate.yml
  .github/workflows/root-allowlist-guard.yml
  .gitignore
  config/aiux_ship_manifest.yml
  config/devserver.config.json
  docs/architecture/REPO_HYGIENE_ROOT_CLEANUP.md
  docs/architecture/ROOT_ALLOWLIST.md
  docs/architecture/branch_protection.json
  docs/guides/COLIMA_SETUP_COMPLETE.md
  reports/repo_hygiene/root_file_moves_2026-02-17.json
Due: none

feat(parity): tighten governance — CI fixes, merge policy, staging contract
  addons/ipai/ipai_enterprise_bridge/PARITY_CONNECTOR_JUSTIFICATION.md
  addons/ipai/ipai_finance_close_seed/__init__.py
  addons/ipai/ipai_finance_close_seed/__manifest__.py
  addons/ipai/ipai_hr_payroll_ph/PARITY_CONNECTOR_JUSTIFICATION.md
  addons/ipai_ai_agent_builder/PARITY_CONNECTOR_JUSTIFICATION.md
  addons/ipai_ai_rag/PARITY_CONNECTOR_JUSTIFICATION.md
  addons/ipai_ask_ai/PARITY_CONNECTOR_JUSTIFICATION.md
  addons/ipai_bir_tax_compliance/PARITY_CONNECTOR_JUSTIFICATION.md
  addons/ipai_docflow_review/PARITY_CONNECTOR_JUSTIFICATION.md
  addons/ipai_superset_connector/PARITY_CONNECTOR_JUSTIFICATION.md
  addons/ipai_tbwa_finance/PARITY_CONNECTOR_JUSTIFICATION.md
  docs/evidence/20260217-1813/parity/ee_oca_parity_proof.md
  reports/ee_oca_parity_proof.json
  scripts/ci/check_parity_boundaries.sh
  scripts/ee_oca_parity_proof.py
  spec/ee-oca-parity/constitution.md
Due: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

fix(parity): defensible claim — 150/150 in-scope, N/A excluded
  docs/evidence/20260217-1820/parity/ee_oca_parity_proof.md
  reports/ee_oca_parity_proof.json
  scripts/ee_oca_parity_proof.py
Due: no-enterprise-deps

feat(parity): add upstream references, OCA repo classification, L3 docs
  docs/evidence/20260217-1831/parity/ee_oca_parity_proof.md
  docs/odoo/OFFICIAL_L3_REFERENCES.md
  reports/ee_oca_parity_proof.json
  scripts/ee_oca_parity_proof.py
  spec/ee-oca-parity/prd.md
Due: no-enterprise-deps, validate-spec-kit

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$
