Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

no-enterprise-deps:
  name: No Enterprise Dependencies
  entry: bash -c 'scripts/policy-check.sh --diff || true'
  language: system
  pass_filenames: false

validate-spec-kit:
  name: Validate Spec Kit
  entry: bash -c 'scripts/validate-spec-kit.sh || true'
  language: system
  pass_filenames: false

odoo-manifest-check:
  name: Odoo Manifest Validator
  entry: python3 scripts/validate_manifest.py
  language: system
  pass_filenames: false

fix(supabase): reconcile migration history 20260227211220 + repair 5001-5003
  supabase/migrations/20260227211220_create_kv_table_9405ce91.sql
Due: none

chore(ssot): promote ocr.insightpulseai.com to DEPLOYED in canonical_urls.yaml
  infra/dns/canonical_urls.yaml
Due: none

feat(ci): add check_canonical_urls.py SSOT guard
  infra/dns/canonical_urls.yaml
  scripts/ci/check_canonical_urls.py
Due: no-enterprise-deps

docs(arch): normalize CANONICAL_URLS.md to authoritative table
  docs/architecture/CANONICAL_URLS.md
Due: none

feat(ci): wire canonical-urls-gate.yml with full two-job workflow
  .github/workflows/canonical-urls-gate.yml
Due: none

feat(dns): add shelf.insightpulseai.com to subdomain-registry SSOT
  docs/architecture/runtime_identifiers.json
  infra/cloudflare/envs/prod/subdomains.auto.tfvars
  infra/dns/dns-validation-spec.json
  infra/dns/subdomain-registry.yaml
Due: none

feat(dns): add DNS authority contract + dual-writer guard
  .github/workflows/cloudflare-authority-gate.yml
  docs/architecture/DNS_AUTHORITY_CONTRACT.md
  scripts/ci/check_dns_dual_writer.py
Due: no-enterprise-deps

fix(ci): fix dual-writer check — skip worktrees + sentinel-based auth detection
  scripts/ci/check_dns_dual_writer.py
Due: no-enterprise-deps

feat(ops-console): harden Supabase proxy + add DB roles SSOT doc
  apps/ops-console/app/api/supabase-proxy/[...path]/route.ts
  apps/ops-console/app/error.tsx
  apps/ops-console/package.json
  docs/architecture/DATABASES_AND_ROLES.md
  pnpm-lock.yaml
Due: none

spec(rork-plus): reverse-PRD for improved Rork (Git-first, deterministic, verified builds)
  spec/rork-plus/constitution.md
  spec/rork-plus/figma-spec.md
  spec/rork-plus/plan.md
  spec/rork-plus/prd.md
  spec/rork-plus/tasks.md
  spec/rork-plus/wireframes.md
Due: validate-spec-kit

feat(dns): add shelf A record to records.yaml apply file
  infra/cloudflare/zones/insightpulseai.com/records.yaml
Due: none

feat(taskbus): add task-bus + agent orchestration baseline
  apps/ops-console/app/api/cron/tick/route.ts
  apps/ops-console/app/api/queues/consume/route.ts
  apps/ops-console/app/api/runs/[runId]/events/route.ts
  apps/ops-console/app/runs/page.tsx
  apps/ops-console/app/runs/runs-client.tsx
  apps/ops-console/vercel.json
  packages/agents/package.json
  packages/agents/src/__tests__/router.test.ts
  packages/agents/src/handlers/ping.ts
  packages/agents/src/handlers/sync-odoo.ts
  packages/agents/src/index.ts
  packages/agents/src/registry.ts
  packages/agents/src/router.ts
  packages/taskbus/package.json
  packages/taskbus/src/__tests__/idempotency.test.ts
  packages/taskbus/src/enqueue.ts
  packages/taskbus/src/idempotency.ts
  packages/taskbus/src/index.ts
  packages/taskbus/src/policies.ts
  packages/taskbus/src/types.ts
  pnpm-workspace.yaml
  supabase/migrations/20260301000001_ops_taskbus_schedules.sql
Due: none

feat(sow): add work.* schema, workspace app, edge functions, and SoR/SoW doctrine
  apps/workspace/.env.example
  apps/workspace/.gitignore
  apps/workspace/app/api/workspace/ask/route.ts
  apps/workspace/app/databases/[dbId]/page.tsx
  apps/workspace/app/databases/page.tsx
  apps/workspace/app/globals.css
  apps/workspace/app/layout.tsx
  apps/workspace/app/page.tsx
  apps/workspace/app/pages/[pageId]/page.tsx
  apps/workspace/app/pages/page.tsx
  apps/workspace/app/search/page.tsx
  apps/workspace/lib/supabase.ts
  apps/workspace/next.config.ts
  apps/workspace/package.json
  apps/workspace/postcss.config.mjs
  apps/workspace/tailwind.config.ts
  apps/workspace/tsconfig.json
  apps/workspace/vercel.json
  docs/architecture/SOW_BOUNDARY.md
  supabase/functions/workspace-ask-docs/index.ts
  supabase/functions/workspace-indexer/index.ts
  supabase/migrations/20260301000002_work_schema.sql
Due: none

fix(sow): replace UI webhooks with deterministic index queue; harden auth + secrets SSOT
  docs/architecture/SOW_BOUNDARY.md
  ssot/secrets/registry.yaml
  supabase/functions/workspace-ask-docs/index.ts
  supabase/functions/workspace-indexer/index.ts
  supabase/migrations/20260301000003_work_index_queue.sql
Due: none

spec(reverse-replit, reverse-rork-replit): add Reverse Replit + combined RORK×Replit spec bundles
  spec/reverse-replit/competitive-teardown.md
  spec/reverse-replit/constitution.md
  spec/reverse-replit/plan.md
  spec/reverse-replit/prd.md
  spec/reverse-replit/tasks.md
  spec/reverse-rork-replit/constitution.md
  spec/reverse-rork-replit/plan.md
  spec/reverse-rork-replit/prd.md
  spec/reverse-rork-replit/tasks.md
Due: validate-spec-kit

fix(sow): harden cron story, secrets SSOT, indexer auth, citation determinism
  docs/architecture/SOW_BOUNDARY.md
  ssot/secrets/registry.yaml
  supabase/config.toml
  supabase/functions/workspace-ask-docs/index.ts
  supabase/functions/workspace-indexer/index.ts
  supabase/migrations/20260301000003_work_index_queue.sql
Due: none

chore(ci): deterministic gh auth — GH_TOKEN wrapper + CI contract guard
  .claude/settings.json
  scripts/ci/check_gh_token_contract.sh
  scripts/gh_safe.sh
Due: none

feat(slack-agent): Nitro Bolt agent wired to SSOT taskbus
  apps/slack-agent/__tests__/idempotency.test.ts
  apps/slack-agent/__tests__/verify.test.ts
  apps/slack-agent/nitro.config.ts
  apps/slack-agent/package.json
  apps/slack-agent/server/lib/idempotency.ts
  apps/slack-agent/server/lib/notify.ts
  apps/slack-agent/server/lib/taskbus.ts
  apps/slack-agent/server/lib/verify.ts
  apps/slack-agent/server/routes/api/slack/commands.post.ts
  apps/slack-agent/server/routes/api/slack/events.post.ts
  apps/slack-agent/server/routes/api/slack/interactive.post.ts
  apps/slack-agent/tsconfig.json
  docs/architecture/SLACK_AGENT_CONTRACT.md
  ssot/integrations/slack_agent.yaml
  ssot/secrets/registry.yaml
Due: none

chore(slack-agent): SSOT merge-safety hardening
  .github/workflows/slack-agent-ssot-gate.yml
  docs/architecture/SLACK_AGENT_CONTRACT.md
  scripts/ci/check_slack_agent_contract.py
  ssot/integrations/_index.yaml
  ssot/integrations/slack_agent.install.yaml
Due: no-enterprise-deps

chore(ssot): codify GitHub Enterprise Cloud governance (Track A)
  .github/workflows/ssot-gates.yml
  docs/architecture/GITHUB_ENTERPRISE_CONTRACT.md
  scripts/ci/check_github_enterprise_ssot.py
  ssot/github/enterprise-cloud.yaml
Due: no-enterprise-deps

feat(ssot): Plane App connector — integration register + architecture contract
  docs/architecture/PLANE_APP_CONNECTOR.md
  ssot/integrations/_index.yaml
  ssot/integrations/plane_webhooks.yaml
  ssot/secrets/registry.yaml
Due: none

feat(ssot): n8n automation runner — integration register + SSOT contract
  .github/workflows/ssot-gates.yml
  docs/architecture/N8N_AUTOMATION_CONTRACT.md
  scripts/ci/check_n8n_workflows_ssot.py
  ssot/integrations/_index.yaml
  ssot/integrations/n8n.yaml
  ssot/secrets/registry.yaml
Due: no-enterprise-deps

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$
