Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

no-enterprise-deps:
  name: No Enterprise Dependencies
  entry: bash -c 'scripts/policy-check.sh --diff || true'
  language: system
  pass_filenames: false

validate-spec-kit:
  name: Validate Spec Kit
  entry: bash -c 'scripts/validate-spec-kit.sh || true'
  language: system
  pass_filenames: false

odoo-manifest-check:
  name: Odoo Manifest Validator
  entry: python3 scripts/validate_manifest.py
  language: system
  pass_filenames: false

chore(devcontainer): align with VS Code SSOT + overlay pattern
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.devcontainer.yml
Due: none

chore(devcontainer): align with VS Code SSOT + overlay pattern (#355)
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.devcontainer.yml
Due: none

chore(repo): enforce canonical SSOT; add guards and documentation
  .github/workflows/repo-structure-guard.yml
  README.md
  docs/architecture/REPO_SSOT_MAP.md
Due: none

chore(repo-hygiene): move loose root files into SSOT directories + enforce root allowlist
  .github/workflows/repo-root-allowlist.yml
  .insightpulse/repo-root-allowlist.json
  apps/web/platform-kit/next-env.d.ts
  artifacts/data/finance_events_2026.json
  artifacts/data/parity_report.json
  artifacts/odoo.pid
  config/ppm_dashboard_views.xml
  docs/evidence/20260215-0437/phase1-spec-consolidation/bundle-count.txt
  docs/evidence/20260215-0437/phase1-spec-consolidation/git-status.txt
  docs/evidence/20260215-0437/phase1-spec-consolidation/root-gate-result.txt
  docs/evidence/20260215-0459/phase2-directory-consolidation/diffstat.txt
  docs/evidence/20260215-0459/phase2-directory-consolidation/git-status.txt
  docs/evidence/20260215-0459/phase2-directory-consolidation/root-gate-result.txt
  docs/evidence/20260215-0507/phase3-taxonomy-consolidation/diffstat.txt
  docs/evidence/20260215-0507/phase3-taxonomy-consolidation/git-status.txt
  docs/evidence/20260215-0507/phase3-taxonomy-consolidation/root-gate-result.txt
  docs/guides/EXECUTE_NOW.md
  docs/guides/SANDBOX.md
  docs/guides/VSCODE_CLAUDE_CONFIGURATION_SUMMARY.md
  docs/guides/n8n_automation_strategy.md
  docs/policy/ODOO_REPO_SCOPE.md
  scratch/odoo.pid
  scratch/out/graphs/knowledge/index.html
  scratch/out/graphs/knowledge/knowledge_graph.dot
  scratch/out/graphs/knowledge/knowledge_graph.png
  scratch/out/graphs/knowledge/knowledge_graph.svg
  scratch/out/graphs/schema/ODOO_ERD_ipai.dot
  scratch/out/graphs/schema/ODOO_ERD_ipai.svg
  scratch/out/graphs/schema/index.html
  scratch/spec-migration-plan.csv
  scripts/ci/check_root_allowlist.py
  scripts/ops/n8n_opex_cli.sh
  scripts/ops/ship_v1_1_0.sh
  scripts/ops/verify_ppm_installation.sh
  templates/deploy_m1.sh.template
  tools/vscode/ipai-control-plane/ipai-control-plane-0.1.0.vsix
  tools/vscode/ipai-control-plane/test-results/junit.xml
Due: no-enterprise-deps

fix(git): remove large evidence file and add gitignore rule
  .gitignore
Due: none

feat(colima-desktop): implement Phase 1 foundation
  archive/root/infra-docker/DOCKER_DESKTOP_SSOT.yaml
  archive/root/infra-docker/DOCKER_STAGING_SSOT.yaml
  archive/root/infra-docker/odoo.conf
  spec/colima-desktop/constitution.md
  spec/colima-desktop/plan.md
  tools/colima-desktop/README.md
  tools/colima-desktop/package.json
  tools/colima-desktop/src/daemon/services/colima.ts
  tools/colima-desktop/src/shared/config.ts
  tools/colima-desktop/src/shared/types.ts
  tools/colima-desktop/tsconfig.json
  tools/colima-desktop/vitest.config.ts
Due: validate-spec-kit

feat(repo): implement P0 alignment fixes for enterprise org structure
  .github/workflows/db-naming-gate.yml
  config/dev/odoo.conf
  config/prod/odoo.conf
  config/staging/odoo.conf
  docker-compose.yml
  docs/DOCKER_SSOT_ARCHITECTURE.md
  docs/infra/CANONICAL_ODOO_PACK.md
  docs/policy/ODOO_REPO_SCOPE.md
  scripts/ci/db_naming_gate.py
Due: no-enterprise-deps

chore(colima-desktop): Phase 1 hardening - contracts + schema + exec wrapper
  scripts/ensure_repo_root.ts
  tools/colima-desktop/src/daemon/services/colima.ts
  tools/colima-desktop/src/daemon/services/exec.ts
  tools/colima-desktop/src/shared/config.ts
  tools/colima-desktop/src/shared/contracts/config.ts
  tools/colima-desktop/src/shared/contracts/constants.ts
  tools/colima-desktop/src/shared/contracts/diagnostics.ts
  tools/colima-desktop/src/shared/contracts/errors.ts
  tools/colima-desktop/src/shared/contracts/index.ts
  tools/colima-desktop/src/shared/contracts/ipc.ts
  tools/colima-desktop/src/shared/contracts/lifecycle.ts
  tools/colima-desktop/src/shared/contracts/logs.ts
  tools/colima-desktop/src/shared/contracts/status.ts
  tools/colima-desktop/src/shared/restartPolicy.ts
  tools/colima-desktop/src/shared/schemas/config.schema.json
  tools/colima-desktop/src/shared/types.ts
  tools/colima-desktop/test/unit/restartPolicy.test.ts
Due: none

fix(repo): correct staging DB name to odoo_stage (canonical)
  config/staging/odoo.conf
  docs/policy/ODOO_REPO_SCOPE.md
  pnpm-lock.yaml
  scripts/ci/db_naming_gate.py
  tools/colima-desktop/package.json
Due: no-enterprise-deps

fix(repo): complete odoo_staging → odoo_stage migration in all files
  .github/workflows/db-naming-gate.yml
  .github/workflows/odoo-dbname-gate.yml
  config/odoo.staging.conf
  docs/DB_INIT_RUNBOOK.md
  docs/ipai/OPERATIONS_RUNBOOK.md
  scripts/ci/db_naming_gate.py
  superclaude_bridge.yaml
Due: no-enterprise-deps

fix(ops): expose OdooOps RPC functions via public schema wrappers
  docs/evidence/20260215-1200/ops-rpc-exposure/IMPLEMENTATION.md
  docs/ops/TESTING.md
  scripts/ops/test_ops.sh
  supabase/migrations/20260215_000001_ops_public_rpc_wrappers.sql
Due: none

docs(architecture): add canonical Odoo vs Supabase authority model
  docs/ai/ARCHITECTURE.md
Due: none

fix(ops): harden RPC wrappers with belt-and-suspenders security guards
  docs/ops/TESTING.md
  scripts/ops/test_ops.sh
  supabase/migrations/20260215_000001_ops_public_rpc_wrappers.sql
Due: none

docs(ops): add verification checklist and PR description
  docs/evidence/20260215-1200/ops-rpc-exposure/PR_DESCRIPTION.md
  docs/evidence/20260215-1200/ops-rpc-exposure/VERIFICATION_CHECKLIST.md
Due: none

fix(repo): rename config/staging → config/stage for canonical consistency
  config/stage/odoo.conf
Due: none

fix(repo): rename config/staging → config/stage for canonical consistency (#360)
  config/stage/odoo.conf
Due: none

feat(ops): add test projects and fix UI RPC endpoint
  apps/colima-desktop-ui/index.html
  apps/colima-desktop-ui/src/renderer/App.tsx
  apps/colima-desktop-ui/src/renderer/components/Controls.tsx
  apps/colima-desktop-ui/src/renderer/components/Status.tsx
  apps/colima-desktop-ui/src/renderer/index.tsx
  apps/colima-desktop-ui/src/renderer/styles.css
  apps/colima-desktop-ui/src/shared/types.d.ts
  pnpm-lock.yaml
  templates/odooops-console/src/app/app/projects/page.tsx
  tools/colima-desktop/apps/colima-desktop-ui/electron-builder.yml
  tools/colima-desktop/apps/colima-desktop-ui/package.json
  tools/colima-desktop/apps/colima-desktop-ui/src/renderer/components/Controls.tsx
  tools/colima-desktop/apps/colima-desktop-ui/src/renderer/components/Status.tsx
  tools/colima-desktop/apps/colima-desktop-ui/src/shared/types.d.ts
  tools/colima-desktop/apps/colima-desktop-ui/tsconfig.json
  tools/colima-desktop/apps/colima-desktop-ui/tsconfig.main.json
  tools/colima-desktop/apps/colima-desktop-ui/tsconfig.renderer.json
  tools/colima-desktop/apps/colima-desktop-ui/vite.config.ts
Due: none

feat(colima-desktop): implement Phase 3 Electron UI
  tools/colima-desktop/apps/colima-desktop-ui/src/main/index.ts
  tools/colima-desktop/apps/colima-desktop-ui/src/main/ipc-handlers.ts
  tools/colima-desktop/apps/colima-desktop-ui/src/main/login-items.ts
  tools/colima-desktop/apps/colima-desktop-ui/src/main/menu.ts
  tools/colima-desktop/apps/colima-desktop-ui/src/main/preload.ts
  tools/colima-desktop/apps/colima-desktop-ui/src/renderer/App.tsx
  tools/colima-desktop/apps/colima-desktop-ui/src/renderer/components/Logs.tsx
  tools/colima-desktop/apps/colima-desktop-ui/src/renderer/components/Settings.tsx
  tools/colima-desktop/apps/colima-desktop-ui/src/renderer/hooks/useColima.ts
  tools/colima-desktop/apps/colima-desktop-ui/src/renderer/index.html
  tools/colima-desktop/apps/colima-desktop-ui/src/renderer/main.tsx
  tools/colima-desktop/apps/colima-desktop-ui/src/renderer/styles.css
Due: none

feat(skills): compose restore into gated blue-green promotion
  agents/registry/odoo_skills.yaml
  agents/skills/promote-staging-to-prod/SKILL.md
  agents/skills/restore-odoo-environment/SKILL.md
  docs/evidence/20260215-1529/skills/promotion/IMPLEMENTATION.md
  tests/test_skill_registry.py
Due: no-enterprise-deps

fix(next): await searchParams on login page
  docs/evidence/20260215-1200/nextjs/LOGIN_SEARCHPARAMS_FIX.md
  templates/odooops-console/app/globals.css
  templates/odooops-console/app/layout.tsx
  templates/odooops-console/app/login/page.tsx
Due: none

feat(platform-kit): add sonner notifications for platform kit
  docs/evidence/20260215-1200/supabase/PLATFORM_KIT_NOTIFICATIONS.md
  pnpm-lock.yaml
  templates/odooops-console/app/layout.tsx
  templates/odooops-console/package.json
Due: none

chore(colima-desktop): harden CI packaging gate with explicit dependencies + robust arch detection
  .github/workflows/colima-desktop-gate.yml
  tools/colima-desktop/PHASE_4_COMPLETE.md
  tools/colima-desktop/apps/colima-desktop-ui/package.json
Due: none

feat(platform-kit): implement Phase 0 - route groups and async params
  templates/odooops-console/app/(app)/layout.tsx
  templates/odooops-console/app/(app)/page.tsx
  templates/odooops-console/app/(app)/projects/[projectId]/backups/page.tsx
  templates/odooops-console/app/(app)/projects/[projectId]/branches/page.tsx
  templates/odooops-console/app/(app)/projects/[projectId]/builds/[buildId]/editor/page.tsx
  templates/odooops-console/app/(app)/projects/[projectId]/builds/[buildId]/layout.tsx
  templates/odooops-console/app/(app)/projects/[projectId]/builds/[buildId]/monitor/page.tsx
  templates/odooops-console/app/(app)/projects/[projectId]/builds/[buildId]/shell/page.tsx
  templates/odooops-console/app/(app)/projects/[projectId]/builds/page.tsx
  templates/odooops-console/app/(app)/projects/[projectId]/layout.tsx
  templates/odooops-console/app/(app)/projects/[projectId]/monitor/page.tsx
  templates/odooops-console/app/(app)/projects/[projectId]/settings/page.tsx
  templates/odooops-console/app/(app)/projects/[projectId]/upgrade/page.tsx
  templates/odooops-console/app/(app)/projects/page.tsx
  templates/odooops-console/app/(auth)/layout.tsx
  templates/odooops-console/app/(auth)/login/LoginClient.tsx
  templates/odooops-console/app/(auth)/login/page.tsx
  templates/odooops-console/app/(auth)/login/server-actions.ts
  templates/odooops-console/app/layout.tsx
  templates/odooops-console/app/providers.tsx
  templates/odooops-console/src/lib/supabase/client.ts
  templates/odooops-console/src/lib/supabase/middleware.ts
  templates/odooops-console/src/lib/supabase/server.ts
  templates/odooops-console/src/lib/supabase/service.ts
  templates/odooops-console/src/lib/utils.ts
  templates/odooops-console/utils/supabase/server.ts
Due: none

feat(ops): add branches lane backend schema and RPCs
  docs/evidence/20260215-1756/branches-lane-phase2/IMPLEMENTATION_SUMMARY.md
  docs/evidence/20260215-1756/branches-lane-phase2/VALIDATION.md
  supabase/migrations/20260215_175611_ops_branch_transitions.sql
Due: none

fix(colima-desktop): resolve packaged renderer loading path bug
  tools/colima-desktop/apps/colima-desktop-ui/PACKAGING_FIX.md
  tools/colima-desktop/apps/colima-desktop-ui/src/main/index.ts
Due: none

fix(devcontainer): pin dockerContext to colima-odoo
  .devcontainer/devcontainer.json
Due: none

fix(docker): lock database name to odoo_dev invariant (#SSOT-Phase1)
  docker-compose.yml
  docs/dev/POSTGRES_COMPAT.md
Due: none

fix(docker): convert dev overlay to SSOT delegator (#SSOT-Phase2)
  docker-compose.dev.yml
Due: none

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$
