Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$

feat(enterprise-bridge): multi-mode Foundry auth + endpoint URL normalization
  addons/ipai/ipai_enterprise_bridge/__manifest__.py
  addons/ipai/ipai_enterprise_bridge/models/foundry_provider_config.py
Due: no-enterprise-deps, odoo-manifest-check

fix(enterprise-bridge): align Foundry config with Azure endpoint taxonomy and add MCP audit
  addons/ipai/ipai_enterprise_bridge/models/foundry_provider_config.py
  addons/ipai/ipai_enterprise_bridge/models/res_config_settings.py
  addons/ipai/ipai_enterprise_bridge/tests/test_foundry_config.py
  addons/ipai/ipai_enterprise_bridge/views/foundry_provider_config_views.xml
  addons/ipai/ipai_enterprise_bridge/views/res_config_settings_views.xml
  docs/audits/AZURE_FOUNDRY_MCP_AUDIT.md
Due: no-enterprise-deps

feat(infra): add canonical .env.example split for Foundry / Odoo / agents
  agents/.env.example
  docs/ENVIRONMENT_VARIABLES.md
  odoo/.env.example
  ops-platform/.env.example
Due: none

chore(deploy): disable Vercel deployments for odoo repo
  vercel.json
Due: none

chore(ci): add Azure Pipelines CI validation pipeline
  azure-pipelines-ci.yml
Due: none

docs(api-gateway): annotate blocked routes + ADR + reconcile rate limits
  docs/architecture/API_ODOO_ROUTE_DECISION.md
  docs/architecture/UNIFIED_API_GATEWAY_TARGET_STATE.md
  spec/unified-api-gateway/plan.md
  spec/unified-api-gateway/tasks.md
  ssot/api/unified-api-gateway.yaml
Due: validate-spec-kit

feat(api-gateway): add SSOT schema, validator, and CI gate
  .github/workflows/unified-api-gateway-ssot-check.yml
  scripts/validate_unified_api_gateway_ssot.py
  ssot/api/unified-api-gateway.schema.json
Due: no-enterprise-deps

docs(contracts): add route ownership, security, and identity contracts
  docs/contracts/PLATFORM_CONTRACTS_INDEX.md
Due: none

feat(copilot): align Foundry service with Azure endpoint taxonomy
  .vscode/settings.json
  addons/ipai/ipai_enterprise_bridge/models/foundry_provider_config.py
  addons/ipai/ipai_odoo_copilot/__manifest__.py
  addons/ipai/ipai_odoo_copilot/data/ir_config_parameter.xml
  addons/ipai/ipai_odoo_copilot/models/__init__.py
  addons/ipai/ipai_odoo_copilot/models/foundry_service.py
  addons/ipai/ipai_odoo_copilot/models/res_config_settings.py
  addons/ipai/ipai_odoo_copilot/views/res_config_settings_views.xml
Due: no-enterprise-deps, odoo-manifest-check

fix(ci): use self-hosted pool for Azure Pipelines CI
  azure-pipelines-ci.yml
Due: none

docs(governance): add VMOKRAPI-SPATRES platform strategy SSOT
  ssot/governance/enterprise_okrs.yaml
  ssot/governance/platform-strategy-2026.yaml
Due: none

feat(ci): add strategy SSOT schema, validator, and CI gate
  .github/workflows/platform-strategy-ssot-check.yml
  scripts/ci/validate_platform_strategy.py
  ssot/governance/platform-strategy.schema.json
Due: no-enterprise-deps

docs(governance): revise strategy to 7 SMART objectives + quarterly roadmap
  ssot/governance/platform-strategy-2026.yaml
Due: none

docs(infra): add canonical reference stack for platform architecture
  infra/docs/architecture/CANONICAL_REFERENCE_STACK.md
Due: none

Add dev-optimized Odoo runtime config with environment contract
  config/dev/env.contract.md
  config/dev/features.yaml
  config/dev/odoo.conf
Due: none

Add dev-optimized Odoo runtime config with environment contract (#588)
  config/dev/env.contract.md
  config/dev/features.yaml
  config/dev/odoo.conf
Due: none

feat: Azure Foundry Copilot configuration layer for Odoo (#587)
  .github/workflows/ssot-ai-validate.yml
  addons/ipai/ipai_enterprise_bridge/__manifest__.py
  addons/ipai/ipai_enterprise_bridge/models/foundry_provider_config.py
  agents/.env.example
  azure-pipelines-ci.yml
  docs/ENVIRONMENT_VARIABLES.md
  odoo/.env.example
  ops-platform/.env.example
  tests/ssot/__init__.py
  tests/ssot/test_ai_manifests.py
  vercel.json
Due: no-enterprise-deps, odoo-manifest-check

feat(foundry): wire Claude Code Foundry mode + Azure SSOT manifests
  .claude/settings.json
  .claude/settings.local.example.json
  .devcontainer/devcontainer.json
  .vscode/settings.json
  ssot/azure/claude-foundry.dev.yaml
  ssot/azure/resources.dev.yaml
Due: none

docs(agents): add Microsoft Agent Framework scaffolding + ADK patterns
  agents/orchestration/adk-patterns/MULTI_AGENT_PATTERNS.md
  agents/orchestration/microsoft-agent-framework/README.md
  agents/orchestration/microsoft-agent-framework/docs/DECISION_MEMO.md
  agents/orchestration/microsoft-agent-framework/spec/maf-orchestration/constitution.md
  agents/orchestration/microsoft-agent-framework/spec/maf-orchestration/plan.md
  agents/orchestration/microsoft-agent-framework/spec/maf-orchestration/prd.md
  agents/orchestration/microsoft-agent-framework/spec/maf-orchestration/tasks.md
Due: none

docs(architecture): add hosting policy, repo boundaries, edge policy
  docs/architecture/HOSTING_POLICY.md
  docs/architecture/REPO_BOUNDARIES.md
  infra/cloudflare/workers/env-contract.md
  infra/docs/CLOUDFLARE_EDGE_POLICY.md
  web/docs/architecture/LANDING_PAGE_AGENT_EXPOSURE.md
Due: none

docs: add definitive platform target state (Odoo + Foundry + Databricks)
  docs/architecture/ODOO_FOUNDRY_DATABRICKS_TARGET_STATE.md
Due: none

docs: add agentic target state and publish policy
  docs/architecture/AGENTIC_TARGET_STATE.md
Due: none

feat(platform): Azure secrets audit, repo alignment, and Supabase migration pipeline
  .github/workflows/supabase-self-host-migration.yml
  docs/architecture/AI_OPERATING_MODEL.md
  docs/architecture/azure/AZDO_PROJECT_REPO_MATRIX.md
  docs/architecture/azure/AZURE_SECRET_AUDIT.md
  docs/architecture/azure/FOUNDRY_PROVIDER_SETUP.md
  docs/architecture/azure/REPO_AZURE_ALIGNMENT.md
  ops-platform/supabase/cutover/consumers.yaml
  ops-platform/supabase/cutover/dns.yaml
  ops-platform/supabase/docs/SUPABASE_SELF_HOSTED_MIGRATION.md
  ops-platform/supabase/edge-functions/deploy/manifest.yaml
  ops-platform/supabase/scripts/supabase_cloud_inventory.py
  ops-platform/supabase/scripts/supabase_consumer_rewire.py
  ops-platform/supabase/scripts/supabase_cutover_finalize.sh
  ops-platform/supabase/scripts/supabase_cutover_verify.sh
  ops-platform/supabase/scripts/supabase_data_migrate.sh
  ops-platform/supabase/scripts/supabase_edge_functions_sync.sh
  ops-platform/supabase/scripts/supabase_schema_export.sh
  spec/supabase-self-host-cutover/constitution.md
  spec/supabase-self-host-cutover/plan.md
  spec/supabase-self-host-cutover/prd.md
  spec/supabase-self-host-cutover/tasks.md
  ssot/governance/azdo-project-repo-alignment.yaml
  ssot/governance/repo-azure-alignment.yaml
Due: no-enterprise-deps, validate-spec-kit

chore(copilot): enforce single copilot — ipai-odoo-copilot-azure only
  docs/contracts/COPILOT_RUNTIME_CONTRACT.md
  odoo/addons/ipai/ipai_ai_channel_actions/__manifest__.py
  odoo/addons/ipai/ipai_ai_copilot/__manifest__.py
  odoo/addons/ipai/ipai_workspace_core/__manifest__.py
  odoo/docs/contracts/AI_COPILOT_CONTRACT.md
  odoo/docs/contracts/PLATFORM_CONTRACTS_INDEX.md
  ssot/ai/agents.yaml
Due: no-enterprise-deps, odoo-manifest-check

feat(platform): Azure secrets audit, repo alignment, and Supabase migration pipeline (#590)
  .github/workflows/supabase-self-host-migration.yml
  docs/architecture/AI_OPERATING_MODEL.md
  docs/architecture/azure/AZDO_PROJECT_REPO_MATRIX.md
  docs/architecture/azure/AZURE_SECRET_AUDIT.md
  docs/architecture/azure/FOUNDRY_PROVIDER_SETUP.md
  docs/architecture/azure/REPO_AZURE_ALIGNMENT.md
  ops-platform/supabase/cutover/consumers.yaml
  ops-platform/supabase/cutover/dns.yaml
  ops-platform/supabase/docs/SUPABASE_SELF_HOSTED_MIGRATION.md
  ops-platform/supabase/edge-functions/deploy/manifest.yaml
  ops-platform/supabase/scripts/supabase_cloud_inventory.py
  ops-platform/supabase/scripts/supabase_consumer_rewire.py
  ops-platform/supabase/scripts/supabase_cutover_finalize.sh
  ops-platform/supabase/scripts/supabase_cutover_verify.sh
  ops-platform/supabase/scripts/supabase_data_migrate.sh
  ops-platform/supabase/scripts/supabase_edge_functions_sync.sh
  ops-platform/supabase/scripts/supabase_schema_export.sh
  spec/supabase-self-host-cutover/constitution.md
  spec/supabase-self-host-cutover/plan.md
  spec/supabase-self-host-cutover/prd.md
  spec/supabase-self-host-cutover/tasks.md
  ssot/governance/azdo-project-repo-alignment.yaml
  ssot/governance/repo-azure-alignment.yaml
Due: no-enterprise-deps, validate-spec-kit

feat(platform): Azure-native Odoo.sh equivalent operating model
  .github/workflows/odoo-runtime-contract.yml
  config/ENVIRONMENTS.md
  config/prod/env.contract.md
  config/prod/features.yaml
  config/staging/env.contract.md
  config/staging/features.yaml
  config/staging/odoo.conf
  docs/architecture/AZURE_ODOOSH_EQUIVALENT_TARGET_STATE.md
  docs/architecture/RUNTIME_CONTRACT_AZURE_ODOO.md
  docs/architecture/azure/AZURE_ODOOSH_EQUIVALENT.md
  docs/evidence/2026-03-15/odooops-parity-baseline.md
  docs/operations/ODOOSH_CAPABILITY_PARITY_MATRIX.md
  docs/runbooks/BRANCH_PROMOTION_AND_STAGING_REFRESH.md
  ssot/governance/azure-odoosh-equivalent.yaml
  ssot/governance/odooops-capabilities.yaml
Due: none

feat(platform): Azure-native Odoo.sh equivalent operating model (#591)
  .github/workflows/odoo-runtime-contract.yml
  config/ENVIRONMENTS.md
  config/prod/env.contract.md
  config/prod/features.yaml
  config/staging/env.contract.md
  config/staging/features.yaml
  config/staging/odoo.conf
  docs/architecture/AZURE_ODOOSH_EQUIVALENT_TARGET_STATE.md
  docs/architecture/RUNTIME_CONTRACT_AZURE_ODOO.md
  docs/architecture/azure/AZURE_ODOOSH_EQUIVALENT.md
  docs/evidence/2026-03-15/odooops-parity-baseline.md
  docs/operations/ODOOSH_CAPABILITY_PARITY_MATRIX.md
  docs/runbooks/BRANCH_PROMOTION_AND_STAGING_REFRESH.md
  ssot/governance/azure-odoosh-equivalent.yaml
  ssot/governance/odooops-capabilities.yaml
Due: none

docs(governance): restore planning SSOT + add planning system index
  .github/workflows/platform-strategy-ssot-check.yml
  scripts/ci/validate_platform_strategy.py
  ssot/governance/enterprise_okrs.yaml
  ssot/governance/planning_system_index.yaml
  ssot/governance/platform-strategy-2026.yaml
  ssot/governance/platform-strategy.schema.json
Due: no-enterprise-deps

docs(architecture): add seed data inventory and deduplication analysis
  docs/architecture/SEED_DATA_INVENTORY.md
Due: none

docs(spec): add seed dedup remediation plan and task checklist
  spec/seed-dedup-remediation/plan.md
  spec/seed-dedup-remediation/tasks.md
Due: validate-spec-kit
