Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$

fix(ipai_web_mail_compat): fix verifier + smoke tests to use _get_asset_paths()
  addons/ipai/ipai_web_mail_compat/__init__.py
  addons/ipai/ipai_web_mail_compat/tests/test_mail_compat_smoke.py
  scripts/verify_ipai_web_mail_compat.py
  spec/figma-sdlc/constitution.md
  spec/figma-sdlc/plan.md
  spec/figma-sdlc/prd.md
  spec/figma-sdlc/tasks.md
Due: no-enterprise-deps, validate-spec-kit

feat(graphrag): add KB graph layer — nodes, edges, Prisma, indexer, repo map
  docs/architecture/INDEX.json
  docs/architecture/REPO_MAP.md
  docs/architecture/schema.prisma
  scripts/build_kb_graph.py
  supabase/migrations/20251220_remote_applied.sql
  supabase/migrations/20260120_remote_applied.sql
  supabase/migrations/20260121_remote_applied.sql
  supabase/migrations/20260213205114_remote_applied.sql
  supabase/migrations/20260221142621_remote_applied.sql
  supabase/migrations/20260223000008_kb_graph_layer.sql
Due: no-enterprise-deps

test(ipai_web_mail_compat): canonicalize asset paths consistently
  addons/ipai/ipai_web_mail_compat/tests/test_mail_compat_smoke.py
  scripts/verify_ipai_web_mail_compat.py
Due: no-enterprise-deps

docs(graphrag): contract, deterministic indexer, manifest CI gate
  .github/workflows/graphrag-indexer-check.yml
  .gitignore
  docs/architecture/GRAPHRAG_CONTRACT.md
  docs/architecture/INDEX.json
  scripts/build_kb_graph.py
  scripts/ci/check_graphrag_manifest.py
  templates/odooops-console/next.config.ts
  templates/odooops-console/vercel.json
Due: no-enterprise-deps

docs(supabase): maximize features, integration policy, repo+machine auditor
  .gitignore
  docs/supabase/INTEGRATIONS_POLICY.md
  docs/supabase/MAXIMIZE_FEATURES.md
  docs/supabase/integrations_detected.json
  reports/supabase_feature_integration_matrix.json
  scripts/audit_supabase_integrations.py
Due: no-enterprise-deps

feat(policy): CE/EE edition policy manifest + validator
  .github/workflows/policy-gates.yml
  scripts/policy/check_edition_policy.py
  spec/odoo/edition_policy.yaml
Due: no-enterprise-deps, validate-spec-kit

feat(erd): DBML exporter, crosswalk, CI drift gate
  .github/workflows/erd-drift-check.yml
  docs/erd/.gitkeep
  docs/erd/README.md
  scripts/erd/export_crosswalk.py
  scripts/erd/export_dbml.py
  scripts/erd/generate_all.sh
Due: no-enterprise-deps

fix(ci): install odoo-test-helper + patch for Odoo 19 MetaModel rename
  requirements-oca.txt
  runtime/docker/docker/Dockerfile.ce19
Due: none

feat(oca): unified parity installer + 18 pytest tests
  odoo/ssot/oca_installed_allowlist.yaml
  scripts/oca/deprecated/README.md
  scripts/oca/deprecated/install_from_allowlist.sh
  scripts/oca/deprecated/install_from_allowlist_docker.sh
  scripts/oca/deprecated/install_from_allowlist_docker_v2.sh
  scripts/oca/oca_parity_install.py
  tests/oca/__init__.py
  tests/oca/test_oca_parity_install.py
Due: no-enterprise-deps

fix(mail): remove broken mailbox.counter xpath in ipai_web_mail_compat
  addons/ipai/ipai_web_mail_compat/static/src/core/discuss/discuss_sidebar_mailboxes.xml
Due: none

fix(ipai_ai_copilot): mail.channel → discuss.channel for Odoo 19
  addons/ipai/ipai_ai_copilot/__manifest__.py
  addons/ipai/ipai_ai_copilot/data/mail_channel_ai.xml
  addons/ipai/ipai_ai_copilot/models/mail_channel.py
  scripts/policy/check_edition_policy.py
  spec/odoo/edition_policy.yaml
Due: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

fix(ci): harden odoo-test-helper vendor patch — repo-owned + CI gate
  .github/workflows/vendor-patch-verify.yml
  runtime/docker/docker/Dockerfile.ce19
  runtime/patches/odoo-test-helper/0001-odoo19-metamodel-module_to_models.patch
  runtime/scripts/apply_vendor_patches.sh
  scripts/verify_vendor_patches.py
Due: no-enterprise-deps

feat(parity): add delivery_mode/criticality/v19_status/bridge_owner to parity matrix
  .github/workflows/vendor-patch-verify.yml
  docs/architecture/EE_PARITY_MATRIX.md
  odoo/ssot/parity_targets.yaml
  runtime/docker/docker/Dockerfile.ce19
  runtime/patches/odoo-test-helper/0001-odoo19-metamodel-module_to_models.patch
  runtime/scripts/apply_vendor_patches.sh
  scripts/parity/augment_parity_fields.py
  scripts/verify_vendor_patches.py
  spec/company-roadmap/plan.md
  spec/company-roadmap/prd.md
  spec/company-roadmap/profile.md
  spec/company-roadmap/tasks.md
  spec/insightpulseai-com/prd.md
  spec/insightpulseai-com/tasks.md
Due: no-enterprise-deps, validate-spec-kit

fix(ci): harden vendor patching and preserve parity/edition-policy SSOT updates
  addons/ipai/ipai_ai_copilot/__manifest__.py
  addons/ipai/ipai_ai_copilot/data/mail_channel_ai.xml
  addons/ipai/ipai_ai_copilot/models/mail_channel.py
  addons/ipai/ipai_web_mail_compat/static/src/core/discuss/discuss_sidebar_mailboxes.xml
  automations-inventory.json
  automations-inventory.md
  docs/architecture/EE_PARITY_MATRIX.md
  odoo/ssot/oca_installed_allowlist.yaml
  odoo/ssot/parity_targets.yaml
  requirements-oca.txt
  runtime/docker/docker/Dockerfile.ce19
  scripts/oca/deprecated/README.md
  scripts/oca/deprecated/install_from_allowlist.sh
  scripts/oca/deprecated/install_from_allowlist_docker.sh
  scripts/oca/deprecated/install_from_allowlist_docker_v2.sh
  scripts/oca/oca_parity_install.py
  scripts/parity/augment_parity_fields.py
  scripts/policy/check_edition_policy.py
  spec/company-roadmap/plan.md
  spec/company-roadmap/prd.md
  spec/company-roadmap/profile.md
  spec/company-roadmap/tasks.md
  spec/insightpulseai-com/prd.md
  spec/insightpulseai-com/tasks.md
  spec/odoo/edition_policy.yaml
  tests/oca/__init__.py
  tests/oca/test_oca_parity_install.py
Due: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

chore(dev): expand VS Code debug configs — launch + attach (DevContainer + CE19 Docker)
  .agent/rules.md
  .github/workflows/mcp-server-builds.yml
  .vscode/launch.json
  skills/subagents/devops.expert.prompt.md
  skills/subagents/git.expert.prompt.md
  skills/subagents/repo.expert.prompt.md
Due: none

docs(architecture): add tree-aligned CI/CD policy matrix
  docs/architecture/CI_CD_POLICY_MATRIX.md
Due: none

chore(ssot): add machine-readable CI/CD policy matrix companion (schema v1)
  ssot/ci_cd_policy_matrix.yaml
Due: none

fix(deploy): fix prod odoo.conf — odoo_prod DB, full OCA addons_path, dbfilter
  infra/odoo.conf
  web/docs/evidence/20260224-1000+0800/prod-discuss-fix/logs/container-startup-final.log
  web/docs/evidence/20260224-1000+0800/prod-discuss-fix/logs/container-startup.log
  web/docs/evidence/20260224-1000+0800/prod-discuss-fix/logs/discuss_sidebar_mailboxes_patched.xml
  web/docs/evidence/20260224-1000+0800/prod-discuss-fix/logs/no-console-errors.log
  web/docs/evidence/20260224-1000+0800/prod-discuss-fix/logs/store_service_patch_patched.js
Due: none

fix(ipai_web_mail_compat): disable Mailbox/mobileTopbar sidebar extensions for Odoo 19
  .github/workflows/automations-inventory-validate.yml
  addons/ipai/ipai_web_mail_compat/static/src/core/discuss/discuss_sidebar_mailboxes.xml
  automations-inventory.json
  docs/architecture/AUTOMATIONS_INVENTORY_SUMMARY.md
  scripts/automations_inventory_normalize.py
  ssot/automations/automations.inventory.schema.json
Due: no-enterprise-deps

chore(repo): root-cleanup sprint — inventory, move map, spec kit, drift guard
  .github/workflows/repo-root-boundary-drift.yml
  scripts/policy/check_root_boundary_drift.py
  spec/repo-root-cleanup/constitution.md
  spec/repo-root-cleanup/plan.md
  spec/repo-root-cleanup/prd.md
  spec/repo-root-cleanup/tasks.md
  ssot/root_boundary_inventory.yaml
  ssot/root_cleanup_move_map.yaml
Due: no-enterprise-deps, validate-spec-kit

fix(ipai_finance_ppm): fix controller route type json→jsonrpc (Odoo 19)
  addons/ipai/ipai_finance_ppm/controllers/main.py
Due: no-enterprise-deps

fix(dashboard): add production-safe auto-refresh for live Odoo task counts
  addons/ipai/ipai_finance_ppm/static/src/html/okr_dashboard.html
Due: none

fix(ipai_finance_ppm): add assignee_emails + project_name + write_date_unix to webhook payload
  addons/ipai/ipai_finance_ppm/models/project_task_integration.py
  docs/architecture/README.md
  docs/architecture/adr/ADR-0001-rag-vs-cag-vs-hybrid.md
Due: no-enterprise-deps

feat(supabase): email notification queue, deliveries table, enqueue trigger + RLS
  supabase/migrations/20260225000001_email_notification_queue.sql
  supabase/migrations/20260225000002_email_deliveries.sql
  supabase/migrations/20260225000003_email_enqueue_trigger.sql
  supabase/migrations/20260225000004_email_rls.sql
Due: none

feat(supabase): email-dispatcher Edge Function + tick registration
  docs/architecture/adr/ADR-0001-rag-vs-cag-vs-hybrid.md
  supabase/functions/email-dispatcher/index.ts
  supabase/functions/tick/index.ts
Due: none
