Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

no-enterprise-deps:
  name: No Enterprise Dependencies
  entry: bash -c 'scripts/policy-check.sh --diff || true'
  language: system
  pass_filenames: false

validate-spec-kit:
  name: Validate Spec Kit
  entry: bash -c 'scripts/validate-spec-kit.sh || true'
  language: system
  pass_filenames: false

odoo-manifest-check:
  name: Odoo Manifest Validator
  entry: python3 scripts/validate_manifest.py
  language: system
  pass_filenames: false

fix(repo): remediate DNS SSOT drift and stale n8n finance doc references
  automations/n8n/README_FINANCE_CLOSING.md
  docs/architecture/runtime_identifiers.json
  infra/cloudflare/envs/prod/subdomains.auto.tfvars
  infra/dns/dns-validation-spec.json
  infra/dns/subdomain-registry.yaml
Due: none

feat(repo): add Well-Architected scoring system with CI gate
  .github/workflows/well-architected-review.yml
  automations/n8n/workflows/wa-architecture-review.json
  scripts/wa_score.py
  spec/well-architected/ipai-wa-lens.json
Due: no-enterprise-deps, validate-spec-kit

chore(deploy): remove legacy JSON manifest, migrate scripts to YAML
  config/README_ADDONS_MANIFEST.md
  config/addons_manifest.oca_ipai.json
  scripts/clone_missing_oca_repos.sh
  scripts/ocadev/parse_manifest.sh
  scripts/verify_oca_ipai_layout.sh
Due: none

feat(deploy): build-time enforcement for manifest-declared addon roots
  docker/Dockerfile.unified
Due: none

feat(ssot): add GitHub + Vercel inventory snapshot pipeline
  .github/workflows/ssot-snapshot.yml
  .gitignore
  scripts/ssot/build_snapshot_manifest.py
  scripts/ssot/snapshot_github_and_vercel.sh
Due: no-enterprise-deps

feat(governance): enterprise operating model SSOT with strategic OKRs
  docs/architecture/PLATFORM_REPO_TREE.md
  docs/governance/ENTERPRISE_KPI_MODEL.md
  docs/governance/ENTERPRISE_OPERATING_MODEL.md
  docs/governance/ENTERPRISE_STACK_INDEX.md
  docs/governance/ERP_POSITIONING.md
  scripts/ci/validate_enterprise_okrs.py
  spec/enterprise-target-state/constitution.md
  spec/enterprise-target-state/plan.md
  spec/enterprise-target-state/prd.md
  spec/enterprise-target-state/tasks.md
  ssot/databricks/workspace.yaml
  ssot/github/desired-end-state.yaml
  ssot/governance/enterprise_okrs.yaml
Due: no-enterprise-deps, validate-spec-kit

feat(ssot): add normalized inventory system with schema + validation
  .github/workflows/ssot-validate.yml
  scripts/ssot/normalize_snapshot_inventory.py
  ssot/README.md
  ssot/github/org.inventory.yaml
  ssot/github/repos.inventory.yaml
  ssot/github/target-state-repos.yaml
  ssot/runtime/environments.inventory.yaml
  ssot/schema/snapshot-manifest.schema.json
Due: no-enterprise-deps

feat(oca): curated addons manifest with profiles, bundles, and provenance
  config/addons.manifest.yaml
Due: none

chore(repo): wave2 quick wins — OCA validation, API audit, lakehouse scaffold, marketplace readiness
  .github/workflows/oca-aggregate-validate.yml
  addons/ipai/ipai_agent/models/agent_run.py
  addons/ipai/ipai_hr_expense_liquidation/models/hr_expense_liquidation.py
  docs/evidence/20260308/api_model_audit.json
  docs/lakehouse/ARCHITECTURE.md
  docs/lakehouse/CONTRACTS.md
  docs/lakehouse/DATABRICKS_PARITY_MATRIX.md
  marketplace/README.md
  marketplace/docs/MARKETPLACE_READINESS_CHECKLIST.md
  marketplace/offers/odooops-control-plane/READINESS.md
  oca-aggregate.yml
  scripts/audit/api_model_audit.py
  scripts/oca/validate_aggregate.py
  spec/lakehouse/constitution.md
  spec/lakehouse/plan.md
  spec/lakehouse/prd.md
  spec/lakehouse/tasks.md
  vendor/oca.lock.ce19.json
Due: no-enterprise-deps, validate-spec-kit

docs(org): add governance docs, marketplace scaffold, and CI prompt
  .claude/prompts/ci-cd-streamline-org.md
  docs/org/ARCHIVE_POLICY.md
  docs/org/ORG_ROADMAP_2026.md
  docs/org/ORG_TARGET_STATE.md
  docs/org/PROJECT_OPERATING_MODEL.md
  docs/org/RELEASE_ARTIFACT_POLICY.md
  docs/org/REPO_INVENTORY.md
  marketplace/docs/MARKETPLACE_CONTROL_PLANE.md
  marketplace/offers/odooops-control-plane/co-sell/solution.yaml
  marketplace/offers/odooops-control-plane/legal/privacy.md
  marketplace/offers/odooops-control-plane/legal/terms.md
  marketplace/offers/odooops-control-plane/listing/description.md
  marketplace/offers/odooops-control-plane/listing/search-keywords.yaml
  marketplace/offers/odooops-control-plane/listing/summary.md
  marketplace/offers/odooops-control-plane/offer.yaml
  marketplace/offers/odooops-control-plane/plans/enterprise/plan.yaml
  marketplace/offers/odooops-control-plane/plans/free/plan.yaml
  marketplace/offers/odooops-control-plane/plans/professional/plan.yaml
  marketplace/offers/odooops-control-plane/release/changelog.md
  marketplace/offers/odooops-control-plane/release/publish-history.yaml
  marketplace/offers/odooops-control-plane/technical/saas/apis.yaml
  marketplace/offers/odooops-control-plane/technical/saas/landing-page.md
  marketplace/policies/MARKETPLACE_GOVERNANCE.md
  marketplace/schemas/offer.schema.yaml
  marketplace/schemas/plan.schema.yaml
Due: none

fix(finance-ppm): migrate create() to @api.model_create_multi
  addons/ipai/ipai_finance_ppm/models/project_task_integration.py
Due: no-enterprise-deps

refactor(ssot): enrich governance artifacts with structured verification fields
  docs/architecture/OCA_REPO_INTAKE_MATRIX.md
  docs/evidence/20260308-wave2-clean-baseline.md
  ssot/parity/ee_oca_verification_matrix.yaml
Due: none

docs(ssot): add verification governance artifacts for wave2-clean baseline
  docs/architecture/OCA_REPO_INTAKE_MATRIX.md
  docs/evidence/20260308-wave2-clean-baseline.md
  docs/evidence/20260308/api_model_audit.json
  ssot/parity/ee_oca_verification_matrix.yaml
Due: none

docs(ci): add workflow taxonomy from 362-workflow audit
  docs/ci/WORKFLOW_TAXONOMY.md
Due: none

docs(ci): update CI_WORKFLOWS.md with audited counts and taxonomy link
  docs/ai/CI_WORKFLOWS.md
Due: none

feat(ssot): add agent capability snapshot — skills, tools, knowledge registries
  scripts/agents/build_manifest.py
  scripts/agents/snapshot_knowledge.py
  scripts/agents/snapshot_skills.py
  scripts/agents/snapshot_tools.py
  ssot/agents/capability_manifest.json
  ssot/agents/knowledge/knowledge_registry.json
  ssot/agents/skills/skills_registry.json
  ssot/agents/tools/tools_registry.json
Due: no-enterprise-deps

chore(ci): consolidate secrets scanning workflows 10→6
  .github/workflows/secret-scan.yml
  .github/workflows/secrets-audit.yml
  .github/workflows/secrets-registry-guard.yml
  .github/workflows/secrets-registry-validate.yml
  .github/workflows/secrets-usage-guard.yml
  .github/workflows/secrets-validation-master.yml
  .github/workflows/validate-secrets-usage.yml
Due: none

feat(ssot): add provider scripts, update inventories, fix WA JSON output
  .gitignore
  docs/evidence/20260308-1620/wa-baseline/wa_score_baseline.json
  scripts/ssot/normalize_snapshot_inventory.py
  scripts/ssot/providers/databricks_snapshot.sh
  scripts/ssot/providers/supabase_snapshot.sh
  scripts/wa_score.py
  ssot/github/org.inventory.yaml
  ssot/github/repos.inventory.yaml
  ssot/runtime/environments.inventory.yaml
Due: no-enterprise-deps

feat(ssot): add integration-auth-stack SSOT and DNS zone export
  infra/ssot/dns-zone-export.txt
  ssot/integrations/_index.yaml
  ssot/integrations/integration_auth_stack.yaml
  ssot/integrations/platform_inventory.yaml
Due: none

docs(governance): add 5-layer org governance SSOT and validation script
  scripts/github/check_org_repos.sh
  ssot/github/org-repos.yaml
  ssot/github/repo-standards.yaml
Due: none

feat(oca): add SSOT-driven OCA installer replacing hardcoded install scripts
  .github/workflows/oca-install-plan-check.yml
  docs/architecture/OCA_INSTALLER_SSOT_FLOW.md
  scripts/odoo/install-oca-modules.sh
  scripts/odoo/install_oca_from_ssot.py
  scripts/odoo/render_oca_install_plan.py
  tests/test_install_oca_from_ssot.py
Due: no-enterprise-deps

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$
