Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$

feat(repo): parallel execution — CI wiring, Entra runbook, Fabric rehearsal, repo split ADR, PR triage
  .github/workflows/contract-tests.yml
  .github/workflows/org-governance.yml
  docs/architecture/adr/ADR_REPO_SPLIT_STRATEGY.md
  docs/evidence/20260330-pr-triage/triage-report.md
  docs/runbooks/entra-activation-next-steps.md
  docs/runbooks/fabric-mirroring-rehearsal.md
  scripts/repo-split/analyze-dependencies.sh
  spec/entra-identity-migration/tasks.md
Due: validate-spec-kit

fix(data): Fabric capacity confirmed — pre-flight GO, config updated
  docs/evidence/20260330-fabric-preflight/preflight-results.md
Due: none

docs(infra): infrastructure audit dashboard — 69 resources, 14 RGs, action items
  docs/evidence/20260330-infra-audit/infrastructure-audit.md
Due: none

chore(infra): cost optimization — pause Fabric, delete 5 unused resources, scale 3 apps to 0
  docs/evidence/20260330-cost-optimization/cost-optimization-results.md
Due: none

feat(infra): deploy Azure Front Door for erp.insightpulseai.com (P0)
  infra/azure/deploy-frontdoor-erp.bicep
  infra/azure/modules/front-door.bicep
Due: none

fix(infra): resume Fabric capacity — active Finance PPM workloads discovered
  docs/evidence/20260330-cost-optimization/cost-optimization-results.md
Due: none

feat(ssot): org-wide integration audit — register 9 missing, remove 7 deprecated
  spec/meta-integration-bridge/constitution.md
  spec/meta-integration-bridge/plan.md
  spec/meta-integration-bridge/prd.md
  spec/meta-integration-bridge/tasks.md
  ssot/external/meta_ads_integration.yaml
  ssot/integrations/_index.yaml
  ssot/integrations/azure_doc_intelligence.yaml
  ssot/integrations/azure_front_door.yaml
  ssot/integrations/azure_openai.yaml
  ssot/integrations/entra_oidc.yaml
  ssot/integrations/fabric_mirroring.yaml
  ssot/integrations/meta_marketing_api.yaml
  ssot/integrations/power_bi.yaml
  ssot/integrations/sora_video.yaml
  ssot/integrations/zoho_mail.yaml
Due: validate-spec-kit

feat(meta): build CAPI bridge Azure Function with tests
  platform/services/meta-capi-bridge/function_app.py
  platform/services/meta-capi-bridge/host.json
  platform/services/meta-capi-bridge/local.settings.example.json
  platform/services/meta-capi-bridge/meta_capi_bridge/__init__.py
  platform/services/meta-capi-bridge/meta_capi_bridge/client.py
  platform/services/meta-capi-bridge/meta_capi_bridge/config.py
  platform/services/meta-capi-bridge/meta_capi_bridge/deadletter.py
  platform/services/meta-capi-bridge/meta_capi_bridge/events.py
  platform/services/meta-capi-bridge/meta_capi_bridge/webhook.py
  platform/services/meta-capi-bridge/requirements.txt
  platform/services/meta-capi-bridge/tests/__init__.py
  platform/services/meta-capi-bridge/tests/test_events.py
  platform/services/meta-capi-bridge/tests/test_webhook.py
  spec/meta-integration-bridge/tasks.md
Due: no-enterprise-deps, validate-spec-kit

test(meta-capi): add verified local bridge coverage and sandbox event evidence
  docs/evidence/20260331-1900/meta-capi-bridge/test-results.md
  platform/services/meta-capi-bridge/local.settings.example.json
  platform/services/meta-capi-bridge/tests/test_live_capi.py
Due: no-enterprise-deps

feat(odoo-social): wire Meta CAPI bridge into CRM/invoice lifecycle events
  addons/ipai/ipai_social_capi/__init__.py
  addons/ipai/ipai_social_capi/__manifest__.py
  addons/ipai/ipai_social_capi/data/ir_config_parameter.xml
  addons/ipai/ipai_social_capi/models/__init__.py
  addons/ipai/ipai_social_capi/models/account_move.py
  addons/ipai/ipai_social_capi/models/capi_event_log.py
  addons/ipai/ipai_social_capi/models/crm_lead.py
  addons/ipai/ipai_social_capi/security/ir.model.access.csv
Due: no-enterprise-deps, odoo-manifest-check

docs(meta): update SSOT and spec tasks — 24/28 complete, Odoo module registered
  spec/meta-integration-bridge/tasks.md
  ssot/external/meta_ads_integration.yaml
Due: validate-spec-kit

feat(spec): add Pulser 4-repo spec bundles with Tax Guru PH grounding hierarchy
  docs/architecture/tax/TAX_GURU_CONSOLIDATION.md
  spec/pulser-agents/plan.md
  spec/pulser-agents/prd.md
  spec/pulser-agents/tasks.md
  spec/pulser-odoo/plan.md
  spec/pulser-odoo/prd.md
  spec/pulser-odoo/tasks.md
  spec/pulser-platform/plan.md
  spec/pulser-platform/prd.md
  spec/pulser-platform/tasks.md
  spec/pulser-web/plan.md
  spec/pulser-web/prd.md
  spec/pulser-web/tasks.md
Due: validate-spec-kit

docs(evidence): Pulser deploy evidence — spec merged, Odoo Copilot validated
  docs/evidence/20260401-0748/pulser-deploy/DEPLOYMENT_EVIDENCE.md
Due: none

fix(tax,deploy): close Pulser deploy blockers — ATC reconciliation, Odoo 18 alignment, spec constitutions
  .github/workflows/ipai-copilot-publish.yml
  addons/ipai/ipai_bir_tax_compliance/data/rates/ph_rates_2025.json
  addons/ipai/ipai_bir_tax_compliance/data/rules/ewt.rules.yaml
  azure-pipelines/odoo-deploy.yml
  platform/runtime/docker/docker/Dockerfile.odoo-copilot
  spec/pulser-agents/constitution.md
  spec/pulser-odoo/constitution.md
  spec/pulser-platform/constitution.md
  spec/pulser-web/constitution.md
  ssot/agents/solution_registry.yaml
Due: validate-spec-kit

feat(docker): align OCA module set with local dev baseline (45 installed apps)
  platform/runtime/docker/docker/Dockerfile.odoo-copilot
Due: none

feat(infra): deploy SAP benchmark governance — PIM, Azure Policy, WAR (#644, #647, #649)
  .github/workflows/governance-benchmark.yml
  docs/evidence/20260401-0815/war/war-baseline.json
  infra/azure/main.bicep
  infra/azure/modules/pim-governance.bicep
  infra/azure/modules/policy-tag-governance.bicep
  scripts/governance/check-tag-compliance.sh
  scripts/governance/configure-pim.sh
  scripts/governance/well-architected-review.sh
  spec/ipai-workload-center/tasks.md
Due: validate-spec-kit

fix(infra): activate SAP benchmark governance live — #644, #647, #649
  docs/evidence/20260401-0815/ACTIVATION_CHECKLIST.md
  docs/evidence/20260401-0815/PR_669_STATUS_COMMENT.md
  docs/evidence/20260401-0815/pim/dry-run-output.txt
  docs/evidence/20260401-0815/pim/live-output.txt
  docs/evidence/20260401-0815/pim/prereqs.md
  docs/evidence/20260401-0815/pim/result-summary.md
  docs/evidence/20260401-0815/policy/assignment-summary.md
  docs/evidence/20260401-0815/policy/compliance-snapshot.json
  docs/evidence/20260401-0815/policy/deployment-output.json
  docs/evidence/20260401-0815/war/live-vs-baseline.md
  docs/evidence/20260401-0815/war/live-war-output.json
  docs/evidence/20260401-0815/war/live-war-summary.md
  infra/azure/modules/policy-tag-governance.bicep
  scripts/governance/configure-pim.sh
Due: none

docs(parity): sync Odoo.sh parity judge and Azure benchmark to 71-feature baseline
  agents/library/odoo/odoosh_parity_judge.md
  docs/architecture/ODOOSH_SAP_AZURE_BENCHMARK.md
Due: none

feat(parity): deploy filestore, mail catcher, and immutable backup — close 3/7 Odoo.sh gaps
  agents/library/odoo/odoosh_parity_judge.md
  docs/architecture/ODOOSH_SAP_AZURE_BENCHMARK.md
  docs/evidence/20260401-0950/parity-bundle/filestore-evidence.md
  docs/evidence/20260401-0950/parity-bundle/immutable-backup-evidence.md
  docs/evidence/20260401-0950/parity-bundle/mailpit-evidence.md
  docs/testing/ODOOSH_EQUIVALENT_E2E_PLAN.md
Due: none

feat(parity): add staging and post-import neutralization to Azure Odoo deploy lane
  azure-pipelines/odoo-deploy.yml
  scripts/ci/verify_neutralization.sh
  scripts/odoo/neutralize_environment.sh
  scripts/odoo/refresh_staging.sh
Due: none

feat(infra): normalize storage accounts, close 5/7 parity gaps, add AzDO deploy authority
  agents/library/odoo/odoosh_parity_judge.md
  docs/architecture/ODOOSH_SAP_AZURE_BENCHMARK.md
  docs/evidence/20260401-0815/storage-normalization/storage-authority.md
Due: none

feat(parity): close instant-branch deploy and upgrade-rehearsal gaps for Azure Odoo lane
  agents/library/odoo/odoosh_parity_judge.md
  azure-pipelines/odoo-preview-deploy.yml
  azure-pipelines/odoo-upgrade-rehearsal.yml
  azure-pipelines/templates/jobs/cleanup-preview.yml
  azure-pipelines/templates/jobs/deploy-preview.yml
  docs/architecture/ODOOSH_SAP_AZURE_BENCHMARK.md
  scripts/odoo/upgrade_rehearsal.sh
Due: none

feat(odoo): ship ipai_workload_center — operator control surface for workload lifecycle
  addons/ipai/ipai_workload_center/__init__.py
  addons/ipai/ipai_workload_center/__manifest__.py
  addons/ipai/ipai_workload_center/data/queue_job_channels.xml
  addons/ipai/ipai_workload_center/models/__init__.py
  addons/ipai/ipai_workload_center/models/workload.py
  addons/ipai/ipai_workload_center/models/workload_component.py
  addons/ipai/ipai_workload_center/models/workload_cost.py
  addons/ipai/ipai_workload_center/models/workload_environment.py
  addons/ipai/ipai_workload_center/models/workload_evidence.py
  addons/ipai/ipai_workload_center/models/workload_policy.py
  addons/ipai/ipai_workload_center/models/workload_release.py
  addons/ipai/ipai_workload_center/models/workload_validation.py
  addons/ipai/ipai_workload_center/security/ir.model.access.csv
  addons/ipai/ipai_workload_center/static/description/icon.png
  addons/ipai/ipai_workload_center/views/workload_actions.xml
  addons/ipai/ipai_workload_center/views/workload_menu.xml
  addons/ipai/ipai_workload_center/views/workload_views.xml
Due: no-enterprise-deps, odoo-manifest-check

feat(deploy): add ipai_workload_center to Odoo 18 copilot image
  platform/runtime/docker/docker/Dockerfile.odoo-copilot
Due: none

feat(deploy): add ipai_workload_center to Odoo 18 copilot container image
  platform/runtime/docker/docker/Dockerfile.odoo-copilot
Due: none

fix(deploy): fix pipefail assertion in Dockerfile.odoo-copilot
  platform/runtime/docker/docker/Dockerfile.odoo-copilot
Due: none

fix(deploy): remove explicit --addons-path from CMD — use odoo.conf
  platform/runtime/docker/docker/Dockerfile.odoo-copilot
Due: none

feat(copilot): promote managed identity to runtime-default auth
  addons/ipai/ipai_odoo_copilot/controllers/copilot_gateway.py
Due: no-enterprise-deps

feat(gws): add Google Workspace addon with Pulser copilot bridge + W9 eval dataset
  addons/ipai/ipai_google_workspace/__init__.py
  addons/ipai/ipai_google_workspace/__manifest__.py
  addons/ipai/ipai_google_workspace/controllers/__init__.py
  addons/ipai/ipai_google_workspace/controllers/addon_api.py
  addons/ipai/ipai_google_workspace/data/google_workspace_data.xml
  addons/ipai/ipai_google_workspace/models/__init__.py
  addons/ipai/ipai_google_workspace/models/google_workspace_session.py
  addons/ipai/ipai_google_workspace/security/ir.model.access.csv
  addons/ipai/ipai_google_workspace/static/description/deployment.json
  agents/evals/w9-pulser/w9-pulser-eval-v1.jsonl
  ssot/google-workspace/gmail-addon-contract.yaml
  ssot/google-workspace/marketplace-app.yaml
  ssot/google-workspace/oauth-consent.yaml
Due: no-enterprise-deps, odoo-manifest-check

chore(repo): deprecate Wix — DNS migrated to Azure DNS, site to ACA + Odoo CMS
  CLAUDE.md
Due: none
