Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

no-enterprise-deps:
  name: No Enterprise Dependencies
  entry: bash -c 'scripts/policy-check.sh --diff || true'
  language: system
  pass_filenames: false

validate-spec-kit:
  name: Validate Spec Kit
  entry: bash -c 'scripts/validate-spec-kit.sh || true'
  language: system
  pass_filenames: false

odoo-manifest-check:
  name: Odoo Manifest Validator
  entry: python3 scripts/validate_manifest.py
  language: system
  pass_filenames: false

test(qweb): add xml lint gate + expense liquidation qweb render test
  .github/workflows/odoo-qweb-lint.yml
  addons/ipai/ipai_hr_expense_liquidation/report/expense_liquidation_report.xml
  scripts/ci/lint_odoo_xml.py
Due: no-enterprise-deps

feat(infra): workspace standardization + DNS SSOT consolidation
  .devcontainer/devcontainer.json
  .github/workflows/dns-sync-check.yml
  CLAUDE.md
  docker-compose.yml
  docs/ai/WORKSPACE_NAMING.md
  docs/architecture/runtime_identifiers.json
  docs/evidence/20260213-0630/workspace-dns-ssot/SUMMARY.md
  infra/cloudflare/envs/prod/subdomains.auto.tfvars
  infra/dns/README.md
  infra/dns/dns-validation-spec.json
  infra/dns/subdomain-registry.yaml
  scripts/generate-dns-artifacts.sh
Due: none

chore(infra): add workspace & DNS SSOT verification
  docs/evidence/20260213-0630/workspace-dns-ssot/IMPLEMENTATION_STATUS.md
  scripts/verify-workspace-dns.sh
Due: none

feat(env): multi-environment database configuration (dev/stage/prod)
  .env.dev
  .env.example
  .env.prod
  .env.stage
  .gitignore
  docs/ai/MULTI_ENVIRONMENT.md
  scripts/ci/inventory_repo_surfaces.sh
Due: none

security(env): gitignore .env.production with real secrets
  .gitignore
Due: none

docs(okr): add OKR url inventory + stage DNS surfaces
  docs/architecture/runtime_identifiers.json
  docs/okr/OKR_URL_INVENTORY.md
  infra/cloudflare/envs/prod/subdomains.auto.tfvars
  infra/dns/dns-validation-spec.json
  infra/dns/subdomain-registry.yaml
Due: none

fix(scripts): resolve verify-workspace-dns.sh early exit issue
  scripts/verify-workspace-dns.sh
Due: none

security(secrets): add *.local.json to .gitignore
  .claude/settings.local.json
  .gitignore
Due: none

security(secrets): implement SSOT secret registry with two-tier architecture
  .github/workflows/secrets-registry-validate.yml
  .gitignore
  docs/security/SECRET_MANAGEMENT.md
  infra/secrets/registry.yaml
  scripts/secrets/sync_all.sh
  scripts/secrets/sync_github_secrets.sh
  scripts/secrets/sync_supabase_secrets.sh
  scripts/secrets/validate_registry.py
Due: no-enterprise-deps

docs(security): add operational runbook and quick reference
  docs/security/OPERATIONAL_RUNBOOK.md
  docs/security/SECRET_QUICK_REF.md
Due: none

security(secrets): implement env-prefixed secrets for single Supabase project
  docs/security/ENV_SECRET_PREFIXING.md
  infra/secrets/registry.yaml
  scripts/secrets/sync_env.sh
  supabase/functions/_shared/env.ts
  supabase/functions/_shared/env_test.ts
Due: none

docs(security): integrate Supabase Postgres best practices
  docs/security/SUPABASE_BEST_PRACTICES.md
Due: none

security(dns): harden Cloudflare proxying for MCP, n8n, Superset
  docs/architecture/runtime_identifiers.json
  infra/dns/dns-validation-spec.json
  infra/dns/subdomain-registry.yaml
Due: none

feat(spec): add Cloudflare security hardening spec bundle
  spec/cloudflare-security/README.md
  spec/cloudflare-security/firewall-rules.json
  spec/cloudflare-security/prd.md
Due: validate-spec-kit

feat(superset): API-driven database configuration and asset management
  .github/workflows/superset-bootstrap.yml
  scripts/superset/README.md
  scripts/superset/add_or_update_database.sh
  scripts/superset/common.sh
  scripts/superset/import_assets.sh
  scripts/superset/test_database_connection.sh
Due: none

fix(ci): add git identity config to ship-on-deploy workflow
  .github/workflows/ship-on-deploy.yml
Due: none

feat(hybrid): add QWeb shell + Next.js Tailwind dashboard with shared tokens
  HYBRID_SETUP.md
  addons/ipai/ipai_odooops_shell/__init__.py
  addons/ipai/ipai_odooops_shell/__manifest__.py
  addons/ipai/ipai_odooops_shell/controllers/__init__.py
  addons/ipai/ipai_odooops_shell/controllers/main.py
  addons/ipai/ipai_odooops_shell/static/src/css/shell.css
  addons/ipai/ipai_odooops_shell/views/menu.xml
  addons/ipai/ipai_odooops_shell/views/shell_templates.xml
  apps/odooops-dashboard/.gitignore
  apps/odooops-dashboard/README.md
  apps/odooops-dashboard/app/globals.css
  apps/odooops-dashboard/app/layout.tsx
  apps/odooops-dashboard/app/page.tsx
  apps/odooops-dashboard/components/MetricCard.tsx
  apps/odooops-dashboard/components/ProjectCard.tsx
  apps/odooops-dashboard/next.config.mjs
  apps/odooops-dashboard/package.json
  apps/odooops-dashboard/postcss.config.mjs
  apps/odooops-dashboard/tailwind.config.ts
  apps/odooops-dashboard/tsconfig.json
  design-tokens/tokens.json
Due: no-enterprise-deps, odoo-manifest-check

docs(superset): add database connection guide and test scripts
  docs/superset/DATABASE_CONNECTIONS.md
  docs/superset/README.md
  scripts/superset_db_connect.sh
  scripts/superset_db_setup.py
Due: no-enterprise-deps

chore(ci): add parallel refactor analysis system
  .github/workflows/refactor-subagents.yml
  docs/evidence/20260214-1633/refactor-subagents/IMPLEMENTATION.md
  scripts/refactor/README.md
  scripts/refactor/run_refactor_subagents.sh
  scripts/refactor/verify_setup.sh
Due: none

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$
