Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

no-enterprise-deps:
  name: No Enterprise Dependencies
  entry: bash -c 'scripts/policy-check.sh --diff || true'
  language: system
  pass_filenames: false

validate-spec-kit:
  name: Validate Spec Kit
  entry: bash -c 'scripts/validate-spec-kit.sh || true'
  language: system
  pass_filenames: false

odoo-manifest-check:
  name: Odoo Manifest Validator
  entry: python3 scripts/validate_manifest.py
  language: system
  pass_filenames: false

docs(data): encode Databricks+Fabric platform contract from MS reference arch
  docs/architecture/enterprise_data_platform.md
  ssot/data-intelligence/platform_contract.yaml
Due: none

docs(identity): add Entra vs Azure control plane boundary contract
  ssot/identity/entra_azure_boundary.yaml
Due: none

chore(repo): deprecate Supabase, adopt Azure DNS as authoritative
  CLAUDE.md
  ssot/infrastructure/dns_mail_authority.yaml
Due: none

chore(dns): migrate subdomain registry from Cloudflare to Azure DNS
  infra/dns/subdomain-registry.yaml
Due: none

fix(dns): pin actual DKIM key and canonical DMARC record in mail SSOT
  ssot/infrastructure/dns_mail_authority.yaml
Due: none

fix(odoo): codify login branding hotfix into ipai_web_branding module
  addons/ipai/ipai_web_branding/__manifest__.py
  addons/ipai/ipai_web_branding/views/login_templates.xml
Due: no-enterprise-deps, odoo-manifest-check

feat(agents): add Google Workspace CLI pilot skill contract
  agents/skills/google-workspace-cli/SKILL.md
  agents/skills/google-workspace-cli/recipes.md
Due: none

docs(odoo): add integration adoption decision table and rule
  CLAUDE.md
  ssot/odoo/integration_adoption.yaml
Due: none

feat(gmail): scaffold org-owned Gmail add-on and spec bundle
  spec/gmail-mail-plugin/plan.md
  spec/gmail-mail-plugin/prd.md
  spec/gmail-mail-plugin/tasks.md
  web/apps/gmail-odoo-addon/appsscript.json
  web/apps/gmail-odoo-addon/src/actions.ts
  web/apps/gmail-odoo-addon/src/auth.ts
  web/apps/gmail-odoo-addon/src/config.ts
  web/apps/gmail-odoo-addon/src/context.ts
  web/apps/gmail-odoo-addon/src/homepage.ts
Due: validate-spec-kit

feat(mail): add thin Gmail plugin bridge for org-owned add-on
  addons/ipai/ipai_mail_plugin_bridge/__init__.py
  addons/ipai/ipai_mail_plugin_bridge/__manifest__.py
  addons/ipai/ipai_mail_plugin_bridge/controllers/__init__.py
  addons/ipai/ipai_mail_plugin_bridge/controllers/main.py
  addons/ipai/ipai_mail_plugin_bridge/models/__init__.py
  addons/ipai/ipai_mail_plugin_bridge/models/mail_plugin_session.py
  addons/ipai/ipai_mail_plugin_bridge/security/ir.model.access.csv
Due: no-enterprise-deps, odoo-manifest-check

feat(auth): add Google Workspace as second OAuth provider alongside Entra
  addons/ipai/ipai_enterprise_bridge/__manifest__.py
  addons/ipai/ipai_enterprise_bridge/data/oauth_providers.xml
  addons/ipai/ipai_enterprise_bridge/models/res_config_settings.py
  addons/ipai/ipai_enterprise_bridge/models/settings_actions.py
Due: no-enterprise-deps, odoo-manifest-check

feat(design): add W9 Studio (PulseFit) design tokens from site audit
  design/w9studio/design-tokens.json
Due: none

feat(spec): consolidate Gmail addon spec with 4-plane Azure-native architecture
  docs/architecture/WIX_GIT_INTEGRATION_RESEARCH.md
  spec/gmail-inbox-addon/constitution.md
  spec/gmail-inbox-addon/plan.md
  spec/gmail-inbox-addon/prd.md
  spec/gmail-inbox-addon/tasks.md
  ssot/data-intelligence/fabric-mirroring.odoo.yaml
Due: validate-spec-kit

feat(agents): add Microsoft MCP Server for Enterprise skill contract
  agents/skills/entra-mcp-server/SKILL.md
  spec/gmail-inbox-addon/plan.md
  spec/gmail-inbox-addon/tasks.md
Due: validate-spec-kit

docs(agents): add Microsoft MCP .NET samples reference
  agents/skills/entra-mcp-server/mcp-dotnet-samples.md
Due: none

feat(entra): add branding CSS + MCP Server provisioned in tenant
  infra/ssot/azure/entra-branding.css
Due: none

chore(ssot): add Microsoft MCP server policy — 6 approved, rest conditional
  infra/ssot/azure/mcp-server-policy.yaml
Due: none

fix(governance): close all 25 audit gaps + update Go-Live Checklist
  docs/architecture/GO_LIVE_CHECKLIST.md
  docs/audits/integration-auth/20260327-1230/GAP_REGISTER.md
Due: none

feat(spec): add Odoo ChatGPT connector spec bundle
  spec/odoo-chatgpt-connector/constitution.md
  spec/odoo-chatgpt-connector/plan.md
  spec/odoo-chatgpt-connector/prd.md
  spec/odoo-chatgpt-connector/tasks.md
Due: validate-spec-kit

feat(ssot): add Odoo ChatGPT connector permission matrix
  ssot/contracts/odoo-connector-permissions.yaml
Due: none

feat(ssot): add CMS feature group to Odoo connector permissions
  ssot/contracts/odoo-connector-permissions.yaml
Due: none

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$
