Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

no-enterprise-deps:
  name: No Enterprise Dependencies
  entry: bash -c 'scripts/policy-check.sh --diff || true'
  language: system
  pass_filenames: false

validate-spec-kit:
  name: Validate Spec Kit
  entry: bash -c 'scripts/validate-spec-kit.sh || true'
  language: system
  pass_filenames: false

odoo-manifest-check:
  name: Odoo Manifest Validator
  entry: python3 scripts/validate_manifest.py
  language: system
  pass_filenames: false

fix(repo): normalize all Odoo 19 references to Odoo 18
  .claude/rules/automations.md
  .claude/rules/odoo-rules.md
  CLAUDE.md
Due: none

fix(ci): install gevent from binary wheel to avoid Cython build failure
  azure-pipelines-odoo-test.yml
Due: none

fix(ci): filter gevent/greenlet from requirements.txt to use binary wheels
  azure-pipelines-odoo-test.yml
Due: none

feat(agents): add 4 Azure DevOps board management skills
  agents/skills/AGENTS.md
  agents/skills/azdo-board-normalization/prompt.md
  agents/skills/azdo-board-normalization/skill.yaml
  agents/skills/azdo-board-ops/prompt.md
  agents/skills/azdo-board-ops/skill.yaml
  agents/skills/azdo-project-settings/prompt.md
  agents/skills/azdo-project-settings/skill.yaml
  agents/skills/azdo-work-item-ops/prompt.md
  agents/skills/azdo-work-item-ops/skill.yaml
Due: none

feat(governance): close 3 P0 blockers — PG private, perf baseline, IaC drift
  docs/evidence/20260405-0200/blocker-closure/iac-drift-assessment.md
  docs/evidence/20260405-0200/blocker-closure/perf-baseline.md
  docs/evidence/20260405-0200/blocker-closure/pg-public-access-disabled.md
  scripts/perf/k6_odoo_baseline.js
Due: none

fix(ci): install rdbms-connect extension for az postgres execute
  azure-pipelines-odoo-test.yml
Due: none

fix(agents): harden board normalization skill with guardrails
  agents/skills/azdo-board-normalization/prompt.md
  agents/skills/azdo-board-normalization/skill.yaml
Due: none

docs(go-live): add cutover brief with exact launch gates
  docs/evidence/20260405-0200/go-live/GO_LIVE_CUTOVER_BRIEF.md
Due: none

docs(cutover): add go-live cutover brief and launch evidence index
  docs/cutover/ODOO_18_GO_LIVE_CUTOVER_BRIEF.md
  docs/cutover/ODOO_18_LAUNCH_EVIDENCE_INDEX.md
Due: none

fix(ci): make DB connectivity check non-blocking (continueOnError)
  azure-pipelines-odoo-test.yml
Due: none

fix(ci): downgrade 20 module versions from 19.0→18.0 and add ipai_auth_oidc
  addons/ipai/ipai_agent/__manifest__.py
  addons/ipai/ipai_ai_channel_actions/__manifest__.py
  addons/ipai/ipai_ai_copilot/__manifest__.py
  addons/ipai/ipai_ai_platform/__manifest__.py
  addons/ipai/ipai_ai_widget/__manifest__.py
  addons/ipai/ipai_ask_ai_azure/__manifest__.py
  addons/ipai/ipai_auth_oidc/__init__.py
  addons/ipai/ipai_auth_oidc/__manifest__.py
  addons/ipai/ipai_auth_oidc/data/auth_provider_data.xml
  addons/ipai/ipai_bir_tax_compliance/__manifest__.py
  addons/ipai/ipai_copilot_actions/__manifest__.py
  addons/ipai/ipai_document_intelligence/__manifest__.py
  addons/ipai/ipai_enterprise_bridge/__manifest__.py
  addons/ipai/ipai_finance_close_seed/__manifest__.py
  addons/ipai/ipai_finance_ppm/__manifest__.py
  addons/ipai/ipai_hr_expense_liquidation/__manifest__.py
  addons/ipai/ipai_llm_supabase_bridge/__manifest__.py
  addons/ipai/ipai_mail_plugin_bridge/__manifest__.py
  addons/ipai/ipai_odoo_copilot/__manifest__.py
  addons/ipai/ipai_project_seed/__manifest__.py
  addons/ipai/ipai_security_frontdoor/__manifest__.py
  addons/ipai/ipai_web_branding/__manifest__.py
  addons/ipai/ipai_workspace_core/__manifest__.py
Due: no-enterprise-deps, odoo-manifest-check

feat(ci): add automated Azure estate audit with drift detection
  azure-pipelines-estate-audit.yml
  scripts/ci/azure_estate_audit.sh
  ssot/azure/expected-estate.yaml
Due: none

fix(ci): correct module versions 19.0→18.0 and pipeline test DB cleanup
  .azuredevops/pipelines/odoo-module.yml
  .azuredevops/pipelines/odoo-test.yml
  addons/ipai/ipai_aca_proxy/__manifest__.py
  addons/ipai/ipai_bank_recon/__manifest__.py
  addons/ipai/ipai_bir_compliance/__manifest__.py
  addons/ipai/ipai_branch_profile/__manifest__.py
  addons/ipai/ipai_copilot_actions/__manifest__.py
  addons/ipai/ipai_data_intelligence/__manifest__.py
  addons/ipai/ipai_document_intelligence/__manifest__.py
  addons/ipai/ipai_hr_expense_liquidation/__manifest__.py
  addons/ipai/ipai_odoo_copilot/__manifest__.py
  addons/ipai/ipai_ops_api/__manifest__.py
  infra/azuredevops/templates/steps/odoo-upgrade-rehearsal.yml
  platform/ci/odoo-test-job.yml
Due: no-enterprise-deps, odoo-manifest-check

fix(ci): correct module versions 19.0→18.0 and pipeline test DB cleanup (#679)
  .azuredevops/pipelines/odoo-module.yml
  .azuredevops/pipelines/odoo-test.yml
  .claude/rules/automations.md
  .claude/rules/odoo-rules.md
  CLAUDE.md
  addons/ipai/ipai_aca_proxy/__manifest__.py
  addons/ipai/ipai_bank_recon/__manifest__.py
  addons/ipai/ipai_bir_compliance/__manifest__.py
  addons/ipai/ipai_branch_profile/__manifest__.py
  addons/ipai/ipai_copilot_actions/__manifest__.py
  addons/ipai/ipai_data_intelligence/__manifest__.py
  addons/ipai/ipai_document_intelligence/__manifest__.py
  addons/ipai/ipai_hr_expense_liquidation/__manifest__.py
  addons/ipai/ipai_odoo_copilot/__manifest__.py
  addons/ipai/ipai_ops_api/__manifest__.py
  agents/skills/AGENTS.md
  agents/skills/azdo-board-normalization/prompt.md
  agents/skills/azdo-board-normalization/skill.yaml
  agents/skills/azdo-board-ops/prompt.md
  agents/skills/azdo-board-ops/skill.yaml
  agents/skills/azdo-project-settings/prompt.md
  agents/skills/azdo-project-settings/skill.yaml
  agents/skills/azdo-work-item-ops/prompt.md
  agents/skills/azdo-work-item-ops/skill.yaml
  docs/cutover/ODOO_18_GO_LIVE_CUTOVER_BRIEF.md
  docs/cutover/ODOO_18_LAUNCH_EVIDENCE_INDEX.md
  docs/evidence/20260405-0200/blocker-closure/iac-drift-assessment.md
  docs/evidence/20260405-0200/blocker-closure/perf-baseline.md
  docs/evidence/20260405-0200/blocker-closure/pg-public-access-disabled.md
  docs/evidence/20260405-0200/go-live/GO_LIVE_CUTOVER_BRIEF.md
  infra/azuredevops/templates/steps/odoo-upgrade-rehearsal.yml
  platform/ci/odoo-test-job.yml
  scripts/perf/k6_odoo_baseline.js
Due: no-enterprise-deps, odoo-manifest-check

feat(ci): coverage-driven estate audit with authority model and drift gating
  azure-pipelines-estate-audit.yml
  scripts/ci/azure_estate_audit.sh
  ssot/azure/estate_authority.yaml
  ssot/azure/estate_coverage.yaml
  ssot/azure/expected-estate.yaml
  tests/test_azure_estate_coverage.py
Due: no-enterprise-deps

fix(ci): migrate all pipelines from secret-based azure-ipai to WIF ipai-dev-wif
  azure-pipelines/invoice-pipeline-deploy.yml
  azure-pipelines/odoo-container-deploy.yml
  azure-pipelines/odoo-deploy.yml
  azure-pipelines/odoo-preview-deploy.yml
  azure-pipelines/odoo-upgrade-rehearsal.yml
  azure-pipelines/odooops-deploy.yml
  azure-pipelines/templates/extends/base-deploy.yml
  azure-pipelines/templates/jobs/build-container.yml
  azure-pipelines/templates/jobs/cleanup-preview.yml
  azure-pipelines/templates/jobs/deploy-bicep.yml
  azure-pipelines/templates/jobs/deploy-containerapp.yml
  azure-pipelines/templates/jobs/deploy-preview.yml
  azure-pipelines/templates/jobs/foundry-eval.yml
  azure-pipelines/templates/jobs/validate-bicep.yml
  azure-pipelines/travel-expense-deploy.yml
  azure-pipelines/web-landing-deploy.yml
  infra/ci/azure-pipelines.yml
  infra/pipelines/templates/deploy-bicep.yml
  platform/ci/odoo-test-job.yml
Due: none

fix(ci): migrate all pipelines to WIF service connection (#684)
  azure-pipelines/invoice-pipeline-deploy.yml
  azure-pipelines/odoo-container-deploy.yml
  azure-pipelines/odoo-deploy.yml
  azure-pipelines/odoo-preview-deploy.yml
  azure-pipelines/odoo-upgrade-rehearsal.yml
  azure-pipelines/odooops-deploy.yml
  azure-pipelines/templates/extends/base-deploy.yml
  azure-pipelines/templates/jobs/build-container.yml
  azure-pipelines/templates/jobs/cleanup-preview.yml
  azure-pipelines/templates/jobs/deploy-bicep.yml
  azure-pipelines/templates/jobs/deploy-containerapp.yml
  azure-pipelines/templates/jobs/deploy-preview.yml
  azure-pipelines/templates/jobs/foundry-eval.yml
  azure-pipelines/templates/jobs/validate-bicep.yml
  azure-pipelines/travel-expense-deploy.yml
  azure-pipelines/web-landing-deploy.yml
  infra/ci/azure-pipelines.yml
  infra/pipelines/templates/deploy-bicep.yml
  platform/ci/odoo-test-job.yml
Due: none

docs(knowledge-base): add enterprise KB seed corpus with 5 priority files validated
  docs/knowledge-base/README.md
  docs/knowledge-base/REVIEW_QUEUE.md
  docs/knowledge-base/benchmark/gap-analysis.md
  docs/knowledge-base/benchmark/sap-to-odoo-matrix.yaml
  docs/knowledge-base/capability-map/capability-taxonomy.yaml
  docs/knowledge-base/capability-map/maturity-rubric.md
  docs/knowledge-base/checklists/fit-gap-template.md
  docs/knowledge-base/checklists/module-creation.md
  docs/knowledge-base/checklists/month-end-close.md
  docs/knowledge-base/decision-records/ADR-001-implementation-substrate.md
  docs/knowledge-base/domain-primers/finance.md
  docs/knowledge-base/domain-primers/hr-payroll.md
  docs/knowledge-base/domain-primers/inventory-scm.md
  docs/knowledge-base/domain-primers/procurement.md
  docs/knowledge-base/domain-primers/sales-crm.md
  docs/knowledge-base/evaluation/risks-blind-spots.md
  docs/knowledge-base/evaluation/scenarios.yaml
  docs/knowledge-base/evaluation/scoring-rubric.md
  docs/knowledge-base/learning/execution-plan-30-60-90.md
  docs/knowledge-base/learning/phases.yaml
  docs/knowledge-base/ontology/entities.yaml
  docs/knowledge-base/ontology/glossary.yaml
  docs/knowledge-base/ontology/relationships.yaml
  docs/knowledge-base/patterns/anti-patterns/enterprise-anti-patterns.md
  docs/knowledge-base/patterns/architecture/enterprise-erp-patterns.md
  docs/knowledge-base/patterns/integration/integration-patterns.md
  docs/knowledge-base/process-maps/order-to-cash.md
  docs/knowledge-base/process-maps/procure-to-pay.md
  docs/knowledge-base/process-maps/record-to-report.md
  docs/knowledge-base/skill-packs/copilot-agent-erp/SKILL.md
  docs/knowledge-base/skill-packs/enterprise-finance/SKILL.md
  docs/knowledge-base/skill-packs/identity-rbac-sod/SKILL.md
  docs/knowledge-base/skill-packs/inventory-warehouse/SKILL.md
  docs/knowledge-base/skill-packs/management-accounting/SKILL.md
  docs/knowledge-base/skill-packs/order-to-cash/SKILL.md
  docs/knowledge-base/skill-packs/procure-to-pay/SKILL.md
  docs/knowledge-base/skill-packs/project-portfolio/SKILL.md
  docs/knowledge-base/skill-packs/record-to-report/SKILL.md
  docs/knowledge-base/skill-packs/reporting-bi/SKILL.md
  docs/knowledge-base/skill-packs/tax-compliance-ph/SKILL.md
Due: none

docs(knowledge-base): validate 8 remaining skill packs against Odoo 18 CE codebase
  docs/knowledge-base/REVIEW_QUEUE.md
  docs/knowledge-base/skill-packs/enterprise-finance/SKILL.md
  docs/knowledge-base/skill-packs/identity-rbac-sod/SKILL.md
  docs/knowledge-base/skill-packs/inventory-warehouse/SKILL.md
  docs/knowledge-base/skill-packs/management-accounting/SKILL.md
  docs/knowledge-base/skill-packs/order-to-cash/SKILL.md
  docs/knowledge-base/skill-packs/procure-to-pay/SKILL.md
  docs/knowledge-base/skill-packs/project-portfolio/SKILL.md
Due: none

docs(knowledge-base): validate ontology, copilot skill pack, patterns, and process maps
  docs/knowledge-base/REVIEW_QUEUE.md
  docs/knowledge-base/ontology/glossary.yaml
  docs/knowledge-base/ontology/relationships.yaml
  docs/knowledge-base/patterns/architecture/enterprise-erp-patterns.md
  docs/knowledge-base/process-maps/record-to-report.md
  docs/knowledge-base/skill-packs/copilot-agent-erp/SKILL.md
Due: none

docs(knowledge-base): validate checklists, primers, learning, and ADR — complete KB review
  docs/knowledge-base/REVIEW_QUEUE.md
  docs/knowledge-base/domain-primers/hr-payroll.md
Due: none

docs(knowledge-base): add AI compliance agent design research report
  docs/knowledge-base/research/ai-compliance-agent-design.md
Due: none

fix(addons): Odoo 18 XML fixes for ipai_finance_close and ipai_expense_ops
  addons/ipai/ipai_expense_ops/views/hr_expense_sheet_views.xml
  addons/ipai/ipai_finance_close/__manifest__.py
  addons/ipai/ipai_finance_close/views/closing_task_list_views.xml
Due: no-enterprise-deps, odoo-manifest-check

spec(agentic-global-compliance-cloud): add full spec bundle — PRD, constitution, plan, tasks
  spec/agentic-global-compliance-cloud/constitution.md
  spec/agentic-global-compliance-cloud/plan.md
  spec/agentic-global-compliance-cloud/prd.md
  spec/agentic-global-compliance-cloud/tasks.md
Due: validate-spec-kit

fix(bir-tax-compliance): reconcile rate file with authoritative BIR sources
  addons/ipai/ipai_bir_tax_compliance/data/rates/ph_rates_2025.json
  addons/ipai/ipai_bir_tax_compliance/data/rules/ewt.rules.yaml
  addons/ipai/ipai_bir_tax_compliance/engine/loader.py
  addons/ipai/ipai_bir_tax_compliance/tests/fixtures/ewt_expected_withholding.csv
  addons/ipai/ipai_bir_tax_compliance/tests/fixtures/vat_basic_transactions.csv
  addons/ipai/ipai_bir_tax_compliance/tests/test_bir_ewt_compute.py
  addons/ipai/ipai_bir_tax_compliance/tests/test_rules_engine.py
Due: no-enterprise-deps

test(bir-tax-compliance): add comprehensive PH tax eval dataset + test runner
  addons/ipai/ipai_bir_tax_compliance/tests/fixtures/ph_tax_eval_dataset.csv
  addons/ipai/ipai_bir_tax_compliance/tests/test_eval_dataset.py
Due: no-enterprise-deps

feat(copilot): add file attachment support to Pulser chat
  addons/ipai/ipai_odoo_copilot/controllers/main.py
  addons/ipai/ipai_odoo_copilot/models/copilot_message.py
  addons/ipai/ipai_odoo_copilot/models/foundry_service.py
  addons/ipai/ipai_odoo_copilot/models/tool_executor.py
  addons/ipai/ipai_odoo_copilot/static/src/js/copilot_systray.js
  addons/ipai/ipai_odoo_copilot/static/src/scss/copilot.scss
  addons/ipai/ipai_odoo_copilot/static/src/xml/copilot_systray.xml
Due: no-enterprise-deps

Revert "feat(copilot): add file attachment support to Pulser chat"
  addons/ipai/ipai_odoo_copilot/controllers/main.py
  addons/ipai/ipai_odoo_copilot/models/copilot_message.py
  addons/ipai/ipai_odoo_copilot/models/foundry_service.py
  addons/ipai/ipai_odoo_copilot/models/tool_executor.py
  addons/ipai/ipai_odoo_copilot/static/src/js/copilot_systray.js
  addons/ipai/ipai_odoo_copilot/static/src/scss/copilot.scss
  addons/ipai/ipai_odoo_copilot/static/src/xml/copilot_systray.xml
Due: no-enterprise-deps

feat(powerbi): scaffold Finance PPM PBIP project for Power BI Service
  powerbi/FinancePPM/.gitignore
  powerbi/FinancePPM/FinancePPM.Report/definition.pbir
  powerbi/FinancePPM/FinancePPM.Report/report.json
  powerbi/FinancePPM/FinancePPM.SemanticModel/definition.pbidataset
  powerbi/FinancePPM/FinancePPM.SemanticModel/definition/expressions.tmdl
  powerbi/FinancePPM/FinancePPM.SemanticModel/definition/model.tmdl
  powerbi/FinancePPM/FinancePPM.SemanticModel/definition/relationships.tmdl
  powerbi/FinancePPM/FinancePPM.SemanticModel/definition/roles.tmdl
  powerbi/FinancePPM/FinancePPM.SemanticModel/definition/tables/AnalyticAccount.tmdl
  powerbi/FinancePPM/FinancePPM.SemanticModel/definition/tables/Date.tmdl
  powerbi/FinancePPM/FinancePPM.SemanticModel/definition/tables/Expense.tmdl
  powerbi/FinancePPM/FinancePPM.SemanticModel/definition/tables/Project.tmdl
  powerbi/FinancePPM/FinancePPM.SemanticModel/definition/tables/Stage.tmdl
  powerbi/FinancePPM/FinancePPM.SemanticModel/definition/tables/Task.tmdl
  powerbi/FinancePPM/FinancePPM.SemanticModel/diagramLayout.json
  powerbi/FinancePPM/FinancePPM.pbip
  powerbi/FinancePPM/themes/ipai-finance.json
Due: none

fix(powerbi): wire live Power BI Service embed URL into Odoo config
  addons/ipai/ipai_finance_ppm/data/ir_config_parameter_powerbi.xml
  powerbi/FinancePPM/deploy.py
Due: no-enterprise-deps

feat(powerbi): Fabric Mirroring + Direct Lake mode for Finance PPM
  powerbi/FinancePPM/FinancePPM.SemanticModel/definition/expressions.tmdl
  powerbi/FinancePPM/FinancePPM.SemanticModel/definition/model.tmdl
  powerbi/FinancePPM/FinancePPM.SemanticModel/definition/tables/AnalyticAccount.tmdl
  powerbi/FinancePPM/FinancePPM.SemanticModel/definition/tables/Expense.tmdl
  powerbi/FinancePPM/FinancePPM.SemanticModel/definition/tables/Project.tmdl
  powerbi/FinancePPM/FinancePPM.SemanticModel/definition/tables/Stage.tmdl
  powerbi/FinancePPM/FinancePPM.SemanticModel/definition/tables/Task.tmdl
  powerbi/FinancePPM/configure_and_refresh.py
  powerbi/FinancePPM/setup_fabric_mirror.py
Due: no-enterprise-deps

feat(agents): agent factory CI/CD pipeline + G2 gate PASS for all agents
  agents/evals/odoo-copilot/datasets/ask-agent-boundaries-v1.jsonl
  agents/evals/odoo-copilot/datasets/ask-agent-eval-v1.jsonl
  agents/evals/odoo-copilot/datasets/authoring-agent-eval-v1.jsonl
  agents/evals/odoo-copilot/datasets/erp-workflow-cases.json
  agents/evals/odoo-copilot/datasets/foundry-eval-v1-with-response.jsonl
  agents/evals/odoo-copilot/datasets/foundry-eval-v1.jsonl
  agents/evals/odoo-copilot/datasets/foundry-eval-v2-full.jsonl
  agents/evals/odoo-copilot/datasets/foundry-eval-v2.jsonl
  agents/evals/odoo-copilot/datasets/golden_examples.jsonl
  agents/evals/odoo-copilot/datasets/livechat-agent-eval-v1.jsonl
  agents/evals/odoo-copilot/datasets/rbac_fixtures.jsonl
  agents/evals/odoo-copilot/datasets/retrieval-ask-agent-v1.jsonl
  agents/evals/odoo-copilot/datasets/retrieval-authoring-agent-v1.jsonl
  agents/evals/odoo-copilot/datasets/retrieval-livechat-agent-v1.jsonl
  agents/evals/odoo-copilot/datasets/retrieval-transaction-agent-v1.jsonl
  agents/evals/odoo-copilot/datasets/safety-ask-agent-v1.jsonl
  agents/evals/odoo-copilot/datasets/safety-authoring-agent-v1.jsonl
  agents/evals/odoo-copilot/datasets/safety-livechat-agent-v1.jsonl
  agents/evals/odoo-copilot/datasets/safety-transaction-agent-v1.jsonl
  agents/evals/odoo-copilot/datasets/safety_fixtures.jsonl
  agents/evals/odoo-copilot/datasets/transaction-agent-eval-v1.jsonl
  azure-pipelines-agent-eval.yml
  scripts/azure/deploy-alert-rules.sh
  scripts/foundry/register_agent_v2.py
  scripts/foundry/run_retrieval_eval.py
  ssot/agents/agent-factory-lifecycle.yaml
  ssot/agents/g2-knowledge-binding-evidence.yaml
  ssot/agents/gate-evidence-20260406.yaml
  ssot/agents/knowledge-bindings.yaml
  ssot/ai/agents.yaml
  ssot/ai/foundry_instructions.md
  ssot/ai/sources.yaml
Due: no-enterprise-deps

feat(go-live): accounting go-live sections + PayMongo payment config (#678)
  agents/knowledge/pulser/KB_REGISTRY.yaml
  docs/runbooks/ODOO19_GO_LIVE_CHECKLIST.md
  ssot/go_live/odoo19_checklist.manifest.yaml
Due: none

docs(evidence): Pulser deploy evidence — spec merged, Odoo Copilot validated (#669)
  CLAUDE.md
  docs/evidence/20260401-0748/pulser-deploy/DEPLOYMENT_EVIDENCE.md
Due: none

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$
