Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

no-enterprise-deps:
  name: No Enterprise Dependencies
  entry: bash -c 'scripts/policy-check.sh --diff || true'
  language: system
  pass_filenames: false

validate-spec-kit:
  name: Validate Spec Kit
  entry: bash -c 'scripts/validate-spec-kit.sh || true'
  language: system
  pass_filenames: false

odoo-manifest-check:
  name: Odoo Manifest Validator
  entry: python3 scripts/validate_manifest.py
  language: system
  pass_filenames: false

docs(evidence): Pulser deploy evidence — spec merged, Odoo Copilot validated (#669)
  CLAUDE.md
  docs/evidence/20260401-0748/pulser-deploy/DEPLOYMENT_EVIDENCE.md
Due: none

feat(web-branding): replace login placeholders and enable Entra ID + Google sign-in
  addons/ipai/ipai_odoo_copilot/docs/ATTACHMENT_BRIDGE_CONTRACT.md
  addons/ipai/ipai_odoo_copilot/models/skill_router.py
  addons/ipai/ipai_web_branding/__manifest__.py
  addons/ipai/ipai_web_branding/data/auth_provider_data.xml
  addons/ipai/ipai_web_branding/data/res_company_data.xml
  addons/ipai/ipai_web_branding/data/website_data.xml
  addons/ipai/ipai_web_branding/views/login_templates.xml
  addons/ipai/ipai_web_branding/views/website_templates.xml
  docs/architecture/FOUNDRY_CHAT_BASELINE_MAPPING.md
Due: no-enterprise-deps, odoo-manifest-check

docs(governance): define org repo topology and Azure SAP crosswalk
  docs/architecture/ORG_AZURE_SAP_CROSSWALK.md
  ssot/governance/repo-topology.yaml
Due: none

Define org repo topology and Azure SAP crosswalk (#695)
  docs/architecture/ORG_AZURE_SAP_CROSSWALK.md
  ssot/governance/repo-topology.yaml
Due: none

feat(powerbi): live Power BI dataset with Odoo data pipeline
  addons/ipai/ipai_finance_ppm/data/ir_config_parameter_powerbi.xml
  powerbi/FinancePPM/FinancePPM.SemanticModel/definition/expressions.tmdl
  powerbi/FinancePPM/FinancePPM.SemanticModel/definition/model.tmdl
  powerbi/FinancePPM/FinancePPM.SemanticModel/definition/tables/AnalyticAccount.tmdl
  powerbi/FinancePPM/FinancePPM.SemanticModel/definition/tables/Expense.tmdl
  powerbi/FinancePPM/FinancePPM.SemanticModel/definition/tables/Project.tmdl
  powerbi/FinancePPM/FinancePPM.SemanticModel/definition/tables/Stage.tmdl
  powerbi/FinancePPM/FinancePPM.SemanticModel/definition/tables/Task.tmdl
  powerbi/FinancePPM/sync_data.py
Due: no-enterprise-deps

test(all-lanes): add agent-platform live smokes, infra runtime smokes, and deployment readiness checklist
  addons/ipai/ipai_odoo_copilot/tests/__init__.py
  addons/ipai/ipai_odoo_copilot/tests/test_copilot_controller.py
  addons/ipai/ipai_odoo_copilot/tests/test_copilot_invoice_check.py
  addons/ipai/ipai_odoo_copilot/tests/test_copilot_models.py
  addons/ipai/ipai_odoo_copilot/tests/test_eval_bridge.py
  agent-platform/packages/builder-foundry-client/src/tests/api-contract.test.ts
  agent-platform/packages/builder-foundry-client/src/tests/live-smoke.test.ts
  agent-platform/tests/__init__.py
  agent-platform/tests/e2e/__init__.py
  agent-platform/tests/e2e/test_invoice_live_foundry.py
  agent-platform/tests/smoke/__init__.py
  agent-platform/tests/smoke/conftest.py
  agent-platform/tests/smoke/test_document_intelligence_smoke.py
  agent-platform/tests/smoke/test_foundry_project_client_smoke.py
  docs/quality/AZURE_NATIVE_TEST_STRATEGY.md
  docs/release/DEPLOYMENT_READINESS_CHECKLIST.md
  infra/.github/workflows/azure-runtime-smoke.yml
  infra/scripts/smoke/check_container_app_revision.sh
  infra/scripts/smoke/check_frontdoor.sh
  infra/scripts/smoke/check_managed_identity_rbac.sh
  infra/scripts/smoke/check_postgres_ha.sh
  infra/tests/smoke/test_aca_health_probes.py
  infra/tests/smoke/test_front_door_origin_health.py
  infra/tests/smoke/test_managed_identity.py
  infra/tests/smoke/test_postgres_connectivity.py
  ssot/testing/repo-test-matrix.yaml
Due: no-enterprise-deps

docs(release): add deployment evidence pack template and index
  docs/release/EVIDENCE_PACK_INDEX.md
  docs/release/EVIDENCE_PACK_TEMPLATE.md
Due: none

chore(ci): add codebase quality audit workflow
  .github/workflows/codebase-quality.yml
Due: none

docs(governance): define org repo topology and Azure SAP crosswalk (#697)
  .github/workflows/codebase-quality.yml
  addons/ipai/ipai_finance_ppm/data/ir_config_parameter_powerbi.xml
  powerbi/FinancePPM/FinancePPM.SemanticModel/definition/expressions.tmdl
  powerbi/FinancePPM/FinancePPM.SemanticModel/definition/model.tmdl
  powerbi/FinancePPM/FinancePPM.SemanticModel/definition/tables/AnalyticAccount.tmdl
  powerbi/FinancePPM/FinancePPM.SemanticModel/definition/tables/Expense.tmdl
  powerbi/FinancePPM/FinancePPM.SemanticModel/definition/tables/Project.tmdl
  powerbi/FinancePPM/FinancePPM.SemanticModel/definition/tables/Stage.tmdl
  powerbi/FinancePPM/FinancePPM.SemanticModel/definition/tables/Task.tmdl
  powerbi/FinancePPM/sync_data.py
Due: no-enterprise-deps

feat(release): add five-gate feature ship-readiness checklist
  CLAUDE.md
  agents/skills/ship-readiness-gate/SKILL.md
  docs/release/FEATURE_SHIP_READINESS_CHECKLIST.md
  ssot/release/feature-ship-readiness-gates.yaml
Due: none

feat(sdlc): add spec-to-issues bridge (Azure Function + Azure Pipeline)
  .azure/pipelines/spec-to-issues.yml
  platform/services/spec-to-issues/function_app.py
  platform/services/spec-to-issues/host.json
  platform/services/spec-to-issues/requirements.txt
Due: no-enterprise-deps

feat(taxpulse-ph): Phase 1 MVP — PH tax validation engine + Odoo review bridge
  addons/ipai/ipai_tax_review/__init__.py
  addons/ipai/ipai_tax_review/__manifest__.py
  addons/ipai/ipai_tax_review/models/__init__.py
  addons/ipai/ipai_tax_review/models/account_move.py
  addons/ipai/ipai_tax_review/models/tax_review.py
  addons/ipai/ipai_tax_review/security/ir.model.access.csv
  addons/ipai/ipai_tax_review/views/account_move_views.xml
  addons/ipai/ipai_tax_review/views/tax_review_views.xml
  platform/services/invoice-pipeline/app/main.py
  platform/services/invoice-pipeline/app/ph_models.py
  platform/services/invoice-pipeline/app/ph_validators.py
  platform/services/invoice-pipeline/tests/__init__.py
  platform/services/invoice-pipeline/tests/fixtures/clean_vat_invoice.json
  platform/services/invoice-pipeline/tests/fixtures/low_confidence_invoice.json
  platform/services/invoice-pipeline/tests/fixtures/mismatched_payable_invoice.json
  platform/services/invoice-pipeline/tests/fixtures/withholding_mismatch_invoice.json
  platform/services/invoice-pipeline/tests/fixtures/zero_rated_invoice.json
  platform/services/invoice-pipeline/tests/test_ph_validators.py
  spec/taxpulse-ph/constitution.md
  spec/taxpulse-ph/plan.md
  spec/taxpulse-ph/prd.md
Due: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

feat(taxpulse-ph): Phases 2-4 — workflow hardening, AI explanations, BIR export
  addons/ipai/ipai_tax_review/__init__.py
  addons/ipai/ipai_tax_review/__manifest__.py
  addons/ipai/ipai_tax_review/data/ir_sequence_data.xml
  addons/ipai/ipai_tax_review/models/__init__.py
  addons/ipai/ipai_tax_review/models/bir_export.py
  addons/ipai/ipai_tax_review/models/tax_review.py
  addons/ipai/ipai_tax_review/models/tax_review_explanation.py
  addons/ipai/ipai_tax_review/models/tax_rule_config.py
  addons/ipai/ipai_tax_review/security/ir.model.access.csv
  addons/ipai/ipai_tax_review/tests/__init__.py
  addons/ipai/ipai_tax_review/tests/test_bir_export.py
  addons/ipai/ipai_tax_review/tests/test_posting_blocker.py
  addons/ipai/ipai_tax_review/tests/test_tax_review.py
  addons/ipai/ipai_tax_review/views/bir_export_views.xml
  addons/ipai/ipai_tax_review/views/tax_review_kanban.xml
  addons/ipai/ipai_tax_review/views/tax_review_report_views.xml
  addons/ipai/ipai_tax_review/views/tax_review_views.xml
  addons/ipai/ipai_tax_review/views/tax_rule_config_views.xml
  addons/ipai/ipai_tax_review/wizards/__init__.py
  addons/ipai/ipai_tax_review/wizards/tax_review_override_wizard.py
  addons/ipai/ipai_tax_review/wizards/tax_review_override_wizard_views.xml
Due: no-enterprise-deps, odoo-manifest-check

feat(chat): add attachment-aware intent routing (FR-10)
  addons/ipai/ipai_chat_file_upload/controllers/chat_source_bridge.py
  addons/ipai/ipai_chat_file_upload/models/intent_router.py
  addons/ipai/ipai_chat_file_upload/tests/__init__.py
  addons/ipai/ipai_chat_file_upload/tests/test_intent_router.py
  spec/chat-file-upload/constitution.md
  spec/chat-file-upload/plan.md
  spec/chat-file-upload/prd.md
  spec/chat-file-upload/tasks.md
Due: no-enterprise-deps, validate-spec-kit

refactor(ppm): reset to CE+OCA-first Clarity PPM baseline
  addons/ipai/ipai_finance_ppm/__manifest__.py
  addons/ipai/ipai_finance_ppm/models/__init__.py
  addons/ipai/ipai_finance_ppm/models/ppm_budget_line.py
  addons/ipai/ipai_finance_ppm/models/ppm_gate_review.py
  addons/ipai/ipai_finance_ppm/models/ppm_issue.py
  addons/ipai/ipai_finance_ppm/models/ppm_portfolio_health.py
  addons/ipai/ipai_finance_ppm/models/ppm_risk.py
  addons/ipai/ipai_finance_ppm/models/ppm_scoring.py
  addons/ipai/ipai_finance_ppm/security/ir.model.access.csv
  addons/ipai/ipai_finance_ppm/views/ipai_finance_ppm_menus.xml
  addons/ipai/ipai_finance_ppm/views/ppm_budget_line_views.xml
  addons/ipai/ipai_finance_ppm/views/ppm_gate_review_views.xml
  addons/ipai/ipai_finance_ppm/views/ppm_issue_views.xml
  addons/ipai/ipai_finance_ppm/views/ppm_portfolio_health_views.xml
  addons/ipai/ipai_finance_ppm/views/ppm_risk_views.xml
  addons/ipai/ipai_finance_ppm/views/ppm_scoring_views.xml
  spec/ppm-clarity-plane-odoo/constitution.md
  spec/ppm-clarity-plane-odoo/plan.md
  spec/ppm-clarity-plane-odoo/prd.md
  spec/ppm-clarity-plane-odoo/tasks.md
Due: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

chore(ppm): remove deprecated files superseded by delta rewrite
  addons/ipai/ipai_finance_ppm/data/ir_config_parameter_powerbi.xml
  addons/ipai/ipai_finance_ppm/data/pulser_tools.xml
  addons/ipai/ipai_finance_ppm/demo/ipai_finance_ppm_demo_bir_tax_filing.xml
  addons/ipai/ipai_finance_ppm/demo/ipai_finance_ppm_demo_month_end_close.xml
  addons/ipai/ipai_finance_ppm/models/hr_expense.py
  addons/ipai/ipai_finance_ppm/models/project_task_integration.py
  addons/ipai/ipai_finance_ppm/static/src/js/okr_dashboard_action.js
Due: no-enterprise-deps

refactor(ppm): CE+OCA-first Clarity PPM delta rewrite (#701)
  addons/ipai/ipai_finance_ppm/__manifest__.py
  addons/ipai/ipai_finance_ppm/data/ir_config_parameter_powerbi.xml
  addons/ipai/ipai_finance_ppm/data/pulser_tools.xml
  addons/ipai/ipai_finance_ppm/demo/ipai_finance_ppm_demo_bir_tax_filing.xml
  addons/ipai/ipai_finance_ppm/demo/ipai_finance_ppm_demo_month_end_close.xml
  addons/ipai/ipai_finance_ppm/models/__init__.py
  addons/ipai/ipai_finance_ppm/models/hr_expense.py
  addons/ipai/ipai_finance_ppm/models/ppm_budget_line.py
  addons/ipai/ipai_finance_ppm/models/ppm_gate_review.py
  addons/ipai/ipai_finance_ppm/models/ppm_issue.py
  addons/ipai/ipai_finance_ppm/models/ppm_portfolio_health.py
  addons/ipai/ipai_finance_ppm/models/ppm_risk.py
  addons/ipai/ipai_finance_ppm/models/ppm_scoring.py
  addons/ipai/ipai_finance_ppm/models/project_task_integration.py
  addons/ipai/ipai_finance_ppm/security/ir.model.access.csv
  addons/ipai/ipai_finance_ppm/static/src/js/okr_dashboard_action.js
  addons/ipai/ipai_finance_ppm/views/ipai_finance_ppm_menus.xml
  addons/ipai/ipai_finance_ppm/views/ppm_budget_line_views.xml
  addons/ipai/ipai_finance_ppm/views/ppm_gate_review_views.xml
  addons/ipai/ipai_finance_ppm/views/ppm_issue_views.xml
  addons/ipai/ipai_finance_ppm/views/ppm_portfolio_health_views.xml
  addons/ipai/ipai_finance_ppm/views/ppm_risk_views.xml
  addons/ipai/ipai_finance_ppm/views/ppm_scoring_views.xml
  spec/ppm-clarity-plane-odoo/constitution.md
  spec/ppm-clarity-plane-odoo/plan.md
  spec/ppm-clarity-plane-odoo/prd.md
  spec/ppm-clarity-plane-odoo/tasks.md
Due: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

test(finance): add PH/BIR finance test plans and copilot scenario-eval schema
  docs/evidence/templates/FINANCE_COPILOT_SCENARIO_RUN.md
  docs/testing/ODOO18_FULL_FINANCE_TEST_PLAN.md
  docs/testing/PH_BIR_EXPENSE_REIMBURSEMENT_TEST_PLAN.md
  docs/testing/PH_BIR_UNIFIED_FINANCE_TEST_PLAN.md
  docs/testing/PH_BIR_VENDOR_BILLS_AP_TEST_PLAN.md
  ssot/evals/finance-copilot-scenario-pack.schema.yaml
Due: none

feat(taxpulse-ph): Phase 1-4 MVP — PH tax validation, review bridge, BIR export (#700)
  addons/ipai/ipai_tax_review/__init__.py
  addons/ipai/ipai_tax_review/__manifest__.py
  addons/ipai/ipai_tax_review/data/ir_sequence_data.xml
  addons/ipai/ipai_tax_review/models/__init__.py
  addons/ipai/ipai_tax_review/models/account_move.py
  addons/ipai/ipai_tax_review/models/bir_export.py
  addons/ipai/ipai_tax_review/models/tax_review.py
  addons/ipai/ipai_tax_review/models/tax_review_explanation.py
  addons/ipai/ipai_tax_review/models/tax_rule_config.py
  addons/ipai/ipai_tax_review/security/ir.model.access.csv
  addons/ipai/ipai_tax_review/tests/__init__.py
  addons/ipai/ipai_tax_review/tests/test_bir_export.py
  addons/ipai/ipai_tax_review/tests/test_posting_blocker.py
  addons/ipai/ipai_tax_review/tests/test_tax_review.py
  addons/ipai/ipai_tax_review/views/account_move_views.xml
  addons/ipai/ipai_tax_review/views/bir_export_views.xml
  addons/ipai/ipai_tax_review/views/tax_review_kanban.xml
  addons/ipai/ipai_tax_review/views/tax_review_report_views.xml
  addons/ipai/ipai_tax_review/views/tax_review_views.xml
  addons/ipai/ipai_tax_review/views/tax_rule_config_views.xml
  addons/ipai/ipai_tax_review/wizards/__init__.py
  addons/ipai/ipai_tax_review/wizards/tax_review_override_wizard.py
  addons/ipai/ipai_tax_review/wizards/tax_review_override_wizard_views.xml
  platform/services/invoice-pipeline/app/main.py
  platform/services/invoice-pipeline/app/ph_models.py
  platform/services/invoice-pipeline/app/ph_validators.py
  platform/services/invoice-pipeline/tests/__init__.py
  platform/services/invoice-pipeline/tests/fixtures/clean_vat_invoice.json
  platform/services/invoice-pipeline/tests/fixtures/low_confidence_invoice.json
  platform/services/invoice-pipeline/tests/fixtures/mismatched_payable_invoice.json
  platform/services/invoice-pipeline/tests/fixtures/withholding_mismatch_invoice.json
  platform/services/invoice-pipeline/tests/fixtures/zero_rated_invoice.json
  platform/services/invoice-pipeline/tests/test_ph_validators.py
  spec/taxpulse-ph/constitution.md
  spec/taxpulse-ph/plan.md
  spec/taxpulse-ph/prd.md
Due: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

chore(oca): adopt 16 OCA modules for day-1 benchmark bundle (#686)
  config/oca-addons-path.conf
  ssot/odoo/oca-baseline.yaml
Due: none

chore(oca): adopt 16 OCA modules for day-1 benchmark bundle (#702)
  config/oca-addons-path.conf
  ssot/odoo/oca-baseline.yaml
Due: none

refactor(spec): enforce cross-repo CE/OCA 18 sourcing doctrine for PPM
  spec/finance-unified/constitution.md
  spec/finance-unified/plan.md
  spec/finance-unified/prd.md
  spec/finance-unified/tasks.md
Due: validate-spec-kit

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$
