Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

no-enterprise-deps:
  name: No Enterprise Dependencies
  entry: bash -c 'scripts/policy-check.sh --diff || true'
  language: system
  pass_filenames: false

validate-spec-kit:
  name: Validate Spec Kit
  entry: bash -c 'scripts/validate-spec-kit.sh || true'
  language: system
  pass_filenames: false

odoo-manifest-check:
  name: Odoo Manifest Validator
  entry: python3 scripts/validate_manifest.py
  language: system
  pass_filenames: false

feat(mobile-ios): iOS preview builds pipeline + ops.artifacts registry
  .github/workflows/ios-appstore.yml
  .github/workflows/ios-preview-builds.yml
  supabase/migrations/20260301000070_ops_artifacts.sql
Due: none

chore(ops): PR #436 rollout checklist + webhook secrets SSOT registry entries
  docs/ops/release/2026-03-01_pr436_rollout.md
  ssot/secrets/registry.yaml
Due: none

fix(mobile-ios): harden ios-preview-builds + ops.artifacts schema
  .github/workflows/ios-preview-builds.yml
  supabase/migrations/20260301000071_ops_artifacts_hardening.sql
Due: none

feat(workbench): WorkbenchX foundation — spec bundle + provider slots + spec-kit governance
  .github/workflows/spec-kit-drift.yml
  apps/ops-console/app/api/ai/stream/route.ts
  docs/policies/spec-kit.md
  docs/runbooks/spec-kit-refresh.md
  spec/cloudera-ai-workbench-reverse/constitution.md
  spec/cloudera-ai-workbench-reverse/plan.md
  spec/cloudera-ai-workbench-reverse/prd.md
  spec/cloudera-ai-workbench-reverse/tasks.md
  ssot/providers/ai/provider.yaml
  ssot/providers/vercel/sandbox.yaml
  ssot/tooling/spec-kit.yaml
  supabase/migrations/20260301000080_ops_sandbox_runs.sql
Due: validate-spec-kit

chore(ops): PR #436 rollout checklist + webhook secrets SSOT registry entries (#443)
  docs/ops/release/2026-03-01_pr436_rollout.md
  ssot/secrets/registry.yaml
Due: none

fix(ci): stop Syntax Check false positives (node_modules/worktrees/jsonc) (#440)
  .github/workflows/all-green-gates.yml
  .github/workflows/ci-platform-gates.yml
Due: none

fix(migrations): rename enterprise_only→premium to pass EE-ref CI guard
  supabase/migrations/20260301000040_ops_integrations_catalog.sql
Due: none

fix(ci): remove stale supabase/migrations path from ci-billing-site trigger
  .github/workflows/ci-billing-site.yml
Due: none

fix(dns): activate ops subdomain + Mailgun DNS gap checklist
  .github/workflows/ios-preview-builds.yml
Due: none

fix(dns): activate ops subdomain + Mailgun DNS gap checklist
  docs/ops/dns/mailgun-dns-checklist.md
  infra/dns/subdomain-registry.yaml
Due: none

feat(ops-console): Vercel-style IA — Use Cases / Tools / Users route groups
  apps/ops-console/app/tools/integrations/page.tsx
  apps/ops-console/app/tools/partner-finder/page.tsx
  apps/ops-console/app/tools/templates/page.tsx
  apps/ops-console/app/use-cases/ai-apps/page.tsx
  apps/ops-console/app/use-cases/marketing-sites/page.tsx
  apps/ops-console/app/use-cases/multi-tenant-platforms/page.tsx
  apps/ops-console/app/use-cases/web-apps/page.tsx
  apps/ops-console/app/users/design-engineers/page.tsx
  apps/ops-console/app/users/platform-engineers/page.tsx
  apps/ops-console/components/navigation/sidebar.tsx
  spec/odooops-console/plan.md
Due: validate-spec-kit

fix(mobile-ios): replace sim .app hunt with iOS compilation gate (build-for-testing)
  .github/workflows/ios-preview-builds.yml
Due: none

feat(ops-console): add Vercel/GitHub deploy semantics, FixBot, convergence + maintenance
  spec/odooops-console/plan.md
  spec/odooops-console/prd.md
  spec/odooops-console/tasks.md
  ssot/agents/fixbot_policy.yaml
  ssot/maintenance/convergence.yaml
  ssot/maintenance/schedules.yaml
  ssot/providers/digitalocean/gradient_adk.yaml
  ssot/secrets/registry.yaml
  ssot/sources/digitalocean/gradient_models.yaml
  supabase/functions/ops-convergence-scan/index.ts
  supabase/functions/ops-fixbot-dispatch/index.ts
  supabase/migrations/20260301000070_ops_convergence_maintenance.sql
Due: validate-spec-kit

feat: deployment convergence scan + fixbot agent dispatch + maintenance schedule (#444)
  .github/workflows/ci-billing-site.yml
  spec/odooops-console/plan.md
  spec/odooops-console/prd.md
  spec/odooops-console/tasks.md
  ssot/agents/fixbot_policy.yaml
  ssot/maintenance/convergence.yaml
  ssot/maintenance/schedules.yaml
  ssot/providers/digitalocean/gradient_adk.yaml
  ssot/secrets/registry.yaml
  ssot/sources/digitalocean/gradient_models.yaml
  supabase/functions/ops-convergence-scan/index.ts
  supabase/functions/ops-fixbot-dispatch/index.ts
  supabase/migrations/20260301000040_ops_integrations_catalog.sql
  supabase/migrations/20260301000070_ops_convergence_maintenance.sql
Due: validate-spec-kit

feat(ops-console): Vercel-style IA — Use Cases / Tools / Users route groups (#447)
  apps/ops-console/app/tools/integrations/page.tsx
  apps/ops-console/app/tools/partner-finder/page.tsx
  apps/ops-console/app/tools/templates/page.tsx
  apps/ops-console/app/use-cases/ai-apps/page.tsx
  apps/ops-console/app/use-cases/marketing-sites/page.tsx
  apps/ops-console/app/use-cases/multi-tenant-platforms/page.tsx
  apps/ops-console/app/use-cases/web-apps/page.tsx
  apps/ops-console/app/users/design-engineers/page.tsx
  apps/ops-console/app/users/platform-engineers/page.tsx
  apps/ops-console/components/navigation/sidebar.tsx
  spec/odooops-console/plan.md
Due: validate-spec-kit

feat(ci): guard against active DNS entries with placeholder values
  .github/workflows/dns-placeholder-guard.yml
Due: none

feat(ops-console): convergence state card on Overview
  apps/ops-console/app/api/convergence/route.ts
  apps/ops-console/app/page.tsx
  apps/ops-console/components/convergence-card.tsx
Due: none

chore(dns): regenerate artifacts after ops subdomain activation + Mailgun placeholders
  docs/architecture/runtime_identifiers.json
  infra/dns/dns-validation-spec.json
Due: none

fix(dns): activate ops subdomain + Mailgun DNS gap checklist (#445)
  .github/workflows/ios-preview-builds.yml
  docs/architecture/runtime_identifiers.json
  docs/ops/dns/mailgun-dns-checklist.md
  infra/dns/dns-validation-spec.json
  infra/dns/subdomain-registry.yaml
Due: none

feat(ops-console): convergence state card on Overview (#448)
  apps/ops-console/app/api/convergence/route.ts
  apps/ops-console/app/page.tsx
  apps/ops-console/components/convergence-card.tsx
Due: none

feat(ci): guard against active DNS entries with placeholder values (#449)
  .github/workflows/dns-placeholder-guard.yml
Due: none

feat(ops): failure modes SSOT + runbooks + convergence scan enhancement + CI noise reduction
  .github/workflows/add-to-project.yml
  .github/workflows/policy-violation-gate.yml
  .github/workflows/project-automation.yml
  docs/runbooks/failures/AUTH.SUPABASE.TOKEN_STALE.md
  docs/runbooks/failures/CI.AUTOMATION.PROJECT_BOARD_FAILED.md
  docs/runbooks/failures/CI.POLICY_GATES.MISSING_BINARY.md
  docs/runbooks/failures/DNS.MAILGUN.RECORDS.md
  docs/runbooks/failures/ENV.VERCEL.WEBHOOK_SECRETS.md
  ssot/errors/failure_modes.yaml
  supabase/functions/ops-convergence-scan/index.ts
Due: none

docs(spec): agent reliability taxonomy — errors, failure modes, troubleshooting, smol training
  spec/agent-reliability-taxonomy/constitution.md
  spec/agent-reliability-taxonomy/plan.md
  spec/agent-reliability-taxonomy/prd.md
  spec/agent-reliability-taxonomy/tasks.md
Due: validate-spec-kit

feat(ops): failure modes SSOT + runbooks + convergence scan enhancement + CI noise reduction (#450)
  .github/workflows/add-to-project.yml
  .github/workflows/policy-violation-gate.yml
  .github/workflows/project-automation.yml
  docs/runbooks/failures/AUTH.SUPABASE.TOKEN_STALE.md
  docs/runbooks/failures/CI.AUTOMATION.PROJECT_BOARD_FAILED.md
  docs/runbooks/failures/CI.POLICY_GATES.MISSING_BINARY.md
  docs/runbooks/failures/DNS.MAILGUN.RECORDS.md
  docs/runbooks/failures/ENV.VERCEL.WEBHOOK_SECRETS.md
  ssot/errors/failure_modes.yaml
  supabase/functions/ops-convergence-scan/index.ts
Due: none

feat(ssot): secrets inventory — registry + migration + scanner + UI + CI guard
  .github/workflows/secrets-registry-guard.yml
  .gitignore
  apps/ops-console/app/api/secrets-inventory/route.ts
  apps/ops-console/app/platform/secrets/page.tsx
  apps/ops-console/components/navigation/sidebar.tsx
  scripts/ci/check_secrets_registry.py
  ssot/secrets/registry.yaml
  supabase/functions/ops-secrets-scan/index.ts
  supabase/migrations/20260302000010_ops_secret_inventory.sql
Due: no-enterprise-deps

feat(ssot): secrets inventory — registry + migration + scanner + UI + CI guard (#451)
  .github/workflows/secrets-registry-guard.yml
  .gitignore
  apps/ops-console/app/api/secrets-inventory/route.ts
  apps/ops-console/app/platform/secrets/page.tsx
  apps/ops-console/components/navigation/sidebar.tsx
  scripts/ci/check_secrets_registry.py
  ssot/secrets/registry.yaml
  supabase/functions/ops-secrets-scan/index.ts
  supabase/migrations/20260302000010_ops_secret_inventory.sql
Due: no-enterprise-deps

feat(schema): universal ops.runs unification — consolidate agent + maintenance runs
  supabase/migrations/20260302000020_universal_ops_runs.sql
Due: none

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$
