Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$

fix(ci): add secrets/ to allowlist + confirm Cloudflare is authoritative
  docs/architecture/CANONICAL_URLS.md
  ssot/repo/top_level_allowlist.yaml
Due: none

docs(secrets): expand CLAUDE.md Secrets Policy — Vault-first + approved stores
  CLAUDE.md
Due: none

docs(arch): add SUPABASE_FEATURES_INTEGRATIONS_ADOPTION adoption map
  docs/architecture/SUPABASE_FEATURES_INTEGRATIONS_ADOPTION.md
Due: none

feat(spec): add spec/supabase-maximization/ 4-file spec bundle
  spec/supabase-maximization/constitution.md
  spec/supabase-maximization/plan.md
  spec/supabase-maximization/prd.md
  spec/supabase-maximization/tasks.md
Due: validate-spec-kit

docs(spec): upgrade receipt-digitization spec with Supabase adoption + Iceberg contract
  spec/odoo-receipt-digitization/plan.md
  spec/odoo-receipt-digitization/prd.md
  spec/odoo-receipt-digitization/tasks.md
Due: validate-spec-kit

docs(arch): wire SUPABASE_FEATURES_INTEGRATIONS_ADOPTION into index + spec table
  docs/INDEX.md
  docs/architecture/INDEX.json
Due: none

docs(spec): add bidirectional cross-links between receipt-digitization + supabase-maximization
  spec/odoo-receipt-digitization/plan.md
  spec/supabase-maximization/prd.md
Due: validate-spec-kit

feat(ssot): create ssot/secrets/registry.yaml — identifier-only secret metadata
  .gitignore
  ssot/secrets/registry.yaml
Due: none

fix(ci): fix YAML parse errors in CF authority + boundary guard workflows
  .github/workflows/cloudflare-authority-gate.yml
  .github/workflows/repo-top-level-guard.yml
  .insightpulse/repo-root-allowlist.json
Due: none

docs(spec): add Analytics Plane — ETL/Iceberg acceptance criteria + DuckDB smoke task
  docs/architecture/SUPABASE_FEATURES_INTEGRATIONS_ADOPTION.md
  spec/supabase-maximization/plan.md
  spec/supabase-maximization/prd.md
  spec/supabase-maximization/tasks.md
Due: validate-spec-kit

docs(runbooks): add Odoo 19 go-live checklist — accounting + inventory + ops
  docs/runbooks/ODOO19_GO_LIVE_CHECKLIST.md
Due: none

feat(mail): add Odoo invite e2e test (auth_signup.set_password_email) (#399)
  scripts/mail/e2e_odoo_invite.py
Due: no-enterprise-deps

feat(company): ipai_company_scope_omc — deterministic OMC user scoping to TBWA\SMP (#400)
  .github/workflows/skill-coverage-gate.yml
  addons/ipai/ipai_company_scope_omc/__init__.py
  addons/ipai/ipai_company_scope_omc/__manifest__.py
  addons/ipai/ipai_company_scope_omc/data/company_marker.xml
  addons/ipai/ipai_company_scope_omc/models/__init__.py
  addons/ipai/ipai_company_scope_omc/models/res_company.py
  addons/ipai/ipai_company_scope_omc/models/res_users.py
  addons/ipai/ipai_company_scope_omc/security/ir.model.access.csv
  addons/ipai/ipai_company_scope_omc/security/security.xml
  addons/ipai/ipai_company_scope_omc/tests/__init__.py
  addons/ipai/ipai_company_scope_omc/tests/test_omc_user_enforcement.py
  addons/ipai/ipai_company_scope_omc/tests/test_tbwa_company_resolver.py
  deploy/odoo.conf
  docs/runbooks/BRANCH_HYGIENE.md
  scripts/company/__init__.py
  scripts/company/mark_tbwa_smp_company.py
  scripts/company/verify_omc_scope.py
  scripts/skills/validate_odoo19_skills_coverage.py
  skills/odoo19/documentation/README.md
  skills/supabase-agent-skills/vitest/README.md
  skills/vercel-agent-skills/base/README.md
  skills/vercel-agent-skills/browser/README.md
  skills/vercel-agent-skills/desktop/README.md
  skills/vercel-agent-skills/mcp/README.md
  skills/vercel-agent-skills/office/README.md
  skills/vercel-agent-skills/os/README.md
  ssot/odoo/odoo19_app_skills_map.yaml
Due: no-enterprise-deps, odoo-manifest-check

chore(infra): commit Cloudflare zone SSOT — adds auth.insightpulseai.com A record (#401)
  .github/workflows/cloudflare-dns-drift.yml
  docs/architecture/runtime_identifiers.json
  infra/cloudflare/insightpulseai.com.records.yaml
  infra/dns/dns-validation-spec.json
  scripts/ci/verify_cloudflare_dns_drift.py
Due: no-enterprise-deps

chore(ci): cloudflare authority gate + apply-on-merge + top-level boundary guard (#404)
  .github/workflows/cloudflare-authority-gate.yml
  .github/workflows/cloudflare-dns-apply.yml
  .github/workflows/repo-top-level-guard.yml
  .gitignore
  .insightpulse/repo-root-allowlist.json
  CLAUDE.md
  addons/ipai/ipai_expense_ocr/__manifest__.py
  addons/ipai/ipai_expense_ocr/models/__init__.py
  addons/ipai/ipai_expense_ocr/models/hr_expense_mixin.py
  addons/ipai/ipai_expense_ocr/scripts/ocr_extract.py
  addons/ipai/ipai_expense_ocr/utils/__init__.py
  addons/ipai/ipai_expense_ocr/utils/ocr_client.py
  addons/ipai/ipai_expense_ocr/views/hr_expense_views.xml
  docs/INDEX.md
  docs/architecture/CANONICAL_URLS.md
  docs/architecture/INDEX.json
  docs/architecture/MONOREPO_CONTRACT.md
  docs/architecture/SUPABASE_FEATURES_INTEGRATIONS_ADOPTION.md
  docs/runbooks/ODOO19_GO_LIVE_CHECKLIST.md
  docs/runbooks/SECRETS_SSOT.md
  infra/cloudflare/README.md
  infra/cloudflare/scripts/apply_dns_from_yaml.py
  infra/cloudflare/zones/insightpulseai.com/records.yaml
  infra/supabase-etl/odoo-expense.toml
  scripts/cloudflare/verify_authoritative.py
  scripts/repo/enforce_top_level_allowlist.py
  spec/odoo-receipt-digitization/plan.md
  spec/odoo-receipt-digitization/prd.md
  spec/odoo-receipt-digitization/tasks.md
  spec/supabase-maximization/constitution.md
  spec/supabase-maximization/plan.md
  spec/supabase-maximization/prd.md
  spec/supabase-maximization/tasks.md
  ssot/repo/top_level_allowlist.yaml
  ssot/secrets/registry.yaml
Due: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

chore(skills): Odoo 19 docs + Vercel/Supabase skills coverage SSOT + CI gate (#402)
  docs/runbooks/SKILLS_COVERAGE.md
  ssot/skills/odoo19_docs_coverage.yaml
Due: none

docs(spec): tighten analytics plane enforcement + CI-verifiable smoke criteria
  spec/supabase-maximization/plan.md
  spec/supabase-maximization/prd.md
  spec/supabase-maximization/tasks.md
Due: validate-spec-kit

feat(ops): Odoo.sh-equivalent neutralization + machine-enforced hardening gates
  .github/workflows/go-live-runbook-gate.yml
  .github/workflows/odoo-env-neutralization-gate.yml
  .github/workflows/secrets-scan-gate.yml
  docker/compose/prod.yml
  docker/compose/stage.yml
  docs/architecture/ODOO_SH_EQUIVALENT.md
  scripts/check_no_plaintext_secrets.py
  scripts/odoo_neutralize.py
  ssot/go_live/odoo19_checklist.manifest.yaml
Due: no-enterprise-deps

feat(gates): harden neutralization + secrets scan determinism
  .github/workflows/odoo-env-neutralization-gate.yml
  .github/workflows/secrets-scan-gate.yml
  scripts/check_no_plaintext_secrets.py
  scripts/odoo_neutralize.py
  ssot/go_live/odoo19_checklist.manifest.yaml
  ssot/secrets/allowlist_regex.txt
Due: no-enterprise-deps

feat(ci): add DuckDB Iceberg smoke gate + ETL workflow + EL-only lint
  .github/workflows/supabase-etl-expense.yml
  docs/architecture/SUPABASE_FEATURES_INTEGRATIONS_ADOPTION.md
  scripts/ci/check_iceberg_etl_smoke.sh
Due: none

docs(ssot): align neutralization + secrets scanner contracts to v1.1.0
  docs/architecture/ODOO_SH_EQUIVALENT.md
  docs/runbooks/ODOO19_GO_LIVE_CHECKLIST.md
  docs/runbooks/SECRETS_SSOT.md
Due: none

feat(security): SSOT vulnerability policy + snapshot gate
  .github/workflows/security-alerts-snapshot.yml
  docs/runbooks/SECURITY_GATES.md
  reports/security/.gitkeep
  scripts/security/export_github_alerts_snapshot.py
  ssot/security/vuln_policy.yaml
Due: no-enterprise-deps

docs(ssot): add contract-version lines to all three doc headers
  docs/architecture/ODOO_SH_EQUIVALENT.md
  docs/runbooks/ODOO19_GO_LIVE_CHECKLIST.md
  docs/runbooks/SECRETS_SSOT.md
Due: none

feat(security): SSOT vulnerability policy + snapshot gate (#406)
  .github/workflows/security-alerts-snapshot.yml
  docs/runbooks/SECURITY_GATES.md
  reports/security/.gitkeep
  scripts/security/export_github_alerts_snapshot.py
  ssot/security/vuln_policy.yaml
Due: no-enterprise-deps

chore(ops): neutralization gates + secrets SSOT + go-live runbook contracts (v1.1.0) (#405)
  .github/workflows/go-live-runbook-gate.yml
  .github/workflows/odoo-env-neutralization-gate.yml
  .github/workflows/secrets-scan-gate.yml
  .github/workflows/supabase-etl-expense.yml
  docker/compose/prod.yml
  docker/compose/stage.yml
  docs/architecture/ODOO_SH_EQUIVALENT.md
  docs/architecture/SUPABASE_FEATURES_INTEGRATIONS_ADOPTION.md
  docs/runbooks/ODOO19_GO_LIVE_CHECKLIST.md
  docs/runbooks/SECRETS_SSOT.md
  scripts/check_no_plaintext_secrets.py
  scripts/ci/check_iceberg_etl_smoke.sh
  scripts/odoo_neutralize.py
  spec/supabase-maximization/plan.md
  spec/supabase-maximization/prd.md
  spec/supabase-maximization/tasks.md
  ssot/go_live/odoo19_checklist.manifest.yaml
  ssot/secrets/allowlist_regex.txt
  ssot/secrets/registry.yaml
Due: no-enterprise-deps, validate-spec-kit

chore(ci): branch hygiene automation + fix domain-lint + SARIF gate
  .github/workflows/branch-hygiene.yml
  .github/workflows/domain-lint.yml
  .github/workflows/no-cli-no-docker-gate.yml
  docs/runbooks/BRANCH_HYGIENE.md
  reports/ci/.gitkeep
  scripts/ci/branch_hygiene.py
  ssot/policy/branch_hygiene.yaml
Due: no-enterprise-deps

ci(gates): add contract-version drift gate — machine-enforce doc/code version parity
  .github/workflows/contract-version-gate.yml
  scripts/check_no_plaintext_secrets.py
  scripts/ci/check_contract_versions.py
Due: no-enterprise-deps

docs(ci): add SSOT rule comment — manifest version fields must be quoted strings
  scripts/ci/check_contract_versions.py
Due: no-enterprise-deps

Chore/cf apply on merge boundary guard (#408)
  .github/workflows/contract-version-gate.yml
  scripts/check_no_plaintext_secrets.py
  scripts/ci/check_contract_versions.py
Due: no-enterprise-deps
