Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$

docs(spec): add Foundry project baseline and connection doctrine to copilot spec
  spec/ipai-odoo-copilot-azure/plan.md
  spec/ipai-odoo-copilot-azure/tasks.md
Due: validate-spec-kit

chore: remove all GitHub Actions workflows
  .github/workflows/agent-deployments-hardening.yml
  .github/workflows/agent-factory-release-gates.yml
  .github/workflows/agent-factory-ssot-check.yml
  .github/workflows/codebase-quality.yml
  .github/workflows/contract-tests.yml
  .github/workflows/databricks-bundles-ci.yml
  .github/workflows/deploy-docs-pages.yml
  .github/workflows/deploy-ipai-landing.yml
  .github/workflows/deploy-saas-landing.yml
  .github/workflows/diva-kb-check.yml
  .github/workflows/diva-skills-check.yml
  .github/workflows/diva-spec-check.yml
  .github/workflows/diva-workflows-check.yml
  .github/workflows/docs-contract.yml
  .github/workflows/eval-engine-hardening.yml
  .github/workflows/governance-benchmark.yml
  .github/workflows/ipai-copilot-publish.yml
  .github/workflows/org-governance.yml
  .github/workflows/ssot-yaml-lint.yml
  .github/workflows/task-router-hardening.yml
Due: none

chore: remove all GitHub Actions workflows (#704)
  .github/workflows/agent-deployments-hardening.yml
  .github/workflows/agent-factory-release-gates.yml
  .github/workflows/agent-factory-ssot-check.yml
  .github/workflows/codebase-quality.yml
  .github/workflows/contract-tests.yml
  .github/workflows/databricks-bundles-ci.yml
  .github/workflows/deploy-docs-pages.yml
  .github/workflows/deploy-ipai-landing.yml
  .github/workflows/deploy-saas-landing.yml
  .github/workflows/diva-kb-check.yml
  .github/workflows/diva-skills-check.yml
  .github/workflows/diva-spec-check.yml
  .github/workflows/diva-workflows-check.yml
  .github/workflows/docs-contract.yml
  .github/workflows/eval-engine-hardening.yml
  .github/workflows/governance-benchmark.yml
  .github/workflows/ipai-copilot-publish.yml
  .github/workflows/org-governance.yml
  .github/workflows/ssot-yaml-lint.yml
  .github/workflows/task-router-hardening.yml
Due: none

feat(ci): add Azure Pipelines for Odoo CE 18 CI/CD
  azure-pipelines-odoo-deploy.yml
  azure-pipelines/templates/jobs/odoo-module-test.yml
Due: none

docs(infra): production readiness assessment + BCDR runbook + smoke test
  .github/workflows/post-deploy-smoke.yml
  docs/architecture/BCDR_RUNBOOK.md
  docs/architecture/PRODUCTION_READINESS_ASSESSMENT.md
Due: none

feat(ci): expand test stage to all 26 installable IPAI modules
  azure-pipelines-odoo-deploy.yml
Due: none

feat(knowledge): add ipai_knowledge_bridge — cited retrieval via Azure AI Search (#692)
  addons/ipai/ipai_knowledge_bridge/__init__.py
  addons/ipai/ipai_knowledge_bridge/__manifest__.py
  addons/ipai/ipai_knowledge_bridge/data/ir_config_parameter.xml
  addons/ipai/ipai_knowledge_bridge/models/__init__.py
  addons/ipai/ipai_knowledge_bridge/models/knowledge_bridge.py
  addons/ipai/ipai_knowledge_bridge/models/knowledge_citation.py
  addons/ipai/ipai_knowledge_bridge/models/knowledge_query_log.py
  addons/ipai/ipai_knowledge_bridge/models/knowledge_source.py
  addons/ipai/ipai_knowledge_bridge/models/res_config_settings.py
  addons/ipai/ipai_knowledge_bridge/security/ir.model.access.csv
  addons/ipai/ipai_knowledge_bridge/security/knowledge_groups.xml
  addons/ipai/ipai_knowledge_bridge/tests/__init__.py
  addons/ipai/ipai_knowledge_bridge/tests/test_knowledge_bridge.py
  addons/ipai/ipai_knowledge_bridge/tests/test_knowledge_source.py
  addons/ipai/ipai_knowledge_bridge/views/knowledge_menus.xml
  addons/ipai/ipai_knowledge_bridge/views/knowledge_query_log_views.xml
  addons/ipai/ipai_knowledge_bridge/views/knowledge_source_views.xml
  addons/ipai/ipai_knowledge_bridge/views/res_config_settings_views.xml
Due: no-enterprise-deps, odoo-manifest-check

feat(zoho): add script to disable IP restriction via Organization API
  scripts/zoho/disable_ip_restriction.py
Due: no-enterprise-deps

feat(knowledge): add ipai_knowledge_bridge — cited retrieval via Azure AI Search (#692) (#705)
  .github/workflows/post-deploy-smoke.yml
  addons/ipai/ipai_knowledge_bridge/__init__.py
  addons/ipai/ipai_knowledge_bridge/__manifest__.py
  addons/ipai/ipai_knowledge_bridge/data/ir_config_parameter.xml
  addons/ipai/ipai_knowledge_bridge/models/__init__.py
  addons/ipai/ipai_knowledge_bridge/models/knowledge_bridge.py
  addons/ipai/ipai_knowledge_bridge/models/knowledge_citation.py
  addons/ipai/ipai_knowledge_bridge/models/knowledge_query_log.py
  addons/ipai/ipai_knowledge_bridge/models/knowledge_source.py
  addons/ipai/ipai_knowledge_bridge/models/res_config_settings.py
  addons/ipai/ipai_knowledge_bridge/security/ir.model.access.csv
  addons/ipai/ipai_knowledge_bridge/security/knowledge_groups.xml
  addons/ipai/ipai_knowledge_bridge/tests/__init__.py
  addons/ipai/ipai_knowledge_bridge/tests/test_knowledge_bridge.py
  addons/ipai/ipai_knowledge_bridge/tests/test_knowledge_source.py
  addons/ipai/ipai_knowledge_bridge/views/knowledge_menus.xml
  addons/ipai/ipai_knowledge_bridge/views/knowledge_query_log_views.xml
  addons/ipai/ipai_knowledge_bridge/views/knowledge_source_views.xml
  addons/ipai/ipai_knowledge_bridge/views/res_config_settings_views.xml
  docs/architecture/BCDR_RUNBOOK.md
  docs/architecture/PRODUCTION_READINESS_ASSESSMENT.md
Due: no-enterprise-deps, odoo-manifest-check

Add Odoo 18 CI/CD pipeline and Zoho Mail IP restriction manager (#706)
  azure-pipelines-odoo-deploy.yml
  azure-pipelines/templates/jobs/odoo-module-test.yml
  scripts/zoho/disable_ip_restriction.py
Due: no-enterprise-deps

feat(copilot): wire knowledge bridge + domain bridge stubs into Pulser (#691)
  addons/ipai/ipai_odoo_copilot/__manifest__.py
  addons/ipai/ipai_odoo_copilot/controllers/main.py
  addons/ipai/ipai_odoo_copilot/models/foundry_service.py
  addons/ipai/ipai_odoo_copilot/models/skill_router.py
  addons/ipai/ipai_odoo_copilot/models/tool_executor.py
Due: no-enterprise-deps, odoo-manifest-check

feat(copilot): wire knowledge bridge + domain bridge stubs into Pulser (#691) (#707)
  addons/ipai/ipai_odoo_copilot/__manifest__.py
  addons/ipai/ipai_odoo_copilot/controllers/main.py
  addons/ipai/ipai_odoo_copilot/models/foundry_service.py
  addons/ipai/ipai_odoo_copilot/models/skill_router.py
  addons/ipai/ipai_odoo_copilot/models/tool_executor.py
Due: no-enterprise-deps, odoo-manifest-check

chore(foundry): add normalization plan and runtime status to agents SSOT
  ssot/ai/agents.yaml
  ssot/ai/foundry_normalization_plan.yaml
Due: none

chore(foundry): add normalization plan and runtime status to agents SSOT (#709)
  ssot/ai/agents.yaml
  ssot/ai/foundry_normalization_plan.yaml
Due: none

feat(foundry): add cloud eval runner + monitoring enablement scripts
  scripts/foundry/enable_monitoring.py
  scripts/foundry/run_cloud_eval.py
  ssot/ai/foundry_normalization_plan.yaml
Due: no-enterprise-deps

feat(foundry): add cloud eval runner + monitoring enablement scripts (#710)
  scripts/foundry/enable_monitoring.py
  scripts/foundry/run_cloud_eval.py
  ssot/ai/foundry_normalization_plan.yaml
Due: no-enterprise-deps

feat(copilot): add file upload to Pulser chat panel + attachment model
  addons/ipai/ipai_chat_file_upload
  addons/ipai/ipai_odoo_copilot/models/__init__.py
  addons/ipai/ipai_odoo_copilot/models/copilot_attachment_ref.py
  addons/ipai/ipai_odoo_copilot/models/copilot_conversation.py
  addons/ipai/ipai_odoo_copilot/models/copilot_invoice_check.py
  addons/ipai/ipai_odoo_copilot/models/copilot_message.py
  addons/ipai/ipai_odoo_copilot/security/ir.model.access.csv
  addons/ipai/ipai_odoo_copilot/static/src/components/chat_panel/chat_panel.js
  addons/ipai/ipai_odoo_copilot/static/src/components/chat_panel/chat_panel.xml
  addons/ipai/ipai_odoo_copilot/validators/__init__.py
  addons/ipai/ipai_odoo_copilot/validators/ph_invoice_math.py
Due: no-enterprise-deps

feat(tooling): add VS Code IPAI Control Tower extension + workload center scaffold
  vscode-ipai-control-tower/out/adapters/infraRepoAdapter.js
  vscode-ipai-control-tower/out/adapters/infraRepoAdapter.js.map
  vscode-ipai-control-tower/out/adapters/odooRepoAdapter.js
  vscode-ipai-control-tower/out/adapters/odooRepoAdapter.js.map
  vscode-ipai-control-tower/out/chat/ipaiParticipant.js
  vscode-ipai-control-tower/out/chat/ipaiParticipant.js.map
  vscode-ipai-control-tower/out/commands/runAzureRuntimeSmoke.js
  vscode-ipai-control-tower/out/commands/runAzureRuntimeSmoke.js.map
  vscode-ipai-control-tower/out/commands/runReleaseReadiness.js
  vscode-ipai-control-tower/out/commands/runReleaseReadiness.js.map
  vscode-ipai-control-tower/out/commands/runWorkspaceDoctor.js
  vscode-ipai-control-tower/out/commands/runWorkspaceDoctor.js.map
  vscode-ipai-control-tower/out/diagnostics/doctrineDiagnostics.js
  vscode-ipai-control-tower/out/diagnostics/doctrineDiagnostics.js.map
  vscode-ipai-control-tower/out/extension.js
  vscode-ipai-control-tower/out/extension.js.map
  vscode-ipai-control-tower/out/testing/testController.js
  vscode-ipai-control-tower/out/testing/testController.js.map
  vscode-ipai-control-tower/out/types/index.js
  vscode-ipai-control-tower/out/types/index.js.map
  vscode-ipai-control-tower/out/views/azureRuntimeProvider.js
  vscode-ipai-control-tower/out/views/azureRuntimeProvider.js.map
  vscode-ipai-control-tower/out/views/odooModulesProvider.js
  vscode-ipai-control-tower/out/views/odooModulesProvider.js.map
  vscode-ipai-control-tower/out/views/releaseReadinessProvider.js
  vscode-ipai-control-tower/out/views/releaseReadinessProvider.js.map
  vscode-ipai-control-tower/out/views/workspaceDoctorProvider.js
  vscode-ipai-control-tower/out/views/workspaceDoctorProvider.js.map
  web/apps/odoo-workload-center/next-env.d.ts
Due: none

Expand prod-live prompt with Codex execution doctrine
  docs/evidence/20260410-1516/azure-ai-foundry-plugin-scaffold/git-diff.patch
  docs/evidence/20260410-1516/azure-ai-foundry-plugin-scaffold/marketplace.pretty.json
  docs/evidence/20260410-1516/azure-ai-foundry-plugin-scaffold/mcp.pretty.json
  docs/evidence/20260410-1516/azure-ai-foundry-plugin-scaffold/plugin.json.pretty.json
Due: none
