Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$

fix(naming): canonicalize runtime database names post PR #591
  .github/ISSUE_TEMPLATE/enterprise_replacement.yml
  .github/workflows/odoo-auto-upgrade.yml
  CLAUDE.md
  README.md
  docs-site/docs/architecture/ssot-boundaries.md
  docs-site/docs/deployment/devcontainer.md
  docs-site/docs/deployment/docker.md
  docs-site/docs/operations/change-management.md
  docs-site/docs/operations/monthly-close-runbook.md
  docs-site/docs/quickstart.md
  docs/development/DEV_CONTAINER_GUIDE.md
  docs/modules/EE_IAP_TO_OCA_IPAI_MAPPING.md
  docs/modules/OPERATIONS_RUNBOOK.md
  platform/tools/db-inventory/README.md
  skills/odoo-implementation/skill.yaml
  supabase/data/IMPORT_GUIDE.md
  supabase/db/README.md
  supabase/db/import-templates/extended-platform/README.md
  web/billing-site/docs/RUNBOOK_DEPLOY.md
Due: none

docs(spec): add Azure self-host migration ETL pipeline plan
  spec/azure-self-host-migration/plan.md
  spec/azure-self-host-migration/tasks.md
Due: validate-spec-kit

fix(naming): canonicalize runtime database names post PR #591 (#592)
  .github/ISSUE_TEMPLATE/enterprise_replacement.yml
  .github/workflows/odoo-auto-upgrade.yml
  .github/workflows/platform-strategy-ssot-check.yml
  CLAUDE.md
  README.md
  docs-site/docs/architecture/ssot-boundaries.md
  docs-site/docs/deployment/devcontainer.md
  docs-site/docs/deployment/docker.md
  docs-site/docs/operations/change-management.md
  docs-site/docs/operations/monthly-close-runbook.md
  docs-site/docs/quickstart.md
  docs/architecture/SEED_DATA_INVENTORY.md
  docs/development/DEV_CONTAINER_GUIDE.md
  docs/modules/EE_IAP_TO_OCA_IPAI_MAPPING.md
  docs/modules/OPERATIONS_RUNBOOK.md
  platform/tools/db-inventory/README.md
  scripts/ci/validate_platform_strategy.py
  skills/odoo-implementation/skill.yaml
  spec/seed-dedup-remediation/plan.md
  spec/seed-dedup-remediation/tasks.md
  ssot/governance/enterprise_okrs.yaml
  ssot/governance/planning_system_index.yaml
  ssot/governance/platform-strategy-2026.yaml
  ssot/governance/platform-strategy.schema.json
  supabase/data/IMPORT_GUIDE.md
  supabase/db/README.md
  supabase/db/import-templates/extended-platform/README.md
  web/billing-site/docs/RUNBOOK_DEPLOY.md
Due: no-enterprise-deps, validate-spec-kit

feat(migration): add Azure self-host migration spec, manifests, and scripts
  scripts/migration/export_supabase_inventory.py
  scripts/migration/import_n8n_workflows.py
  scripts/migration/migrate_edge_functions.py
  scripts/migration/migrate_pg_cron.py
  scripts/migration/migrate_tables.py
  scripts/migration/replay_canonical_seeds.py
  scripts/migration/validate_cutover.py
  spec/azure-selfhost-migration/constitution.md
  spec/azure-selfhost-migration/plan.md
  spec/azure-selfhost-migration/prd.md
  spec/azure-selfhost-migration/tasks.md
  ssot/migration/azure_selfhost_migration_manifest.yaml
  ssot/migration/seed_canonical_map.yaml
  ssot/migration/workflow_migration_map.yaml
Due: no-enterprise-deps, validate-spec-kit

chore(repo): remove old wrong-path spec/azure-self-host-migration/
  spec/azure-self-host-migration/plan.md
  spec/azure-self-host-migration/tasks.md
Due: validate-spec-kit

refactor(migration): streamline validate_cutover.py (-136 lines)
  scripts/migration/validate_cutover.py
Due: no-enterprise-deps

feat(ai): consolidate AI capabilities into Microsoft Foundry gateway
  addons/ipai/ipai_ai_channel_actions/__manifest__.py
  addons/ipai/ipai_ai_copilot/__manifest__.py
  addons/ipai/ipai_ai_platform/__manifest__.py
  addons/ipai/ipai_ai_widget/__manifest__.py
  addons/ipai/ipai_ask_ai_azure/__manifest__.py
  addons/ipai/ipai_llm_supabase_bridge/__manifest__.py
  addons/ipai/ipai_workspace_core/__manifest__.py
  docs/architecture/AI_CONSOLIDATION_FOUNDRY.md
  infra/ssot/agents/prod_policy.yaml
  ssot/governance/ai-consolidation-foundry.yaml
Due: no-enterprise-deps, odoo-manifest-check

feat(ai): consolidate AI capabilities into Microsoft Foundry gateway (#593)
  addons/ipai/ipai_ai_channel_actions/__manifest__.py
  addons/ipai/ipai_ai_copilot/__manifest__.py
  addons/ipai/ipai_ai_platform/__manifest__.py
  addons/ipai/ipai_ai_widget/__manifest__.py
  addons/ipai/ipai_ask_ai_azure/__manifest__.py
  addons/ipai/ipai_llm_supabase_bridge/__manifest__.py
  addons/ipai/ipai_workspace_core/__manifest__.py
  docs/architecture/AI_CONSOLIDATION_FOUNDRY.md
  infra/ssot/agents/prod_policy.yaml
  ssot/governance/ai-consolidation-foundry.yaml
Due: no-enterprise-deps, odoo-manifest-check

feat(ssot): add unified platform capabilities matrix
  ssot/governance/platform-capabilities-unified.yaml
Due: none

feat(ssot): unified platform capabilities matrix (9 domains, 51% score) (#594)
  ssot/governance/platform-capabilities-unified.yaml
Due: none

feat(ai): align AI consolidation with Microsoft Foundry rebrand
  docs/architecture/AI_CONSOLIDATION_FOUNDRY.md
  ssot/governance/ai-consolidation-foundry.yaml
Due: none

feat(ai): align AI consolidation with Microsoft Foundry rebrand + v2 capabilities (#595)
  docs/architecture/AI_CONSOLIDATION_FOUNDRY.md
  ssot/governance/ai-consolidation-foundry.yaml
Due: none

feat(ai): add Microsoft Agent Stack mapping (3 upstream repos)
  docs/architecture/AI_CONSOLIDATION_FOUNDRY.md
  ssot/governance/ai-consolidation-foundry.yaml
Due: none

feat(ai): map Microsoft Agent Stack to consolidation strategy (#596)
  docs/architecture/AI_CONSOLIDATION_FOUNDRY.md
  ssot/governance/ai-consolidation-foundry.yaml
Due: none

feat(ai): add Foundry SDK coordinates and install commands
  ssot/governance/ai-consolidation-foundry.yaml
Due: none

feat(ai): add Foundry SDK coordinates and install commands (#597)
  ssot/governance/ai-consolidation-foundry.yaml
Due: none

feat(ai): add Foundry workflow authoring paths (pro-code + low-code)
  docs/architecture/AI_CONSOLIDATION_FOUNDRY.md
  ssot/governance/ai-consolidation-foundry.yaml
Due: none

feat(ai): add Foundry workflow authoring paths (pro-code + declarative) (#598)
  docs/architecture/AI_CONSOLIDATION_FOUNDRY.md
  ssot/governance/ai-consolidation-foundry.yaml
Due: none

feat(ai): add agent framework target-state spec kit
  spec/odoo-copilot-agent-framework/constitution.md
  spec/odoo-copilot-agent-framework/plan.md
  spec/odoo-copilot-agent-framework/prd.md
  spec/odoo-copilot-agent-framework/tasks.md
Due: validate-spec-kit

feat(ai): add agent matrix, ingress matrix, eval model, and SSOT YAMLs
  infra/ssot/agents/agent_capability_matrix.yaml
  infra/ssot/platform/agent_ingress_matrix.yaml
  spec/odoo-copilot-agent-framework/plan.md
  spec/odoo-copilot-agent-framework/prd.md
  spec/odoo-copilot-agent-framework/tasks.md
Due: validate-spec-kit

docs(ai): add one-page target-state diagram + align SSOT with 3+1 model
  docs/architecture/AI_CONSOLIDATION_FOUNDRY.md
  docs/architecture/COPILOT_TARGET_STATE.md
  ssot/governance/ai-consolidation-foundry.yaml
Due: none

feat(ai): agent framework target-state spec kit + SSOT artifacts (#599)
  docs/architecture/AI_CONSOLIDATION_FOUNDRY.md
  docs/architecture/COPILOT_TARGET_STATE.md
  infra/ssot/agents/agent_capability_matrix.yaml
  infra/ssot/platform/agent_ingress_matrix.yaml
  spec/odoo-copilot-agent-framework/constitution.md
  spec/odoo-copilot-agent-framework/plan.md
  spec/odoo-copilot-agent-framework/prd.md
  spec/odoo-copilot-agent-framework/tasks.md
  ssot/governance/ai-consolidation-foundry.yaml
Due: validate-spec-kit

fix(ai): address 33 cross-reference gaps in agent framework spec kit
  docs/architecture/AI_CONSOLIDATION_FOUNDRY.md
  docs/architecture/COPILOT_TARGET_STATE.md
  infra/ssot/agents/agent_capability_matrix.yaml
  spec/odoo-copilot-agent-framework/constitution.md
  spec/odoo-copilot-agent-framework/plan.md
  spec/odoo-copilot-agent-framework/prd.md
  spec/odoo-copilot-agent-framework/tasks.md
  ssot/governance/ai-consolidation-foundry.yaml
Due: validate-spec-kit

feat(bir): port TaxPulse rates, rules engine, and test fixtures into ipai_bir_tax_compliance
  addons/ipai/ipai_bir_tax_compliance/data/rates/ph_rates_2025.json
  addons/ipai/ipai_bir_tax_compliance/data/rules/ewt.rules.yaml
  addons/ipai/ipai_bir_tax_compliance/data/rules/vat.rules.yaml
  addons/ipai/ipai_bir_tax_compliance/engine/__init__.py
  addons/ipai/ipai_bir_tax_compliance/engine/evaluator.py
  addons/ipai/ipai_bir_tax_compliance/engine/formula.py
  addons/ipai/ipai_bir_tax_compliance/engine/loader.py
  addons/ipai/ipai_bir_tax_compliance/reports/.gitkeep
  addons/ipai/ipai_bir_tax_compliance/tests/__init__.py
  addons/ipai/ipai_bir_tax_compliance/tests/fixtures/ewt_expected_withholding.csv
  addons/ipai/ipai_bir_tax_compliance/tests/fixtures/vat_basic_expected_lines.csv
  addons/ipai/ipai_bir_tax_compliance/tests/fixtures/vat_basic_transactions.csv
  addons/ipai/ipai_bir_tax_compliance/tests/test_bir_ewt_compute.py
  addons/ipai/ipai_bir_tax_compliance/tests/test_bir_vat_compute.py
  addons/ipai/ipai_bir_tax_compliance/tests/test_rules_engine.py
Due: no-enterprise-deps

docs(copilot): add target-state spec — one assistant, governed multi-role backend
  spec/copilot-target-state/constitution.md
  spec/copilot-target-state/plan.md
  spec/copilot-target-state/prd.md
  spec/copilot-target-state/tasks.md
Due: validate-spec-kit

feat(bir): add Tax Pulse sub-agent spec kit + tool contracts + eval datasets
  eval/datasets/bir_actions.yaml
  eval/datasets/bir_advisory.yaml
  eval/datasets/bir_ops.yaml
  eval/training/bir_sft_catalog.yaml
  eval/training/bir_sft_train.jsonl
  eval/training/bir_sft_valid.jsonl
  infra/ssot/agents/tax_pulse_tool_contracts.yaml
  spec/tax-pulse-sub-agent/constitution.md
  spec/tax-pulse-sub-agent/plan.md
  spec/tax-pulse-sub-agent/prd.md
  spec/tax-pulse-sub-agent/tasks.md
Due: validate-spec-kit
