Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$

fix(security): infrastructure hardening — env leak prevention, retention, auth matrix
  .env.dev
  .env.prod
  .gitignore
  apps/ops-console/.gitignore
  apps/ops-console/app/database/supabase-manager-client.tsx
  docs/architecture/DEPLOY_TARGET_MATRIX.md
  supabase/EDGE_FUNCTION_SECURITY.md
  supabase/migrations/20260305_ops_retention_schedule.sql
Due: none

feat(github-projects): add template SSOT validation and sync automation
  .github/workflows/github-project-template-ssot-gate.yml
  .github/workflows/sync-github-project-templates.yml
  docs/process/github/GITHUB_PROJECT_TEMPLATE_SSOT.md
  scripts/github/sync_project_template.py
  scripts/github/validate_project_template_ssot.py
  ssot/github/projects/finops_month_end.yaml
  ssot/github/projects/templates/finops_month_end.project.yaml
  ssot/github/projects/templates/schema.project-template.v1.json
Due: no-enterprise-deps

feat(odoo): add finops install-set SSOT and CI dry-run verifier
  .github/workflows/github-project-template-ssot-gate.yml
  .github/workflows/odoo-install-set-verify.yml
  addons/ipai_meta/ipai_meta_finops_ppm/__init__.py
  addons/ipai_meta/ipai_meta_finops_ppm/__manifest__.py
  docs/process/operations/ODOO_INSTALL_SET_SSOT.md
  scripts/github/sync_project_template.py
  scripts/odoo/install_set.py
  ssot/odoo/install_sets/finops_ppm.yaml
  ssot/odoo/oca_lock.yaml
Due: no-enterprise-deps, odoo-manifest-check

feat(plane): add clarity ppm contract taxonomy and ssot gate
  .github/workflows/plane-ssot-gate.yml
  scripts/plane/validate_plane_ssot.py
  ssot/plane/contracts/clarity_ppm.v1.yaml
  ssot/plane/projects/finops.yaml
  ssot/plane/schema.plane-clarity-ppp.v1.json
  ssot/plane/taxonomy/cycles.yaml
  ssot/plane/taxonomy/estimates.yaml
  ssot/plane/taxonomy/labels.yaml
  ssot/plane/taxonomy/modules.yaml
  ssot/plane/taxonomy/states.yaml
Due: no-enterprise-deps

chore(plane-ssot): harden artifact handling path resolution and schema docs
  .github/workflows/plane-ssot-gate.yml
  .gitignore
  scripts/plane/validate_plane_ssot.py
  ssot/plane/schema.plane-clarity-ppp.v1.json
Due: no-enterprise-deps

feat(ops): deploy CRM + OIDC SSOT + ChatGPT Apps SDK spec bundle
  infra/deploy/nginx/crm.insightpulseai.com.conf
  infra/dns/subdomain-registry.yaml
  spec/chatgpt-ops-assistant/constitution.md
  spec/chatgpt-ops-assistant/plan.md
  spec/chatgpt-ops-assistant/prd.md
  spec/chatgpt-ops-assistant/tasks.md
  ssot/apps/chatgpt_apps/odoo_plane_slack.yaml
  ssot/auth/oidc_clients.yaml
  ssot/domains/insightpulseai.com.yaml
  ssot/edge/nginx_cloudflare_map.yaml
  ssot/integrations/chatgpt_app_tool_allowlist.yaml
Due: validate-spec-kit

feat(ppm): implement PPM Clarity Plane.so + Odoo integration
  .github/workflows/ppm-clarity-integration-test.yml
  .github/workflows/ppm-clarity-lint.yml
  automations/n8n/workflows/ppm-clarity-odoo-to-plane.json
  automations/n8n/workflows/ppm-clarity-plane-to-odoo.json
  automations/n8n/workflows/ppm-clarity-reconciliation.json
  automations/n8n/workflows/ppm-clarity-slack-commands.json
  docs/policies/transportation-reimbursement-policy.md
  scripts/ppm/odoo_client.py
  scripts/ppm/plane_mcp_client.py
  scripts/ppm/requirements.txt
  scripts/ppm/slack_notifier.py
  scripts/ppm/sync_engine.py
  scripts/ppm/tests/test_field_ownership.py
  scripts/ppm/tests/test_idempotency.py
  scripts/ppm/tests/test_slack_notifier.py
  spec/ppm-clarity-plane-odoo/constitution.md
  spec/ppm-clarity-plane-odoo/plan.md
  spec/ppm-clarity-plane-odoo/prd.md
  spec/ppm-clarity-plane-odoo/tasks.md
  supabase/migrations/20260305_create_ppm_clarity_schema.sql
Due: no-enterprise-deps, validate-spec-kit

docs(adr): add ADR-007 n8n MCP auth strategy
  docs/adr/ADR-007-n8n-mcp-auth-strategy.md
Due: none

chore(secrets): update DO App Platform token inventory in SSOT
  ssot/secrets/registry.yaml
Due: none

fix(mcp): add deterministic auth error codes and external JWT support
  supabase/functions/mcp-gateway/index.ts
Due: none

feat(ssot): add org taxonomy, secrets inventory, and CI validators
  .github/workflows/org-taxonomy-guard.yml
  .github/workflows/secrets-usage-guard.yml
  docs/architecture/ORG_TAXONOMY.md
  docs/architecture/PLATFORM_REPO_TREE.md
  scripts/ci/validate_org_taxonomy.py
  scripts/ci/validate_secrets_usage.py
  ssot/github/org_repos.yaml
  ssot/secrets/registry.yaml
Due: no-enterprise-deps

feat(spec): add odoo-workspace-os spec kit
  spec/odoo-workspace-os/constitution.md
  spec/odoo-workspace-os/plan.md
  spec/odoo-workspace-os/prd.md
  spec/odoo-workspace-os/tasks.md
Due: validate-spec-kit

docs(architecture): add Azure target state spec + enterprise stack layers
  docs/architecture/DEPLOY_TARGET_MATRIX.md
  docs/architecture/ENTERPRISE_STACK_LAYERS.md
  spec/azure-target-state/constitution.md
  spec/azure-target-state/plan.md
  spec/azure-target-state/prd.md
  spec/azure-target-state/tasks.md
Due: validate-spec-kit

docs(architecture): add Databricks Apps control room spec + placement matrix
  docs/architecture/DEPLOYMENT_PLACEMENT_MATRIX.md
  spec/databricks-apps-control-room/constitution.md
  spec/databricks-apps-control-room/plan.md
  spec/databricks-apps-control-room/prd.md
  spec/databricks-apps-control-room/tasks.md
Due: validate-spec-kit

fix(databricks): replace Standard_DS3_v2 with Standard_D4s_v3 for SKU stockout
  infra/databricks/agent_systems/feedback_intel/resources/agent_bricks_job.yml
  infra/databricks/agent_systems/feedback_intel/resources/eval_jobs.yml
  infra/databricks/docs/databricks/RUNTIME_PREREQUISITES.md
  infra/databricks/docs/evidence/20260307-deploy/connector-deploy/readiness.json
  infra/databricks/resources/clusters/job_cluster_small.yml
  infra/databricks/resources/jobs.yml
  infra/databricks/resources/jobs/connector_replay.yml
  infra/databricks/resources/jobs/connector_sync.yml
Due: none

chore(repo): remove .coverage from tracking, add to .gitignore
  .gitignore
  infra/databricks/.coverage
Due: none

docs(wave2): add entity map, finance control specs, integration architecture, and canonical seed data
  config/finance/README.md
  config/finance/WORKBOOK_V2_CHANGELOG.md
  config/finance/bir_filing_tasks_v2.csv
  config/finance/finance_odoo_import.csv
  config/finance/month_end_tasks_v2.csv
  config/finance/supabase_logframe_finance.csv
  docs/architecture/CANONICAL_ENTITY_MAP.md
  docs/architecture/CANONICAL_ENTITY_MAP.yaml
  docs/architecture/INTEGRATION_BOUNDARY_MODEL.md
  docs/architecture/SUPABASE_CONTROL_PLANE.md
  scripts/finance/export_seed_workbook.py
  spec/integration-control-plane/constitution.md
  spec/integration-control-plane/plan.md
  spec/integration-control-plane/prd.md
  spec/integration-control-plane/tasks.md
  spec/odoo-ap-invoice-control/constitution.md
  spec/odoo-ap-invoice-control/plan.md
  spec/odoo-ap-invoice-control/prd.md
  spec/odoo-ap-invoice-control/tasks.md
  spec/odoo-approval-inbox/constitution.md
  spec/odoo-approval-inbox/plan.md
  spec/odoo-approval-inbox/prd.md
  spec/odoo-approval-inbox/tasks.md
  spec/odoo-bir-filing-control/constitution.md
  spec/odoo-bir-filing-control/plan.md
  spec/odoo-bir-filing-control/prd.md
  spec/odoo-bir-filing-control/tasks.md
  spec/odoo-tne-control/constitution.md
  spec/odoo-tne-control/plan.md
  spec/odoo-tne-control/prd.md
  spec/odoo-tne-control/tasks.md
Due: no-enterprise-deps, validate-spec-kit

docs(copilot): add Odoo Copilot on Azure spec bundle (Foundry + Agent Framework + MCP)
  spec/odoo-copilot-azure/constitution.md
  spec/odoo-copilot-azure/plan.md
  spec/odoo-copilot-azure/prd.md
  spec/odoo-copilot-azure/tasks.md
Due: validate-spec-kit

chore(factory): robust catalog parsing + enforce pinned template SHAs
  Documents/GitHub/Insightpulseai/.github/workflows/template-pins-guard.yml
  Documents/GitHub/Insightpulseai/scripts/ci_guard_template_pins.sh
  Documents/GitHub/Insightpulseai/scripts/factory.sh
Due: none

chore(templates): vendor tableau/extensions-api (pinned) + factory runner
  Documents/GitHub/Insightpulseai/scripts/tableau_ext.sh
  Documents/GitHub/Insightpulseai/templates/catalog.yaml
  Documents/GitHub/Insightpulseai/templates/vendor/tableau-extensions-api.PINNED_SHA
Due: none

chore(templates): vendor microsoft powerbi sample reports (pinned) + catalog entry
  Documents/GitHub/Insightpulseai/scripts/powerbi_samples_index.sh
  Documents/GitHub/Insightpulseai/templates/catalog.yaml
  Documents/GitHub/Insightpulseai/templates/vendor/powerbi-desktop-samples.PINNED_SHA
Due: none

feat(ssot): org restructuring artifacts + control room + ERP SaaS specs
  spec/control-room-platform/constitution.md
  spec/control-room-platform/plan.md
  spec/control-room-platform/prd.md
  spec/control-room-platform/tasks.md
  spec/odoo-erp-saas/constitution.md
  spec/odoo-erp-saas/plan.md
  spec/odoo-erp-saas/prd.md
  spec/odoo-erp-saas/tasks.md
  ssot/azure/target-state.yaml
  ssot/github/desired-end-state.yaml
Due: validate-spec-kit

feat(ssot): Azure service matrix + DNS migration plan
  ssot/azure/dns-migration-plan.yaml
  ssot/azure/service-matrix.yaml
Due: none

docs(control-room): add Control Room Platform spec, governance, and CI validators
  .github/workflows/control-room-governance.yml
  agents/PRIORITIZED_ROADMAP.md
  docs/architecture/CONTROL_ROOM_RUNTIME_STATE.md
  docs/governance/ENTERPRISE_KPI_MODEL.md
  docs/governance/ENTERPRISE_OPERATING_MODEL.md
  docs/governance/ENTERPRISE_STACK_INDEX.md
  docs/governance/REPOSITORY_TAXONOMY.md
  docs/governance/repository_taxonomy.schema.json
  docs/governance/repository_taxonomy.yaml
  platform/data/contracts/control_room_events.yaml
  platform/data/contracts/control_room_kpis.yaml
  scripts/ci/check_control_room_spec.py
  scripts/ci/check_kpi_contracts.py
  scripts/ci/check_repository_taxonomy.py
  spec/control-room-platform/constitution.md
  spec/control-room-platform/plan.md
  spec/control-room-platform/prd.md
  spec/control-room-platform/tasks.md
  spec/ipai-copilot/constitution.md
  spec/ipai-copilot/plan.md
  spec/ipai-copilot/prd.md
  spec/ipai-copilot/tasks.md
Due: no-enterprise-deps, validate-spec-kit
