Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

no-enterprise-deps:
  name: No Enterprise Dependencies
  entry: bash -c 'scripts/policy-check.sh --diff || true'
  language: system
  pass_filenames: false

validate-spec-kit:
  name: Validate Spec Kit
  entry: bash -c 'scripts/validate-spec-kit.sh || true'
  language: system
  pass_filenames: false

odoo-manifest-check:
  name: Odoo Manifest Validator
  entry: python3 scripts/validate_manifest.py
  language: system
  pass_filenames: false

fix(ops-console): wrap app in TooltipProvider — Tooltip must be within provider
  apps/ops-console/app/providers.tsx
  apps/ops-console/components/supabase-manager/index.tsx
  apps/ops-console/components/ui/command.tsx
Due: none

docs(ci): add orphan_addons_gate contract doc
  docs/ci/orphan_addons_gate.md
Due: none

feat(ssot): add OCA must-have registries + CI gates (base + accounting)
  .github/workflows/ssot-gates.yml
  docs/architecture/MONOREPO_END_STATE_OKR.md
  scripts/ci/check_oca_must_have_accounting_ssot.py
  scripts/ci/check_oca_must_have_ssot.py
  ssot/oca/must_have_accounting.yaml
  ssot/oca/must_have_base.yaml
Due: no-enterprise-deps

feat(ops): SSOT website theme apply + verify + evidence
  docs/ops/ODOO_WEBSITE_THEME.md
  scripts/odoo/apply_website_theme.py
  scripts/odoo/verify_website_theme.sh
  ssot/website/theme.yaml
Due: no-enterprise-deps

feat(ci): enforce Layer-2 bridge tests (Zoho mail + Slack)
  .github/workflows/ipai-odoo-tests.yml
  addons/ipai/ipai_mail_bridge_zoho/tests/__init__.py
  addons/ipai/ipai_mail_bridge_zoho/tests/test_mail_bridge_zoho_send.py
  addons/ipai/ipai_slack_connector/__init__.py
  addons/ipai/ipai_slack_connector/__manifest__.py
  addons/ipai/ipai_slack_connector/models/__init__.py
  addons/ipai/ipai_slack_connector/models/slack_notify.py
  addons/ipai/ipai_slack_connector/tests/__init__.py
  addons/ipai/ipai_slack_connector/tests/test_slack_connector_notify.py
  addons/ipai/ipai_slack_connector/utils/__init__.py
  addons/ipai/ipai_slack_connector/utils/slack_client.py
  docs/architecture/ODOO_TEST_STRATEGY.md
Due: no-enterprise-deps, odoo-manifest-check

feat(ssot): industry bundles registry + CE/OCA gate (photography, marketing-agency, odoo-partner)
  scripts/ci/check_industry_bundles.py
  ssot/odoo/industry_bundles.yaml
Due: no-enterprise-deps

feat(ssot): harden industry bundles registry + audit gate
  .gitignore
  scripts/ci/check_industry_bundles.py
  ssot/odoo/industry_bundles.yaml
  tests/test_check_industry_bundles.py
Due: no-enterprise-deps

chore(ci): add industry-bundles-gate workflow
  .github/workflows/industry-bundles-gate.yml
Due: none

chore(ci): scope preflight+lint workflows; fix ruff F541 in CI scripts
  .github/workflows/lint.yml
  .github/workflows/preflight.yml
  scripts/ci/branch_hygiene.py
  scripts/ci/check_industry_bundles.py
Due: no-enterprise-deps

docs(readme): fix stale namespace, version, and DB naming inconsistencies
  README.md
Due: none

feat(spec): scaffold ipai-llm-supabase-bridge spec bundle
  spec/ipai-llm-supabase-bridge/constitution.md
  spec/ipai-llm-supabase-bridge/plan.md
  spec/ipai-llm-supabase-bridge/prd.md
  spec/ipai-llm-supabase-bridge/tasks.md
Due: validate-spec-kit

feat(ai): add ipai_llm_supabase_bridge scaffold + ops schema + SSOT registration
  addons/ipai/ipai_llm_supabase_bridge/__init__.py
  addons/ipai/ipai_llm_supabase_bridge/__manifest__.py
  addons/ipai/ipai_llm_supabase_bridge/models/__init__.py
  addons/ipai/ipai_llm_supabase_bridge/models/ipai_bridge_config.py
  addons/ipai/ipai_llm_supabase_bridge/models/ipai_bridge_event.py
  addons/ipai/ipai_llm_supabase_bridge/models/llm_thread.py
  addons/ipai/ipai_llm_supabase_bridge/models/llm_tool.py
  ssot/bridges/catalog.yaml
  ssot/secrets/registry.yaml
  supabase/functions/llm-webhook-ingest/index.ts
  supabase/migrations/20260228_001_ops_llm_observability.sql
Due: no-enterprise-deps, odoo-manifest-check

test(ai): add idempotency + install smoke tests; catalog activation criteria
  .gitignore
  addons/ipai/ipai_llm_supabase_bridge/tests/__init__.py
  addons/ipai/ipai_llm_supabase_bridge/tests/test_install_smoke.py
  spec/ipai-llm-supabase-bridge/tasks.md
  ssot/ai/dependencies.yaml
  ssot/ai/odoo_ai.yaml
  ssot/bridges/catalog.yaml
  supabase/tests/ops_ingest_bridge_event_idempotent.sql
Due: no-enterprise-deps, validate-spec-kit

chore(dev): harden VSCode debug config + codify AI provider policy
  .vscode/launch.json
  .vscode/settings.json
Due: none

chore(deploy): add plane.insightpulseai.com to DNS SSOT registry
  infra/dns/subdomain-registry.yaml
Due: none

chore(infra): codify Cloudflare secret policy + deterministic env loader
  .github/workflows/cloudflare-dns-apply.yml
  .github/workflows/dns-ssot-apply.yml
  scripts/infra/load_cloudflare_env.sh
  ssot/secrets/registry.yaml
Due: none

docs(arch): add runtime classification audit to CANONICAL_URLS.md
  docs/architecture/CANONICAL_URLS.md
Due: none

feat(ssot): add runtime-derived Odoo 19 CE settings catalog
  .claude/rules/ssot-platform.md
  .github/workflows/settings-catalog-gate.yml
  .github/workflows/ssot-gates.yml
  docs/architecture/PLATFORM_REPO_TREE.md
  scripts/ci/check_settings_catalog.py
  scripts/odoo/extract_settings_catalog.py
  ssot/odoo/settings_catalog.yaml
Due: no-enterprise-deps

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$
