Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

no-enterprise-deps:
  name: No Enterprise Dependencies
  entry: bash -c 'scripts/policy-check.sh --diff || true'
  language: system
  pass_filenames: false

validate-spec-kit:
  name: Validate Spec Kit
  entry: bash -c 'scripts/validate-spec-kit.sh || true'
  language: system
  pass_filenames: false

odoo-manifest-check:
  name: Odoo Manifest Validator
  entry: python3 scripts/validate_manifest.py
  language: system
  pass_filenames: false

feat(ssot): n8n automation runner — integration register + SSOT contract
  .github/workflows/ssot-gates.yml
  docs/architecture/N8N_AUTOMATION_CONTRACT.md
  scripts/ci/check_n8n_workflows_ssot.py
  ssot/integrations/_index.yaml
  ssot/integrations/n8n.yaml
  ssot/secrets/registry.yaml
Due: no-enterprise-deps

feat(ssot): DO infra policy + monitoring + cost snapshots + GHEC/GHES addendum + Supabase partners + Figma integration
  agents/mcp/figma.json
  docs/architecture/FIGMA_INTEGRATION_SURFACE.md
  docs/architecture/SUPABASE_PARTNER_INTEGRATIONS_MAP.md
  ssot/github/enterprise-cloud.yaml
  ssot/infra/digitalocean/costs/2025-12.yaml
  ssot/infra/digitalocean/costs/2026-01.yaml
  ssot/infra/digitalocean/costs/2026-02.yaml
  ssot/infra/digitalocean/monitoring.yaml
  ssot/infra/digitalocean/policy.yaml
  ssot/integrations/_index.yaml
  ssot/integrations/cloudflare_workers.yaml
  ssot/integrations/figma.yaml
  ssot/integrations/supabase_wrappers_stripe.yaml
  ssot/integrations/vercel_hosting.yaml
  ssot/secrets/registry.yaml
Due: none

feat(ssot): platform surface map + telemetry posture + DO automation + Vercel monorepo contract + AI Gateway
  ssot/infra/digitalocean/automation.yaml
  ssot/integrations/_index.yaml
  ssot/integrations/vercel_agent.yaml
  ssot/integrations/vercel_ai_gateway.yaml
  ssot/observability/telemetry.yaml
  ssot/platform/surfaces.yaml
  ssot/secrets/registry.yaml
  ssot/vercel/projects.yaml
Due: none

feat(ssot): Ops Advisor engine, Vercel CI guards, repo layout boundary rules
  .github/workflows/ssot-gates.yml
  docs/architecture/OPS_ADVISOR_CONTRACT.md
  docs/architecture/REPO_LAYOUT.md
  docs/architecture/VERCEL_AI_SURFACES.md
  docs/architecture/VERCEL_MONOREPO_CONTRACT.md
  scripts/ci/check_repo_structure.py
  scripts/ci/check_vercel_monorepo_ssot.py
  ssot/advisor/rulepacks/do_monitoring_posture.yaml
  ssot/advisor/rulepacks/github_governance.yaml
  ssot/advisor/workbooks/ocr_disk_saturation.yaml
  supabase/migrations/20260301000010_ops_advisor.sql
Due: no-enterprise-deps

fix(ci): remediate 3 pre-existing boundary violations from check_repo_structure
  apps/colima-desktop-ui/package.json
  apps/odoo-mobile-ios/package.json
  apps/platform/package.json
  apps/web/package.json
  scripts/ci/check_repo_structure.py
Due: no-enterprise-deps

feat(ssot): add VS Code Enterprise, GitHub Features Advisor, Agent Runtimes, Agentic Coding Contract, M365 Copilot, DevOps Lifecycle SSOT tracks
  .github/copilot-instructions.md
  docs/architecture/AGENTIC_CODING_CONTRACT.md
  docs/architecture/AGENT_RUNTIMES.md
  docs/architecture/M365_COPILOT_INTEGRATION.md
  docs/architecture/M365_DECLARATIVE_AGENT_MANIFEST.md
  docs/architecture/MICROSOFT_DEVOPS_LIFECYCLE.md
  docs/development/VSCODE_ENTERPRISE.md
  scripts/ci/check_m365_manifest_drift.py
  scripts/m365/generate_actions_manifest.py
  ssot/advisor/assessments/microsoft_devops_lifecycle.yaml
  ssot/advisor/rubrics/agentic_coding.yaml
  ssot/advisor/workbooks/agentic_coding_baseline.yaml
  ssot/advisor/workbooks/devops_baseline.yaml
  ssot/advisor/workbooks/github_rulesets_baseline.yaml
  ssot/advisor/workbooks/github_security_baseline.yaml
  ssot/devex/vscode_enterprise.yaml
  ssot/integrations/_index.yaml
  ssot/integrations/github_copilot_sdk.yaml
  ssot/integrations/github_features.yaml
  ssot/integrations/m365_copilot.yaml
  ssot/integrations/microsoft_agent_framework.yaml
  ssot/m365/agents/insightpulseai_ops_advisor/actions.yaml
  ssot/m365/agents/insightpulseai_ops_advisor/capabilities.yaml
Due: no-enterprise-deps

chore(ssot): register Plane.so marketplace integrations in _index.yaml
  ssot/integrations/_index.yaml
  ssot/integrations/plane.yaml
  ssot/integrations/plane_github_sync.yaml
  ssot/integrations/plane_sentry_sync.yaml
  ssot/integrations/plane_slack_intake.yaml
Due: none

feat(supabase): add advisor_scores table + work_is_member RPC + extend provider constraint
  supabase/migrations/20260301000020_ops_advisor_scores.sql
  supabase/migrations/20260301000030_work_membership_rpc.sql
Due: none

feat(advisor): implement scan routes (github + agentic-coding + devops-lifecycle)
  apps/ops-console/app/api/advisor/scans/agentic-coding/route.ts
  apps/ops-console/app/api/advisor/scans/devops-lifecycle/route.ts
  apps/ops-console/app/api/advisor/scans/github/route.ts
Due: none

feat(supabase): add m365-copilot-broker Edge Function (manifest/handshake/query/action)
  supabase/functions/m365-copilot-broker/index.ts
Due: none

fix(supabase): patch work_is_member RPC — correct column names from actual schema
  supabase/migrations/20260301000030_work_membership_rpc.sql
Due: none

feat(ssot): expand vercel_agent SSOT + inject PR atomicity guidelines
  .github/copilot-instructions.md
  ssot/integrations/vercel_agent.yaml
Due: none

docs(ssot): add Vercel Agent conflict resolution capabilities + domain guidance
  .github/copilot-instructions.md
  ssot/integrations/vercel_agent.yaml
Due: none

test(mobile-ios): add Swift unit tests + macOS build fixes for odoo-mobile-ios
  apps/odoo-mobile-ios/Package.swift
  apps/odoo-mobile-ios/Sources/App/OdooMobileApp.swift
  apps/odoo-mobile-ios/Sources/Features/Auth/SSOAuthSession.swift
  apps/odoo-mobile-ios/Sources/Features/DocumentScan/DocumentScanView.swift
  apps/odoo-mobile-ios/Sources/Features/Push/DeepLinkRouter.swift
  apps/odoo-mobile-ios/Sources/Features/Push/PushRegistration.swift
  apps/odoo-mobile-ios/Tests/DeepLinkRouterTests.swift
  apps/odoo-mobile-ios/Tests/TestFoundationBridge.swift
  apps/odoo-mobile-ios/Tests/TokenStoreTests.swift
  web/docs/evidence/20260301-0941+0800/odoo-mobile-ios/REPORT.md
  web/docs/evidence/20260301-0941+0800/odoo-mobile-ios/logs/swift_test.log
Due: none

feat(plane): SSOT-governed marketplace integrations + MCP server
  docs/architecture/PLANE_MARKETPLACE_INTEGRATIONS.md
  mcp/servers/plane/index.ts
  mcp/servers/plane/package.json
  mcp/servers/plane/tsconfig.json
  ssot/integrations/plane_mcp.yaml
  ssot/mappings/plane_github.yaml
  ssot/secrets/registry.yaml
  supabase/functions/plane-github-sync/index.ts
  supabase/functions/sentry-plane-sync/index.ts
Due: none

fix(ssot): harden Vercel Agent migration constraint + SSOT validator checklist
  .github/copilot-instructions.md
  ssot/integrations/vercel_agent.yaml
Due: none

fix(plane-github-sync): return 200 MAPPING_MISSING when plane_project_id is blank
  supabase/functions/plane-github-sync/index.ts
Due: none

feat(n8n-devops): add n8n DevOps templates SSOT catalog + spec bundle
  spec/n8n-devops-templates/constitution.md
  spec/n8n-devops-templates/plan.md
  spec/n8n-devops-templates/prd.md
  spec/n8n-devops-templates/tasks.md
  ssot/integrations/n8n_devops_templates.yaml
Due: validate-spec-kit

feat(mobile-ios): implement PKCE, OdooClient tests, uploadDocument multipart
  apps/odoo-mobile-ios/Sources/Features/Auth/SSOAuthSession.swift
  apps/odoo-mobile-ios/Sources/Shared/OdooClient.swift
  apps/odoo-mobile-ios/Tests/OdooClientMocks.swift
  apps/odoo-mobile-ios/Tests/OdooClientTests.swift
  web/docs/evidence/20260301-1050+0800/odoo-mobile-ios/REPORT.md
  web/docs/evidence/20260301-1050+0800/odoo-mobile-ios/logs/swift_test_full.log
Due: none

feat(vercel): SSOT project settings + apply script + advisor-nightly cron
  apps/ops-console/app/api/cron/advisor-nightly/route.ts
  apps/ops-console/vercel.json
  infra/vercel/projects/ops-console.json
  scripts/vercel/apply_project_settings.sh
Due: none

spec(platform-master-index): cross-cutting task index for full platform stack
  spec/platform-master-index/constitution.md
  spec/platform-master-index/evidence-map.md
  spec/platform-master-index/plan.md
  spec/platform-master-index/prd.md
  spec/platform-master-index/tasks.md
Due: validate-spec-kit

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$
