Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

no-enterprise-deps:
  name: No Enterprise Dependencies
  entry: bash -c 'scripts/policy-check.sh --diff || true'
  language: system
  pass_filenames: false

validate-spec-kit:
  name: Validate Spec Kit
  entry: bash -c 'scripts/validate-spec-kit.sh || true'
  language: system
  pass_filenames: false

odoo-manifest-check:
  name: Odoo Manifest Validator
  entry: python3 scripts/validate_manifest.py
  language: system
  pass_filenames: false

feat(repo): integrate github/spec-kit for spec-driven development (#339)
  .claude/commands/speckit.analyze.md
  .claude/commands/speckit.checklist.md
  .claude/commands/speckit.clarify.md
  .claude/commands/speckit.constitution.md
  .claude/commands/speckit.implement.md
  .claude/commands/speckit.plan.md
  .claude/commands/speckit.specify.md
  .claude/commands/speckit.tasks.md
  .claude/settings.json
  .claude/settings.web.json
  .github/workflows/spec-kit-enforce.yml
  .specify/README.md
  .specify/memory/.gitkeep
  .specify/scripts/.gitkeep
  .specify/scripts/check-prerequisites.sh
  .specify/scripts/common.sh
  .specify/scripts/create-new-feature.sh
  .specify/scripts/setup-plan.sh
  .specify/templates/checklist-template.md
  .specify/templates/constitution-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
  CLAUDE.md
  docs/ai/SPEC_KIT.md
  scripts/check-spec-kit.sh
  scripts/speckit-scaffold.sh
  spec/agent/plan.md
  spec/agent/prd.md
  spec/agent/tasks.md
Due: validate-spec-kit

docs(parity): add migration summary for sandbox→repo-root
  spec/odoo-ee-parity-seed/MIGRATION_SUMMARY.md
Due: validate-spec-kit

feat(parity): update sandbox with deterministic timestamp mode
  sandbox/dev/Makefile
  sandbox/dev/scripts/gen_odoo_editions_parity_seed.py
Due: no-enterprise-deps

feat(parity): implement Odoo Editions parity seed generator with Spec Kit integration
  sandbox/dev/.github/workflows/editions-parity-seed.yml
  sandbox/dev/scripts/gen_odoo_editions_parity_seed.py
  sandbox/dev/spec/odoo-ee-parity-seed/constitution.md
  sandbox/dev/spec/odoo-ee-parity-seed/plan.md
  sandbox/dev/spec/odoo-ee-parity-seed/spec.md
  sandbox/dev/spec/odoo-ee-parity-seed/tasks.md
  sandbox/dev/spec/parity/README.md
  sandbox/dev/spec/parity/odoo_editions_parity_seed.yaml
Due: no-enterprise-deps

docs(parity): add implementation status and verification reports
  sandbox/dev/spec/odoo-ee-parity-seed/IMPLEMENTATION_STATUS.md
  sandbox/dev/spec/odoo-ee-parity-seed/VERIFICATION_REPORT.md
Due: none

feat(parity): migrate parity seed generator to repo root + add deterministic mode
  .github/workflows/editions-parity-seed.yml
  scripts/gen_odoo_editions_parity_seed.py
  spec/odoo-ee-parity-seed/IMPLEMENTATION_STATUS.md
  spec/odoo-ee-parity-seed/VERIFICATION_REPORT.md
  spec/odoo-ee-parity-seed/constitution.md
  spec/odoo-ee-parity-seed/plan.md
  spec/odoo-ee-parity-seed/spec.md
  spec/odoo-ee-parity-seed/tasks.md
  spec/parity/README.md
  spec/parity/odoo_editions_parity_seed.yaml
Due: no-enterprise-deps, validate-spec-kit

feat(parity): add Makefile targets for parity seed generation
  sandbox/dev/Makefile
Due: none

docs(spec): add deep research spec bundle for Odoo+Supabase production deployment
  spec/odoo-supabase-deployment/AGENT_PROMPT.md
  spec/odoo-supabase-deployment/constitution.md
  spec/odoo-supabase-deployment/prd.md
  spec/odoo-supabase-deployment/research.md
Due: validate-spec-kit

feat(compose): normalize docker-compose.yml SSOT + unified Makefile
  Makefile
  docker-compose.yml
Due: none

feat(oca): add deterministic addons-path generator + odoo.conf template
  Makefile
  infra/odoo/addons-path.env
  infra/odoo/addons-path.txt
  infra/odoo/odoo.conf.template
  scripts/gen_addons_path.sh
Due: none

ci(odoo): enforce reproducible generated addons_path artifacts
  .github/workflows/odoo-generated-artifacts.yml
  scripts/verify_generated_odoo_artifacts.sh
Due: none

fix(claude): normalize Bash allowlist patterns (:* -> *)
  .claude/settings.json
  .claude/settings.local.json
  scripts/fix_claude_code_bash_patterns.py
Due: no-enterprise-deps

spec: Add deep research framework for Odoo+Supabase production deployment (#341)
  .github/workflows/odoo-generated-artifacts.yml
  Makefile
  docker-compose.yml
  infra/odoo/addons-path.env
  infra/odoo/addons-path.txt
  infra/odoo/odoo.conf.template
  scripts/gen_addons_path.sh
  scripts/verify_generated_odoo_artifacts.sh
  spec/odoo-supabase-deployment/AGENT_PROMPT.md
  spec/odoo-supabase-deployment/constitution.md
  spec/odoo-supabase-deployment/prd.md
  spec/odoo-supabase-deployment/research.md
Due: validate-spec-kit

feat(devcontainer): enhance Dev Container with VS Code best practices
  .devcontainer/CHANGES.md
  .devcontainer/devcontainer.env.example
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.devcontainer.yml
  .devcontainer/scripts/verify-devcontainer.sh
  .gitignore
  README.md
  docs/development/DEV_CONTAINER_GUIDE.md
  odoo.code-workspace
Due: none

feat(infra): cloudflare dns ssot (zoho mx + core subdomains)
  .github/workflows/infra-cloudflare-dns.yml
  .gitignore
  docs/architecture/ODOO_SUPABASE_MONOREPO_LAYOUT.md
  infra/cloudflare/envs/prod/main.tf
  infra/cloudflare/envs/prod/outputs.tf
  infra/cloudflare/envs/prod/providers.tf
  infra/cloudflare/envs/prod/terraform.tfvars.example
  infra/cloudflare/envs/prod/variables.tf
  infra/cloudflare/modules/dns-records/main.tf
  infra/cloudflare/modules/dns-records/outputs.tf
  infra/cloudflare/modules/dns-records/variables.tf
  infra/cloudflare/modules/dns-zone/main.tf
  scripts/cf/apply.sh
  scripts/cf/plan.sh
  scripts/cf/verify_dns.sh
Due: none

feat(odoo): ssot env-backed settings module (base url, alias domain, smtp)
  addons/ipai/ipai_system_config/__init__.py
  addons/ipai/ipai_system_config/__manifest__.py
  addons/ipai/ipai_system_config/hooks.py
  addons/ipai/ipai_system_config/models/__init__.py
  addons/ipai/ipai_system_config/security/ir.model.access.csv
Due: no-enterprise-deps, odoo-manifest-check

fix(infra): terraform fmt compliance
  infra/cloudflare/envs/prod/main.tf
Due: none

fix(infra): add required_providers to terraform modules
  infra/cloudflare/modules/dns-records/versions.tf
  infra/cloudflare/modules/dns-zone/versions.tf
Due: none

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$
