Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

no-enterprise-deps:
  name: No Enterprise Dependencies
  entry: bash -c 'scripts/policy-check.sh --diff || true'
  language: system
  pass_filenames: false

validate-spec-kit:
  name: Validate Spec Kit
  entry: bash -c 'scripts/validate-spec-kit.sh || true'
  language: system
  pass_filenames: false

odoo-manifest-check:
  name: Odoo Manifest Validator
  entry: python3 scripts/validate_manifest.py
  language: system
  pass_filenames: false

fix(github): token-type hygiene + installation scope enforcement + deny direct push
  .github/workflows/deny-direct-main-push.yml
  scripts/ci/check_github_app_ssot.py
  ssot/github/apps/pulser-hub.yaml
Due: no-enterprise-deps

feat(ssot): Databricks workspace + Azure resources SSOT + architecture doc
  docs/architecture/DATABRICKS_ARCHITECTURE.md
  ssot/azure/resources.yaml
  ssot/databricks/workspace.yaml
Due: none

feat(integrations): configure Plane MCP for self-hosted instance
  .claude/mcp-servers.json
  docs/integrations/PLANE_INTEGRATION_GUIDE.md
  docs/integrations/PLANE_QUICK_START.md
  mcp/servers/plane/index.ts
  mcp/servers/plane/package-lock.json
  scripts/verify_plane_mcp.sh
Due: none

feat(oca): production-ready OCA module porting automation
  .github/workflows/oca-port-enhanced.yml
  docs/integrations/OCA_PORT_WORKFLOW_ENHANCEMENTS.md
  scripts/oca/test_oca_port_workflow.sh
  scripts/oca/validate_oca_compliance.py
Due: no-enterprise-deps

feat(automation): comprehensive Odoo automation suite + EE parity workflows
  .github/workflows/ai-test-generation.yml
  .github/workflows/comprehensive-testing.yml
  .github/workflows/deploy-odoo-modules.yml
  .github/workflows/docker-build-docs.yml
  .github/workflows/docker-build-n8n.yml
  .github/workflows/docker-build-odoo.yml
  .github/workflows/docs-build-deploy.yml
  .github/workflows/docs-sync-odoo-official.yml
  .github/workflows/ee-parity-automation.yml
  .github/workflows/odoo-docs-sync.yml
  automations/n8n/workflows/plane-odoo-github-sync.json
  docs/integrations/GITHUB_ACTIONS_WORKFLOWS.md
  docs/integrations/GITHUB_ENTERPRISE_INTEGRATION.md
  docs/integrations/INTEGRATION_SUMMARY.md
  docs/integrations/N8N_ORCHESTRATION_ARCHITECTURE.md
  docs/integrations/ODOO_AI_TESTING_AUTOMATION.md
  docs/integrations/ODOO_DEVELOPMENT_AUTOMATION.md
  docs/integrations/ODOO_DOCS_DEPLOYMENT_GUIDE.md
  docs/integrations/ODOO_DOCS_PLATFORM_AUTOMATION.md
  docs/integrations/ODOO_PLANE_N8N_SETUP.md
  docs/security/CI_CD_SECURITY.md
  scripts/ci/setup-self-hosted-runner.sh
  supabase/functions/docs-ai-enhanced/index.ts
  tests/e2e/conftest.py
  tests/e2e/test_partner_workflow.py
  tests/performance/odoo-comprehensive-load.js
  tests/requirements-testing.txt
  tests/security/.bandit
  tests/security/safety-policy.yml
Due: no-enterprise-deps

feat(governance): harden automation workflows with SSOT + least-privilege
  .github/workflows/branch-protection-audit.yml
  .github/workflows/deploy-odoo-modules.yml
  .github/workflows/ee-parity-automation.yml
  docs/architecture/GOVERNANCE_BRANCH_PROTECTION.md
  docs/architecture/GOVERNANCE_HARDENING_2026-03-05.md
  ssot/ee_parity/replacements.yaml
Due: none

feat(governance): complete docs sync isolation + verification (Tasks 3&5)
  .github/workflows/docs-sync-odoo-official.yml
  docs/architecture/VENDOR_SUBTREE_ISOLATION.md
  web/docs/evidence/20260305-0000+0800/docs-sync-sandbox/logs/blast-radius-analysis.md
  web/docs/evidence/20260305-0000+0800/docs-sync-sandbox/logs/implementation-summary.md
  web/docs/evidence/20260305-0000+0800/docs-sync-sandbox/logs/validation.log
  web/docs/evidence/20260305-0000+0800/docs-sync-sandbox/logs/vendor-subtree-strategy.md
  web/docs/evidence/20260305-1357+0800/github-docs-verification/SUMMARY.md
  web/docs/evidence/20260305-1357+0800/github-docs-verification/logs/code-scanning-verification.json
  web/docs/evidence/20260305-1357+0800/github-docs-verification/logs/ghas-features-verification.json
  web/docs/evidence/20260305-1357+0800/github-docs-verification/logs/rate-limits-verification.json
  web/docs/evidence/20260305-1357+0800/github-docs-verification/logs/secret-scanning-verification.json
  web/docs/evidence/20260305-1357+0800/github-docs-verification/logs/verification-report.md
  web/docs/evidence/20260305-1357+0800/github-docs-verification/logs/webhook-events-verification.json
Due: none

feat(azure): Add Azure-native Odoo automation with OIDC
  .github/workflows/odoo-azure-deploy.yml
  .github/workflows/odoo-azure-upgrade-evidence.yml
  CLAUDE.md
  docs/ops/AZURE_ODOO_AUTOMATION.md
Due: none

feat(mcp): expand MCP server catalog with Microsoft/Azure + official platform servers
  .claude/mcp-servers.json
Due: none

feat(spec): Add n8n MCP Gateway security hardening spec bundle
  spec/n8n-mcp-gateway/constitution.md
  spec/n8n-mcp-gateway/plan.md
  spec/n8n-mcp-gateway/prd.md
  spec/n8n-mcp-gateway/tasks.md
Due: validate-spec-kit

feat(ci): add DOCR push-to-deploy, upgrade Docker CI/CD, improve Codespaces prebuilds
  .devcontainer/devcontainer.json
  .github/workflows/build-image.yml
  .github/workflows/build-unified-image.yml
  .github/workflows/cd-docr-deploy.yml
  .github/workflows/codespaces-prebuild.yml
Due: none

feat(mcp): add Cloudflare remote servers (DNS analytics, Radar, Audit Logs, AI Gateway, Browser) + Git/Time/Playwright-MS
  .claude/mcp-servers.json
Due: none

feat(governance): add MCP SSOT guard, harden DOCR deploy, add Codespaces secret guard
  .github/workflows/cd-docr-deploy.yml
  .github/workflows/codespaces-secret-guard.yml
  .github/workflows/mcp-ssot-guard.yml
  docs/architecture/PLATFORM_REPO_TREE.md
  scripts/ci/validate_mcp_ssot.py
  ssot/mcp/servers.yaml
Due: no-enterprise-deps

fix(ops): canonical URL swap + OCA mail_tracking hotfix + org policy SSOT
  .github/workflows/github-org-policy-guard.yml
  infra/deploy/nginx/erp.insightpulseai.com.conf
  infra/deploy/nginx/insightpulseai.com.conf
  scripts/ci/check_github_org_policy.py
  ssot/github/branch-protection.yaml
  ssot/github/org-policy.yaml
Due: no-enterprise-deps

fix(dns): add shelf.insightpulseai.com redirect vhost + SSOT updates
  infra/deploy/nginx/shelf.insightpulseai.com.conf
  infra/dns/subdomain-registry.yaml
  ssot/domains/insightpulseai.com.yaml
  ssot/edge/nginx_cloudflare_map.yaml
Due: none

fix(dns): revert shelf redirect — shelf.nu is not ours, use 503 placeholder
  infra/deploy/nginx/shelf.insightpulseai.com.conf
  infra/dns/subdomain-registry.yaml
  ssot/domains/insightpulseai.com.yaml
  ssot/edge/nginx_cloudflare_map.yaml
Due: none

feat(deploy): activate shelf.insightpulseai.com → self-hosted Shelf.nu fork
  infra/deploy/nginx/shelf.insightpulseai.com.conf
  infra/dns/subdomain-registry.yaml
  ssot/domains/insightpulseai.com.yaml
  ssot/edge/nginx_cloudflare_map.yaml
Due: none

fix(dns): create 4 missing CF records + auth nginx vhost + SSOT sync
  infra/deploy/nginx/auth.insightpulseai.com.conf
  infra/dns/subdomain-registry.yaml
  ssot/domains/insightpulseai.com.yaml
  ssot/edge/nginx_cloudflare_map.yaml
Due: none

feat(governance): SSOT org taxonomy + secrets + PPM Clarity integration
  .env.example
  .github/workflows/ppm-clarity-integration-test.yml
  .github/workflows/ppm-clarity-lint.yml
  .github/workflows/validate-org-taxonomy.yml
  .github/workflows/validate-secrets-usage.yml
  automations/n8n/workflows/ppm-clarity-odoo-to-plane.json
  automations/n8n/workflows/ppm-clarity-plane-to-odoo.json
  automations/n8n/workflows/ppm-clarity-reconciliation.json
  automations/n8n/workflows/ppm-clarity-slack-commands.json
  docs/architecture/ORG_TAXONOMY.md
  docs/architecture/SSOT_BOUNDARIES.md
  docs/ops/PPM_CLARITY_PLANE_ODOO.md
  scripts/ci/validate_org_taxonomy.py
  scripts/ci/validate_secrets_usage.py
  scripts/ppm/odoo_client.py
  scripts/ppm/plane_client.py
  scripts/ppm/requirements.txt
  scripts/ppm/slack_notifier.py
  scripts/ppm/sync_engine.py
  scripts/ppm/tests/__init__.py
  scripts/ppm/tests/test_conflicts.py
  scripts/ppm/tests/test_field_ownership.py
  scripts/ppm/tests/test_idempotency.py
  scripts/ppm/tests/test_integration.py
  scripts/ppm/tests/test_slack_notifier.py
  spec/ppm-clarity-plane-odoo/constitution.md
  spec/ppm-clarity-plane-odoo/plan.md
  spec/ppm-clarity-plane-odoo/prd.md
  spec/ppm-clarity-plane-odoo/tasks.md
  ssot/github/org_repos.yaml
  ssot/secrets/registry.yaml
  supabase/migrations/20260305_create_ppm_clarity_schema.sql
  web/docs/evidence/20260305-1200+0800/ai-testing-automation/logs/analysis.log
  web/docs/evidence/20260305-1200+0800/ai-testing-automation/logs/implementation.log
  web/docs/evidence/20260305-1200+0800/platform-governance/logs/cross_track_consistency.log
  web/docs/evidence/20260305-1200+0800/platform-governance/logs/test_ppm_backend.log
  web/docs/evidence/20260305-1200+0800/platform-governance/logs/validation_org_taxonomy.log
  web/docs/evidence/20260305-1200+0800/platform-governance/logs/validation_secrets_ssot.log
  web/docs/evidence/20260305-1200+0800/platform-governance/logs/validation_secrets_usage.log
  web/docs/evidence/20260305-1200+0800/platform-governance/summary.json
Due: no-enterprise-deps, validate-spec-kit

feat(plane): Add Finance PPM template with API seeder
  .env.stage
  scripts/plane/seed_finops_from_xlsx.py
  ssot/plane/README.md
  ssot/plane/templates/finops_month_end.yaml
Due: no-enterprise-deps

fix(security): infrastructure hardening — env leak prevention, retention, auth matrix
  .env.dev
  .env.prod
  .gitignore
  apps/ops-console/.gitignore
  apps/ops-console/app/database/supabase-manager-client.tsx
  docs/architecture/DEPLOY_TARGET_MATRIX.md
  supabase/EDGE_FUNCTION_SECURITY.md
  supabase/migrations/20260305_ops_retention_schedule.sql
Due: none

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$
