Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$

ci(oca): prove gitaggregate hydration produces must-have addons
  .github/workflows/oca-hydration-proof.yml
  scripts/ci/check_oca_hydration_proof.py
Due: no-enterprise-deps

feat(rag-db): Supabase pgvector hybrid RRF RPC + schema + indexer sync
  docs/evidence/rag_hybrid_rrf/evidence_summary.json
  docs/evidence/rag_hybrid_rrf/upsert_dryrun.json
  scripts/index_corpus_registry.py
  scripts/rag/__init__.py
  scripts/rag/smoke_query.py
  scripts/rag/supabase_upsert.py
  supabase/migrations/20260303000001_rag_corpus_linkage.sql
  supabase/migrations/20260303000002_rag_hybrid_search_rrf.sql
Due: no-enterprise-deps

docs(ssot): add ssot/supabase/feature_adoption.yaml — verified feature registry
  docs/architecture/PLATFORM_REPO_TREE.md
  docs/architecture/SUPABASE_FEATURES_INTEGRATIONS_ADOPTION.md
  ssot/supabase/feature_adoption.yaml
Due: none

fix(rag): hotfix stemmer + upsert pipeline + smoke query evidence
  scripts/rag/smoke_query.py
  scripts/rag/supabase_upsert.py
  supabase/migrations/20260303000003_rag_hotfixes.sql
  web/docs/evidence/20260303-1030+0800/rag-hybrid-rrf/EVIDENCE.md
  web/docs/evidence/20260303-1030+0800/rag-hybrid-rrf/logs/smoke_results.json
  web/docs/evidence/20260303-1030+0800/rag-hybrid-rrf/logs/upsert_results.json
  web/docs/evidence/20260303-1030+0800/rag-hybrid-rrf/logs/upsert_spec_bundles.json
Due: no-enterprise-deps

ops: release contract + deploy-proof artifacts
  scripts/build_release_manifest.py
  ssot/runtime/release_contract.yaml
  ssot/runtime/releases/README.md
Due: no-enterprise-deps

feat(workspace): Notion-like workspace copilot MVP
  addons/ipai/ipai_workspace_core/__manifest__.py
  addons/ipai/ipai_workspace_core/data/copilot_tools.xml
  addons/ipai/ipai_workspace_core/models/__init__.py
  addons/ipai/ipai_workspace_core/models/workspace_block.py
  addons/ipai/ipai_workspace_core/models/workspace_copilot_page.py
  addons/ipai/ipai_workspace_core/models/workspace_evidence_pack.py
  addons/ipai/ipai_workspace_core/models/workspace_saved_query.py
  addons/ipai/ipai_workspace_core/models/workspace_tag.py
  addons/ipai/ipai_workspace_core/security/ir.model.access.csv
  addons/ipai/ipai_workspace_core/security/security.xml
  addons/ipai/ipai_workspace_core/views/workspace_evidence_pack_views.xml
  addons/ipai/ipai_workspace_core/views/workspace_menus.xml
  addons/ipai/ipai_workspace_core/views/workspace_page_views.xml
  addons/ipai/ipai_workspace_core/views/workspace_saved_query_views.xml
Due: no-enterprise-deps, odoo-manifest-check

feat(expense): Concur-like cash advance + monitoring MVP
  addons/ipai/ipai_hr_expense_liquidation/__manifest__.py
  addons/ipai/ipai_hr_expense_liquidation/data/copilot_tools.xml
  addons/ipai/ipai_hr_expense_liquidation/data/cron_monitoring.xml
  addons/ipai/ipai_hr_expense_liquidation/models/__init__.py
  addons/ipai/ipai_hr_expense_liquidation/models/hr_expense_liquidation.py
  addons/ipai/ipai_hr_expense_liquidation/models/hr_expense_policy_rule.py
  addons/ipai/ipai_hr_expense_liquidation/models/hr_expense_policy_violation.py
  addons/ipai/ipai_hr_expense_liquidation/security/ir.model.access.csv
  addons/ipai/ipai_hr_expense_liquidation/views/expense_liquidation_views.xml
  addons/ipai/ipai_hr_expense_liquidation/views/expense_policy_views.xml
  addons/ipai/ipai_hr_expense_liquidation/views/menu.xml
  spec/expense-cash-advance/tasks.md
Due: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

feat(expense): Concur-like cash advance + monitoring MVP
  addons/ipai/ipai_hr_expense_liquidation/__manifest__.py
  addons/ipai/ipai_hr_expense_liquidation/data/copilot_tools.xml
  addons/ipai/ipai_hr_expense_liquidation/data/cron_monitoring.xml
  addons/ipai/ipai_hr_expense_liquidation/models/__init__.py
  addons/ipai/ipai_hr_expense_liquidation/models/hr_expense_liquidation.py
  addons/ipai/ipai_hr_expense_liquidation/models/hr_expense_policy_rule.py
  addons/ipai/ipai_hr_expense_liquidation/models/hr_expense_policy_violation.py
  addons/ipai/ipai_hr_expense_liquidation/security/ir.model.access.csv
  addons/ipai/ipai_hr_expense_liquidation/views/expense_liquidation_views.xml
  addons/ipai/ipai_hr_expense_liquidation/views/expense_policy_views.xml
  addons/ipai/ipai_hr_expense_liquidation/views/menu.xml
  addons/ipai/ipai_workspace_core/__manifest__.py
  addons/ipai/ipai_workspace_core/data/copilot_tools.xml
  addons/ipai/ipai_workspace_core/models/__init__.py
  addons/ipai/ipai_workspace_core/models/workspace_block.py
  addons/ipai/ipai_workspace_core/models/workspace_copilot_page.py
  addons/ipai/ipai_workspace_core/models/workspace_evidence_pack.py
  addons/ipai/ipai_workspace_core/models/workspace_saved_query.py
  addons/ipai/ipai_workspace_core/models/workspace_tag.py
  addons/ipai/ipai_workspace_core/security/ir.model.access.csv
  addons/ipai/ipai_workspace_core/security/security.xml
  addons/ipai/ipai_workspace_core/views/workspace_evidence_pack_views.xml
  addons/ipai/ipai_workspace_core/views/workspace_menus.xml
  addons/ipai/ipai_workspace_core/views/workspace_page_views.xml
  addons/ipai/ipai_workspace_core/views/workspace_saved_query_views.xml
  spec/expense-cash-advance/tasks.md
Due: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

chore(ci): fix docs-refresh-gate + agent-instructions-drift
  CLAUDE.md
  apps/docs/content/_generated/reference/agents.mdx
Due: none

chore(deploy): sync edge SSOT to prod reality — 0 drift items
  datasets/agent_troubleshoot/edge/20260304-0045+0800.json
  datasets/agent_troubleshoot/edge/20260304-0225+0800.json
  docs/evidence/EDGE_LOCAL_CONTEXT.md
  docs/evidence/edge_drift_20260304-0127+0800.md
  docs/evidence/edge_prod_sync_20260304.md
  docs/runbooks/EDGE_NGINX_CLOUDFLARE.md
  infra/dns/subdomain-registry.yaml
  infra/nginx/mcp.insightpulseai.com.conf
  infra/nginx/n8n.insightpulseai.com.conf
  infra/nginx/plane.insightpulseai.com.conf
  infra/nginx/superset.insightpulseai.com.conf
  scripts/edge/audit_nginx_cloudflare.sh
  scripts/edge/generate_training_data.sh
  ssot/edge/drift_report.json
  ssot/edge/nginx_cloudflare_map.yaml
Due: none

fix(ci): remove .net refs from nginx configs + regenerate DNS artifacts
  docs/architecture/runtime_identifiers.json
  infra/cloudflare/envs/prod/subdomains.auto.tfvars
  infra/dns/dns-validation-spec.json
  infra/nginx/mcp.insightpulseai.com.conf
  infra/nginx/n8n.insightpulseai.com.conf
Due: none

Add files via upload
  web/web/public/ChatGPT Image Jan 22, 2026, 11_25_59 AM - Edited.png
  web/web/public/ChatGPT Image Jan 22, 2026, 11_25_59 AM.png
  web/web/public/ChatGPT Image Jan 28, 2026, 05_55_39 PM.png
  web/web/public/ChatGPT Image Jan 28, 2026, 05_55_50 PM.png
Due: none

feat(web): add brand assets and update to teal color palette
  web/web/public/icons/analytics.svg
  web/web/public/icons/api.svg
  web/web/public/icons/automation.svg
  web/web/public/icons/collaboration.svg
  web/web/public/icons/integration.svg
  web/web/public/icons/mobile.svg
  web/web/public/icons/reporting.svg
  web/web/public/icons/security.svg
  web/web/public/icons/workflow.svg
  web/web/public/icons/workflows.svg
  web/web/public/images/companies/company-1.svg
  web/web/public/images/companies/company-2.svg
  web/web/public/images/companies/company-3.svg
  web/web/public/images/companies/company-4.svg
  web/web/public/images/companies/company-5.svg
  web/web/public/images/features/big-feature.png
  web/web/public/images/features/finance.png
  web/web/public/images/features/projects.png
  web/web/public/logo-icon.svg
  web/web/public/logo.svg
  web/web/src/app/globals.css
Due: none

feat(ai_widget): inline composer AI with presets, multi-turn threads, shared bridge
  addons/ipai/ipai_ai_copilot/__manifest__.py
  addons/ipai/ipai_ai_copilot/controllers/copilot.py
  addons/ipai/ipai_ai_widget/__manifest__.py
  addons/ipai/ipai_ai_widget/controllers/_bridge_helper.py
  addons/ipai/ipai_ai_widget/controllers/ai_proxy.py
  addons/ipai/ipai_ai_widget/data/presets.xml
  addons/ipai/ipai_ai_widget/models/__init__.py
  addons/ipai/ipai_ai_widget/models/ipai_ai_message.py
  addons/ipai/ipai_ai_widget/models/ipai_ai_preset.py
  addons/ipai/ipai_ai_widget/models/ipai_ai_thread.py
  addons/ipai/ipai_ai_widget/security/ir.model.access.csv
  addons/ipai/ipai_ai_widget/static/src/js/ai_inline_panel.js
  addons/ipai/ipai_ai_widget/static/src/js/composer_ai_action.js
  addons/ipai/ipai_ai_widget/static/src/js/composer_ai_patch.js
  addons/ipai/ipai_ai_widget/static/src/js/preset_chips.js
  addons/ipai/ipai_ai_widget/static/src/scss/ai_composer.scss
  addons/ipai/ipai_ai_widget/static/src/xml/composer_ai_patch.xml
  addons/ipai/ipai_ai_widget/static/src/xml/composer_ai_templates.xml
  addons/ipai/ipai_ai_widget/tests/test_ai_widget.py
Due: no-enterprise-deps, odoo-manifest-check

fix(ai_widget): add _bridge_helper import + fix test mock paths
  addons/ipai/ipai_ai_widget/controllers/__init__.py
  addons/ipai/ipai_ai_widget/tests/test_ai_widget.py
Due: no-enterprise-deps

fix(ipai_ai_widget): correct settings view xpath for Odoo 19
  addons/ipai/ipai_ai_widget/views/res_config_settings_views.xml
Due: none

fix(deploy): correct container name, repo path, and DB params for prod
  .github/workflows/deploy-odoo-prod.yml
  scripts/deploy_odoo_upgrade.sh
Due: none

feat(ops): self-hosted runner + integration inventory SSOT + Makefile targets
  .github/workflows/deploy-odoo-prod.yml
  .github/workflows/integration-inventory-guard.yml
  Makefile
  scripts/ci/install-github-runner.sh
  ssot/integrations/_index.yaml
  ssot/integrations/platform_inventory.yaml
Due: none

feat(github): GitHub App SSOT governance + auth helpers + drift guard
  .github/workflows/github-app-ssot-guard.yml
  docs/github/pulser-hub-permissions.md
  scripts/ci/check_github_app_ssot.py
  scripts/github_app/__init__.py
  scripts/github_app/auth.py
  ssot/github/apps/org-installed.yaml
  ssot/github/apps/pulser-hub.yaml
Due: no-enterprise-deps

fix(github): token-type hygiene + installation scope enforcement + deny direct push
  .github/workflows/deny-direct-main-push.yml
  scripts/ci/check_github_app_ssot.py
  ssot/github/apps/pulser-hub.yaml
Due: no-enterprise-deps
