Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$

fix(docker): add --ignore-installed for OCA deps — typing-extensions conflict
  odoo/odoo/odoo/Dockerfile
Due: none

refactor(databricks): upgrade bundles foundation to production-grade specs
  .github/workflows/databricks-bundles-ci.yml
  databricks/README.md
  databricks/bundles/foundation_python/databricks.yml
  databricks/bundles/foundation_python/pyproject.toml
  databricks/bundles/foundation_python/resources/jobs/foundation_python.job.yml
  databricks/bundles/foundation_python/src/ipai_data_intelligence/jobs/__init__.py
  databricks/bundles/foundation_python/src/ipai_data_intelligence/jobs/smoke.py
  databricks/bundles/foundation_python/src/ipai_data_intelligence/quality/__init__.py
  databricks/bundles/foundation_python/src/ipai_data_intelligence/transforms/__init__.py
  databricks/bundles/foundation_python/tests/test_smoke.py
  databricks/bundles/lakeflow_ingestion/databricks.yml
  databricks/bundles/lakeflow_ingestion/pyproject.toml
  databricks/bundles/lakeflow_ingestion/resources/jobs/lakeflow_ingestion.job.yml
  databricks/bundles/lakeflow_ingestion/resources/pipelines/lakeflow_ingestion.pipeline.yml
  databricks/bundles/lakeflow_ingestion/src/lakeflow_ingestion_etl/__init__.py
  databricks/bundles/lakeflow_ingestion/src/lakeflow_ingestion_etl/pipeline.py
  databricks/bundles/patterns/KNOWLEDGE_BASE_CROSSWALK.md
  databricks/bundles/patterns/README.md
  databricks/bundles/sql_warehouse/databricks.yml
  databricks/bundles/sql_warehouse/resources/jobs/sql_warehouse.job.yml
  databricks/shared/README.md
  databricks/shared/variables.yml
  docs/architecture/DATABRICKS_BUNDLES_BASELINE.md
  spec/databricks-bundles-foundation/constitution.md
  spec/databricks-bundles-foundation/plan.md
  spec/databricks-bundles-foundation/prd.md
  spec/databricks-bundles-foundation/tasks.md
Due: no-enterprise-deps, validate-spec-kit

fix(docker): skip OCA COPY — modules hydrated at runtime, not in build context
  odoo/odoo/odoo/Dockerfile
Due: none

feat(databricks): add Odoo.sh benchmark promotion model + Azure DevOps pipeline
  azure-pipelines/databricks-bundles-ci.yml
  azure-pipelines/databricks-bundles-promote.yml
  docs/architecture/DATABRICKS_BUNDLES_BASELINE.md
  spec/databricks-bundles-foundation/constitution.md
  spec/databricks-bundles-foundation/plan.md
  spec/databricks-bundles-foundation/prd.md
Due: validate-spec-kit

docs(databricks): align spec kit to Microsoft reference architecture
  docs/architecture/DATABRICKS_BUNDLES_BASELINE.md
  spec/databricks-bundles-foundation/constitution.md
  spec/databricks-bundles-foundation/plan.md
  spec/databricks-bundles-foundation/prd.md
Due: validate-spec-kit

fix(databricks): correct ADLS storage account name in JDBC extract notebook
  infra/databricks/notebooks/bronze/jdbc_odoo_extract.py
Due: no-enterprise-deps

docs(architecture): add multitenancy model — per-layer shared vs isolated matrix
  docs/architecture/MULTITENANCY_MODEL.md
Due: none

docs(architecture): add services matrix, resource consolidation, multitenancy model
  ssot/azure/resource-consolidation.yaml
  ssot/azure/services-matrix.yaml
Due: none

docs(ssot): add canonical platform services matrix with tier model
  ssot/platform/services-matrix.yaml
Due: none

docs(governance): add GitHub + Entra target state configuration
  ssot/governance/github-entra-target-state.yaml
Due: none

docs(governance): add Databricks auth target + enterprise target state matrix
  docs/governance/ENTERPRISE_TARGET_STATE_MATRIX.md
  ssot/governance/databricks-auth-target.yaml
Due: none

docs(governance): add VS Code tooling target state + canonical workspace
  .vscode/extensions.json
  InsightPulseAI.code-workspace
  docs/governance/VSCODE_TOOLING_TARGET_STATE.md
Due: none

refactor(governance): replace monolithic workspace with two-level authority model
  InsightPulseAI.code-workspace
  docs/governance/VSCODE_CLAUDE_CODE_COMPATIBILITY.md
Due: none

fix(databricks): resolve bundle hosts + add dev tooling target state
  databricks/bundles/foundation_python/databricks.yml
  databricks/bundles/lakeflow_ingestion/databricks.yml
  databricks/bundles/sql_warehouse/databricks.yml
  docs/governance/DEV_TOOLING_TARGET_STATE.md
Due: none

docs(governance): upgrade tooling target to live baseline with workspace discipline
  docs/governance/DEV_TOOLING_TARGET_STATE.md
Due: none

docs(architecture): add agent skills + knowledge base architecture
  docs/architecture/AGENT_SKILLS_KNOWLEDGE_BASE.md
Due: none

docs(governance): add test strategy target state — repo-native + Databricks + bounded Test Plans
  docs/governance/TEST_STRATEGY_TARGET_STATE.md
Due: none

docs(governance): add code authority model + traceability chain + Test Plans target
  docs/governance/DEV_TOOLING_TARGET_STATE.md
Due: none

docs(architecture): add canonical service-plane split v1.5.0
  docs/architecture/PLATFORM_TARGET_STATE.md
Due: none

docs(architecture): add Entra ↔ Odoo ↔ Foundry identity model
  docs/architecture/PLATFORM_TARGET_STATE.md
Due: none

feat(copilot): add ipai_odoo_copilot spec kit + governance patches
  docs/governance/DEV_TOOLING_TARGET_STATE.md
  docs/governance/TEST_STRATEGY_TARGET_STATE.md
  spec/ipai-odoo-copilot/constitution.md
  spec/ipai-odoo-copilot/plan.md
  spec/ipai-odoo-copilot/prd.md
  spec/ipai-odoo-copilot/tasks.md
Due: validate-spec-kit
