Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

no-enterprise-deps:
  name: No Enterprise Dependencies
  entry: bash -c 'scripts/policy-check.sh --diff || true'
  language: system
  pass_filenames: false

validate-spec-kit:
  name: Validate Spec Kit
  entry: bash -c 'scripts/validate-spec-kit.sh || true'
  language: system
  pass_filenames: false

odoo-manifest-check:
  name: Odoo Manifest Validator
  entry: python3 scripts/validate_manifest.py
  language: system
  pass_filenames: false

docs(finance-ppm): spec updates for email orchestration
  spec/finance-ppm/plan.md
  spec/finance-ppm/prd.md
Due: validate-spec-kit

feat(spec): add odoo platform personas + release gates control-plane spec kits
  spec/odoo-platform-personas/constitution.md
  spec/odoo-platform-personas/plan.md
  spec/odoo-platform-personas/prd.md
  spec/odoo-platform-personas/tasks.md
  spec/odoo-release-gates-control-plane/constitution.md
  spec/odoo-release-gates-control-plane/plan.md
  spec/odoo-release-gates-control-plane/prd.md
  spec/odoo-release-gates-control-plane/tasks.md
Due: validate-spec-kit

chore(agents): sandbox-safe file-write policy — skill + runbook + persona constraints
  agents/personas/automation_specialist.md
  agents/personas/data_forge.md
  agents/personas/devops_prime.md
  agents/personas/odoo_architect.md
  agents/personas/supabase_ssot.md
  agents/personas/ui_craft.md
  agents/skills/file-writer/SKILL.md
  docs/runbooks/RB_AGENT_TASK_SPAWNING.md
Due: none

feat(mail): add ipai_zoho_mail_api — direct Zoho Mail API transport for Odoo
  addons/ipai/ipai_zoho_mail_api/__init__.py
  addons/ipai/ipai_zoho_mail_api/__manifest__.py
  addons/ipai/ipai_zoho_mail_api/data/ir_mail_server.xml
  addons/ipai/ipai_zoho_mail_api/models/__init__.py
  addons/ipai/ipai_zoho_mail_api/models/ir_mail_server.py
  addons/ipai/ipai_zoho_mail_api/services/__init__.py
  addons/ipai/ipai_zoho_mail_api/services/zoho_client.py
  addons/ipai/ipai_zoho_mail_api/tests/__init__.py
  addons/ipai/ipai_zoho_mail_api/tests/test_zoho_client.py
  scripts/setup_zoho_mail_api.sh
  scripts/verify_zoho_mail_api.py
  supabase/functions/zoho-mail-bridge/index.ts
Due: no-enterprise-deps, odoo-manifest-check

docs(governance): add Engineering Execution Playbook
  docs/governance/ENGINEERING_PLAYBOOK.md
Due: none

fix(ipai_zoho_mail_api): correct MailDeliveryException import for Odoo 19
  addons/ipai/ipai_zoho_mail_api/models/ir_mail_server.py
Due: no-enterprise-deps

feat(mail): Mailgun outbound-first transport for mg.insightpulseai.com
  addons/ipai/ipai_mailgun_smtp/__init__.py
  addons/ipai/ipai_mailgun_smtp/__manifest__.py
  addons/ipai/ipai_mailgun_smtp/data/ir_mail_server.xml
  infra/dns/mailgun_mg_insightpulseai_com.yaml
  scripts/setup_mailgun_smtp_password.sh
Due: no-enterprise-deps, odoo-manifest-check

fix(oca): remove anglo_saxon_accounting from account_usability to prevent Odoo 19 Owl crash
  runtime/patches/README.md
  runtime/patches/oca_account_usability_odoo19_anglo_saxon.patch
  web/docs/evidence/20260227-0138+0800/odoo-anglo-saxon-fix/logs/verify_plan.log
Due: none

fix(account): add ipai_account_settings_compat to resolve OwlError
  addons/ipai/ipai_account_settings_compat/__init__.py
  addons/ipai/ipai_account_settings_compat/__manifest__.py
  addons/ipai/ipai_account_settings_compat/models/__init__.py
  addons/ipai/ipai_account_settings_compat/models/res_config_settings.py
Due: no-enterprise-deps, odoo-manifest-check

feat(ops): automate Cloudflare DNS + Mailgun verify for mg.insightpulseai.com
  .gitignore
  artifacts/dns/.gitkeep
  artifacts/dns/cloudflare_records.json
  docs/ops/email/MAILGUN_OUTBOUND_AUTOMATION.md
  infra/dns/dns-validation-spec.json
  scripts/apply_dns_cloudflare.py
  scripts/generate-dns-artifacts.sh
  scripts/verify_mailgun_domain.py
Due: no-enterprise-deps

docs(ops): add Mailgun SMTP port contract + TLS policy to automation runbook
  docs/ops/email/MAILGUN_OUTBOUND_AUTOMATION.md
Due: none

feat(ops): automate Cloudflare DNS + Mailgun verify for mg.insightpulseai.com (#393)
  .gitignore
  artifacts/dns/.gitkeep
  artifacts/dns/cloudflare_records.json
  docs/ops/email/MAILGUN_OUTBOUND_AUTOMATION.md
  infra/dns/dns-validation-spec.json
  scripts/apply_dns_cloudflare.py
  scripts/generate-dns-artifacts.sh
  scripts/verify_mailgun_domain.py
Due: no-enterprise-deps

fix(odoo): mount OCA repos referenced by addons_path + add CI guardrail
  .github/workflows/ci.yml
  addons/ipai/ipai_account_settings_compat/__manifest__.py
  infra/stack/compose.stack.yml
  scripts/validate_addons_path.py
Due: no-enterprise-deps, odoo-manifest-check

chore(ops): codify Mailgun outbound env + verification
  docs/ops/email/OUTBOUND_ROUTING.md
  scripts/verify_mailgun_outbound.py
  ssot/env/mailgun.env.example
Due: no-enterprise-deps

fix(odoo): add --odoo-check semantic mode to addons_path validator
  scripts/validate_addons_path.py
Due: no-enterprise-deps

fix(mail): update ipai_mail_bridge_zoho send() for Odoo 19 compatibility
  addons/ipai/ipai_mail_bridge_zoho/models/mail_mail.py
Due: no-enterprise-deps

fix(mail): deterministic Zoho transport + OCA patch + prod addons_path cleanup
  addons/ipai/ipai_zoho_mail_api/models/__init__.py
  addons/ipai/ipai_zoho_mail_api/models/ir_mail_server.py
  addons/ipai/ipai_zoho_mail_api/models/mail_mail.py
  runtime/patches/oca_mail_tracking_odoo19_prepare_outgoing_list.patch
  runtime/patches/odoo-test-helper/0001-odoo19-metamodel-module_to_models.patch
  scripts/apply_runtime_patches.sh
  scripts/mail/e2e_zoho_mail_test.py
Due: no-enterprise-deps

fix(mail): harden PR #396 — CI gate, shim warnings, patch inventory, E2E JSON
  .github/workflows/vendor-patch-verify.yml
  addons/ipai/ipai_zoho_mail_api/models/mail_mail.py
  runtime/patches/README.md
  scripts/mail/e2e_zoho_mail_test.py
Due: no-enterprise-deps

chore(ci): track requirements-constraints.txt for vendor-patch CI gate
  requirements-constraints.txt
Due: none

fix(mail): deterministic Zoho transport + OCA patch + CI hardening
  .github/workflows/vendor-patch-verify.yml
  addons/ipai/ipai_zoho_mail_api/models/__init__.py
  addons/ipai/ipai_zoho_mail_api/models/ir_mail_server.py
  addons/ipai/ipai_zoho_mail_api/models/mail_mail.py
  requirements-constraints.txt
  runtime/patches/README.md
  runtime/patches/oca_mail_tracking_odoo19_prepare_outgoing_list.patch
  runtime/patches/odoo-test-helper/0001-odoo19-metamodel-module_to_models.patch
  scripts/apply_runtime_patches.sh
  scripts/mail/e2e_zoho_mail_test.py
Due: no-enterprise-deps

chore(deps): bump pytest-cov from 5.0.0 to 7.0.0
  requirements.txt
Due: none

feat(mail): add Mailgun text e2e harness (e2e_mailgun_text.py + run wrapper)
  scripts/mail/e2e_mailgun_text.py
  scripts/mail/run_e2e_mailgun_text.sh
Due: no-enterprise-deps

chore(ops): codify Mailgun outbound env + verification (#394)
  docs/ops/email/OUTBOUND_ROUTING.md
  scripts/verify_mailgun_outbound.py
  ssot/env/mailgun.env.example
Due: no-enterprise-deps

fix(odoo): mount OCA repos referenced by addons_path + add CI guardrail (#395)
  .github/workflows/ci.yml
  addons/ipai/ipai_account_settings_compat/__manifest__.py
  addons/ipai/ipai_mail_bridge_zoho/models/mail_mail.py
  infra/stack/compose.stack.yml
  scripts/validate_addons_path.py
Due: no-enterprise-deps, odoo-manifest-check

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$
