Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

no-enterprise-deps:
  name: No Enterprise Dependencies
  entry: bash -c 'scripts/policy-check.sh --diff || true'
  language: system
  pass_filenames: false

validate-spec-kit:
  name: Validate Spec Kit
  entry: bash -c 'scripts/validate-spec-kit.sh || true'
  language: system
  pass_filenames: false

odoo-manifest-check:
  name: Odoo Manifest Validator
  entry: python3 scripts/validate_manifest.py
  language: system
  pass_filenames: false

🔧 chore(agents): commit untracked strategy-aligned files
  agents/evals/odoo-copilot/LATEST.md
  agents/evals/odoo-copilot/dataset.jsonl
  agents/evals/odoo-copilot/datasets/eval-dataset-v2.json
  agents/evals/odoo-copilot/results/.gitkeep
  agents/evals/odoo-copilot/results/eval-20260315-full-final.json
  agents/evals/odoo-copilot/results/eval-run-20260314.json
  agents/evals/odoo-copilot/rubric.md
  agents/evals/odoo-copilot/thresholds.yaml
  agents/foundry/tools/agents__tools__document_intelligence__v1.manifest.yaml
  agents/foundry/tools/agents__tools__odoo_actions__v1.manifest.yaml
  agents/skills/platform/databricks-cli-bundles/SKILL.md
  agents/skills/platform/enterprise-benchmark-doctrine/SKILL.md
Due: none

docs(benchmarks): add Foundry vs Databricks unified approach benchmark (weight 1.0)
  agents/knowledge/benchmarks/REGISTRY.md
  agents/knowledge/benchmarks/foundry-vs-databricks-unified.md
Due: none

feat(spec): add Odoo Whole-Landscape on Azure spec bundle + SAP benchmark
  agents/knowledge/benchmarks/sap-whole-landscape-azure.md
  odoo/spec/odoo-whole-landscape-azure/constitution.md
  odoo/spec/odoo-whole-landscape-azure/prd.md
  odoo/spec/odoo-whole-landscape-azure/tasks.md
Due: none

docs(strategy): add one-page executive summary
  odoo/docs/strategy/EXECUTIVE_SUMMARY.md
Due: none

docs(strategy): tighten executive summary — board-ready version
  odoo/docs/strategy/EXECUTIVE_SUMMARY.md
Due: none

docs(strategy): add CEO memo, investor one-pager, and slide deck versions
  odoo/docs/strategy/EXECUTIVE_BRIEF_CEO.md
  odoo/docs/strategy/EXECUTIVE_BRIEF_INVESTOR.md
  odoo/docs/strategy/EXECUTIVE_BRIEF_SLIDES.md
Due: none

docs(benchmarks): add BIR eServices + eBIRForms compliance benchmark
  agents/knowledge/benchmarks/bir-eservices-ebirforms.md
Due: none

feat(bir): add IPAI tax engine spec bundle + 3 BIR Excel form templates
  odoo/docs/bir/BIR_1601C_Monthly_Withholding_Tax.xlsx
  odoo/docs/bir/BIR_2307_Certificate_Creditable_Tax_Withheld.xlsx
  odoo/docs/bir/BIR_2550M_Monthly_VAT_Declaration.xlsx
  odoo/spec/ipai-tax-engine/constitution.md
  odoo/spec/ipai-tax-engine/prd.md
  odoo/spec/ipai-tax-engine/tasks.md
Due: none

feat(bir): add tax engine schema migration + tax-compute Edge Function
  odoo/supabase/functions/tax-compute/index.ts
  odoo/supabase/migrations/20260317_bir_tax_engine.sql
Due: none

feat(agent-platform): add builder-factory workspace + blueprints + OpenAI benchmarks
  agent-platform/apps/builder-factory/README.md
  agent-platform/apps/builder-factory/spec/builder-factory/constitution.md
  agent-platform/docs/architecture/BUILDER_FACTORY_RUNTIME.md
  agent-platform/docs/architecture/FOUNDRY_INTEGRATION.md
  agent-platform/docs/architecture/ORCHESTRATION_BOUNDARIES.md
  agents/knowledge/benchmarks/openai-cookbook.md
  agents/knowledge/benchmarks/openai-prompt-packs.md
  agents/templates/builder-factory/agent-blueprint.yaml
  agents/templates/builder-factory/eval-blueprint.yaml
  agents/templates/builder-factory/judge-blueprint.yaml
  agents/templates/builder-factory/skill-blueprint.yaml
  agents/templates/builder-factory/team-blueprint.yaml
Due: none

feat(spec): add VS Code dev environment spec bundle
  odoo/spec/vscode-dev-environment/constitution.md
  odoo/spec/vscode-dev-environment/prd.md
  odoo/spec/vscode-dev-environment/tasks.md
Due: none

fix(infra): correct prod RG name rg-ipai-production → rg-ipai-shared-prod
  infra/azure/front-door-routes.yaml
  infra/ci/azure-pipelines.yml
  odoo/docs/architecture/AZURE_DEVOPS_RUNTIME_STATE.md
  odoo/docs/operations/AZURE_ODOO_AUTOMATION.md
  odoo/infra/azure/front-door-routes.yaml
  odoo/infra/ci/azure-pipelines.yml
  odoo/odoo/azure-pipelines.yml
  odoo/odoo/docs/operations/AZURE_ODOO_AUTOMATION.md
  odoo/odoo/infra/azure/front-door-routes.yaml
  odoo/ssot/azure/azure_devops.yaml
Due: none

docs(azure): add resource rationalization matrix — keep/review/retire/consolidate
  ssot/azure/resource_rationalization.yaml
Due: none

fix(azdo): switch all pipeline stages to hosted pool + correct prod RG name
  odoo/azure-pipelines.yml
Due: none

docs: publish wholesale SaaS ERP azure architecture deep research and ADRs
  agents/knowledge/benchmarks/wholesale-saas-erp-azure.md
  docs/architecture/ADR_ERP_PLATFORM_ROLE_SPLIT.md
  docs/architecture/ADR_VSCODE_AGENTIC_ENGINEERING_MODEL.md
  docs/research/wholesale-saas-erp-azure-architecture-study.md
  ssot/research/vscode-target-capabilities.yaml
  ssot/research/wholesale-saas-erp-azure.yaml
Due: none

docs: establish wholesale SaaS ERP azure execution spec bundle
  spec/wholesale-saas-erp-azure/constitution.md
  spec/wholesale-saas-erp-azure/plan.md
  spec/wholesale-saas-erp-azure/prd.md
  spec/wholesale-saas-erp-azure/tasks.md
Due: validate-spec-kit

docs: add actionable insights issue template and fix typo
  docs/operations/ACTIONABLE_INSIGHTS_ISSUE.md
  spec/wholesale-saas-erp-azure/tasks.md
Due: validate-spec-kit

docs: adopt 2026 terminology corrections
  docs/operations/ACTIONABLE_INSIGHTS_ISSUE.md
  spec/wholesale-saas-erp-azure/constitution.md
  spec/wholesale-saas-erp-azure/plan.md
  spec/wholesale-saas-erp-azure/prd.md
  spec/wholesale-saas-erp-azure/tasks.md
Due: validate-spec-kit

docs: establish repo file taxonomy policy and ci enforcement rules
  .github/workflows/file-taxonomy-check.yml
  .github/workflows/naming-drift-check.yml
  .github/workflows/spec-kit-enforce.yml
  docs/architecture/FILE_TAXONOMY_AND_NAMING_POLICY.md
  scripts/ci/check_file_taxonomy.py
  scripts/ci/check_naming_drift.py
  scripts/ci/check_spec_bundle.py
  scripts/ci/validate_platform_strategy.py
Due: no-enterprise-deps

docs: define canonical azure operator view target state and ssot
  docs/architecture/AZURE_OPERATOR_VIEW_TARGET_STATE.md
  ssot/azure/operator_view.yaml
Due: none

feat: add robust devcontainer definitions for erp and infra
  .devcontainer/erp/Dockerfile
  .devcontainer/erp/devcontainer.json
  .devcontainer/infra/Dockerfile
  .devcontainer/infra/devcontainer.json
  docs/operations/ACTIONABLE_INSIGHTS_ISSUE.md
  spec/wholesale-saas-erp-azure/tasks.md
Due: validate-spec-kit

feat: establish local and remote Azure DevOps target operating model via Makefile bridges
  .azure/pipelines/cd-deployment.yml
  .azure/pipelines/pr-validation.yml
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  Makefile
  docs/architecture/AZURE_DEVOPS_OPERATING_MODEL.md
  docs/operations/ACTIONABLE_INSIGHTS_ISSUE.md
  spec/wholesale-saas-erp-azure/tasks.md
  ssot/azure/azure_devops.yaml
Due: validate-spec-kit

chore(ci): add file taxonomy policy, SSOT rules, and CI enforcement baseline
  .github/workflows/file-taxonomy-check.yml
  .github/workflows/naming-drift-check.yml
  .github/workflows/spec-bundle-check.yml
  docs/governance/FILE_TAXONOMY_AND_NAMING_POLICY.md
  scripts/ci/check_file_taxonomy.py
  scripts/ci/check_naming_drift.py
  scripts/ci/check_spec_bundle.py
  scripts/ci/validate_file_taxonomy_ssot.py
  ssot/governance/file_taxonomy.yaml
Due: no-enterprise-deps

fix(azdo): switch all pipeline stages to hosted pool + correct prod RG name (#602)
  odoo/azure-pipelines.yml
Due: none

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$
