Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$

feat(finance-ppm): installable ipai_finance_close_seed module
  addons/ipai/ipai_finance_close_seed/__init__.py
  addons/ipai/ipai_finance_close_seed/__manifest__.py
  addons/ipai/ipai_finance_close_seed/data/01_stages.xml
  addons/ipai/ipai_finance_close_seed/data/02_tags.xml
  addons/ipai/ipai_finance_close_seed/data/03_partners_employees.xml
  addons/ipai/ipai_finance_close_seed/data/04_projects.xml
  addons/ipai/ipai_finance_close_seed/data/05_milestones.xml
  addons/ipai/ipai_finance_close_seed/data/06_tasks_month_end.xml
  addons/ipai/ipai_finance_close_seed/data/07_tasks_bir_tax.xml
  addons/ipai/ipai_finance_close_seed/data/tasks_bir.csv
  addons/ipai/ipai_finance_close_seed/data/tasks_bir.xml
  addons/ipai/ipai_finance_close_seed/data/tasks_month_end.csv
  addons/ipai/ipai_finance_close_seed/data/tasks_month_end.xml
Due: no-enterprise-deps, odoo-manifest-check

feat(mcp): add Claude.ai → n8n SSE connector skill
  .claude/superclaude/skills/claude-ai-n8n-connector/SKILL.md
  .claude/superclaude/skills/claude-ai-n8n-connector/connector-config.json
  .claude/superclaude/skills/claude-ai-n8n-connector/examples/odoo-query-examples.md
  .claude/superclaude/skills/claude-ai-n8n-connector/examples/supabase-ops-examples.md
  .claude/superclaude/skills/claude-ai-n8n-connector/examples/workflow-deployment-examples.md
  .claude/superclaude/skills/claude-ai-n8n-connector/setup-guide.md
  automations/n8n/workflows/claude-ai-mcp/README.md
  automations/n8n/workflows/claude-ai-mcp/read-only/01_mcp_odoo_query.json
  automations/n8n/workflows/claude-ai-mcp/read-only/02_mcp_supabase_ops.json
  automations/n8n/workflows/claude-ai-mcp/read-only/03_mcp_finance_summary.json
  automations/n8n/workflows/claude-ai-mcp/read-only/04_mcp_infrastructure_health.json
  automations/n8n/workflows/claude-ai-mcp/read-only/05_mcp_workflow_monitor.json
  automations/n8n/workflows/claude-ai-mcp/read-only/06_mcp_ssot_sor_sync_trigger.json
  automations/n8n/workflows/claude-ai-mcp/write-path/07_mcp_workflow_manager.json
  automations/n8n/workflows/claude-ai-mcp/write-path/08_mcp_github_operations.json
  automations/n8n/workflows/claude-ai-mcp/write-path/09_mcp_artifact_deployer.json
  docs/ai/CLAUDE_AI_N8N_CONNECTOR.md
Due: none

Establish canonical .com domain SSOT and enforce via CI gates (#368)
  .github/workflows/domain-lint.yml
  README.md
  agents/loops/clarity_ppm_reverse.yaml
  agents/odoo_reverse_mapper.yaml
  docs/architecture/CANONICAL_URLS.md
  docs/templates/ipai-ops-stack/caddy/Caddyfile
  ipai-platform/.env.example
  ipai-platform/nginx/conf.d/sites/odoo-prod.conf
  ipai-platform/odoo/odoo.conf
  ipai-platform/scripts/setup-tls.sh
  reports/url_inventory.json
  scripts/audit/env.example
  scripts/verify-service-health.sh
  spec/insightpulseai-com/constitution.md
  spec/insightpulseai-com/plan.md
  spec/insightpulseai-com/prd.md
  spec/insightpulseai-com/tasks.md
  specs/003-ai-enrichment/DEPLOYMENT.md
  specs/003-ai-enrichment/odoo_automation_action.py
  specs/INSTALL_SEQUENCE.md
  specs/README.md
  supabase/migrations/202512201001_EXTERNAL_INTEGRATIONS.sql
  supabase/migrations/20251227_database_webhooks.sql
  supabase/migrations/20260124000001_ops_ssot_base.sql
  workflows/SHADOW_ENTERPRISE_STACK.md
  workflows/WEBHOOK_DEPLOYMENT_GUIDE.md
  workflows/n8n_bir_deadline_webhook.json
  workflows/n8n_ocr_expense_webhook.json
  workflows/n8n_scout_sync_webhook.json
Due: no-enterprise-deps, validate-spec-kit

docs(research): OpenClaw use-case recon + repo gap analysis (#369)
  docs/research/openclaw/OPPORTUNITIES.md
  docs/research/openclaw/REPO_GAP_ANALYSIS.md
  docs/research/openclaw/USE_CASES.md
  spec/openclaw-contract-review/constitution.md
Due: validate-spec-kit

chore(repo): root cleanup (move loose files into canonical folders) (#371)
  .claude/superclaude_bridge.yaml
  .devcontainer/WORKSPACE_ROOT.md
  .devcontainer/docker-compose.devcontainer.yml
  .devcontainer/scripts/post-start.sh
  .devcontainer/scripts/verify-workspace-root.sh
  .env.example
  .env.production
  .github/workflows/aiux-ship-gate.yml
  .github/workflows/devcontainer-invariants.yml
  .github/workflows/root-allowlist-guard.yml
  CONTRIBUTING.md
  addons/ipai/ipai_ai_agents_ui/controllers/main.py
  addons/ipai/ipai_ai_platform/models/ai_client.py
  config/aiux_ship_manifest.yml
  config/devserver.config.json
  docs/architecture/REPO_HYGIENE_ROOT_CLEANUP.md
  docs/architecture/ROOT_ALLOWLIST.md
  docs/architecture/branch_protection.json
  infra/__init__.py
  infra/ai/__init__.py
  reports/repo_hygiene/root_file_moves_2026-02-17.json
  scripts/ci/check_llm_routing.sh
  scripts/ci/check_root_moves_backcompat.sh
  scripts/design-sync.sh
Due: no-enterprise-deps

feat(sandbox): add Supabase booking backend for W9 Studio
  sandbox/dev/.artifacts/rotor-kinetic/.env.local.example
  sandbox/dev/.artifacts/rotor-kinetic/package.json
  sandbox/dev/.artifacts/rotor-kinetic/src/lib/bookings.ts
  sandbox/dev/.artifacts/rotor-kinetic/src/lib/supabase.ts
  sandbox/dev/.artifacts/rotor-kinetic/supabase/migrations/20260218_create_bookings.sql
Due: none

feat(mcp): replace placeholder workflows with actual n8n SSE implementations
  automations/n8n/workflows/claude-ai-mcp/read-only/01_mcp_odoo_query.json
  automations/n8n/workflows/claude-ai-mcp/read-only/02_mcp_supabase_ops.json
  automations/n8n/workflows/claude-ai-mcp/read-only/03_mcp_finance_summary.json
  automations/n8n/workflows/claude-ai-mcp/read-only/04_mcp_infra_health.json
  automations/n8n/workflows/claude-ai-mcp/read-only/04_mcp_infrastructure_health.json
  automations/n8n/workflows/claude-ai-mcp/read-only/05_mcp_workflow_monitor.json
  automations/n8n/workflows/claude-ai-mcp/read-only/06_mcp_ssot_sor_sync_trigger.json
  automations/n8n/workflows/claude-ai-mcp/read-only/06_mcp_sync_trigger.json
  automations/n8n/workflows/claude-ai-mcp/write-path/07_mcp_workflow_manager.json
  automations/n8n/workflows/claude-ai-mcp/write-path/08_mcp_github_operations.json
  automations/n8n/workflows/claude-ai-mcp/write-path/08_mcp_github_ops.json
  automations/n8n/workflows/claude-ai-mcp/write-path/09_mcp_artifact_deployer.json
Due: none

docs(n8n): add Claude.ai MCP integration deployment guides
  automations/n8n/workflows/claude-ai-mcp/DEPLOYMENT_GUIDE.md
  automations/n8n/workflows/claude-ai-mcp/QUICK_START.md
  automations/n8n/workflows/claude-ai-mcp/README.md
Due: none

docs(n8n): add instance-level MCP deployment guides (recommended)
  automations/n8n/workflows/claude-ai-mcp/DEPLOYMENT_GUIDE_V2.md
  automations/n8n/workflows/claude-ai-mcp/QUICK_START_V2.md
  automations/n8n/workflows/claude-ai-mcp/README.md
Due: none

docs(n8n): add URL format troubleshooting guide for Claude.ai
  automations/n8n/workflows/claude-ai-mcp/TROUBLESHOOTING_URL_FORMAT.md
Due: none

docs(n8n): add OAuth2 fallback guide and connection test workflow
  automations/n8n/workflows/claude-ai-mcp/OAUTH_FAILURE_FALLBACK.md
  automations/n8n/workflows/claude-ai-mcp/test/00_mcp_connection_test.json
Due: none

feat(n8n): add workflow import script via API
  automations/n8n/workflows/claude-ai-mcp/import_via_api.sh
Due: none

feat(mcp): implement n8n Public API client
  agents/mcp/n8n-api-bridge/.env.example
  agents/mcp/n8n-api-bridge/.eslintrc.cjs
  agents/mcp/n8n-api-bridge/.gitignore
  agents/mcp/n8n-api-bridge/INSTALLATION.md
  agents/mcp/n8n-api-bridge/README.md
  agents/mcp/n8n-api-bridge/jest.config.js
  agents/mcp/n8n-api-bridge/package.json
  agents/mcp/n8n-api-bridge/src/__tests__/client.test.ts
  agents/mcp/n8n-api-bridge/src/__tests__/n8nClient.test.ts
  agents/mcp/n8n-api-bridge/src/client.ts
  agents/mcp/n8n-api-bridge/src/config.test.ts
  agents/mcp/n8n-api-bridge/src/config.ts
  agents/mcp/n8n-api-bridge/src/index.ts
  agents/mcp/n8n-api-bridge/src/n8n-client.ts
  agents/mcp/n8n-api-bridge/src/n8nClient.ts
  agents/mcp/n8n-api-bridge/src/tools.ts
  agents/mcp/n8n-api-bridge/src/tools/index.ts
  agents/mcp/n8n-api-bridge/src/types.ts
  agents/mcp/n8n-api-bridge/tsconfig.json
  agents/mcp/n8n-api-bridge/verify.sh
  agents/mcp/n8n-api-bridge/vitest.config.ts
Due: none

docs(spec): add enterprise-bridge spec kit (constitution, prd, plan, tasks)
  config/ee_parity/ee_parity_mapping.yml
  spec/enterprise-bridge/constitution.md
  spec/enterprise-bridge/plan.md
  spec/enterprise-bridge/prd.md
  spec/enterprise-bridge/tasks.md
Due: validate-spec-kit

feat(mcp): add AI agent tool support to n8n MCP bridge
  agents/mcp/n8n-api-bridge/IMPLEMENTATION_STATUS.md
  agents/mcp/n8n-api-bridge/README.md
  agents/mcp/n8n-api-bridge/docs/AI_AGENT_TOOLS.md
  agents/mcp/n8n-api-bridge/src/__tests__/README.md
  agents/mcp/n8n-api-bridge/src/__tests__/client.test.ts
  agents/mcp/n8n-api-bridge/src/__tests__/integration.test.ts
  agents/mcp/n8n-api-bridge/src/client.ts
  agents/mcp/n8n-api-bridge/src/n8n-client.ts
  agents/mcp/n8n-api-bridge/src/n8nClient.ts
  agents/mcp/n8n-api-bridge/src/tools.ts
  agents/mcp/n8n-api-bridge/src/tools/aiTools.ts
  agents/mcp/n8n-api-bridge/src/tools/index.ts
  agents/mcp/n8n-api-bridge/src/types.ts
  web/docs/evidence/20260220-2338+0800/ai-agent-tools/IMPLEMENTATION_SUMMARY.md
Due: none

feat(ipai_zoho_mail): implement models, wizard, views, security (v19.0.1.1.0)
  addons/ipai/ipai_zoho_mail/__manifest__.py
  addons/ipai/ipai_zoho_mail/models/__init__.py
  addons/ipai/ipai_zoho_mail/models/res_config_settings.py
  addons/ipai/ipai_zoho_mail/models/res_users.py
  addons/ipai/ipai_zoho_mail/security/ir.model.access.csv
  addons/ipai/ipai_zoho_mail/views/res_config_settings_views.xml
  addons/ipai/ipai_zoho_mail/views/res_users_views.xml
  addons/ipai/ipai_zoho_mail/wizard/__init__.py
  addons/ipai/ipai_zoho_mail/wizard/zoho_fetch_wizard.py
  addons/ipai/ipai_zoho_mail/wizard/zoho_fetch_wizard_view.xml
Due: no-enterprise-deps, odoo-manifest-check

fix(zoho-mail): use US datacenter endpoints (smtppro/imappro.zoho.com)
  addons/ipai/ipai_zoho_mail/data/fetchmail_server.xml
  addons/ipai/ipai_zoho_mail/data/mail_server.xml
Due: none

feat(zoho-bridge): settings-as-code, DNS SSOT, Supabase migration, OAuth2 edge function
  config/odoo/mail_settings.yaml
  docs/contracts/DNS_EMAIL_CONTRACT.md
  infra/dns/zoho_mail_dns.yaml
  infra/supabase/vault_secrets.tf
  scripts/odoo/apply_mail_settings.py
  spec/zoho-mail-bridge/constitution.md
  spec/zoho-mail-bridge/plan.md
  spec/zoho-mail-bridge/prd.md
  spec/zoho-mail-bridge/tasks.md
  supabase/functions/zoho-mail-bridge/README.md
  supabase/functions/zoho-mail-bridge/index.ts
  supabase/migrations/20260221000000_integrations_zoho.sql
Due: no-enterprise-deps, validate-spec-kit

docs(arch): SSOT boundary map + PR scope guard CI
  .github/workflows/pr-scope-guard.yml
  docs/architecture/SSOT_BOUNDARIES.md
Due: none

feat(zoho-bridge): smoke tests, hardened scope guard, supabase-auth-ssot spec kit
  .github/workflows/pr-scope-guard.yml
  docs/runbooks/RB_ODOO_MAIL_SMOKE.md
  scripts/odoo/cleanup_smoke_mail.py
  scripts/odoo/smoke_mail.py
  spec/supabase-auth-ssot/constitution.md
  spec/supabase-auth-ssot/plan.md
  spec/supabase-auth-ssot/prd.md
  spec/supabase-auth-ssot/tasks.md
Due: no-enterprise-deps, validate-spec-kit

fix(dns): fill Zoho DKIM public key in zoho_mail_dns.yaml
  infra/dns/zoho_mail_dns.yaml
Due: none

feat: DNS SSOT apply automation + OCA wave installer manifest
  .github/workflows/dns-ssot-apply.yml
  docs/oca/install_manifest.yaml
  docs/runbooks/RB_CLOUDFLARE_DNS_APPLY.md
  infra/cloudflare/scripts/apply_dns_from_yaml.py
  scripts/oca/install_waves.py
Due: no-enterprise-deps

docs(n8n): add API-first credential wiring spec and update evidence
  automations/n8n/workflows/claude-ai-mcp/meta/CREDENTIAL_WIRING.md
  web/docs/evidence/20260221-0310+0800/gemini-update/GEMINI_2_5_UPDATE.md
Due: none

chore(ci): submodule integrity check + Settings fix runbook + DNS token scope
  .github/workflows/ci-submodules.yml
  .gitignore
  docs/runbooks/RB_CLOUDFLARE_DNS_APPLY.md
  docs/runbooks/RB_TIER_VALIDATION_SETTINGS_FIX.md
  scripts/oca/install_waves.py
Due: no-enterprise-deps

fix(automations): fix n8n deployer for v2 API + Cloudflare
  scripts/automations/deploy_n8n_all.py
Due: no-enterprise-deps

chore(oca): evaluate and adopt gitaggregate over git submodules
  Makefile
  docs/architecture/oca-dependency-management-evaluation.md
  oca-aggregate.yml
  requirements.txt
  scripts/gen_addons_path.sh
  scripts/migrate_submodules_to_aggregate.sh
Due: none

feat(oca): add sync_oca.sh and wire CI for module activation on merge
  .github/workflows/deploy-do-oca.yml
  .github/workflows/prod-odoo-modules.yml
  config/oca-repos.yaml
  scripts/sync_oca.sh
Due: none

chore(oca): migrate from git submodules to gitaggregate (#378)
  .github/workflows/deploy-do-oca.yml
  .github/workflows/prod-odoo-modules.yml
  Makefile
  config/oca-repos.yaml
  docs/architecture/oca-dependency-management-evaluation.md
  oca-aggregate.yml
  requirements.txt
  scripts/gen_addons_path.sh
  scripts/migrate_submodules_to_aggregate.sh
  scripts/sync_oca.sh
Due: none

docs(repo): enhance checkout instructions with repo URLs and real example
  CONTRIBUTING.md
Due: none

chore(repo): remove all 38 git submodules — use oca.lock.json instead
  .gitmodules
Due: none

feat(oca): wire 21-module install plan into allowlist + lock (no submodules)
  config/oca/module_allowlist.yml
  oca.lock.json
Due: none

docs(repo): enhance checkout instructions with repo URLs and real example (#379)
  CONTRIBUTING.md
Due: none
