Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$

feat(ops-console): wire Supabase Platform Kit dialog into Overview page
  apps/ops-console/app/page.tsx
  apps/ops-console/components/supabase-manager/auth.tsx
  apps/ops-console/hooks/use-mobile.ts
Due: none

fix(dns): sync SSOT with live Cloudflare state — drift audit 2026-02-27
  infra/dns/subdomain-registry.yaml
Due: none

feat(dns): lifecycle state machine + CNAME Terraform support + provider claims CI gate
  .github/workflows/cloudflare-authority-gate.yml
  infra/cloudflare/envs/prod/main.tf
  infra/cloudflare/modules/dns-records/main.tf
  infra/cloudflare/modules/dns-records/variables.tf
  infra/dns/subdomain-registry.yaml
  scripts/ci/check_dns_provider_claims.py
Due: no-enterprise-deps

feat(dns-ssot): enforce provider-claim state machine + expiry
  .github/workflows/cloudflare-authority-gate.yml
  infra/cloudflare/envs/prod/main.tf
  infra/dns/subdomain-registry.yaml
  scripts/ci/check_dns_provider_claims.py
Due: no-enterprise-deps

fix(ops-console): fix application error + add Odoo.sh parity pages
  apps/ops-console/app/api/ai/gemini/route.ts
  apps/ops-console/app/api/ai/gemini/tools/route.ts
  apps/ops-console/app/backups/[id]/page.tsx
  apps/ops-console/app/backups/jobs/[id]/page.tsx
  apps/ops-console/app/backups/page.tsx
  apps/ops-console/app/builds/[id]/page.tsx
  apps/ops-console/app/builds/page.tsx
  apps/ops-console/app/globals.css
  apps/ops-console/app/layout.tsx
  apps/ops-console/app/page.tsx
  apps/ops-console/app/supabase/page.tsx
  apps/ops-console/components/dynamic-form.tsx
  apps/ops-console/components/navigation/sidebar.tsx
  apps/ops-console/instrumentation.ts
  apps/ops-console/lib/supabase-config.ts
  apps/ops-console/package-lock.json
  apps/ops-console/package.json
  apps/ops-console/vercel.json
Due: none

feat(expense-liq): add liquidation_report_date + hr.expense CA link fields
  addons/ipai/ipai_hr_expense_liquidation/models/__init__.py
  addons/ipai/ipai_hr_expense_liquidation/models/hr_expense.py
  addons/ipai/ipai_hr_expense_liquidation/models/hr_expense_liquidation.py
  addons/ipai/ipai_hr_expense_liquidation/models/hr_expense_sheet.py
Due: no-enterprise-deps

feat(expense-liq): update QWeb report with Form No. and Date Prepared bindings
  addons/ipai/ipai_hr_expense_liquidation/report/expense_liquidation_report.xml
  addons/ipai/ipai_hr_expense_liquidation/views/expense_liquidation_views.xml
Due: none

test(expense-liq): form_no related field and sheet constraint tests
  addons/ipai/ipai_hr_expense_liquidation/tests/__init__.py
  addons/ipai/ipai_hr_expense_liquidation/tests/test_form_no.py
Due: no-enterprise-deps

docs(expense-liq): add TBWA form field mapping README + SSOT audit note
  addons/ipai/ipai_hr_expense_liquidation/README.md
  docs/audits/expense_liquidation_ssot.md
Due: none

feat(expense-liq): add single-employee/company scope constraints
  addons/ipai/ipai_hr_expense_liquidation/models/hr_expense.py
  addons/ipai/ipai_hr_expense_liquidation/models/hr_expense_liquidation.py
Due: no-enterprise-deps

test(expense-liq): expand tests for scope constraints + sequence format
  addons/ipai/ipai_hr_expense_liquidation/tests/test_form_no.py
Due: no-enterprise-deps

feat(ipai): module audit — Odoo 19 compat + disable 9 broken modules
  addons/ipai/ipai_ai_agents_ui/__manifest__.py
  addons/ipai/ipai_bir_notifications/__manifest__.py
  addons/ipai/ipai_bir_plane_sync/__manifest__.py
  addons/ipai/ipai_finance_workflow/__manifest__.py
  addons/ipai/ipai_helpdesk/views/helpdesk_team_views.xml
  addons/ipai/ipai_helpdesk/views/helpdesk_ticket_views.xml
  addons/ipai/ipai_hr_payroll_ph/__manifest__.py
  addons/ipai/ipai_hr_payroll_ph/views/hr_payslip_views.xml
  addons/ipai/ipai_mailgun_smtp/__manifest__.py
  addons/ipai/ipai_odooops_shell/__manifest__.py
  addons/ipai/ipai_platform_api/views/platform_deployment_views.xml
  addons/ipai/ipai_platform_api/views/platform_feature_views.xml
  addons/ipai/ipai_vertical_media/__manifest__.py
  addons/ipai/ipai_vertical_retail/__manifest__.py
  docs/audits/custom_addons_reassessment.md
  docs/audits/custom_addons_reassessment_DECISIONS.md
  docs/audits/evidence_custom_addons_reassessment.md
Due: no-enterprise-deps, odoo-manifest-check

feat(ipai-agent): add Odoo-native IPAI agent runtime addon
  addons/ipai/ipai_agent/__init__.py
  addons/ipai/ipai_agent/__manifest__.py
  addons/ipai/ipai_agent/controllers/__init__.py
  addons/ipai/ipai_agent/controllers/agent_webhook.py
  addons/ipai/ipai_agent/data/ir_cron.xml
  addons/ipai/ipai_agent/data/ir_sequence.xml
  addons/ipai/ipai_agent/models/__init__.py
  addons/ipai/ipai_agent/models/agent_policy.py
  addons/ipai/ipai_agent/models/agent_run.py
  addons/ipai/ipai_agent/models/agent_tool.py
  addons/ipai/ipai_agent/security/ir.model.access.csv
  addons/ipai/ipai_agent/security/security.xml
  addons/ipai/ipai_agent/tests/__init__.py
  addons/ipai/ipai_agent/tests/test_agent.py
  addons/ipai/ipai_agent/views/agent_policy_views.xml
  addons/ipai/ipai_agent/views/agent_run_views.xml
  addons/ipai/ipai_agent/views/agent_tool_views.xml
  addons/ipai/ipai_agent/views/menus.xml
  addons/ipai/ipai_hr_expense_liquidation/models/hr_expense_liquidation.py
  addons/ipai/ipai_hr_expense_liquidation/views/expense_liquidation_views.xml
  docs/audits/ipai_agent_in_odoo.md
  supabase/functions/_shared/auth_guard.ts
Due: no-enterprise-deps, odoo-manifest-check

docs(runbooks): add Supabase troubleshooting SSOT + storage bucket hardening
  docs/runbooks/supabase/TROUBLESHOOTING_INDEX.md
  docs/runbooks/supabase/auth_jwt.md
  docs/runbooks/supabase/cron_pg_cron.md
  docs/runbooks/supabase/http_api.md
  docs/runbooks/supabase/pooling_supavisor.md
  docs/runbooks/supabase/storage_buckets.md
  docs/runbooks/supabase/webhooks_pg_net.md
  ssot/runbooks/supabase_troubleshooting_map.yaml
  supabase/migrations/20260227215348_storage_bucket_hardening.sql
Due: none

docs(audit): add Odoo 19 Expenses workflow alignment declaration
  docs/audits/odoo_expenses_alignment.md
Due: none

docs(ipai): expand audit — root-level legacy modules + addons-path gap
  docs/audits/custom_addons_reassessment.md
Due: none

feat(ipai-agent): Odoo Essentials + General settings UX alignment
  addons/ipai/ipai_agent/__manifest__.py
  addons/ipai/ipai_agent/data/activity_types.xml
  addons/ipai/ipai_agent/models/agent_run.py
  addons/ipai/ipai_agent/security/security.xml
  addons/ipai/ipai_agent/tests/test_agent.py
  addons/ipai/ipai_agent/views/agent_run_views.xml
Due: no-enterprise-deps, odoo-manifest-check

feat(ci): add orphan-addons-gate for root-level ipai_*/ dirs
  .github/workflows/orphan-addons-gate.yml
  addons/ipai/ipai_agent/controllers/agent_webhook.py
  addons/ipai/ipai_agent/models/agent_run.py
  addons/ipai/ipai_agent/models/agent_tool.py
  addons/ipai/ipai_agent/tests/test_agent.py
  docs/audits/custom_addons_reassessment_DECISIONS.md
  scripts/ci/check_orphan_addons.py
  ssot/odoo/orphan_addons_allowlist.yaml
Due: no-enterprise-deps

feat(ipai-agent): add seed tool + canonical liquidation integration
  addons/ipai/ipai_agent/__manifest__.py
  addons/ipai/ipai_agent/data/tools_seed.xml
  addons/ipai/ipai_hr_expense_liquidation/models/hr_expense_liquidation.py
Due: no-enterprise-deps, odoo-manifest-check
