Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$

feat(p0): governed tool specs + corpus indexer (#499)
  contracts/tools/create_record.md
  contracts/tools/navigate_to.md
  contracts/tools/search_records.md
  contracts/tools/send_chatter_message.md
  contracts/tools/trigger_workflow.md
  docs/contracts/PLATFORM_CONTRACTS_INDEX.md
  docs/evidence/action_eval/audit_envelope_sample.json
  scripts/index_corpus_registry.py
  ssot/agent/feature_ledger.yaml
  ssot/knowledge/corpus_registry.yaml
Due: no-enterprise-deps

fix(ipai_ai_core): fix search view validation for Odoo 19
  addons/ipai/ipai_ai_core/views/ai_provider_views.xml
Due: none

fix(ipai_workspace_core): fix search view validation for Odoo 19
  addons/ipai/ipai_workspace_core/views/workspace_views.xml
Due: none

fix(ipai): resolve 4 module blockers for Odoo 19 CE install
  addons/ipai/ipai_enterprise_bridge/__manifest__.py
  addons/ipai/ipai_finance_close_seed/data/04_projects.xml
  addons/ipai/ipai_helpdesk/security/helpdesk_security.xml
  addons/ipai/ipai_zoho_mail/__manifest__.py
Due: no-enterprise-deps, odoo-manifest-check

feat(ipai): add 3 stub modules for Phase 0 dependency unblocking
  addons/ipai/ipai_ai_core/__init__.py
  addons/ipai/ipai_ai_core/__manifest__.py
  addons/ipai/ipai_ai_core/models/__init__.py
  addons/ipai/ipai_ai_core/models/ai_citation.py
  addons/ipai/ipai_ai_core/models/ai_message.py
  addons/ipai/ipai_ai_core/models/ai_provider.py
  addons/ipai/ipai_ai_core/models/ai_thread.py
  addons/ipai/ipai_ai_core/security/ir.model.access.csv
  addons/ipai/ipai_ai_core/tests/__init__.py
  addons/ipai/ipai_ai_core/tests/test_ai_core.py
  addons/ipai/ipai_ai_core/views/ai_provider_views.xml
  addons/ipai/ipai_bir_tax_compliance/__init__.py
  addons/ipai/ipai_bir_tax_compliance/__manifest__.py
  addons/ipai/ipai_bir_tax_compliance/data/bir_tax_tables_2023.xml
  addons/ipai/ipai_bir_tax_compliance/models/__init__.py
  addons/ipai/ipai_bir_tax_compliance/models/bir_contribution_line.py
  addons/ipai/ipai_bir_tax_compliance/models/bir_contribution_table.py
  addons/ipai/ipai_bir_tax_compliance/models/bir_tax_bracket.py
  addons/ipai/ipai_bir_tax_compliance/models/bir_tax_table.py
  addons/ipai/ipai_bir_tax_compliance/security/ir.model.access.csv
  addons/ipai/ipai_bir_tax_compliance/tests/__init__.py
  addons/ipai/ipai_bir_tax_compliance/tests/test_bir_tax.py
  addons/ipai/ipai_bir_tax_compliance/views/bir_tax_views.xml
  addons/ipai/ipai_workspace_core/__init__.py
  addons/ipai/ipai_workspace_core/__manifest__.py
  addons/ipai/ipai_workspace_core/models/__init__.py
  addons/ipai/ipai_workspace_core/models/workspace.py
  addons/ipai/ipai_workspace_core/models/workspace_member.py
  addons/ipai/ipai_workspace_core/models/workspace_page.py
  addons/ipai/ipai_workspace_core/security/ir.model.access.csv
  addons/ipai/ipai_workspace_core/tests/__init__.py
  addons/ipai/ipai_workspace_core/tests/test_workspace.py
  addons/ipai/ipai_workspace_core/views/workspace_views.xml
Due: no-enterprise-deps, odoo-manifest-check

fix(ipai_ai_copilot): use JS operators in OWL 2 QWeb templates
  addons/ipai/ipai_ai_copilot/static/src/xml/copilot_sidebar.xml
Due: none

fix(ipai_ai_copilot): replace rpc service with module import (Odoo 19)
  addons/ipai/ipai_ai_copilot/static/src/js/copilot_service.js
Due: none

ssot(ai): Odoo 19 AI mapping + copilot parity priorities + Claude Code extension layer
  contracts/tools/TOOL_SPEC_TEMPLATE.md
  docs/agents/CLAUDE_CODE_EXTENSION_LAYER.md
  docs/agents/CLAUDE_CODE_PLUGINS_POLICY.md
  spec/ai-copilot/prd.md
  ssot/ai/copilot_parity_priorities.yaml
  ssot/ai/odoo_ai_mapping.yaml
Due: validate-spec-kit

spec(ssot): Gemini-first OCA/ai integration model for copilot parity
  spec/ai-copilot/prd.md
  ssot/ai/oca_ai_integration.yaml
  ssot/ai/provider_policy.yaml
Due: validate-spec-kit

ssot(parity): EE→OCA proof matrix (evidence-based, no universal claim)
  docs/parity/EE_TO_OCA_PROOF.md
  ssot/parity/ee_to_oca_proof_matrix.yaml
Due: none

spec(ssot): Concur-like cash advance domain model + spec bundle + extension decision tree
  spec/ai-copilot/constitution.md
  spec/expense-cash-advance/constitution.md
  spec/expense-cash-advance/plan.md
  spec/expense-cash-advance/prd.md
  spec/expense-cash-advance/tasks.md
  ssot/architecture/extension_decision_tree.yaml
  ssot/finance/expense_cash_advance.yaml
Due: validate-spec-kit

ssot(parity): execution mapping + contract gate
  .github/workflows/parity-matrix-contract.yml
  scripts/check_parity_matrix.py
  ssot/parity/ee_to_oca_execution_map.yaml
  ssot/parity/ee_to_oca_proof_matrix.yaml
  ssot/roadmap/product_roadmap.yaml
Due: no-enterprise-deps

ssot(roadmap): roadmap index + crosswalk for multi-track plans
  .github/workflows/roadmap-crosswalk-contract.yml
  scripts/check_roadmap_crosswalk.py
  ssot/roadmap/roadmap_crosswalk.yaml
  ssot/roadmap/roadmaps_index.yaml
Due: no-enterprise-deps

ssot(evals): SWE-bench harness policy for coding agent
  spec/ai-copilot/prd.md
  ssot/ai/copilot_parity_priorities.yaml
  ssot/evals/swebench_harness_policy.yaml
Due: validate-spec-kit

ci(evals): SWE-bench-like coding agent replay harness
  .github/workflows/coding-agent-eval.yml
  scripts/run_coding_agent_eval.py
  ssot/evals/coding_agent_eval_suite.yaml
Due: no-enterprise-deps

ci(auth): enforce zero-PAT GitHub auth surface (App + GITHUB_TOKEN)
  .github/workflows/github-auth-surface-contract.yml
  scripts/check_github_pat_usage.py
  ssot/auth/github_auth_surface.yaml
  ssot/secrets/registry.yaml
Due: no-enterprise-deps

fix(devcontainer): colima context + deterministic postgres env
  .devcontainer/devcontainer.json
Due: none

docs(devex): add unified tooling inventory SSOT + index + CI validator
  .github/workflows/tooling-inventory-check.yml
  docs/dev/devex/TOOLING_INDEX.md
  scripts/ci/check_tooling_inventory.py
  ssot/devex/tooling_inventory.yaml
Due: no-enterprise-deps

fix(dns): reconcile SSOT drift + add missing subdomains
  infra/dns/subdomain-registry.yaml
Due: none

chore(oca): add 3 missing must-have OCA repos to aggregate
  oca-aggregate.yml
  scripts/ci/check_oca_must_have.py
Due: no-enterprise-deps

feat(p0): wire audit envelope + eval runners + flip P0 gates
  addons/ipai/ipai_ai_copilot/controllers/copilot.py
  docs/evidence/action_eval/envelopes/envelopes.json
  docs/evidence/action_eval/eval_results.json
  docs/evidence/knowledge_copilot_eval/eval_results.json
  eval/knowledge_copilot_eval.yaml
  scripts/eval/__init__.py
  scripts/eval/audit_envelope.py
  scripts/eval/corpus_retriever.py
  scripts/eval/run_action_eval.py
  scripts/eval/run_knowledge_eval.py
  ssot/agent/feature_ledger.yaml
Due: no-enterprise-deps

feat(capabilities): start P0 knowledge copilot + governed tools
  spec/ai-copilot/tasks.md
  ssot/agent/feature_ledger.yaml
Due: validate-spec-kit

chore: ignore sandbox + fix tool spec extension (.yaml → .md)
  spec/ai-copilot/tasks.md
  ssot/agent/feature_ledger.yaml
Due: validate-spec-kit

feat(rag-db): Supabase pgvector hybrid RRF RPC + schema + indexer sync
  docs/evidence/rag_hybrid_rrf/evidence_summary.json
  docs/evidence/rag_hybrid_rrf/upsert_dryrun.json
  scripts/index_corpus_registry.py
  scripts/rag/__init__.py
  scripts/rag/smoke_query.py
  scripts/rag/supabase_upsert.py
  supabase/migrations/20260303000001_rag_corpus_linkage.sql
  supabase/migrations/20260303000002_rag_hybrid_search_rrf.sql
Due: no-enterprise-deps

ci(oca): prove gitaggregate hydration produces must-have addons
  .github/workflows/oca-hydration-proof.yml
  scripts/ci/check_oca_hydration_proof.py
Due: no-enterprise-deps
