Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$

docs(architecture): establish document hierarchy with platform target state
  docs/architecture/ODOO19_BASELINE_POLICY.md
  spec/odoo-copilot-benchmark/constitution.md
Due: validate-spec-kit

docs(ssot): align database naming to 3-environment convention
  CLAUDE.md
  config/odoo.staging.conf
  config/stage/odoo.conf
  config/staging/odoo.conf
  docs/architecture/DATABASES_AND_ROLES.md
  docs/architecture/DATABASE_NAMING.md
  docs/architecture/ENVIRONMENTS.md
Due: none

feat(copilot): wire Azure OpenAI as first-class Copilot provider
  addons/ipai/ipai_ai_copilot/__init__.py
  addons/ipai/ipai_ai_copilot/__manifest__.py
  addons/ipai/ipai_ai_copilot/controllers/copilot.py
  addons/ipai/ipai_ai_copilot/hooks.py
  addons/ipai/ipai_ai_copilot/models/__init__.py
  addons/ipai/ipai_ai_copilot/models/mail_channel.py
  addons/ipai/ipai_ai_copilot/models/res_config_settings.py
  addons/ipai/ipai_ai_copilot/services/__init__.py
  addons/ipai/ipai_ai_copilot/services/azure_openai.py
  addons/ipai/ipai_ai_copilot/services/provider_bridge.py
  addons/ipai/ipai_ai_copilot/tests/__init__.py
  addons/ipai/ipai_ai_copilot/tests/test_azure_provider.py
  addons/ipai/ipai_ai_copilot/views/res_config_settings_views.xml
  addons/ipai/ipai_ai_core/models/ai_provider.py
  addons/ipai/ipai_ai_core/views/ai_provider_views.xml
  docs/architecture/ODOO_COPILOT_AZURE_RUNTIME.md
  docs/reports/ODOO_COPILOT_AZURE_LIVE_VALIDATION.md
  spec/odoo-copilot-azure-runtime/constitution.md
  spec/odoo-copilot-azure-runtime/plan.md
  spec/odoo-copilot-azure-runtime/prd.md
  spec/odoo-copilot-azure-runtime/tasks.md
  ssot/odoo/copilot-provider.yaml
Due: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

docs(architecture): update platform SSOT and Odoo.sh-equivalent spec bundle
  infra/spec/odoosh-equivalent-platform/constitution.md
  infra/spec/odoosh-equivalent-platform/plan.md
  infra/spec/odoosh-equivalent-platform/prd.md
  infra/spec/odoosh-equivalent-platform/tasks.md
  infra/ssot/azure/PLATFORM_TARGET_STATE.md
  infra/ssot/azure/resources.yaml
  infra/ssot/migration/DO_TO_AZURE_MIGRATION_PLAN.md
  infra/ssot/migration/do-to-azure-service-mapping.yaml
Due: none

fix(deploy): resolve ACA missing addons_path — IPAI/OCA modules now discoverable (#566)
  config/azure/odoo.conf
  infra/azure/modules/container-apps.bicep
  odoo/config/azure/odoo.conf
  odoo/docker/Dockerfile.unified
Due: none

docs(architecture): add web debugging architecture and agent runbook
  agents/runbooks/web-debugging-loop.md
  docs/architecture/WEB_DEBUGGING_ARCHITECTURE.md
Due: none

docs(repo): align README with actual monorepo state and target decomposition
  README.md
  docs/architecture/REPO_ACTUAL_VS_TARGET_STATE.md
Due: none

feat(copilot): add Odoo Copilot Azure Foundry config layer
  .github/workflows/ssot-ai-validate.yml
  addons/ipai/ipai_odoo_copilot/__init__.py
  addons/ipai/ipai_odoo_copilot/__manifest__.py
  addons/ipai/ipai_odoo_copilot/data/ir_actions_server.xml
  addons/ipai/ipai_odoo_copilot/models/__init__.py
  addons/ipai/ipai_odoo_copilot/models/foundry_service.py
  addons/ipai/ipai_odoo_copilot/models/res_config_settings.py
  addons/ipai/ipai_odoo_copilot/views/res_config_settings_views.xml
  spec/ipai-odoo-copilot-azure/constitution.md
  spec/ipai-odoo-copilot-azure/plan.md
  spec/ipai-odoo-copilot-azure/prd.md
  spec/ipai-odoo-copilot-azure/tasks.md
  ssot/ai/agents.yaml
  ssot/ai/foundry_instructions.md
  ssot/ai/models.yaml
  ssot/ai/policies.yaml
  ssot/ai/prompts.yaml
  ssot/ai/sources.yaml
  ssot/ai/tools.yaml
  ssot/ai/topics.yaml
  tests/ssot/__init__.py
  tests/ssot/test_ai_manifests.py
Due: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

chore(ssot): lock Azure-native target state and add Tableau connector contract
  infra/ssot/azure/target-state.yaml
  lakehouse/contracts/bi/tableau.yaml
Due: none

chore(mcp): normalize Tier 1 project MCP config at repo root
  .claude/mcp-servers.legacy.json
  .gitignore
  .mcp.json
  infra/ssot/agents/tools/tools_registry.json
  infra/ssot/mcp/servers.yaml
  odoo/CLAUDE.md
  odoo/docs/ai/MCP_INTEGRATION.md
  odoo/docs/ai/MCP_SYSTEM.md
  odoo/docs/ai/REPO_STRUCTURE.md
  odoo/docs/ai/llms-full.txt
  odoo/scripts/agents/snapshot_tools.py
  odoo/ssot/agents/tools/tools_registry.json
Due: no-enterprise-deps

fix(devcontainer): harden bootstrap + add drift guard
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  .github/workflows/devcontainer-drift-guard.yml
Due: none

chore(mcp): migrate shared MCP config to root .mcp.json (#576)
  .claude/mcp-servers.legacy.json
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  .github/workflows/devcontainer-drift-guard.yml
  .gitignore
  .mcp.json
  infra/ssot/agents/tools/tools_registry.json
  infra/ssot/mcp/servers.yaml
  odoo/CLAUDE.md
  odoo/docs/ai/MCP_INTEGRATION.md
  odoo/docs/ai/MCP_SYSTEM.md
  odoo/docs/ai/REPO_STRUCTURE.md
  odoo/docs/ai/llms-full.txt
  odoo/scripts/agents/snapshot_tools.py
  odoo/ssot/agents/tools/tools_registry.json
Due: no-enterprise-deps

chore(deploy): enforce Vercel/DO decommission — remove all Vercel artifacts, mark DO decommissioned
  archive/templates/odooops-console/vercel.json
  archive/templates/saas-landing/vercel.json
  infra/ssot/providers/digitalocean/provider.yaml
  infra/ssot/providers/vercel/sandbox.yaml
  tests/contracts/test_decommissioned_platforms.py
  web/ai-control-plane/vercel.json
  web/apps/ops-console/vercel.json
  web/apps/workspace/vercel.json
  web/billing-site/vercel.json
  web/odoo-frontend-shell/vercel.json
  web/platform-kit/.github/workflows/vercel-preview.yml
  web/platform-kit/.github/workflows/vercel-production.yml
  web/platform-kit/vercel.json
  web/router/vercel.json
  web/web-legacy-backup/vercel.json
  web/web/vercel.json
Due: no-enterprise-deps

docs(mcp): fix stale MCP config references in root CLAUDE.md
  CLAUDE.md
  addons/ipai/ipai_odoo_copilot/README.md
  addons/ipai/ipai_odoo_copilot/__init__.py
  addons/ipai/ipai_odoo_copilot/__manifest__.py
  addons/ipai/ipai_odoo_copilot/data/ir_actions_server.xml
  addons/ipai/ipai_odoo_copilot/data/ir_config_parameter.xml
  addons/ipai/ipai_odoo_copilot/data/ir_cron.xml
  addons/ipai/ipai_odoo_copilot/models/__init__.py
  addons/ipai/ipai_odoo_copilot/models/foundry_service.py
  addons/ipai/ipai_odoo_copilot/models/res_config_settings.py
  addons/ipai/ipai_odoo_copilot/security/ir.model.access.csv
  addons/ipai/ipai_odoo_copilot/tests/__init__.py
  addons/ipai/ipai_odoo_copilot/tests/test_foundry_service.py
  addons/ipai/ipai_odoo_copilot/tests/test_res_config_settings.py
  addons/ipai/ipai_odoo_copilot/views/res_config_settings_views.xml
  scripts/ci/validate_ssot_ai.py
  spec/ipai-odoo-copilot-azure/constitution.md
  spec/ipai-odoo-copilot-azure/plan.md
  spec/ipai-odoo-copilot-azure/prd.md
  spec/ipai-odoo-copilot-azure/tasks.md
  ssot/ai/agents.yaml
  ssot/ai/foundry_instructions.md
  ssot/ai/models.yaml
  ssot/ai/policies.yaml
  ssot/ai/prompts.yaml
  ssot/ai/sources.yaml
  ssot/ai/tools.yaml
  ssot/ai/topics.yaml
Due: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

fix(infra): pin web.base.url + forward custom domain as origin host header
  config/azure/odoo.conf
  config/prod/odoo.conf
  infra/azure/modules/front-door.bicep
  infra/azure/parameters/front-door-prod.parameters.json
Due: none

fix(deploy): add db_name to Azure odoo.conf — fixes database selector redirect
  config/azure/odoo.conf
Due: none

feat(lakehouse): add Databricks Power BI connection prep script
  .gitignore
  scripts/azure/powershell/get-databricks-powerbi-connection.ps1
Due: none

fix(deploy): correct db_name to 'odoo' per canonical database model
  config/azure/odoo.conf
  config/prod/odoo.conf
Due: none

feat(integrations): add Odoo/n8n/Supabase consolidation agent prompt
  .claude/prompts/odoo-n8n-supabase-consolidation.md
Due: none

docs(contracts): add production DB runtime contract, evidence, and validation
  docs/contracts/PROD_DB_RUNTIME_CONTRACT.md
  docs/evidence/runtime/2026-03-13_prod-db-runtime-fix.md
  scripts/odoo/check_prod_db_truth.sql
  scripts/odoo/debug_frontend_minimal_assets.sh
  tests/contracts/__init__.py
  tests/contracts/test_prod_db_contract.py
Due: no-enterprise-deps

chore(deploy): fix stale odoo_prod comment in prod config, chmod +x debug script
  config/prod/odoo.conf
  scripts/odoo/debug_frontend_minimal_assets.sh
Due: none
