Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$

Claude/key vault requirements d hu wo (#620)
  .claude/skills/entra-identity-governance/SKILL.md
  .claude/skills/entra-identity-governance/references/ENTRA_KNOWLEDGE_BASE.md
Due: none

Add Databricks integration, Odoo finance entities, and copilot benchmark contracts (#619)
  ssot/ai/agent_skills_databricks.yaml
  ssot/governance/leaderboard_data_model.yaml
  ssot/integrations/databricks_odoo_patterns.yaml
  ssot/odoo/odoo_copilot_benchmark_v2.yaml
Due: none

chore(ci): trigger initial production pipeline run for asset flush
  addons/ipai/.pipeline_trigger
Due: none

feat(security): add Front Door FDID validation middleware
  .azure/pipelines/ci-cd.yml
  addons/ipai/ipai_security_frontdoor/__init__.py
  addons/ipai/ipai_security_frontdoor/__manifest__.py
  addons/ipai/ipai_security_frontdoor/middleware.py
  config/azure/odoo.conf
  config/prod/odoo.conf
Due: no-enterprise-deps, odoo-manifest-check

feat(copilot): add streaming response support via gateway proxy
  addons/ipai/ipai_odoo_copilot/controllers/__init__.py
  addons/ipai/ipai_odoo_copilot/controllers/copilot_gateway.py
  addons/ipai/ipai_odoo_copilot/static/src/js/copilot_service.js
  addons/ipai/ipai_odoo_copilot/static/src/js/copilot_systray.js
Due: no-enterprise-deps

fix(security): add Dockerfile.prod + block DB manager route
  addons/ipai/ipai_security_frontdoor/middleware.py
  docker/Dockerfile.prod
Due: no-enterprise-deps

docs(delivery): commit go-live evidence pack and checklist
  .azuredevops/boards/go_live_targets.md
  docs/delivery/GO_LIVE_ACCELERATION_PLAN.md
  docs/delivery/evidence/poc-pack/README.md
  docs/delivery/evidence/poc-pack/cp2-storage-validation.md
  docs/delivery/evidence/poc-pack/cp4-cron-validation.md
  docs/delivery/evidence/poc-pack/cp5-pipeline-validation.md
  docs/delivery/evidence/poc-pack/cp7-smoke-test.md
  docs/delivery/evidence/poc-pack/cp8-azure-inventory.txt
  docs/delivery/evidence/poc-pack/cp8-runtime-env.txt
  docs/runbooks/ODOO19_GO_LIVE_CHECKLIST.md
  ssot/delivery/go_live_plan.yaml
Due: none

feat(copilot): v2 gateway bridge with streaming, conversations, and audit
  addons/ipai/ipai_odoo_copilot/__init__.py
  addons/ipai/ipai_odoo_copilot/__manifest__.py
  addons/ipai/ipai_odoo_copilot/data/ir_actions_server.xml
  addons/ipai/ipai_odoo_copilot/data/ir_config_parameter.xml
  addons/ipai/ipai_odoo_copilot/data/ir_cron.xml
  addons/ipai/ipai_odoo_copilot/models/__init__.py
  addons/ipai/ipai_odoo_copilot/models/copilot_conversation.py
  addons/ipai/ipai_odoo_copilot/models/copilot_message.py
  addons/ipai/ipai_odoo_copilot/models/foundry_service.py
  addons/ipai/ipai_odoo_copilot/models/res_config_settings.py
  addons/ipai/ipai_odoo_copilot/security/copilot_groups.xml
  addons/ipai/ipai_odoo_copilot/security/ir.model.access.csv
  addons/ipai/ipai_odoo_copilot/static/src/css/copilot.css
  addons/ipai/ipai_odoo_copilot/static/src/js/copilot_markdown.js
  addons/ipai/ipai_odoo_copilot/static/src/js/copilot_systray.js
  addons/ipai/ipai_odoo_copilot/static/src/scss/copilot_systray.scss
  addons/ipai/ipai_odoo_copilot/static/src/xml/copilot_systray.xml
  addons/ipai/ipai_odoo_copilot/tests/__init__.py
  addons/ipai/ipai_odoo_copilot/tests/test_copilot_conversation.py
  addons/ipai/ipai_odoo_copilot/tests/test_copilot_gateway.py
  addons/ipai/ipai_odoo_copilot/tests/test_copilot_message.py
  addons/ipai/ipai_odoo_copilot/tests/test_foundry_service.py
  addons/ipai/ipai_odoo_copilot/tests/test_res_config_settings.py
  addons/ipai/ipai_odoo_copilot/views/copilot_assets.xml
  addons/ipai/ipai_odoo_copilot/views/res_config_settings_views.xml
Due: no-enterprise-deps, odoo-manifest-check

feat(branding): add ipai_web_branding login page customization
  addons/ipai/ipai_web_branding/__init__.py
  addons/ipai/ipai_web_branding/__manifest__.py
  addons/ipai/ipai_web_branding/data/res_company_data.xml
  addons/ipai/ipai_web_branding/static/description/icon.svg
  addons/ipai/ipai_web_branding/static/src/img/ipai_logo.svg
  addons/ipai/ipai_web_branding/static/src/scss/login.scss
  addons/ipai/ipai_web_branding/views/login_templates.xml
  scripts/odoo/install_web_branding.sh
Due: no-enterprise-deps, odoo-manifest-check

feat(finance-ppm): add demo data, examples, and BIR test fixtures
  addons/ipai/ipai_bir_tax_compliance/tests/fixtures/atc_crosswalk_expected.csv
  addons/ipai/ipai_finance_ppm/demo/README.md
  addons/ipai/ipai_finance_ppm/demo/ipai_finance_ppm_demo_bir_tax_filing.xml
  addons/ipai/ipai_finance_ppm/demo/ipai_finance_ppm_demo_month_end_close.xml
  addons/ipai/ipai_finance_ppm/demo/ipai_finance_ppm_demo_projects.xml
  addons/ipai/ipai_finance_ppm/static/examples/ipai_finance_ppm_month_end_close_template.csv
Due: none

test(smoke): add production go-live smoke test script
  scripts/odoo/smoke_test.sh
Due: none

docs(evidence): add CP-3, CP-8 poc-pack evidence artifacts
  docs/delivery/evidence/poc-pack/cp3-frontdoor-security.md
  docs/delivery/evidence/poc-pack/cp8-azure-inventory.txt
  docs/delivery/evidence/poc-pack/cp8-runtime-env.txt
Due: none

chore(repo): freeze canonical unified baseline — tranche 1 lock, naming normalization, copilot fixes
  README.md
  addons/ipai/ipai_odoo_copilot/__manifest__.py
  addons/ipai/ipai_odoo_copilot/security/copilot_groups.xml
  docs/architecture/REPO_ACTUAL_VS_TARGET_STATE.md
  ssot/repo/ownership-boundaries.yaml
  ssot/repo/tranche_1_move_plan.yaml
Due: no-enterprise-deps, odoo-manifest-check

feat(modules): add ipai_copilot_actions, ipai_document_intelligence, and canonical docker-compose
  addons/ipai/ipai_copilot_actions/__init__.py
  addons/ipai/ipai_copilot_actions/__manifest__.py
  addons/ipai/ipai_copilot_actions/data/ir_actions_server.xml
  addons/ipai/ipai_copilot_actions/data/ir_config_parameter.xml
  addons/ipai/ipai_copilot_actions/models/__init__.py
  addons/ipai/ipai_copilot_actions/models/ai_action_mixin.py
  addons/ipai/ipai_copilot_actions/models/ai_job.py
  addons/ipai/ipai_copilot_actions/models/ai_proposal.py
  addons/ipai/ipai_copilot_actions/security/copilot_actions_groups.xml
  addons/ipai/ipai_copilot_actions/security/ir.model.access.csv
  addons/ipai/ipai_copilot_actions/tests/__init__.py
  addons/ipai/ipai_copilot_actions/tests/test_ai_job.py
  addons/ipai/ipai_copilot_actions/views/ai_job_views.xml
  addons/ipai/ipai_copilot_actions/views/ai_proposal_views.xml
  addons/ipai/ipai_copilot_actions/views/menus.xml
  addons/ipai/ipai_document_intelligence/__init__.py
  addons/ipai/ipai_document_intelligence/__manifest__.py
  addons/ipai/ipai_document_intelligence/data/ir_config_parameter.xml
  addons/ipai/ipai_document_intelligence/models/__init__.py
  addons/ipai/ipai_document_intelligence/models/ocr_client.py
  addons/ipai/ipai_document_intelligence/models/ocr_result.py
  addons/ipai/ipai_document_intelligence/security/ir.model.access.csv
  addons/ipai/ipai_document_intelligence/tests/__init__.py
  addons/ipai/ipai_document_intelligence/tests/test_ocr_result.py
  addons/ipai/ipai_document_intelligence/views/menus.xml
  addons/ipai/ipai_document_intelligence/views/ocr_result_views.xml
  docker-compose.yml
Due: no-enterprise-deps, odoo-manifest-check

docs(ssot): freeze canonical unified baseline — authority model, repo boundaries, naming normalization
  odoo/docs/architecture/REPO_ACTUAL_VS_TARGET_STATE.md
  odoo/infra/ssot/github/desired-end-state.yaml
  odoo/ssot/repo/ownership-boundaries.yaml
Due: none

fix(modules): Odoo 19 compatibility — remove deprecated attrs, category_id, group expand, stale deps
  addons/ipai/ipai_copilot_actions/__manifest__.py
  addons/ipai/ipai_copilot_actions/data/ir_actions_server.xml
  addons/ipai/ipai_copilot_actions/security/copilot_actions_groups.xml
  addons/ipai/ipai_copilot_actions/views/ai_job_views.xml
  addons/ipai/ipai_document_intelligence/__manifest__.py
  addons/ipai/ipai_document_intelligence/views/menus.xml
  addons/ipai/ipai_document_intelligence/views/ocr_result_views.xml
Due: no-enterprise-deps, odoo-manifest-check

docs(spec): freeze six-plane copilot target-state PRD
  spec/copilot-target-state/prd.md
Due: validate-spec-kit

docs(spec): freeze complete platform constitution — Entra + CAF + Foundry + DocIntel
  spec/copilot-target-state/constitution.md
Due: validate-spec-kit

docs(architecture): add SAP-benchmarked Odoo on Azure planning guide
  docs/architecture/ODOO_ON_AZURE_PLANNING_GUIDE.md
Due: none

docs(spec): add deployment ladder and SAP Joule benchmark scorecard
  spec/copilot-target-state/plan.md
Due: validate-spec-kit
