Repository Insightpulseai/odoo: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-enterprise-deps, validate-spec-kit, odoo-manifest-check

no-enterprise-deps:
  name: No Enterprise Dependencies
  entry: bash -c 'scripts/policy-check.sh --diff || true'
  language: system
  pass_filenames: false

validate-spec-kit:
  name: Validate Spec Kit
  entry: bash -c 'scripts/validate-spec-kit.sh || true'
  language: system
  pass_filenames: false

odoo-manifest-check:
  name: Odoo Manifest Validator
  entry: python3 scripts/validate_manifest.py
  language: system
  pass_filenames: false

fix(docker): convert platform overlay to SSOT delegator (#SSOT-Phase3)
  ipai-platform/compose.yaml
Due: none

fix(oca): align paths + mount + validator hardening
  docker-compose.yml
  scripts/oca/ensure_dir.py
  scripts/validate_oca_aggregate_output.py
Due: no-enterprise-deps

chore(oca): upgrade to 19.0 branches
  oca-aggregate.yml
  sandbox/dev/config/odoo.conf
Due: none

wip: stage changes before OCA aggregation (skip protected files)
  .github/compose-allowlist.txt
  .github/workflows/compose-ssot-gate.yml
  .github/workflows/odoo-docs-platform-gate.yml
  config/dev/odoo.conf
  docs/kb/odoo19/README.md
  docs/kb/odoo19/index/index.json
  docs/kb/odoo19/index/manifest.json
  docs/kb/odoo19/index/nav.json
  docs/kb/odoo19/index/sections.json
  docs/kb/odoo19/index/skills_coverage.json
  docs/kb/odoo19/index/topics.json
  ipai-platform/nginx/conf.d/default.conf
  ipai-platform/nginx/conf.d/sites/odoo-prod.conf.disabled
  ipai-platform/nginx/nginx.conf
  scripts/health/odoo_local_health.md
  scripts/health/odoo_local_health.sh
  scripts/kb/index_odoo_docs.py
  scripts/kb/verify_kb_index.py
  scripts/kb/verify_odoo_docs_pin.py
  scripts/validate-compose-ssot.sh
  templates/odooops-console/.jest-cache/haste-map-32c6612b682fb747268624b2f6a212e5-1c71be24bb66db4d096b1063a55186f5-a1738a4717482d6749bd96b9b67d06e5
  templates/odooops-console/.jest-cache/jest-transform-cache-32c6612b682fb747268624b2f6a212e5-12533232bd0f05f65688e7a7764bf3fb/2d/resolvertest_2d9293fea3a44cfc6e0379b3697cd358
  templates/odooops-console/.jest-cache/jest-transform-cache-32c6612b682fb747268624b2f6a212e5-12533232bd0f05f65688e7a7764bf3fb/2d/resolvertest_2d9293fea3a44cfc6e0379b3697cd358.map
  templates/odooops-console/.jest-cache/jest-transform-cache-32c6612b682fb747268624b2f6a212e5-12533232bd0f05f65688e7a7764bf3fb/b9/jestsetup_b9b59453390d7708624ee689a06a6d6e
  templates/odooops-console/.jest-cache/jest-transform-cache-32c6612b682fb747268624b2f6a212e5-12533232bd0f05f65688e7a7764bf3fb/b9/jestsetup_b9b59453390d7708624ee689a06a6d6e.map
  templates/odooops-console/.jest-cache/jest-transform-cache-32c6612b682fb747268624b2f6a212e5-12533232bd0f05f65688e7a7764bf3fb/bb/loader_bb6bf5661efd74c1d1f19cf7dc013826
  templates/odooops-console/.jest-cache/jest-transform-cache-32c6612b682fb747268624b2f6a212e5-12533232bd0f05f65688e7a7764bf3fb/bb/loader_bb6bf5661efd74c1d1f19cf7dc013826.map
  templates/odooops-console/.jest-cache/jest-transform-cache-32c6612b682fb747268624b2f6a212e5-12533232bd0f05f65688e7a7764bf3fb/ca/resolvertest_ca1e90a2f0cf6fa8e14907385f46b40c
  templates/odooops-console/.jest-cache/jest-transform-cache-32c6612b682fb747268624b2f6a212e5-12533232bd0f05f65688e7a7764bf3fb/ca/resolvertest_ca1e90a2f0cf6fa8e14907385f46b40c.map
  templates/odooops-console/.jest-cache/perf-cache-32c6612b682fb747268624b2f6a212e5-da39a3ee5e6b4b0d3255bfef95601890
  templates/odooops-console/package.json
Due: no-enterprise-deps

fix(oca): treat addons/oca as generated output + harden validator
  .gitignore
  scripts/oca/reset_generated_dir.py
  scripts/validate_oca_aggregate_output.py
Due: no-enterprise-deps

fix(oca): rewrite aggregate config to per-repo pattern
  config/dev/odoo.conf
  oca-aggregate.yml
  scripts/oca/generate_addons_path.py
Due: no-enterprise-deps

fix(ui): avatar/logo placeholders + Tailwind global styles
  templates/odooops-console/public/assets/avatar-placeholder.svg
  templates/odooops-console/public/assets/logo-placeholder.svg
  templates/odooops-console/src/app/globals.css
  templates/odooops-console/src/app/layout.tsx
  templates/odooops-console/src/components/layout/LeftNav.tsx
  templates/odooops-console/src/components/layout/TopBar.tsx
  templates/odooops-console/src/components/ui/avatar.tsx
Due: none

fix(pg): add on-demand IMMUTABLE wrapper for existing databases
  .gitignore
  db/README.md
  db/init/10_unaccent_immutable.sql
  db/sql/apply_unaccent_immutable.sql
  docker-compose.yml
  scripts/db/apply_unaccent_fix.sh
Due: none

chore(ci): add DB hardening governance (Spec Kit + gates)
  .github/workflows/db-hardening-gate.yml
  scripts/db/preflight_check.sh
  spec/db-hardening/constitution.md
  spec/db-hardening/plan.md
  spec/db-hardening/prd.md
  spec/db-hardening/tasks.md
Due: validate-spec-kit

docs: normalize repo name to Insightpulseai/odoo
  .github/CODEOWNERS
  .github/workflows/repo-structure-guard.yml
Due: none

feat(skills): adopt Agent Skills Open Standard (frontmatter + AGENTS.md + drift gate)
  .claude/skills/ui-ux-pro-max/AGENTS.md
  .claude/skills/ui-ux-pro-max/SKILL.md
  .claude/superclaude/skills/finance/bir-compliance-automation/AGENTS.md
  .claude/superclaude/skills/finance/bir-compliance-automation/SKILL.md
  .github/workflows/skills-build-drift.yml
  scripts/skills/build_skills.py
Due: no-enterprise-deps

refactor(skills): split ui-ux-pro-max into references/ (progressive disclosure)
  .claude/skills/ui-ux-pro-max/AGENTS.md
  .claude/skills/ui-ux-pro-max/SKILL.md
  .claude/skills/ui-ux-pro-max/references/01-styles.md
  .claude/skills/ui-ux-pro-max/references/02-color-palettes.md
  .claude/skills/ui-ux-pro-max/references/03-typography.md
  .claude/skills/ui-ux-pro-max/references/04-layout-spacing.md
  .claude/skills/ui-ux-pro-max/references/05-components-patterns.md
  .claude/skills/ui-ux-pro-max/references/06-charts-dataviz.md
  .claude/skills/ui-ux-pro-max/references/07-ux-guidelines.md
  .claude/skills/ui-ux-pro-max/references/08-accessibility.md
Due: none

feat(oca): add chunked module installer with timeout resilience
  sandbox/dev/config/oca/module_sets/web_and_rest.txt
  sandbox/dev/docs/evidence/20260216-0127/oca-chunked-install/SUMMARY.md
  sandbox/dev/docs/evidence/20260216-0127/oca-chunked-install/external_deps_report.json
  sandbox/dev/docs/evidence/20260216-0127/oca-chunked-install/module_states.txt
  sandbox/dev/docs/evidence/20260216-0127/oca-chunked-install/state_summary.txt
  sandbox/dev/scripts/odoo/external_deps_report.py
  sandbox/dev/scripts/odoo/install_modules_chunked.sh
Due: no-enterprise-deps

docs(oca): add chunked installation guide
  sandbox/dev/docs/oca/CHUNKED_INSTALL.md
Due: none

feat(docker): deterministic OCA REST framework Python dependencies
  docker-compose.yml
  docker/dev/Dockerfile
  docker/requirements/oca_rest_framework.txt
  sandbox/dev/docker/requirements/oca_rest_framework.txt
  sandbox/dev/docs/evidence/20260216-0134/rest-framework-build/final_module_states.txt
  sandbox/dev/docs/evidence/20260216-0134/rest-framework-build/package_verification.txt
  sandbox/dev/docs/evidence/20260216-0134/rest-framework-build/root_cause_analysis.md
Due: none

feat(rest): add native REST controllers (interim solution for OCA base_rest 19.0)
  addons/ipai_rest_controllers/README.md
  addons/ipai_rest_controllers/__init__.py
  addons/ipai_rest_controllers/__manifest__.py
  addons/ipai_rest_controllers/controllers/__init__.py
  addons/ipai_rest_controllers/controllers/main.py
  addons/ipai_rest_controllers/models/__init__.py
  addons/ipai_rest_controllers/security/ir.model.access.csv
  sandbox/dev/config/oca/module_sets/web_and_rest.txt
  sandbox/dev/docs/architecture/rest_migration_plan.md
  sandbox/dev/scripts/oca/check_rest_framework_19.sh
Due: no-enterprise-deps, odoo-manifest-check

docs(evidence): add Phase 1 REST implementation summary
  sandbox/dev/docs/evidence/20260216-0215/rest-implementation/IMPLEMENTATION_SUMMARY.md
Due: none

docs: add quick start guide for native REST API
  sandbox/dev/QUICK_START_REST.md
Due: none

feat(finance-ppm): deploy Finance PPM system for Odoo 19 CE
  artifacts/data/ipai_finance_ppm_directory.csv
  automations/n8n/workflows/n8n_finance_ppm_workflow_odoo19.json
  data/finance_seed/03_project.task.month_end.csv
  scripts/bulk_import_tasks_odoo19.py
  scripts/dashboard_queries_odoo19.sql
  scripts/deploy_finance_ppm_odoo19.sh
  scripts/seed_finance_ppm_stages_odoo19.py
  scripts/test_finance_ppm_odoo19.sh
Due: no-enterprise-deps

fix(finance-ppm): correct JRMO identity, add Phase V + missing BIR forms
  artifacts/data/ipai_finance_ppm_directory.csv
  data/finance_seed/03_project.task.month_end.csv
  scripts/bulk_import_tasks_odoo19.py
  scripts/test_finance_ppm_odoo19.sh
Due: no-enterprise-deps

refactor(finance-ppm): split into 2 projects (Month-End Close + BIR Tax Filing)
  data/finance_seed/01_project.tags.csv
  data/finance_seed/02_project.project.csv
  data/finance_seed/04_project.task.bir_tax.csv
  scripts/bulk_import_tasks_odoo19.py
  scripts/dashboard_queries_odoo19.sql
  scripts/deploy_finance_ppm_odoo19.sh
  scripts/seed_finance_ppm_stages_odoo19.py
  scripts/test_finance_ppm_odoo19.sh
Due: no-enterprise-deps

feat(finance-ppm): recurrent alert automation (9AM/5PM + daily escalation + handover)
  automations/n8n/workflows/n8n_finance_ppm_workflow_odoo19.json
Due: none

fix(finance-ppm): JPAL role is Finance Analyst (not Supervisor)
  artifacts/data/ipai_finance_ppm_directory.csv
  scripts/bulk_import_tasks_odoo19.py
Due: no-enterprise-deps

feat(finance-ppm): bridge SAP FCC gaps + custom module technical guide
  automations/n8n/workflows/n8n_ai_journal_posting.json
  automations/n8n/workflows/n8n_bir_efiling_automation.json
  automations/n8n/workflows/n8n_bir_form_generation.json
  docs/finance_ppm_technical_guide.md
  scripts/install_oca_gantt_bridge.sh
Due: none

feat(finance-ppm): integrate logframe with Superset KPI views + milestone seeder
  data/finance_seed/05_logframe.csv
  scripts/dashboard_queries_odoo19.sql
  scripts/seed_logframe_milestones_odoo19.py
Due: no-enterprise-deps

fix(ci): update remaining n8n path reference in orchestrator workflow
  .github/workflows/n8n-orchestrator.yml
Due: none

feat(finance-ppm): enforce canonical seed SSOT + team roster drift gate
  .github/workflows/finance-team-directory-gate.yml
  data/archive/finance_ppm/tbwa_smp/20260216/artifacts_data/MANIFEST.md
  data/archive/finance_ppm/tbwa_smp/20260216/artifacts_data/ipai_finance_ppm_directory.csv
  data/archive/finance_ppm/tbwa_smp/20260216/data_finance_seed/01_project.tags.csv
  data/archive/finance_ppm/tbwa_smp/20260216/data_finance_seed/02_project.project.csv
  data/archive/finance_ppm/tbwa_smp/20260216/data_finance_seed/03_project.task.month_end.csv
  data/archive/finance_ppm/tbwa_smp/20260216/data_finance_seed/04_project.task.bir_tax.csv
  data/archive/finance_ppm/tbwa_smp/20260216/data_finance_seed/05_logframe.csv
  data/archive/finance_ppm/tbwa_smp/20260216/data_finance_seed/MANIFEST.md
  data/seed/finance_ppm/tbwa_smp/logframe.csv
  data/seed/finance_ppm/tbwa_smp/projects.csv
  data/seed/finance_ppm/tbwa_smp/tags.csv
  data/seed/finance_ppm/tbwa_smp/tasks_bir_tax.csv
  data/seed/finance_ppm/tbwa_smp/tasks_month_end.csv
  data/seed/finance_ppm/tbwa_smp/team_directory.csv
  docs/finance_ppm_technical_guide.md
  scripts/bulk_import_tasks_odoo19.py
  scripts/finance/validate_seed_ssot.py
  scripts/finance/validate_team_directory.py
  spec/finance-ppm/prd.md
Due: no-enterprise-deps, validate-spec-kit

feat(health): add all-services healthcheck runner + reports
  addons/ipai/ipai_rest_controllers/README.md
  addons/ipai/ipai_rest_controllers/__init__.py
  addons/ipai/ipai_rest_controllers/__manifest__.py
  addons/ipai/ipai_rest_controllers/controllers/__init__.py
  addons/ipai/ipai_rest_controllers/controllers/main.py
  addons/ipai/ipai_rest_controllers/models/__init__.py
  addons/ipai/ipai_rest_controllers/security/ir.model.access.csv
  sandbox/dev/.github/workflows/verify-services.yml
  sandbox/dev/docs/architecture/HEALTHCHECKS.md
  sandbox/dev/out/health/.gitkeep
  sandbox/dev/out/health/dev-test.json
  sandbox/dev/out/health/dev-test.md
  sandbox/dev/scripts/health/all_services_healthcheck.py
  sandbox/dev/scripts/health/requirements.txt
Due: no-enterprise-deps, odoo-manifest-check

docs(evidence): subdomain routing fix for n8n and mcp
  docs/evidence/20260216-1546/subdomain-routing-fix/IMPLEMENTATION_SUMMARY.md
Due: none

docs(colima-desktop): production deployment plan + Phase 1 preparation
  apps/colima-desktop-ui/INSTALL.md
  docs/evidence/20260216-1958/colima-desktop-production/DEPLOYMENT_PLAN.md
  docs/evidence/20260216-1958/colima-desktop-production/IMPLEMENTATION_STATUS.md
  docs/evidence/20260216-1958/colima-desktop-production/PHASE_1_TESTING.md
Due: none

feat(mcp): add provider system spec bundle
  spec/mcp-provider-system/constitution.md
  spec/mcp-provider-system/plan.md
  spec/mcp-provider-system/prd.md
  spec/mcp-provider-system/tasks.md
Due: validate-spec-kit

docs(mcp): add canonical MCP Registry selection for InsightPulse AI
  docs/architecture/MCP_REGISTRY.md
Due: none

Path conditions:
  no-enterprise-deps: any of: \.py$
  validate-spec-kit: any of: ^spec/
  odoo-manifest-check: any of: __manifest__\.py$
